[2022-02-21 03:13] obobj commented on #963
Is there any progress ?

[2022-02-21 03:25] obobj opened #1295 "[Feature][Udf] Whether to add UDF/UDAF/UDTF Module"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Spark/Flink SQL supports UDFs, UDAFs and UDTFs, Should we add corresponding features.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit

[2022-02-21 06:05] xleoken commented on #1285
Welcome @yx91490 ~

[2022-02-21 06:30] jiefzz commented on #1284
thanks reply, @leo65535

We update local copy's dependency version like:
[code]

it actually work on a demo config file patse above (select from hive, no thansforms action, use the console sink to print), it works, but i don't know it is this `java.lang.ClassNotFoundException: org.apache.spark.internal.Logging$class` has any side effect or not.

Can you give me some tips?

[2022-02-21 06:30] liujinhui1994 commented on #1273
I already know what the problem is, it's a small problem with seatunnel, I will file a PR to fix it

[2022-02-21 06:43] xleoken commented on #1273
👍

[2022-02-21 06:59] xleoken opened #1297 "[Feature][flink] Upgrade flink to 1.13.6"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

This release includes 99 bug and vulnerability fixes and minor improvements for Flink 1.13 including another upgrade of Apache Log4j (to 2.17.1), please go to https://flink.apache.org/new

[2022-02-21 07:04] xleoken commented on #1295
hi @obobj, nice idea!

[2022-02-21 08:24] allenchen0314 opened #1299 "cannot write data from hive to clickhouse"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

cannot write data from hive to clickhouse
![image](https://user-images.githubusercontent.com/81660436/154915582-6fef51ef-9a53-4148-be9e-168c0d370507.png)

### SeaTunnel Version

1.5.7

### SeaTunnel Conf

[2022-02-21 08:32] allenchen0314 commented on #1299
![image](https://user-images.githubusercontent.com/81660436/154917344-9d50a080-b988-435a-8490-212a547de58e.png)

[2022-02-21 09:29] dtMndas opened #1300 "when load data from mysql to clickhouse which the size of data is 128GB，it always throw the GC overhead limit exceede"
1.running enviroment : local
2. batch.conf
[code]
question : (1) why the data can not select from the clickhouse table when the start-seatunnel.sh has runing  for some time
               （2）until the error raise (GC overhead limit exceed ) , the clickhouse table has not any data yet.

[2022-02-21 09:52] dtMndas commented on #1300
i change the jdbc.defaultFetchSize  to jdbc.fetchsize .it is running normal

[2022-02-21 09:52] erdengk commented on #785
Hi，@dailidong
The first item of the todo appears to be done by this [pr](https://github.com/apache/incubator-seatunnel-website/pull/46)

[2022-02-21 09:53] #1300 closed, assigned to nobody

[2022-02-21 14:45] asdf2014 opened #1301 "[Performance] [utils] Extract the Pattern instance for getUniqueTableName method to get better performance"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We should extract the `Pattern` instance for `getUniqueTableName` method of `SchemaUtil` to avoid generate `Pattern` instance everytime to get better performance.

![image](https://user-i

[2022-02-21 15:29] #1297 closed, assigned to nobody

[2022-02-21 15:33] #1301 closed, assigned to nobody

[2022-02-21 16:30] CalvinKirs commented on #1257
closed. discuss on #1258

[2022-02-21 16:30] #1257 closed, assigned to nobody

[2022-02-22 02:37] DingPengfei opened #1305 "[Bug] [seatunnel config] Some config classes not found when start example in local env"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Lacking some config classes in seatunnel of current dev branch when i start examples at local env

 ` java: cannot find symbol`
 ` symbol:   class ConfigSyntax  `
 ` location: class org.apache.seatunnel.

[2022-02-22 03:29] wangkang2711 opened #1306 "java.lang.NoClassDefFoundError: org/apache/spark/internal/Logging$class[Bug] [Module Name] Bug title"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

我在运行seatunnel时出现该错误：java.lang.NoClassDefFoundError: org/apache/spark/internal/Logging$class
经过上网查资料，发现是版本不匹配，需要升级，我目前使用的spark版本是3.1.2，我在官方是看是只支持3.0以下的spark，想问下什么可以支持3.1.2的spark呀

### Usag

[2022-02-22 05:34] xleoken commented on #1305
hi @DingPengfei, run `mvn clean install` first, then run example.

[2022-02-22 05:47] wuchunfu commented on #1306
Please describe your problem in English, thank you.

[2022-02-22 05:51] DingPengfei commented on #1305
Thanks bro, it works @leo65535

[2022-02-22 05:51] #1305 closed, assigned to nobody

[2022-02-22 05:52] wangkang2711 commented on #1306
This error occurs when I run seatunnel: Java lang.NoClassDefFoundError: org/apache/spark/internal/Logging$class

After checking the information on the Internet, it is found that the version does not match and needs to be upgraded. The spark version I currently use is 3.1.2. Officially, I only support spark below 3.0. What can I ask you to support spark of 3.1.2

[2022-02-22 05:52] DingPengfei commented on #1305
Thanks bro, it works

[2022-02-22 06:40] xleoken opened #1309 "[Feature][sql] Support variable in sql job conf"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support variable in sql job conf.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### C

[2022-02-22 08:43] yuangjiang opened #1311 "IDE run project no working"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

710 [main] INFO  org.apache.spark.SecurityManager  - Changing modify acls to: Admin,hdfs
2713 [main] INFO  org.apache.spark.SecurityManager  - Changing view acls groups to:
2715 [main] INFO  org.apache.s

[2022-02-22 09:12] JesseAtSZ opened #1312 "[Bug] [Docs] Abnormal display of document in vertical screen"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

This page will display exceptions in the case of vertical screen：
https://seatunnel.apache.org/zh-CN/docs/introduction

![image](https://user-images.githubusercontent.com/35264598/155099643-89185796-fc86

[2022-02-22 10:11] CalvinKirs commented on #1311
@felix-thinkingdata , Hi, can you take a look?

[2022-02-22 10:15] CalvinKirs commented on #1312
![image](https://user-images.githubusercontent.com/16631152/155111302-b43d47ec-ebab-4fac-bb45-23e0b4c05a71.png)
Can you take another picture for me to see?

[2022-02-22 10:22] CalvinKirs opened #1313 "[Feature][API]Flink interface upgrade"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[code]
When we upgraded the Flink version, some interfaces have been deprecated and we should upgrade it.
I only listed a part.

### Usage Scenario

_No response_

### Related issues

_No

[2022-02-22 10:37] suxinshuo commented on #1313
Can i try it?

[2022-02-22 10:39] CalvinKirs commented on #1313
sure,looking forward you submit PR

[2022-02-22 10:41] simon824 commented on #1309
hi @leo65535 , this feature can assignee to me, thanks.

[2022-02-22 10:46] JesseAtSZ commented on #1312
The scroll bar below cannot be dragged to the left：

![image](https://user-images.githubusercontent.com/35264598/155116719-20c7f7de-8ddb-466a-a085-fc4561dddd65.png)

[2022-02-22 10:49] CalvinKirs commented on #1312
got you mean, if you are interested, please submit a PR.

[2022-02-22 10:50] hjdokr commented on #1291
global replacement?

[2022-02-22 10:57] hjdokr commented on #1291
Can i try it?

[2022-02-22 10:57] xleoken commented on #1309
Welcome~

[2022-02-22 11:00] CalvinKirs commented on #1291
It's best. looking forward you submit PR.

[2022-02-22 11:27] JesseAtSZ commented on #1068
Anybody here?

[2022-02-22 13:39] CalvinKirs commented on #1068
Do you have any other way? Does not introduce mysql dependencies.

[2022-02-22 15:33] wuchunfu opened #1315 "[Chore][Docs] Migrate FAQ.md to the developement directory of the main codebase"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Migrate FAQ.md to the developement directory of the main codebase

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I a

[2022-02-23 01:27] JesseAtSZ commented on #1068
Can CDC be implemented in this way?
![image](https://user-images.githubusercontent.com/35264598/155247494-f5ee6c91-2d3d-4db9-a3f1-a2193e29b9e9.png)

[2022-02-23 01:34] CalvinKirs commented on #1068
No, he depends on mysql

[2022-02-23 01:57] JesseAtSZ commented on #1068
I just looked at the license of flick CDC connectors, which is Apache License2. Can you explain why this license is not OK?

[2022-02-23 03:21] nielifeng commented on #1313
looking forward you submit PR

[2022-02-23 03:22] nielifeng commented on #1291
looking forward you submit PR.

[2022-02-23 03:23] CalvinKirs commented on #1010
closed

[2022-02-23 03:23] #1010 closed

[2022-02-23 03:36] kalencaya commented on #1283
#1316

[2022-02-23 05:39] #1283 closed, assigned to kalencaya

[2022-02-23 05:40] UUIDUsername commented on #963
Can we introduce BloomFilter under the characteristics of timing？

[2022-02-23 05:41] yuangjiang commented on #963
this is a spark datasource using by seatunnel connector  test code like this

object DebeziumTest {
  def main(args: Array[String]): Unit = {
    val sparkSession = SparkSession
      .builder()
      .master("local[3]")
      .appName("debezium")
      .getOrCreate()

    val structType =
      StructType(
          StructField("a", StringType, nullable = true) ::
          StructField("b", Decim

[2022-02-23 05:45] yuangjiang commented on #963
Don't know how to implement this function

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-seatunnel"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年2月23日(星期三) 中午1:40
***@***.***&gt;;

[2022-02-23 12:40] asdf2014 commented on #1291
Hi @hjdokr, so glad you can handle this :+1:

[2022-02-23 12:59] asdf2014 opened #1317 "[Improve] [doc] Display plugins in the form of a table"
It would be better that we can display our plugins in the form of a table, which will be more intuitive to users.

![image](https://user-images.githubusercontent.com/8108788/155323856-2f3f9776-8109-4d86-81a3-1baf11f1cc9c.png)

[2022-02-23 13:01] asdf2014 commented on #1317
Any comments are welcome :smile:

[2022-02-23 13:02] zzp15222522401 opened #1318 "cannot write data from mysql to hive"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

This parameter [SQL] in the hive sink parameter is required. If this parameter is not added, it will appear, but I don't see the description in the official document. After adding this parameter, the tab

[2022-02-23 13:06] asdf2014 opened #1319 "[Improve] [code style] config module enables checkstyle"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

There is code that doesn't seem to meet the requirements of Code Style, but it is not checked out

![image](https://user-images.githubusercontent.com/8108788/155324654-467b84a3-3891-4436-88e3-9b54dd1515e

[2022-02-23 13:42] #1309 closed, assigned to simon824

[2022-02-23 14:20] AshishAAB commented on #848
Is it possible to convert the timestamp types internally to string datatypes ?
I have 100 columns and casting them to string is a very tedious process.
Any suggestions ?

[2022-02-23 16:32] zhaomin1423 commented on #988
How is this work going? I am interested in it, and I am willing to subit a PR.

[2022-02-24 01:07] xleoken commented on #988
Welcome @zhaomin1423.

[2022-02-24 01:39] #1315 closed, assigned to wuchunfu

[2022-02-24 01:44] zhaomin1423 commented on #1317
I would like to do it.

[2022-02-24 01:51] kalencaya commented on #1270
good idea.
I have faced the similiar confusion just like you, for my main and core works are part of collecting data from third-party openplatform http interfaces.

But interfaces ratelimiter and authorization prevents me from syncing data by flink, have to do it by other way.

I'm glad and willing to comminucate more with you

[2022-02-24 02:10] #1318 closed, assigned to nobody

[2022-02-24 02:10] zhaomin1423 opened #1323 "[Feature][Spark] Add MaxCompute to source and sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add a Spark-connector-maxcompute base on datasource api, then to integrated.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

-

[2022-02-24 02:12] kalencaya opened #1324 "[Bug] [seatunnel-connector-flink-file] can't sync jdbc type eg date、datetime column by flink JdbcSource and FileSink"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

As title described, when using flink connector to sync data between JdbcSource and FileSink plugin, I got a strange failure.

FileSink plugin parameter format is json, any date jdbc type such as date, ti

[2022-02-24 04:23] zhaomin1423 commented on #988
The dirty data management has two aspect. First, We can handle data one by one, then, the database must support transactions because when writing a batch data with few dirty data, the database must rollback. Therefore, we can write the batch one by one to catch the dirty data. In spark, add a datasource strategy to transform WriteToDataSourceV2 to an extended WriteToDataSourceV2Exec. So, we can ha

[2022-02-24 04:27] zhaomin1423 opened #1325 "[Feature][Spark] Add breakpoint resume"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Increase the ability to resume the transfer from a breakpoint. First, add state to record the progress of the transfer. Then, the job can be resume from state.

### Usage Scenario

During

[2022-02-24 07:11] wuqingzhi128 commented on #785
#852 i try it ?

[2022-02-24 10:01] CalvinKirs opened #1326 "[Test][Plugin]Plugin Test"
Hi, everyone, at present we have added many new plugins to the dev branch. We plan to release a version in March. Community contributors are welcome to test it. If you are interested in this, please leave a message in the issue (if you are interested plugin), I will assign it to you, please leave a message in this issue when you are finished, (if you have additional information, you can submit an

[2022-02-24 11:13] agendazhang opened #1327 "[Feature][Module Name] Read "zookeeper." configs for HBase sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Currently, the HBase sink does not read configs that start with "zookeeper.", which are essential to read configs such as "zookeeper.znode.parent" to connect to HBase

### Usage Scenario

[2022-02-24 11:43] CalvinKirs opened #1329 "[Feature][Release]Release tools"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We need to support automated releases with as little manual intervention as possible, such as version generation, GPG, Source packages, SHA, etc.

### Usage Scenario

_No response_

### R

[2022-02-24 12:04] #1327 closed, assigned to nobody

[2022-02-24 12:43] asdf2014 commented on #1326
Hi @CalvinKirs, I would like to pick up the plugins of Druid and InfluxDB since I contributed them. BTW, you have missed the source plugin of InfluxDB I believe, please add it as well, thanks.

[2022-02-24 12:52] asdf2014 opened #1330 "[Improve] [api] Should remove useless abstract method in BaseSparkSink"
We should remove useless the abstract method `prepare` in BaseSparkSink because it's unnecessary to override the abstract method by the abstract method.

![image](https://user-images.githubusercontent.com/8108788/155521741-ebfb0f17-d15e-41a3-b31f-55787232a591.png)

![image](https://user-images.githubusercontent.com/8108788/155521786-7ed51eb2-b96e-4682-bfda-c01188501e16.png)

[2022-02-24 13:54] #1330 closed, assigned to nobody

[2022-02-24 16:58] zhaomin1423 commented on #1326
Hello, I would like to pick up the plugins of spark-jdbc and spark-hive.

[2022-02-25 01:34] #1091 closed, assigned to nobody

[2022-02-25 01:37] kalencaya commented on #1326
Hi, I'm willing to pick up flink jdbc and file plugins, for I'm working on them, which resoling unexpected behavior caused by flink FileSink json format.

[2022-02-25 02:41] simon824 opened #1332 "[Feature][Connector] Add spark hbase source connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add spark hbase source connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Co

[2022-02-25 03:14] gaodayu1209 commented on #1326
Hello, I would like to pick up the plugins of flink-kafka

[2022-02-25 03:21] wuchunfu commented on #1326
@CalvinKirs Hi, I will test with `redis` and `mongodb`

[2022-02-25 03:43] #1255 closed, assigned to nobody

[2022-02-25 05:48] denglingang commented on #1326
Hello, I would like to pick up the plugins of Transform-json , Transform-split, and Transform-sql

[2022-02-25 06:34] taikongren365 commented on #1326
Dear @CalvinKirs, Im willing to pick up Spark-Sink-Doris and Flink-Sink-Doris. For now, im doing jobs with Doris.

[2022-02-25 07:43] kalencaya commented on #1324
I had found out why FileSink can't output some date columns produced by JdbcSource.

JdbcSource maps date jdbc type to java.sql.Date and so on automatically, then FileSource uses JsonRowOutputFormat output data to file.
Unfortunately, JsonRowOutputFormat ignores java.sql.Date、java.sql.Time or java.sql.Timestamp for SqlTimeTypeInfo not behaves as a basic type but a atomic type.
I think changing if

[2022-02-25 12:08] CalvinKirs opened #1335 "[OnlineMeeting]SeaTunnel community meeting Topic collection"
We will hold an online community meeting on 2022/03/01 19:00-19:30 (GMT+08:00),
Welcome everyone to leave a message in the issue to discuss the content

CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel community meeting
Meeting Time: 2022/03/01 19:50-20:50 (GMT+08:00)

Click the link to join the meeting:
https://meeting.tencent.com/dm/5Xs1OXUZiWnb

#TencentMeeting：77

[2022-02-25 12:15] CalvinKirs commented on #1335
Welcome everyone to leave a message in the issue to discuss the content

[2022-02-25 14:57] #1319 closed, assigned to nobody

[2022-02-26 02:27] tmljob commented on #1270
@kalencaya
I tried to develop an http input plug-in based on version 1.X, the function is relatively simple, and I verified that it can run. On this basis, the function can be further improved. The code example is as follows:
[code]

[2022-02-26 06:12] tmljob commented on #965
Is there a solution to this problem? How do you collect metrics for specific etl tasks in practice?

[2022-02-26 07:49] yx91490 opened #1343 "[Feature][transform] add a sleep transform plugin"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

add a sleep transform plugin for debug purpose.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submi

[2022-02-26 07:53] yx91490 opened #1344 "[Bug] [Module Name] make start scripts have execute permission in final packaged tar."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

start-seatunnel-spark.sh and start-seatunnel-flink.sh don't hive execute permission in final packaged tar.

### SeaTunnel Version

2.0.5

### SeaTunnel Config

[code]

### Running Command

[code]

### Er

[2022-02-26 09:52] yx91490 opened #1346 "[Bug] [common] remove Common.setDeployMode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

In seatunnel spark job, currently after parse args, DeployMode was passed through Common's static property:MODE, this is not a good way.

### SeaTunnel Version

2.0.5

### SeaTunnel Config

[code]

### R

[2022-02-26 13:47] zhaomin1423 opened #1347 "[Feature][connector-spark] add a jdbc connector base DataSource V2 API"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add a jdbc connector based on Spark DataSource V2 API.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing t

[2022-02-26 14:00] yx91490 commented on #1285
I have some discussions about the desgin:

1. suppose that most enterprise users have alread deployed their spark or flink, therefor we should integrate spark/flink optionally.
2. if we choose integrate spark/flink, the artifact package will be bigger,  maybe twice than ever, is this acceptable？
3. If we download spark/flink, I don't known is it allowed by asf?

wish your reply, thanks.

[2022-02-26 17:13] yzbin opened #1349 "First Flink Start Running in Flink 1.12 , SeaTunnel 2.0.4"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I running the quick start demo according to the official document.
I chois the flink version  Flink 1.12 , SeaTunnel 2.0.4
He will report thne error .
Caused by: java.lang.ClassNotFoundException: or

[2022-02-27 00:18] zhaomin1423 commented on #875
Some connectors or class may need have different implement for spark2 and spark3.

[2022-02-27 09:46] #1344 closed, assigned to nobody

[2022-02-27 13:03] #1317 closed, assigned to zhaomin1423

[2022-02-28 03:06] kalencaya commented on #1270
thanks for your sharing.

My data sync works are always limited by some http interfaces ratelimiter, especially for incremental sync.
A classical http interface which supports incremental sync contains below request params or variant:
[code]
For ratelimiter and request params limitions, I have to controll concurrency and handle annoying network failure to get accurate and quick sync result. So, my

[2022-02-28 05:58] zhaomin1423 commented on #1270
I am willing to work with you. My wechat is 602128569.

[2022-02-28 08:45] tmljob commented on #1270
I can't find you through this WeChat account, please see if you can add me through this account: **tmljob123**, I will pull up a WeChat group and discuss with another brother.
@kalencaya

[2022-02-28 09:09] zhaomin1423 commented on #1270
My opinion is that we can implement a spark-connector-http based on spark datasource api, then to integrate it.

[2022-02-28 12:01] zhaomin1423 opened #1352 "[Feature][doc] Update the CH document to let it and the EN document be consistent"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Update the CH document to let it and the EN document be consistent.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I

[2022-02-28 12:22] zhaomin1423 commented on #1347
Read data from multiple database and multiple tables.

[2022-02-28 14:49] obobj commented on #1335
support Generic CDC for flink cdc and spark #963
support Generic UDF/UDAF/UDTF for flink and spark #1295

[2022-03-01 00:18] #1058 closed

[2022-03-01 01:06] tmljob commented on #1335
Support metrics statistics #965

[2022-03-01 02:21] JesseAtSZ commented on #1312
Today, I found that this problem no longer exists. The Chrome browser version I use is 98.0.4758.102.

[2022-03-01 02:43] JesseAtSZ opened #1356 "[Bug] [JCommander] Error when starting start-seatunnel-flink.sh"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I use my own compiled version，mvn clean、mvn install、mvn package.
The size of the compiled jar package is about 800m.
![image](https://user-images.githubusercontent.com/35264598/156094355-1bf20a76-e48f-4c

[2022-03-01 02:56] #1332 closed, assigned to nobody

[2022-03-01 03:16] zixi0825 commented on #1326
@CalvinKirs  I would like to pick up the plugins of spark-tidb source and sink

[2022-03-01 03:29] ITzhangqiang commented on #1326
@CalvinKirs I would like to pick up Elasticsearch-source and Elasticsearch-sink, for I'm good at them.

[2022-03-01 03:35] suxinshuo commented on #1326
@CalvinKirs I would like to pick up the plugins of ClickHouse-sink.

[2022-03-01 03:36] PotatoDream commented on #1326
@CalvinKirs  I would like to pick up the plugins of spark-hbase/spark-phoenix source and sink.

[2022-03-01 03:43] JesseAtSZ commented on #1326
@CalvinKirs  No similar tests have been done before. Is this test rigorous? Is there any guidance? If I can, I'd like to try fake source.

[2022-03-01 03:48] CalvinKirs commented on #1326
We need to test whether the corresponding plug-in is working properly, following the plug-in documentation will do. For now, just make sure it works functionally

[2022-03-01 04:08] Hisoka-X opened #1358 "[Feature][Connector] Clickhouse support split mode"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

When Clickhouse sink insert data to distribute engine table, it only can send request to one server. We need support split mode to make insert data split to every node which can insert da

[2022-03-01 04:08] CalvinKirs commented on #784
done

[2022-03-01 04:08] #784 closed

[2022-03-01 04:47] JesseAtSZ commented on #1356
The previous packaging command is：
1. mvn clean
2. mvn install
3. mvn package

I solved my problem by changing the packaging command to the following:
mvn clean package -DskipTests

The jar package size generated after this operation is 300m, about half of the previous size.

I don't know why it works.

[2022-03-01 05:52] kyle-cx91 commented on #1326
@CalvinKirs  I would like to pick up the plugins of spark-kafka source and sink，and I would test it in local mode, if u don't mind

[2022-03-01 08:07] #1153 closed, assigned to nobody

[2022-03-01 08:07] #1173 closed, assigned to nobody

[2022-03-01 10:30] ZhangchengHu0923 commented on #1326
I plan to do the test work like this: Sink the data to Kafka from a mysql table, and then sink it back to another mysql table after subscribe it from Kafka by the source plugin，just like the picture below.

@CalvinKirs
the question is: I don't know whether I can test it this way for not knowing weather seatunnel will  serialize and deSerialize the data automaticly

<img width="773" alt="image" src

[2022-03-01 11:19] #1324 closed, assigned to nobody

[2022-03-01 13:44] kalencaya commented on #1356
I guess that typesafe config shade package may be the reason and I'm also not be familiar with maven, you can try more yourself.

Actually `mvn clean package -DskipTests` is only step of importing project into IDEA for me.

[2022-03-01 16:32] zhaomin1423 opened #1365 "[Bug] [spark-connector-doris] No handling of null values"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When a column value is NULL, the value in Doris is "null" when the column data type is string.

### SeaTunnel Version

2.0.5-SNAPSHOT

### SeaTunnel Config

[code]

### Running Command

[code]

### Error

[2022-03-01 16:39] zhaomin1423 commented on #1365
<img width="307" alt="image" src="https://user-images.githubusercontent.com/49054376/156210143-2edb6d07-4ffa-4d2d-801e-77527ea67720.png">
The column of name has incorrect values.

[2022-03-01 16:40] zhaomin1423 commented on #1365
<img width="355" alt="image" src="https://user-images.githubusercontent.com/49054376/156210391-40d0e491-1973-46c5-8b1d-bc89ba359bbb.png">
The column of name has correct values.

[2022-03-02 02:04] Hisoka-X opened #1368 "[Bug] [Connector] Clickhouse sink doesn't not handle sql output data types correctly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When use sql transform, like : " select 1.1 as number from table". The number 1.1 data type will be de decimal. But Clickhouse sink need number field treat as double/float. Decimal can't cast to double/f

[2022-03-02 06:17] wuchunfu commented on #1365
problem solved #1366

[2022-03-02 06:18] #1365 closed, assigned to nobody

[2022-03-02 07:18] #792 closed

[2022-03-02 09:28] Hisoka-X opened #1371 "[Feature][Connector] HDFS source connector support"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Both spark and flink modes require the support of hdfs data sources

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I

[2022-03-02 11:59] zhaomin1423 opened #1373 "[Feature][spark-connector-doris] refactor doris sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

refactor doris sink.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduc

[2022-03-02 12:06] dailidong commented on #785
thanks for reminder, I have updated the content

[2022-03-02 12:07] davidzollo commented on #785
thanks for reminder, I have updated the content

[2022-03-02 12:42] Hisoka-X commented on #1347
I don't know what's different between now and new method, can you explain to me when we make this change come true, what will we get? Thanks.

[2022-03-02 12:44] #1209 closed, assigned to nobody

[2022-03-02 13:11] JaydenHu6 opened #1375 "[Bug] [doc] quick start's command is wrong when decompress package"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I want to use seatunnel on flink, but the first step is wrong, it occurs in quick start 'Step 2: Download seaturnnel'

 decompress `seatunnel-2.0.4.zip` , I got `waterdrop-dist-2.0.4-2.11.8` , it is diff

[2022-03-02 13:21] Hisoka-X commented on #1311
Can you share more detail? Including full shell command and which shell script you run ( shell from source code or release version). Let me reproduce this bug and fix it.

[2022-03-02 13:27] CalvinKirs commented on #1311
+1 I didn't have this problem in my local test, so I need more details from you.

[2022-03-02 13:33] Hisoka-X commented on #1290
Use docker to reproduce this bug will be helpful.

[2022-03-02 13:36] zhaomin1423 commented on #1373
Hi, @CalvinKirs The flink connector doris and spark connector doris have common logical for writing data to doris. Whether we can have a common module responsible for reading and writing, then using it in connectors. What is your opinion？

[2022-03-02 13:39] Hisoka-X commented on #1191
Is any update now?

[2022-03-02 13:40] yuangjiang commented on #1311
IDE run project&nbsp;

0&nbsp; &nbsp; [main] INFO&nbsp; org.apache.seatunnel.config.ConfigBuilder&nbsp; - Loading config file: D:\IdeaProjects\incubator-seatunnel\config\spark.streaming.conf
391&nbsp; [main] INFO&nbsp; org.apache.seatunnel.config.ConfigBuilder&nbsp; - parsed config file: {
&nbsp; &nbsp; "env" : {
&nbsp; &nbsp; &nbsp; &nbsp; "spark.app.name" : "SeaTunnel",
&nbsp; &nbsp; &nbsp; &nbs

[2022-03-02 13:42] CalvinKirs commented on #1375
This is the old version, the new version is renamed SeaTunnel

[2022-03-02 13:42] #1375 closed, assigned to nobody

[2022-03-02 13:43] CalvinKirs commented on #1371
Can you clearly describe the difference from the existing File plugin?

[2022-03-02 13:44] CalvinKirs commented on #1373
One version is in Scala (Spark) and one version is in Java (Flink). I'm not sure if we can do it, do you have any good ideas?

[2022-03-02 13:49] zhaomin1423 commented on #1373
Using java in scala is very natural. In fact, our team does the same.

[2022-03-02 13:49] CalvinKirs commented on #1349
2.0.4 is a non-Apache version, I'll update the instructions later. Thanks for your feedback

[2022-03-02 13:50] CalvinKirs commented on #1349
Or could you update the documentation to account for this? Your contribution is very welcome

[2022-03-02 13:52] CalvinKirs commented on #1326
hi，guys,Please update the status of this issue as soon as you finish the test

[2022-03-02 13:53] zhaomin1423 commented on #1373
Also, can we implement the connector alone and use the connector in the code. For example, in spark, using connector by read.format. In this way, our connectors can be used by everyone.

[2022-03-02 14:01] CalvinKirs commented on #1373
I'm not familiar with Scala.... it would be better if this could be done.

[2022-03-02 14:02] CalvinKirs commented on #1373
@RickyHuo @kid-xiong @wuchunfu hi, WDYT?

[2022-03-02 14:06] Hisoka-X commented on #1371
HDFS client configuration and targeted optimization etc. This is a proposal, the details need to be discussed

[2022-03-02 14:30] #1092 closed, assigned to nobody

[2022-03-02 14:59] CalvinKirs commented on #1371
Can you provide a detailed design? Then the community talks about this together.

[2022-03-03 03:44] xtr1993 commented on #1373
The community advocates the use of Java,In fact, calling java with scala is not standardized，It is better to use java refactoring directly

[2022-03-03 06:13] bigdataf commented on #1191
I think this optimization item is a long-term process, you can see what needs to be improved and you can participate in it, thank you

[2022-03-03 06:20] Hisoka-X commented on #1191
We can make this come true both spark and flink side. Make it become common parameters.

[2022-03-03 06:23] Hisoka-X commented on #1191
Can we start  to do this? @CalvinKirs

[2022-03-03 06:25] CalvinKirs commented on #1191
Since the author claimed this task, but a month has passed and there is still no news, so you can take over this if you are interested.

[2022-03-03 06:33] Hisoka-X commented on #1191
Yes

[2022-03-03 07:26] kyle-cx91 commented on #1326
I functionally tested this and everything works，but I didn't do any performance testing
@CalvinKirs

[2022-03-03 07:31] kyle-cx91 commented on #1326
the doc has nothing write about spark-kafka source plugin,I'd like to add what I learn while doing the test to the document,could u tell me the step to do it
@CalvinKirs

[2022-03-03 07:35] CalvinKirs commented on #1326
is here https://github.com/apache/incubator-seatunnel/blob/dev/docs/en/spark/configuration/sink-plugins/Kafka.md,
You can see if there is anything to add to this, and again, deeply thanks for your contribution. 👍

[2022-03-03 08:43] kyle-cx91 commented on #851
@RickyHuo @garyelephant @CalvinKirs
Hey guys, I have review the code of spark-clickhouse-sink connector, and I'd like to challenge this issue

[2022-03-03 08:45] CalvinKirs commented on #851
looking forward :)

[2022-03-03 08:46] kyle-cx91 commented on #1326
I found that we are just missing a link in the readme file, need I add and submit a PR ?

[2022-03-03 08:52] CalvinKirs commented on #1326
This is the best 👍

[2022-03-03 09:45] Hisoka-X opened #1382 "[Feature][Connector] Add clickhouse-file sink support clickhouse bullk load"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

## Summary
In the scenario where massive data is written to Clickhouse, traditional jdbc cannot carry such a large amount of data. Similar to hbase's bulk load function, seatunnel can pro

[2022-03-03 09:48] kyle-cx91 opened #1383 "markdown doc of some connectors are not linked to README.md"
markdown doc of some connectors are not linked to README.md, such as spark-kafka source connector,leading some users not knowing how to use

![image](https://user-images.githubusercontent.com/10529123/156539176-9a384a86-36a0-4044-babf-68d7d1c65e84.png)

I'd like to check markdown files of all the connectors, and add on the lack ones

[2022-03-03 09:50] wuchunfu commented on #1383
@ZhangchengHu0923 Looking forward to your contribution

[2022-03-03 10:00] simon824 commented on #1383
<img width="552" alt="image" src="https://user-images.githubusercontent.com/18065113/156540905-7747389a-7894-456a-a950-6648909cef51.png">

hi @ZhangchengHu0923, we already have spark-kafka source connector document, it's called `kafkaStream`.

[2022-03-03 10:12] kyle-cx91 commented on #1383
ok，thx a lot. @simon824
I have just found we missed the link of  spark-hbase-source

[2022-03-03 10:13] suxinshuo commented on #1326
I tested it in local mode and yarn mode, everything works fine.

[2022-03-03 10:15] CalvinKirs commented on #1326
well done, deeply thanks. 👍

[2022-03-03 10:49] wuchunfu commented on #1273
Fixed #1310

[2022-03-03 10:49] #1273 closed, assigned to liujinhui1994

[2022-03-03 11:04] taikongren365 commented on #1326
@CalvinKirs

[2022-03-03 11:04] taikongren365 commented on #1326
Dear @CalvinKirs

[2022-03-03 11:06] taikongren365 commented on #1326
I functionally tested both Spark-Sink-Doris and Flink-Sink-Doris plugin.

[2022-03-03 11:09] taikongren365 commented on #1326
I tested both Spark-Sink-Doris and Flink-Sink-Doris plugin. Both of them works functionally well with sample cases.

[2022-03-03 11:22] zhaomin1423 opened #1386 "[Feature][spark-connector-jdbc] add pre sql and post sql"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add pre-sql to do some preprocessing and addd post-sql to do some post-processing

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR

[2022-03-03 13:00] taikongren365 commented on #1326
I tested both Spark-Sink-Doris and Flink-Sink-Doris plugin. Both of them works functionally well with simple cases in local mode. Laterly, I will update result which is tested on my Company's Cluster Environment.

[2022-03-03 13:10] CalvinKirs commented on #1326
well done, deeply thanks. 👍

[2022-03-03 16:48] zhaomin1423 opened #1391 "[Feature][spark-connector-jdbc] implement the update and other save mode using a seatunnel-jdbc connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

implement the update and other save mode using a seatunnel-jdbc connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X]

[2022-03-04 01:30] Hisoka-X commented on #1382
@CalvinKirs Can we talk about this?

[2022-03-04 02:41] CalvinKirs commented on #1326
@zixi0825, @wuchunfu, @PotatoDream, @zhaomin1423, @leo65535, @PotatoDream, @ITzhangqiang, @denglingang, @gaodayu1209, @asdf2014, @kalencaya, @taikongren365

hi, everyone, if you finish the test, remember to leave a message in this issue, thank you.

[2022-03-04 03:36] kalencaya opened #1392 "[Feature][Core] add various config file load ways for seatunnel deployment, not just for local filesystem."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

seatunnel's jobs deployment now relys on config file, which must be on deploy machine local filesystem for load.

When we try to manage seatunnel jobs by admin web, have to copy config fi

[2022-03-04 04:01] simon824 opened #1393 "[Bug] [Transform] Split transform register failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Split udf register failed and the separator name in code is different from doc.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Fl

[2022-03-04 05:20] wuchunfu commented on #1392
@kalencaya Good idea, looking forward to your contribution

[2022-03-04 05:23] wuchunfu commented on #1373
@xtr1993 It looks good, but will this increase the coupling between spark and flink?

[2022-03-04 06:11] #1358 closed, assigned to Hisoka-X

[2022-03-04 06:17] #1368 closed, assigned to Hisoka-X

[2022-03-04 06:41] zhaomin1423 opened #1395 "[Feature][package] The different plugins should be packaged in different jar to prevent dependence conflict"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

When submit the spark job, it should be submitted some essential jars.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Ye

[2022-03-04 06:46] zhaomin1423 commented on #1395
We should follow the principle of least dependencies to avoid dependency conflicts. Also, if users have multiple version of a database, the jar must be independent to submit.

[2022-03-04 06:58] simon824 commented on #1326
These Plugins have been done.
`spark：file-sink、file-source、transform-split、transform-sql`
`flink：file-sink、file-source、transform-split、transform-sql`

[2022-03-04 07:46] taikongren365 commented on #1326
[Flink-Sink-Doris.conf.txt](https://github.com/apache/incubator-seatunnel/files/8183955/Flink-Sink-Doris.conf.txt)
[Spark-Sink-Doris.conf.txt](https://github.com/apache/incubator-seatunnel/files/8183956/Spark-Sink-Doris.conf.txt)

I've finished tests on Company's Cluster Environment. They all ran quite well.
Below is my config file for anyone who  is interested in Spark-Sink-Doris and Flink-Sink-D

[2022-03-04 08:28] wuchunfu commented on #1326
well done, thanks

[2022-03-04 08:28] wuchunfu commented on #1326
well done, thanks

[2022-03-05 08:37] kid-xiong opened #1399 "[Feature][Apis] implement spark structured streaming"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Because spark CDC is based on this structured streaming, but it is currently an empty implementation

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you wil

[2022-03-06 02:40] yx91490 opened #1402 "[Bug] [maven] skip executing license-maven-plugin's download-licenses goal by default"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

license-maven-plugin run by default

### SeaTunnel Version

2.0.5

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

### J

[2022-03-06 02:48] yx91490 commented on #1402
license-maven-plugin was binded with package phase: https://github.com/mojohaus/license-maven-plugin/blob/95c8d3c31839ee62b72570fe0f286f42b539ad83/src/main/java/org/codehaus/mojo/license/DownloadLicensesMojo.java#L56
and it seems that it doesn't have `<skip>` configuration.

[2022-03-06 06:40] yx91490 commented on #1402
duplicated with https://github.com/apache/incubator-seatunnel/pull/1376 and https://github.com/apache/incubator-seatunnel/pull/1387

[2022-03-06 06:40] #1402 closed, assigned to nobody

[2022-03-06 10:55] ruanwenjun opened #1407 "[improvement] [maven] skip license-maven-plugin task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I execute `mvn package` or `mvn install`, it will take a lot of times(cost 45 min in my computer).

And I find it might be caused by `license-maven-plugin` task, the `<skip>true</skip>` is not work.

[2022-03-06 11:11] rinkydevi commented on #980
hey @RickyHuo i would love to volunteer for this task

[2022-03-06 14:53] CalvinKirs commented on #1326
@zixi0825,  @PotatoDream, @zhaomin1423, @leo65535, @PotatoDream, @ITzhangqiang, @denglingang, @gaodayu1209, @asdf2014, @kalencaya

hi, everyone, if you finish the test, remember to leave a message in this issue, thank you.

[2022-03-06 15:54] zhaomin1423 opened #1409 "[Bug] [spark-connector-jdbc] there are a NPE when sink in update mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When the save mode is update.

### SeaTunnel Version

2.0.5-SNAPSHOT

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

##

[2022-03-06 16:24] zhaomin1423 opened #1411 "[Bug] [doc] The configuration of truncate is not supported when save mode is update, but it's written on the doc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The configuration of truncate is not supported, but it's written on the doc

### SeaTunnel Version

2.0.5-snapshot

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

[2022-03-07 03:19] wuchunfu opened #1415 "[Refactor][Redis] Refactor seatunnel-connector-spark-redis"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Refactor seatunnel-connector-spark-redis

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-03-07 04:49] wuchunfu commented on #1411
Fixed #1412

[2022-03-07 04:49] #1411 closed, assigned to nobody

[2022-03-07 05:22] ruanwenjun commented on #1407
After #1376 merged, now execute `mvn clean install` only cost 9 min, great.

[2022-03-07 05:22] #1407 closed, assigned to nobody

[2022-03-07 08:11] kalencaya commented on #1326
Of course I will do.

Actually, I'm resolving flink JdbcSink plugin exception which caused by not implementing FlinkStreamSink<Row, Row> interface and try to pull request recently.

[2022-03-07 08:13] kalencaya commented on #1326
of course I will do.
Actually, I'm resolving flink JdbcSink plugin exception which caused by not implementing FlinkStreamSink<Row, Row> interface and pull my request recently.

[2022-03-07 10:23] kyle-cx91 opened #1418 "[FAQ][spark-jdbc-source]"Unsupported type OTHER" ERROR when read CK DateTime64 field"
I found we don't have a native spark-clickhouse-source, but I need read some data from Clickhouse table,so I use spark-jdbc-source instead, and a problem came across. which will lead some of data can't be read out by SeaTunnel.

# problem desc:
**1、SeaTunnel version: incubating-2.0.5 build by myself from dev branch**
**2、everything is fine，when there is no DateTime64 field**
**3、get an "Unsupporte

[2022-03-07 13:03] zhaomin1423 opened #1420 "[Feature][spark-connector-jdbc] add a config to prevent a large number of connections to the database"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

add a config to prevent a large number of connections to the database because of a large of number connections is dangerous.

### Usage Scenario

_No response_

### Related issues

_No re

[2022-03-07 13:11] #1393 closed, assigned to nobody

[2022-03-07 13:38] ruanwenjun opened #1421 "[Feature][core] Use different command to execute task"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now, we have several tasks in Seatunnel, e.g. `check conf`, `execute a spark task`, `execute a flink task`.

In the future, we may have more task. It's better to use different command cla

[2022-03-07 14:20] Hisoka-X opened #1423 "[Feature][Connector] Flink JDBC sink support batch output"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Flink jdbc sink need batch output mode, only support streaming mode at now.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [

[2022-03-08 01:34] emmataobao opened #1427 "transform data processing"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

现在etl任务处理都是使用spark代码进行处理，想进行切换，但是在 transform 中 文档描述只看到使用SQL进行字段处理，但是在使用之中很多字段处理依赖外部的api进行处理，可能是算法api可能是标签库api，有些也可能需要进行join外部表，也有需要发送外部广播，这种etl方式支持吗？

### Usage Scenario

_No response_

#

[2022-03-08 01:51] kalencaya opened #1428 "[Bug] [flink-jdbc-connector] various jdbc type of dialect compatibility between JdbcSource and JdbcSink"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Seatunnel implements data integration through by source -> transforms -> sink principles, and any flink plugin supports `result_table_name` or `source_table_name` option for data transformation between D

[2022-03-08 02:01] kalencaya commented on #1423
good idea, I also find this constrains between flink connector plugin streaming and batch mode, I'm trying to pull my request for JdbcSink support batch mode which implementing FlinkBatchSource interface.

But more questions I have found, can you help this issue: #1428

[2022-03-08 02:05] zhaomin1423 opened #1430 "[Bug] [spark-connector-jdbc] using loginfo replace println"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

using loginfo replace println

### SeaTunnel Version

2.0.5-snapshot

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

##

[2022-03-08 02:09] Hisoka-X commented on #1428
Can share your config? Let me reproduce it

[2022-03-08 02:44] kyle-cx91 commented on #1418
@CalvinKirs Please take a look at this issue

[2022-03-08 02:46] kalencaya commented on #1428
flink_jdbc_source_sink.conf
[code]
mysql ddl:
[code]

Because JdbcSource is not a streaming source, but JdbcSink is a streaming sink, this config is invalid for now dev branch and I just pull my request for JdbcSink supporting batch sink waiting for review.

I had edited this comment for update mysql DDL.

[2022-03-08 02:48] kalencaya commented on #1428
Because JdbcSource is not a streaming source, but JdbcSink is a streaming sink, this config is invalid for now dev branch and I just pull my request for JdbcSink supporting batch sink waiting for review.

[2022-03-08 02:57] #1415 closed, assigned to nobody

[2022-03-08 03:16] JesseAtSZ commented on #1326
Do Flink socket and fake source need to be tested? I've been using these two sources for debugging recently. There's no problem.

[2022-03-08 04:20] zhongjiajie opened #1436 "[Feature][Document] Tasks about document in the features"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

# Content

# Content

* [ ] We should add page about project history and split content from introduction [links](https://seatunnel.apache.org/docs/introduction)
* [x] FAQ should be projec

[2022-03-08 04:30] zhongjiajie opened #1437 "[Feature][doc] Find a way support multi-language in our document"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

For now, our 2.0.0 document only has an English version, I think we should support multi-language documents. But I do not think translating by human it is a good way, because I make our t

[2022-03-08 05:23] ZhangchengHu0923 commented on #750
@CalvinKirs @garyelephant
hey guys,I'd like to challenge this issue

[2022-03-08 06:59] dik111 opened #1438 "[Bug] [Spark-Sink-Hive] NoSuchDatabaseException: Database 'test' not found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I am new to apache seatunnel, I test seatunnel mysql to hive, but is throw  an exection Exception: `org.apache.spark.sql.catalyst.analysis.NoSuchDatabaseException: Database 'test' not found`
and i add en

[2022-03-08 07:03] ZhangchengHu0923 commented on #844
@garyelephant @CalvinKirs @Jack1007 @leo65535
The author of the issue seems to be write, and I'd like to handle this

[2022-03-08 07:08] ZhangchengHu0923 commented on #1062
@garyelephant I'd like to challenge this issue.

[2022-03-08 08:55] #851 closed

[2022-03-08 09:21] rarexixi opened #1440 "[Feature][seatunnel-core-base] Modify Java SPI loading method and config"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I have changed the method of Java SPI, move SPI configuration file to `META-INF/provides/`
configuration file content:
old
[code]
new
[code]

### Usage Scenario

example
file: `seatunnel-

[2022-03-08 09:52] kyle-cx91 commented on #844
# need attention for Jack1007
@Jack1007 Hi Jack,I have done some test, and it confirmed that the timeout config wouldn't work in config1, and config2 is the right way, u can do a test urself, by the way, my source database is Clickhouse
[code]

# Easy way to config
don't be surprise, this is exactly the easy way u like, I haven't changed any code, but review the code of spark-jdbc-source plugin,

[2022-03-08 09:57] simon824 opened #1441 "[Feature][Common] Refactor StringTemplate to unify variables substitute util"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The dateTime substitute in connectors is using `org.apache.commons.lang3.text.StrSubstitutor` ,but flinksql variable substitute in config is using `replaceAll`, we can implement in a unif

[2022-03-08 10:03] kyle-cx91 commented on #844
@Jack1007
# Steps to prove the timeout config works

## step1: timeout=10000

**note:** 192.168.1.111 is an ip address not exist,

[code]

## Step2: run ur seatunnel pipline

it will take 10 secods to throw exception

## Step3: timeout=3000

**note:** 192.168.1.111 is an ip address not exist,

[code]

## step4: run ur new seatunnel pipline

it will take 3 secods to throw exception

[2022-03-08 10:35] chenhu opened #1444 "[Help wanted] [mlti-output] multi output, the same result_table, the output is difference"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When i using the jdbc input ,and clickhouse、hdfs、stdout output，the output using the same source_table，out the output result is not the same.

### SeaTunnel Version

seatunnel v1.5.3

### SeaTunnel Config

[2022-03-08 10:43] Hisoka-X opened #1445 "[Bug] [Core] SparkLocalExample can't run, netty util conflict."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

SparkLocalExample start failed. Report:
<img width="1405" alt="image" src="https://user-images.githubusercontent.com/32387433/157219713-dc6e571a-5e18-4625-9fde-f09666fd6c09.png">

Because dependency iceb

[2022-03-08 10:46] Hisoka-X commented on #1445
@ououtt Did you encounter this error while testing？

[2022-03-08 11:32] kyle-cx91 commented on #1445
I debuged in local mode by sparkLocalMode recently,and it works well
@BenJFan

[2022-03-08 11:49] eye-gu commented on #1445
@BenJFan @ZhangchengHu0923 I haven't run this main method directly on idea. I test it with script after packaging. It looks like you said it was caused by iceberg's netty-common package

[2022-03-08 12:04] kyle-cx91 commented on #1445
yes, i run it in idea

[2022-03-08 12:10] eye-gu commented on #1445
I just submitted a PR and will fix the problem there. sorry for it.

[2022-03-08 12:52] Hisoka-X commented on #1445
@ZhangchengHu0923 Is your code up to date? If yes, I will check my environment

[2022-03-08 13:08] kyle-cx91 commented on #1445
I foked the code about 4 days ago @BenJFan

[2022-03-08 15:21] #1383 closed, assigned to nobody

[2022-03-09 02:20] ZhangchengHu0923 commented on #720
The roadmap 2.0 is excellent 👍
I'd like to try https://github.com/apache/incubator-seatunnel/issues/1062
@dailidong

[2022-03-09 03:45] kyle-cx91 commented on #1127
hi zixi @zixi0825 , will u start to work on this again?  if u don't mind, I'd like to continue basis on u

[2022-03-09 04:13] zixi0825 commented on #1127
I will restart it in this week.

[2022-03-09 04:19] CalvinKirs commented on #1440
hi, can you clearly explain the disadvantage of the previous one? or why do we need do this change

[2022-03-09 04:22] kyle-cx91 commented on #1127
great

[2022-03-09 04:59] #1251 closed, assigned to nobody

[2022-03-09 05:36] screampy commented on #1428
我也碰到类似这个问题，有两个情况出现了预期外的情况，V2.0.4版本：
1.运行报空指针，原因是因为mysql里面有些字段是tinyint类型，没有匹配上
2.分别测试了mysql和5.6，8.0版本，5.6版本有一些列名大小写相关问题，8.0版本没法获取到columns定义(可能是JDBC驱动问题)，导致io.github.interestinglab.waterdrop.flink.source.JdbcSource.java的getRowTypeInfo方法中names数组元素为空。

还有个问题，目前的正则匹配“select (.+) from (.+).*”  没法匹配带where条件的语句，在一些需要使用预筛选的情况暂时没法实现。

[2022-03-09 05:36] screampy commented on #1428
我也碰到类似这个问题，有两个情况出现了预期外的情况，V2.0.4版本：
1.运行报空指针，原因是因为mysql里面有些字段是tinyint类型，没有匹配上
2.分别测试了mysql和5.6，8.0版本，5.6版本有一些列名大小写相关问题，8.0版本没法获取到columns定义(可能是JDBC驱动问题)，导致io.github.interestinglab.waterdrop.flink.source.JdbcSource.java的getRowTypeInfo方法中names数组元素为空。

还有个问题，目前的正则匹配“select (.+) from (.+).*”  没法匹配带where条件的语句，在一些需要使用预筛选的情况暂时没法实现。

[2022-03-09 05:36] screampy commented on #1428
我也碰到类似这个问题，有两个情况出现了预期外的情况，V2.0.4版本：
1.运行报空指针，原因是因为mysql里面有些字段是tinyint类型，没有匹配上
2.分别测试了mysql和5.6，8.0版本，5.6版本有一些列名大小写相关问题，8.0版本没法获取到columns定义(可能是JDBC驱动问题)，导致io.github.interestinglab.waterdrop.flink.source.JdbcSource.java的getRowTypeInfo方法中names数组元素为空。

还有个问题，目前的正则匹配“select (.+) from (.+).*”  没法匹配带where条件的语句，在一些需要使用预筛选的情况暂时没法实现。

[2022-03-09 05:53] eye-gu commented on #1445
Please pull the latest code and test

[2022-03-09 06:02] Hisoka-X commented on #1445
Well done! I can run SparkLocalExample now.

[2022-03-09 06:08] Hisoka-X commented on #1445
Fixed at #1439

[2022-03-09 06:08] #1445 closed, assigned to nobody

[2022-03-09 07:40] wuchunfu commented on #844
@ZhangchengHu0923 We don't seem to be able to add `jdbc.connect_timeout` and `jdbc.socket_timeout` these two parameters to the `Data Source Option` . Please refer to the parameters supported by the `spark Data Source Option` : https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html#data-source-option

[2022-03-09 08:20] kyle-cx91 commented on #844
I have read the spark doc u post out, but what surprising me is that the configuration did works, I guess spark-jdbc haven't limit the params should be in the param list which lead some native JDBC params works. Welcome to verify according to the steps I provided earlier

@wuchunfu @CalvinKirs

[2022-03-09 08:34] William-GuoWei commented on #1382
about  the question: how to send files from spark node to ClickHouse node
I think maybe use Rsync, and use a config file to save password?
So I think we need a document describing how to use it.

[2022-03-09 08:41] IVitamin-C commented on #1382
rsync can use ssh protocol or configure daemon,provide a generic rsync daemon config,Compatible with Ordinary Database engine or Atomic Database engine

[2022-03-09 08:52] rarexixi commented on #1440
I just think that the name of the plugin does not need to be strongly bound to the class name

[2022-03-09 09:55] simon824 commented on #1326
hi, I have tested spark-kudu source & sink, spark-hbase source & sink.

[2022-03-09 11:39] #1004 closed

[2022-03-09 15:21] asdf2014 opened #1451 "[Feature][connector] Support batch mode and stream data for Druid Sink plugin"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

## Options

| name                    | type     | required | default value |
| ----------------------- | -------- | -------- | ------------- |
| batch_size              | `Long`   | no

[2022-03-10 01:48] kalencaya commented on #1428
I had also tested PostgreSQL，which differs more with mysql column type and more NPE caused `JdbcSource#getRowTypeInfo` absence of mapping.

Some popular data integration tools based on flink try to split flink-connector-jdbc to concrete RDBMS plugin such as flink-connector-jdbc-mysql for different sql dialect.

Another problem is that Table level api can't support some field type produced by MySQL

[2022-03-10 02:24] wuchunfu commented on #1326
@CalvinKirs The following modules have been tested and the tests passed

[code]

[2022-03-10 02:26] zhaomin1423 commented on #1326
@CalvinKirs spark-connector-source-hive and spark-connector-sink-hive work well.  spark-connector-source-jdbc work well.

[2022-03-10 02:27] zhaomin1423 commented on #1326
spark-connector-sink-jdbc has a bug when save mode is update.

[2022-03-10 02:46] CalvinKirs commented on #1270
@tmljob @zhaomin1423 Contributions welcome

[2022-03-10 02:50] zhongjiajie opened #1456 "[Feature][website] Add new style tab for two engine instead of separated page"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Should combine Spark and Flink engine to a single page instead of in different. For example we doris sink in both [Spark](https://seatunnel.apache.org/docs/spark/configuration/sink-plugin

[2022-03-10 02:53] zhongjiajie commented on #1456
I've hear that we have a amazing front-end engineer in SeaTunnel community, could we ask he/she for the help? @CalvinKirs

[2022-03-10 02:59] CalvinKirs commented on #1456
@wolfboys @wuchunfu hi, are you interested in completing this?

[2022-03-10 03:02] zhaomin1423 commented on #1270
I will implement a spark-connector-http recently.

[2022-03-10 03:09] wuchunfu commented on #1326
I'll merge in later

[2022-03-10 03:10] zhaomin1423 commented on #1326
Thanks.

[2022-03-10 04:35] tmljob commented on #1438
I also encountered the same problem (based on 1.5.7), but I suspect that it is caused by the spark configuration problem, but I don't know where the configuration is, I hope to help clarify.
The task configuration is as follows:
[code]
1. The same configuration is no problem when the nodes in the CDH cluster are running.
2. On a node other than the CDH cluster, if spark is configured and hdfs-site

[2022-03-10 06:05] lorneWW opened #1457 "input kudu cannot work with seatunnel1.5.7"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I tested the function of seatunnel and found that when the input is kudu, an error will be reported when executing the task. Always says kudu table not found. But the kudu table exists and can be used no

[2022-03-10 06:08] #1457 closed, assigned to nobody

[2022-03-10 06:08] lorneWW commented on #1457
ok

[2022-03-10 06:36] tmljob commented on #965
like DataX，as flows：
[code]

[2022-03-10 06:51] Rianico opened #1458 "[Improve] [spark-source-kudu] Remove repeated format function in Kudu source"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I found `org.apache.seatunnel.spark.source.Kudu` have a repeated `org.apache.spark.sql.DataFrameReader#format` function call due to an implicit function when read data from kudu using spa

[2022-03-10 07:05] wuchunfu commented on #1456
@zhongjiajie @CalvinKirs Good idea, if you want to achieve this effect, please refer to: https://docusaurus.io/docs/markdown-features/tabs, this syntax is not `markdown` syntax, will this increase the learning cost of contributors, although it requires a lot of small learning cost

[2022-03-10 08:33] Hisoka-X commented on #1428
The problem is: Mysql jdbc will return java type `BigInteger` when get `bigint unsigned` in database, check out [there](https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-reference-type-conversions.html). But JdbcSource informationMapping Map convert it to `BIG_INT_TYPE_INFO` which flink not support, check out : [Fix reading BIGINT UNSIGNED type field not work in JDBC](https://issues.apache.

[2022-03-10 08:33] Hisoka-X commented on #1428
@CalvinKirs Please assign me.

[2022-03-10 08:42] Hisoka-X commented on #1444
Can you upgrade seatunnel version? if it's ok for you. If also have problem after upgrade, we will fix it first.

[2022-03-10 10:00] libailin commented on #1356
resaons 1 or 2:
1、 start-seatunnel-flink.sh may find two core flink jar:

[code]

2、 mvn clean package -DskipTests , builded two jar:

[code]

resolve method:

please delete rm seatunnel-core-flink-2.0.5-SNAPSHOT-shaded.jar

[code]

[2022-03-10 10:45] zhongjiajie commented on #1456
Looking good 👍

I think it is acceptable, is only a small adding syntax, BTW if we had to choose convenience  between users and contributors, I would choose users instead of contributors. Of course I should avoid this happend

[2022-03-10 10:47] zhongjiajie commented on #1456
One more things, I found it it a js instead of markdown in https://docusaurus.io/docs/markdown-features/tabs. It possiable to write

[code]

in markdown file and them render to the tab style?

[2022-03-10 11:55] JesseAtSZ opened #1461 "[Feature][CDC] Support Flink CDC"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Having been following the Seatunnel project for a long time, I am very interested in this project and have downloaded and tried this project. Unfortunately, due to the unfamiliarity with

[2022-03-10 12:11] kalencaya commented on #1428
learn a lot.

[2022-03-10 13:07] ruanwenjun commented on #1461
I am also newly in seatunnel and flink, I think this feature might be interesting and useful.

The current `seatunnel-connector-flink-jdbc` is just used for offline batch job, it doesn't support realtime capture the data change of database. And `flink-cdc` is good at capturing the data change, if we add flink-cdc into seatunnel, this can help seatunnel do the realtime capture job.

And I try to an

[2022-03-10 13:19] kalencaya commented on #1326
@CalvinKirs flink-connector-source-jdbc and flink-connector-sink-jdbc workes well and ready for release

[2022-03-10 14:33] wuchunfu commented on #1456
It won't render as a tab in `markdown` , this code seems to be `react` syntax

[2022-03-10 14:36] wuchunfu commented on #1456
If the contributor has finished writing the `markdown` document, he may not be able to view the rendered effect locally. I wonder if other people have other better ways.

[2022-03-10 14:37] kalencaya opened #1463 "[Bug] [flink-connector-jdbc] jdbc related dependency scope is provided"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

location on `seatunnel/pom.xml`, `flink-connector-jdbc_2.11` scope is `provided` and seatunnel release doesn't contain flink-connector-jdbc dependency.
[code]
The same problem is MySQL JDBC driver depend

[2022-03-10 15:02] JesseAtSZ commented on #1461
@ruanwenjun Thank you very much for your advice, but I still have the following questions:
1. Is it inefficient to convert SourceRecord to DataStream frequently? I wonder if Flink has any more suitable API to implement this conversion. For example, I found a structure called ChangeLogStream (just an example), although I don't know what it is used for, it seems to be very suitable for conversion fr

[2022-03-10 16:11] CalvinKirs commented on #824
done

[2022-03-10 16:11] #824 closed

[2022-03-10 23:50] mans2singh opened #1465 "[Feature][Refactor] Refactor seatunnel-connector-flink-jdbc to remove embedded literals"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The seatunnel-connector-flink-jdbc contains embedded literals for config variables used in sink and source code.

### Usage Scenario

_No response_

### Related issues

_No response_

###

[2022-03-11 01:30] simon824 opened #1467 "[Feature][Scripts] Throw exception in start scripts when config file not exist"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Before:
<img width="1394" alt="image" src="https://user-images.githubusercontent.com/18065113/157783988-7f93e86f-f563-48d1-ae4c-703bd8f2b7ad.png">

After:
<img width="664" alt="image" src

[2022-03-11 01:32] tmljob opened #1468 "How to do data lineage analysis for data processed under seatunnel?"
How to do data lineage analysis for data processed under seatunnel? Is there any case or plan to refer to?

[2022-03-11 02:05] zhongjiajie commented on #1456
When docs fetch to repository website, can this `react` syntax render to tab style?

[2022-03-11 02:26] zhongjiajie opened #1470 "[Feature][doc] Add search component for our document"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I found out we do not have a search component for our documents. I think we should add this component to our document for better search

### Usage Scenario

_No response_

### Related iss

[2022-03-11 02:32] kyle-cx91 commented on #1326
@CalvinKirs when I tested spark-kafka plugin, I had used spark-console-sink ,it works well

[2022-03-11 02:43] wuchunfu commented on #1456
It seems to be possible, this needs to be verified again

[2022-03-11 02:49] zhongjiajie commented on #1456
Do you have time to verify this feature?

[2022-03-11 04:44] allenchen0314 commented on #1457
you can try to write
 kudu_table="impala::device.device_analysis_data_day"

[2022-03-11 04:47] wuchunfu commented on #1456
I will verify later.

[2022-03-11 05:52] kalencaya commented on #1465
Can you explain more? your description is not clear for me.

[2022-03-11 07:00] CosmosNi opened #1471 "[Feature][connector] rocketmq connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

wo need rocketmq connector to receive the data from rocketmq  .

### Usage Scenario

receive the data from rocketmq

### Related issues

_No response_

### Are you willing to submit a PR?

[2022-03-11 08:57] ruanwenjun opened #1473 "[Improvement][Config] Print config in origin order"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

When I execute a job in seatunnel, it will print config in log, this is helpful, but it will change the order of element in config.
For example, config is look like below:
[code]
The prin

[2022-03-11 09:35] Hisoka-X commented on #1461
In my view, CDC just one special source. This source including data's change. User can use these data do anything. I think we should do the thing is create special cdc series connector (both source and sink). So user can transfer data change use seatunnel.

[2022-03-11 10:23] libailin opened #1474 "java.lang.ClassCastException: org.apache.seatunnel.flink.sink.JdbcSink cannot be cast to org.apache.seatunnel.flink.batch.FlinkBatchSink[Bug] [Module Name] Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

from hdfs to mysql error

### SeaTunnel Version

dev

4be278ff73404159facb63c4f928583a803bfbcb

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark

[2022-03-11 11:06] Hisoka-X commented on #1438
Seem like we forgot call enableHiveSupport()  method when used hive connector. I will fix it.

[2022-03-11 12:37] kalencaya commented on #1474
already solved, please pull latest dev branch and try again

[2022-03-11 14:27] Hisoka-X commented on #1423
This close by #1432

[2022-03-11 14:27] #1423 closed, assigned to nobody

[2022-03-11 15:47] mans2singh commented on #1465
Hi @kalencaya  -

Here is an example of the [embedded config literals](https://github.com/apache/incubator-seatunnel/pull/1466/files#diff-a67cdcf0bb65a9239c2b57b3c48874af247305bc59657401fedcb1ef928020d3L81).

Also, I have fixed this issue in PR (https://github.com/apache/incubator-seatunnel/pull/1466).

Thanks for your time.

[2022-03-12 02:55] yx91490 commented on #1438
enableHiveSupport() is not necessary for all job, you can add 'spark.sql.catalogImplementation="hive"' to env, see https://interestinglab.github.io/seatunnel-docs/#/zh-cn/v1/configuration/input-plugins/Hive

[2022-03-12 03:03] Hisoka-X commented on #1438
We can identify whether the user is using hive, then do enableHiveSupport automic. Not need add config, I think it could be better

[2022-03-12 03:38] Hisoka-X commented on #1418
Seem like clickhouse jdbc driver work with spark jdbc have some problem, I will figure out and fix it.

[2022-03-12 06:52] ruanwenjun commented on #1474
This should already been fixed by #1432

[2022-03-12 07:13] ruanwenjun commented on #1463
@kalencaya @CalvinKirs
Does this also happen on other dependencies related to flink-xx, like "flink-java", `flink-streaming-java_xx`...?

Actually, I don't know why the scope of `flink-xx` is designed as `provided` in seatunnel, does this due to we want user to upload target dependency version by themselves? If so, this issue should be closed, otherwise, we may also need to remove `provided` of ot

[2022-03-13 04:27] Hisoka-X commented on #1418
@ZhangchengHu0923 Which clickhouse driver version did you used? I used https://mvnrepository.com/artifact/com.clickhouse/clickhouse-jdbc/0.3.2 worked fine. Note that `ru.yandex.clickhouse.ClickHouseDriver` will be removed, should use `com.clickhouse.jdbc.ClickHouseDriver`. But this version `ru.yandex.clickhouse.ClickHouseDriver` also work fine.

[2022-03-13 04:30] Hisoka-X commented on #1468
In my view, seatunnel focuses on data synchronization rather than data analysis.

[2022-03-13 04:32] Hisoka-X commented on #1465
Please close this issue because you already done, thanks.

[2022-03-13 04:49] Hisoka-X commented on #1463
Also confuses me, I think these plugin denpency should in plugins folder in release package. Like flink, user can move jar in release package for use it.

[2022-03-13 05:03] Hisoka-X commented on #1436
In my view, quick start doesn't need install spark/flink environment, just use local mode. This way like a single node seatunnel task but without task failure recovery. Then next step is cluster mode with flink or spark.

[2022-03-13 06:28] ruanwenjun commented on #1463
I guess this mainly due to we use `maven-shade-plugin`, this plugin make the package result into a fat jar.
And the reason why we do this is the seatunnel job is a flink job, we need to package it into a fat jar.

[2022-03-13 07:08] dongzl opened #1480 "[Bug] [Module Name] When start seatunnel, cause org.apache.flink.client.program.ProgramInvocationException."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

[code]

### SeaTunnel Version

seatunnel: `apache-seatunnel-incubating-2.1.0`

### SeaTunnel Config

[code]
[code]
[code]
[code]

[2022-03-13 09:08] Hisoka-X commented on #1427
Currently not supported.

[2022-03-13 09:11] Hisoka-X commented on #1409
Please close this issue. Thanks.

[2022-03-13 09:16] Hisoka-X commented on #1480
Seatunnel base on flink 1.13.6 at now. So program will report error when running at flink 1.14.3.

[2022-03-13 09:29] ruanwenjun commented on #1480
Yeah, I use this config running on 1.13.6, it was normal. May need to consider if Flink can be upgrade.

[2022-03-13 13:32] kyle-cx91 commented on #1418
@BenJFan  thx for ur reply.
I used clickhouse-jdbc-0.2.6.jar ru.yandex.clickhouse.ClickHouseDriver

[2022-03-13 17:25] #1409 closed, assigned to nobody

[2022-03-14 01:30] dongzl commented on #1480
Hi @BenJFan B, @ruanwenjun   Thanks for reply, I will test `1.13.6`.

Maybe we can consider to upgrade Flink.

[2022-03-14 01:32] #1480 closed, assigned to nobody

[2022-03-14 01:45] ruanwenjun commented on #1480
Agree with you.

[2022-03-14 02:09] CalvinKirs commented on #1474
fixed

[2022-03-14 02:09] #1474 closed, assigned to nobody

[2022-03-14 02:14] CalvinKirs opened #1482 "[OnlineMeeting]SeaTunnel community meeting Topic collection"
We will hold an online community meeting on 2022/03/16 20:00-20:30 (GMT+08:00),
Welcome everyone to leave a message in the issue to discuss the content
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Community Meeting
Meeting Time: 2022/03/16 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:

[2022-03-14 02:15] CalvinKirs commented on #1482
Welcome everyone to leave a message in the issue to discuss the content

[2022-03-14 02:16] #1335 closed, assigned to nobody

[2022-03-14 02:18] Hisoka-X commented on #944
How is this feature going? I am interested in it, and I'm willing to submit a PR.

[2022-03-14 03:28] ruanwenjun commented on #1463
I test on 2.1.0, this happened due to miss `flink-connector-jdbc_xx`.

[code]

[2022-03-14 03:31] Hisoka-X commented on #1461
@CalvinKirs Can you share some information about how support flink cdc?

[2022-03-14 06:43] tmljob commented on #1468
Yes, what I mean is how to analyze the blood relationship of these data after ETL data processing through Seatunnel? Is it done by analyzing the configuration file of the task? Has anyone done similar work to learn from?

[2022-03-14 06:45] kalencaya commented on #1463
`FLINK_HOME/lib` provides Flink core dependencies, which not includes connectors released by Flink. Flink job jar has to provide needed connector and user-jar dependencies.

It is reasonable for flink core dependencies within `provided` scope and connector dependencies within default `compile` scope.

After I checked other flink connector dependency such as `flink-connector-kafka` and `flink-conne

[2022-03-14 06:57] ruanwenjun commented on #1463
@kalencaya Yes, agree with you. The best practice to build a Flink application is just to set the scope of runtime dependencies to  provided, and other dependencies like connector needed to be compiled. So it's necessary to remove the scope provided of `flink-connector-jdbc_${scala.binary.version}`.
We can find doc from [Flink Core and Application Dependencies](https://nightlies.apache.org/flink/f

[2022-03-14 08:20] #1428 closed, assigned to Hisoka-X

[2022-03-14 08:24] #1463 closed, assigned to nobody

[2022-03-14 08:26] #1458 closed, assigned to nobody

[2022-03-14 08:54] Hisoka-X commented on #1468
Seem like need to parse the configuration file

[2022-03-14 09:45] #1467 closed, assigned to nobody

[2022-03-14 11:07] Kaiux commented on #944
The implementation will refer to the ideas in #1382, you can wait for PR to enter before starting

[2022-03-14 11:26] #1421 closed, assigned to nobody

[2022-03-14 11:31] #1468 closed, assigned to nobody

[2022-03-14 11:32] CalvinKirs commented on #1465
done

[2022-03-14 11:32] #1465 closed, assigned to nobody

[2022-03-14 14:24] #1438 closed, assigned to Hisoka-X

[2022-03-14 15:13] yx91490 commented on #1427
you can try udf in sql

[2022-03-14 19:09] humengyu2012 opened #1487 "Where is IntelliJ IDEA code style XML or Eclipse XML Profile?"
We have enabled code style checking: https://github.com/apache/incubator-seatunnel/blob/dev/tools/checkstyle/checkStyle.xml, but where is the xml profile? Manual compatibility code format is difficult and not friendly for developers.

<img width="698" alt="image" src="https://user-images.githubusercontent.com/45056332/158243389-805fd2d2-741d-4936-b52e-11d401382975.png">

[2022-03-15 02:11] Hisoka-X commented on #1487
In `/incubator-seatunnel/tools/checkstyle` folder, should install checkstyle plugin in idea. But have some problem with checkStyle.xml. Need somebody fix it.

[2022-03-15 02:17] Hisoka-X commented on #1482
Remove flink DataSet api, replace by DataStream api in batch mode.

[2022-03-15 04:37] kezhenxu94 commented on #1487
@humengyu2012 you didn't install the checkstyle plugin, this file https://github.com/apache/incubator-seatunnel/blob/dev/tools/checkstyle/checkStyle.xml is checkstyle configuration format but you import it as IntelliJ code style, it is definitely wrong, if you installed checkstyle plugin, you should have this menu item

<img width="411" alt="image" src="https://user-images.githubusercontent.com/15

[2022-03-15 05:09] CalvinKirs commented on #1487
Since you don't have a clear context it's hard for me to tell, but #1490 is a known issue. @BenJFan
But we need to be able to provide clear documentation at best

[2022-03-15 05:12] tisonkun commented on #1487
I second @kezhenxu94 's suggestion. One more point is that the default version of IDEA checkstyle plugin is 10.0 which is incompatible with seatunnel's setting.

@CalvinKirs I suggest seatunnel config checkstyle version explicitly in `pom.xml` so that it's fixed and easy to find for contributors.

But all in all, the default version of checkstyle of maven-checkstyle-plugin 3.1.0 is 8.19. And I've

[2022-03-15 06:06] Hisoka-X commented on #1487
Developer guide need rewrite.

[2022-03-15 14:58] #1473 closed, assigned to ruanwenjun

[2022-03-15 15:55] Coder-Gorson opened #1491 "[Help wanted] [start-waterdrop-flink] NoClassDefFoundError throw with flink1.13-scala2.12"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I run with a demo in  waterdrop-dist-2.0.4-2.11.8-release，it will show me an  exception
It seems like an error occurred when seatunnel invoke flink.
Am I using it with a wrong way?

`java.lang.NoCla

[2022-03-16 01:34] simon824 opened #1494 "[Feature][Config] Support json format config file"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Json format sometimes is useful for system integration or task migration. Original typesafe config have supported json format config file, but the result parsed by seatunnel-config module

[2022-03-16 01:37] simon824 commented on #1491
waterdrop-dist-2.0.4-2.11.8-release seems not support flink1.13, maybe you can try 2.1.0 version. https://github.com/apache/incubator-seatunnel/tags

[2022-03-16 01:42] simon824 opened #1495 "[Feature][core] Support sparksql for seatunnel-core-sql module"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

support sparksql for seatunnel-core-sql module

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit

[2022-03-16 02:10] wuchunfu commented on #1494
Looking forward to your contribution

[2022-03-16 02:29] Hisoka-X commented on #1418
Maybe update your jdbc version could be good choice.

[2022-03-16 02:30] Coder-Gorson commented on #1491
thanks for reply, but I was already used seatunnel 2.1.0 version run the same demo.
it's throw anothor error... it seems like that the shell start-seatunnel-sql.sh want to find PLUGINS_DIR (seatunnel/lib? may be),but no such file or directory , like that:
`sh start-seatunnel-sql.sh  -c ../config/flinksqldemo.conf
find: ‘/data/seatunnel/dev/seatunnel/lib’: 没有那个文件或目录
Could not get job jar and depend

[2022-03-16 05:04] yx91490 commented on #1491
seems like dislocation in script parameter , you can rerun with `bash -x start-seatunnel-sql.sh -c ../config/flinksqldemo.conf` and paste the log here for help.

[2022-03-16 06:34] Coder-Gorson commented on #1491
![pic](https://user-images.githubusercontent.com/59015291/158530584-5ab00fba-1359-4fff-b7f1-77785727f876.png)

Seatunnel directory screenshots is in attachment

`+ [[ -c ../config/flinksqldemo.conf = *--help ]]
+ [[ -c ../config/flinksqldemo.conf = *-h ]]
+ [[ 2 -le 1 ]]
+ PARAMS=
+ ((  2  ))
+ case "$1" in
+ CONFIG_FILE=../config/flinksqldemo.conf
+ is_exist ../config/flinksqldemo.conf
+ '[' -z .

[2022-03-16 08:37] peopleindreamdontsleep commented on #1491
maybe,your owne flink version is different with the seatunnel inside version, i meet the same problem when i use spark3.0-scala2.12.10 run it ,it cannot find some class,so i rewrite the code and compile  in spark3.0  ,u can have a try

[2022-03-16 12:15] yx91490 commented on #1491
currently seatunnel cann't support running in source code directory. you should build it firstly.

[2022-03-16 12:30] CalvinKirs commented on #1461
ping @CalvinKirs

[2022-03-16 13:03] Coder-Gorson commented on #1491
ok thanks !

[2022-03-16 13:04] Coder-Gorson commented on #1491
ok ! thanks for sharing

[2022-03-16 13:04] #1491 closed, assigned to nobody

[2022-03-16 15:43] huazheng857 opened #1497 "mysql to hive 报spark找不到hive数据库和表：Table or view not found:"
seatunnel version
2.1.0
spark version
2.4.3

1、配置文件截图
<img width="560" alt="配置文件" src="https://user-images.githubusercontent.com/101729851/158629304-142ae9f0-b737-46b2-86d8-e1c06c899cc9.png">

2、报错截图
<img width="561" alt="error" src="https://user-images.githubusercontent.com/101729851/158629423-d50e7706-6805-4571-af74-428737782b0d.png">

3、问题描述：
source中用Hive插件可以查到上面的hive库和表并获取到数据，但是在sink中用Hive插件会报

[2022-03-17 01:31] yx91490 commented on #1497
reference https://github.com/apache/incubator-seatunnel/issues/1438

[2022-03-17 02:15] huazheng857 commented on #1497
我加上：spark.sql.catalogImplementation = "hive"之后，没有报找不到库和表，数据写入到了hdfs文件中，
但是写入文件的这个hdfs的路径不是我表中指定的hdfs路径，他默认写入了“hdfs://pilotcluster/apps/hive/warehouse/”路径下
而我表数据的hdfs路径为:"/warehouse/galaxy/aquila/"

[2022-03-17 06:40] #1487 closed, assigned to nobody

[2022-03-17 06:42] humengyu2012 commented on #1487
I use checkstyle plugin instead of idea profile, it works. Thanks.

[2022-03-17 11:20] tobezhou33 opened #1498 "[Bug] [seatunnel-api-flink] TableUtil.tableExists cannot check all tables and only Catalogs.tables exclude TemporaryTable"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when i try to read kafka data and print to consule。 it happen an error.

 org.apache.flink.table.api.ValidationException: Temporary table '`default_catalog`.`default_database`.`test`' already exists

in

[2022-03-17 14:17] yx91490 commented on #1497
can you show this table's ddl sql?

[2022-03-18 03:15] libailin opened #1502 "[Bug] [seatunnel-connector-flink-jdbc] mysql query matcher tablename error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

mysql to hdfs ，but jdbc source query not support `where ....` condition

### SeaTunnel Version

a7ff0f8805a063a7c7a33f256f82f28235f8e1b1

### SeaTunnel Config

[code]

### Running Command

[code]

### Er

[2022-03-18 03:19] libailin commented on #1502
<img width="1228" alt="image" src="https://user-images.githubusercontent.com/3014381/158931168-6e5a4ebb-93b5-4825-8e07-64e1de73a2ef.png">

[2022-03-18 03:38] Hisoka-X opened #1503 "[Bug] [Connector] Clickhouse sink can't convert DateTime from sql"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When use sql select const datetime, it can't convert to clickhouse DateTime type.
Clickhouse DDL:
[code]

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error

[2022-03-18 03:57] simon824 opened #1504 "[Bug] Dead link checker failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

https://github.com/apache/incubator-seatunnel/runs/5595036086?check_suite_focus=true

<img width="756" alt="image" src="https://user-images.githubusercontent.com/18065113/158934749-ea45cb5c-b9ca-4252-8c5

[2022-03-18 06:15] #1504 closed, assigned to nobody

[2022-03-18 07:33] Hisoka-X opened #1506 "[Feature][Connector] Flink console sink need lines limit"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Same with spark console connector, flink console connector also need lines limit, avoid too much result print in console

### Usage Scenario

_No response_

### Related issues

_No respon

[2022-03-18 09:16] Hisoka-X opened #1508 "[Bug] [Spark] When have empty data source, transform not execute"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When have sources not only one, but first source data is empty, the transform will not execute
`/tmp/test.csv` is empty file

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[2022-03-18 13:14] lphcreat opened #1511 "add a plugin for encrypting"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

in my work, for data safty, i need encrypting data. so i made a plugin for encrypting, it can encrypt dataset or some columns. but i have a problem i use in wd1.5, so i will fix it. 数据加密插

[2022-03-19 02:00] Hisoka-X commented on #1511
Please share your problem in here, So other guys maybe can help you.

[2022-03-19 02:40] tmljob opened #1512 "[Bug]Variable substitution scenario produces exception:ConfigObject is immutable, you can't call Map.put"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Validation using variable-substitution.conf.template produces the following exception.

### SeaTunnel Version

1.5.7

### SeaTunnel Config

[code]
[code]

### Error Exception

[code]
[code]

[2022-03-19 04:37] Hisoka-X opened #1513 "[Feature][Connector] Clickhouse-File performance boost"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

In order to improve the code quality and performance of Clickhou

[2022-03-19 06:59] #1511 closed, assigned to nobody

[2022-03-19 10:16] tmljob commented on #1512
This exception is related to the type of the input plug-in. The stream processing plug-in will report this exception when the variable is replaced, such as FakeStream, SocketStream, and the batch plug-in can be processed normally, such as File

[2022-03-19 12:51] #1494 closed, assigned to nobody

[2022-03-19 12:54] #1508 closed, assigned to nobody

[2022-03-19 12:56] #1506 closed, assigned to nobody

[2022-03-19 13:31] CalvinKirs commented on #1497
For better communication, please use English, I temporarily closed it, you can reopen it after modifying it.

[2022-03-19 13:31] #1497 closed, assigned to nobody

[2022-03-19 15:14] Hisoka-X commented on #1502
Seem  like parse sql have some problem. let me fix it.

[2022-03-20 04:12] Hisoka-X commented on #1512
Our main goal is 2.x version maintenance and development, so 1.x may get less support, if possible, please upgrade to 2.x version. Thanks

[2022-03-20 04:31] Hisoka-X commented on #1498
Would you like to be involved in fixing this, and if so, look forward to your contributions. Or I take the time to fix this.

[2022-03-20 04:34] Hisoka-X commented on #1461
@JesseAtSZ Any progress? If you want, I want to contribute this feature with you

[2022-03-20 05:14] #1503 closed, assigned to nobody

[2022-03-20 05:27] tmljob commented on #1512
1. After entering the apache incubator, the official version of 2.x has not been released;
2. There are too few plugins available in the current 2.x version;
3. Through the community meetup meeting, it is known that the relevant enterprises still use more version 1.x;

We still want to use version 1.x first, and we can consider migrating when version 2.x is officially released and stabilized. I ho

[2022-03-20 06:41] DingPengfei opened #1522 "[Bug] [seatunnel-connector-spark-redis] default config as official doc said can't run correctly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Doc from [spark redis sink](https://seatunnel.apache.org/docs/spark/configuration/sink-plugins/Redis) says only "host" and "port" are required in config file. But I got this
`ERROR org.apache.seatunnel.c

[2022-03-21 02:20] JesseAtSZ commented on #1461
@BenJFan
Recently, I haven't started to write code, mainly to understand how to ensure strict consistency of transactions when using Flink CDC:
[Can Flink CDC guarantee MySQL transactions](https://github.com/ververica/flink-cdc-connectors/issues/956)

In addition, for the specific code level, I still have the above three problems to be solved.

[2022-03-21 03:45] Hisoka-X commented on #1461
Guaranteed strict consistency of transactions is not just one component can complete, the transaction that cdc can guarantee requires not only that the data source can be replayed (binlog can be replayed), but also the sink side to support transactions (traditional transaction or distributed transaction) or write idempotency

[2022-03-21 04:04] JesseAtSZ commented on #1461
Flink CDC supports binlog replay. The problem I want to solve is that the sink side can strictly guarantee the transactions on the source side, rather than simply inserting and modifying them line by line through SQL ( it only replays SQL, but it can not guarantee transactions. For example, if a sink side transaction suddenly goes down in the middle of execution, there is a problem with the data o

[2022-03-21 04:53] tobezhou33 commented on #1498
I have pr, please help me review code,thanks

[2022-03-21 06:12] Hisoka-X commented on #1461
Maybe we can support cdc first, then add exactly-once support.

[2022-03-21 06:29] Hisoka-X commented on #1461
1. The order of transactions is determined by the transaction id. Idempotency needs to be supported by the design of data writing methods, and has nothing to do with fault recovery.
2. CDC should already support checkpoint.

[2022-03-21 07:49] #1498 closed, assigned to nobody

[2022-03-21 09:02] ruanwenjun opened #1527 "[Bug] [FileSink] Flink file sink cannot work in stream mode."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The `FileSink` plugin cannot write data into file due to we use try with resource in line 70, after we write the first record into the file, we will close the stream, the subsequent will not be written.

[2022-03-21 10:04] ruanwenjun commented on #1522
Yeah, this is a bug, we need to use `hasPath` to check if the configKey is exist.

[2022-03-21 10:17] ruanwenjun opened #1529 "[Feature][core] Add plugin lifecycle of plugin."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Currently, we just has defined `prepare` method in `Plugin`, this can be thought as a lifecycle function after plugin created.

Sometimes we need to do some operation, after plugin execut

[2022-03-21 11:23] JesseAtSZ commented on #1461
The combination of Flink CDC and Flink JDBC has achieved idempotency. There are checkpoints on the Source side and upsert on the Sink side，However, this combination can only meet the final consistency, but can not meet the real-time consistency, as I said above, Flink CDC and Flink JDBC will split the operations in a transaction into many SQL, The transaction order and checkpoint I mentioned here

[2022-03-21 11:28] JesseAtSZ commented on #1461
The combination of Flink CDC and Flink JDBC has achieved idempotency. There are checkpoints on the Source side and upsert on the Sink side, however, this combination can only meet the final consistency, but can not meet the real-time consistency, (as I said above, Flink CDC and Flink JDBC will split the operations in a transaction into many SQL). The transaction order and checkpoint I mentioned he

[2022-03-21 12:11] Hisoka-X commented on #1461
In my opinon,step by step. The fisrt thing is support cdc, then consider about consistency

[2022-03-21 12:13] DingPengfei commented on #1522
I had submitted a PR for this. Maybe you can help me to review it.

[2022-03-21 14:10] asdf2014 opened #1531 "[Bug] [core] There is a resource leak in the core module"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

There is a resource leak in the core module, which is the instance of `InputStream` has not been closed.

![image](https://user-images.githubusercontent.com/8108788/159278290-0d0f5f53-3d1f-4c11-a9e6-8494

[2022-03-21 14:27] JesseAtSZ commented on #1461
@BenJFan I still have these questions that I hope can be answered:
https://github.com/apache/incubator-seatunnel/issues/1461#issuecomment-1064156814

[2022-03-21 14:32] #1531 closed, assigned to nobody

[2022-03-21 15:10] #1522 closed, assigned to nobody

[2022-03-21 15:23] #1527 closed, assigned to nobody

[2022-03-22 03:44] bestcx opened #1533 "[Bug] [seatunnel-connector-spark-File] source and sink default config don't take effect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Purpose: Source[File]  -> Sink[File]
Error:
1.  Source[File] default config `format` doesn't take effect
2. Sink[File] default config `path_time_format` has problem

### SeaTunnel Version

dev

### SeaTu

[2022-03-22 07:19] fpystart opened #1535 "org.apache.flink.client.program.ProgramInvocationException"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I pack locally and upload it to the server for operation. An error is reported

### SeaTunnel Version

2.1.0

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### F

[2022-03-22 09:53] Hisoka-X commented on #1535
Which commitid do your code version? I run local normaly
<img width="623" alt="image" src="https://user-images.githubusercontent.com/32387433/159454036-a6da3c7d-81c3-4513-9a37-292154e8bbfa.png">

[2022-03-22 10:02] fpystart commented on #1535
The latest submission, and I have no problem running locally, is that it cannot run on the server after packaging

![image](https://user-images.githubusercontent.com/102137792/159454695-e24720a7-e6c4-4104-97dc-34e6b709608d.png)

[2022-03-22 10:03] fpystart commented on #1535
The latest submission, and I have no problem running locally, is that it cannot run on the server after packaging

[2022-03-22 10:14] Hisoka-X commented on #1535
What mean for packaging? mvn package?

[2022-03-22 10:35] fpystart commented on #1535
yes
mvn package

[2022-03-22 11:39] xuchangqun opened #1537 "[Question] [connector-flink] flink-on-yarn config"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I'd like to know how to set yarn configs ,for example

  Options for yarn-cluster mode:
     -d,--detached                        If present, runs the job in detached

[2022-03-22 14:05] yx91490 commented on #1535
please rerun startup script with "bash -x ./start-seatunnel-flink.sh..." and paste log here for help.

[2022-03-22 14:18] kafka-byte opened #1540 "Quick start-Flink-nc Stream demo:Error:Connection refused"
### describe:
官网-版本2.1-Quick start-Flink
socket流 -> print
source 配置需要添加host，如非本地运行。

### 问题代码：
[code]
修改为：
[code]
### error code:

	at java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350)
	at java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketImpl.java:206)
	at java.net.AbstractPlainSocketImpl.conne

[2022-03-22 14:20] #1540 closed, assigned to nobody

[2022-03-23 02:50] fpystart commented on #1535
bash -x ./bin/start-seatunnel-flink.sh -c ~/data_process_test/debug_job/cm_pon_ori_onu_es.conf
+ [[ -c /home/puaiuc/data_process_test/debug_job/cm_pon_ori_onu_es.conf = *--help ]]
+ [[ -c /home/puaiuc/data_process_test/debug_job/cm_pon_ori_onu_es.conf = *-h ]]
+ [[ 2 -le 1 ]]
+ PARAMS=
+ ((  2  ))
+ case "$1" in
+ CONFIG_FILE=/home/puaiuc/data_process_test/debug_job/cm_pon_ori_onu_es.conf
+ is_exi

[2022-03-23 04:12] #1502 closed, assigned to nobody

[2022-03-23 06:48] xiazhicheng commented on #1242
I think the question is a good question
why the contributor give an irrelevant answer?

[2022-03-23 06:54] emmataobao commented on #1427
谢谢

[2022-03-23 06:54] #1427 closed, assigned to nobody

[2022-03-23 08:44] SbloodyS opened #1542 "[Bug] [spark-connector] can not run on spark 3.1.2 hadoop 3.2.1"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

[code]

### SeaTunnel Version

2.1.0-release.

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

spark 3.1.2

### Java or Scala Version

[2022-03-23 09:53] Hisoka-X opened #1543 "[Feature][Connector] JDBC source support partition"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

At now, flink jdbc support parallelism option, but not work. Need add partition column to support parallelism.

### Usage Scenario

_No response_

### Related issues

_No response_

### A

[2022-03-23 14:41] ghost opened #1545 "[Suggest][seatunnel-connector-spark-file] sink S3 by used plugin -file easily (spark)"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

- Missing documents   S3 . The `file`(file/hdfs/s3) plug-in is used to synchronize data to S3, but S3 cannot be written  according to the `start-seatunnel-spark.sh`   startup. After debug

[2022-03-24 01:28] yx91490 opened #1546 "[Feature][doc] complete the hive sink document"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

complete the hive sink document

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Cod

[2022-03-24 01:58] #1546 closed, assigned to nobody

[2022-03-24 02:15] Hisoka-X commented on #1545
Would you like contribute this? If so, look forward to your contribution.

[2022-03-24 02:17] Hisoka-X commented on #1542
SeaTunnel support spark version is 2.4.0 at now. You can try it with 2.4.0

[2022-03-24 02:24] SbloodyS commented on #1542
Sad...The version of the production environment cannot be downgraded. There are a lot of errors in compling when i try to upgrade the version of spark to 3.1.2 in ```pom.xml```. It seems like I can not use seatunnel for a while.

[2022-03-24 02:26] Hisoka-X commented on #1542
You can create an issue to ask support spark 3.1.2.

[2022-03-24 02:28] SbloodyS opened #1548 "[Feature][Spark] Suggest support spark 3.1.2 in seatunnel"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Suggest support spark 3.1.2 in seatunnel.

### Usage Scenario

_No response_

### Related issues

#1542

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### C

[2022-03-24 02:30] SbloodyS commented on #1542
Thanks. I've create a feature request link to this issue.

[2022-03-24 02:30] #1542 closed, assigned to nobody

[2022-03-24 04:33] #1529 closed, assigned to nobody

[2022-03-24 05:41] yx91490 commented on #1535
It seems that `seatunnel-core-flink-2.0.5-SNAPSHOT-shaded.jar` shouldn't appear in `lib` directory, how do you package? in `dev` branch, no this problem.

[2022-03-24 06:04] CalvinKirs opened #1549 "[OnlineMeeting]SeaTunnel community meeting Topic collection"
We will hold an online community meeting on 2022/03/16 20:00-20:30 (GMT+08:00),
Welcome everyone to leave a message in the issue to discuss the content
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Meeting
Meeting Time: 2022/03/29 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://me

[2022-03-24 06:04] CalvinKirs commented on #1549
Welcome everyone to leave a message in the issue to discuss the content

[2022-03-24 08:23] #1482 closed, assigned to nobody

[2022-03-24 08:46] zhongjiajie opened #1550 "[Feature][doc] Make doc can be build locally"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

for now, I could not build or start the doc locally, it just copy all resources in path `${home}/work/incubator-seatunnel-website` but not my local repository.
I thinks we should make it

[2022-03-24 08:47] zhongjiajie commented on #1550
I am not sure about that, or maybe just a misoperation of me to lead this happen

[2022-03-24 09:01] JesseAtSZ commented on #1549
[Feature][CDC] Support Flink CDC https://github.com/apache/incubator-seatunnel/issues/1461

[2022-03-24 09:46] hzwcome opened #1551 "[Bug] [Module Name] Hive to ClickHouse Error : java.lang.String cannot be cast to java.sql.Timestamp"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I use seatunnel2.1.0  transfer  Hive  table to ClickHouse  table,It was an error
But when I use seatunnel1.5.7,it worked!

Hive table：

[code]

Insert data：

[code]

ClickHouse Table:

[code]

### S

[2022-03-24 09:47] #1382 closed, assigned to nobody

[2022-03-24 10:39] Hisoka-X commented on #875
This method can‘t come true, because spark api have change between 2.x and 3.x. We can‘t maintain two version api in one project

[2022-03-24 10:41] Hisoka-X commented on #875
How is it going? @ashmeet-kandhari If you don't have enough time, I will do this recently.

[2022-03-24 11:06] #1543 closed, assigned to nobody

[2022-03-24 11:19] #1441 closed, assigned to nobody

[2022-03-24 12:27] CalvinKirs opened #1552 "[Feature]Support JDK 11 compiling"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Hi all @apache/seatunnel-committers

According to the OpenJDK website(https://adoptopenjdk.net/support.html), there are 3 TLS versions for now

Java 8 (LTS). At Least May 2026
Java 11 (LT

[2022-03-24 12:43] CalvinKirs commented on #1548
let we discuss on #875

[2022-03-24 12:43] #1548 closed, assigned to nobody

[2022-03-24 12:48] CalvinKirs commented on #1551
@BenJFan , HI, can you take a look?

[2022-03-24 12:51] Hisoka-X commented on #1551
fix at #1503

[2022-03-24 12:53] Hisoka-X commented on #1551
Try "select prod_sn,Date(substring(create_time,1,19)) as create_time from default.prod_info" at current version

[2022-03-24 12:57] CalvinKirs commented on #1533
You should specify the `format` parameter, the documentation has errata, can you submit a PR to fix it?

[2022-03-24 12:59] CalvinKirs commented on #1551
thanks a lot

[2022-03-24 12:59] #1551 closed, assigned to nobody

[2022-03-24 13:00] CalvinKirs commented on #1533
Or you can submit pr to set default parameters

[2022-03-24 13:57] wuchunfu opened #1553 "[Feature][file] Add spark connector fileStream support"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add spark connector fileStream support

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-03-24 15:34] asdf2014 opened #1554 "[Bug] [core] There is a resource leak in unGzip"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/8108788/159952713-6dd5146c-03d3-48b1-bb12-83e11963c6c8.png)

### SeaTunnel Version

The latest version (2.1.0)

### SeaTunnel Config

[code]

### Runnin

[2022-03-24 15:53] #1554 closed, assigned to nobody

[2022-03-25 01:02] zhongjiajie commented on #1552
Great! I think we should compile java 11 and thanks Calvin bring this up

[2022-03-25 02:09] Hisoka-X opened #1557 "[Feature][Core] Connector support multi language coding"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

## Target
In order to realize the rapid development of plug-ins, the convenience and speed of developing plug-ins are increased. Supports the multilingualization of plug-ins, so that plug

[2022-03-25 02:10] Hisoka-X commented on #1549
#1557

[2022-03-25 03:23] CalvinKirs commented on #1557
If you just use his SDK (GraalVM SDK) then there is no problem.

also, IMO, we still need to maintain at least jdk8 support. If everyone supports this function, we can launch a separate version to do it.

[2022-03-25 03:36] ruanwenjun commented on #1552
I tested in jdk11, it failed with `scala-maven-plugin` execute failed, this may be related to scala version.

After upgrade scala version to 2.11.12 and add `scala-library`, then build success.
[code]

And do we need to add a `seatunnel-scala` module to put the scala lib, now I put the scala lib in `seatunnel-config-shade` module, since this module will be dependenced by all other module.

[2022-03-25 03:45] fpystart commented on #1535
![image](https://user-images.githubusercontent.com/102137792/160049993-b59165d3-fa74-46be-b993-e402dda78f20.png)

I packed it in the dev branch，and seatunnel-core-flink-2.0.5-SNAPSHOT-shaded.jar is in lib directory

[2022-03-25 03:55] ruanwenjun commented on #1537
@xuchangqun You can add your yarn config after `start-seatunnel-flink.sh `.
e.g.
[code]
`start-seatunnel-flink.sh` will add your params to submit flink job.

[2022-03-25 04:22] kezhenxu94 commented on #1557
By "multi language coding", I suppose you are saying users can write the plugins in different languages, but the ways you listed include only one additional language, GraalVM for Python (I know GraalVM can support other languages too), Jython also for Python, Nashorn for javascript. Can we have a more general way to support not only Python OR JavaScript?

[2022-03-25 05:10] Hisoka-X commented on #1557
GraalVM can support multi language, this is a demo to show what should we do when we need support multi language. But in my opinon, Python and Javascript are first choose to support multi language. General way to support multi language is Graal VM at now

[2022-03-25 05:52] William-GuoWei commented on #1557
The multi-language idea is great!
But the suggestion should be more careful about the license issues:
Nashorn: It is a part of Java SE 8  https://download.oracle.com/otndocs/jcp/java_se-18-final-spec/license.html
As far as I know, the Oracle Java SE license is not compatible with Apache (https://www.oracle.com/downloads/licenses/javase-license1.html), so I think it is not a good idea to involve th

[2022-03-25 05:59] William-GuoWei commented on #1557
So I just thought what if we design a 'data format' for SeaTunnel e.g. implemented by Apache Arrow. And Contributors can use their own language to develop their Source and Sink(such as Go, Rust, C...). As far as their output follows the 'data format', SeaTunnel could sync the data to everywhere.

[2022-03-25 06:01] William-GuoWei commented on #1557
I think it is not a VM thing to support multi-language. It seems a easy way now, but it will be very hard in the end.

[2022-03-25 06:09] Hisoka-X commented on #1557
This method will be multi process, but we run program in Spark/Flink cluster at now, how do we manage other language process?

[2022-03-25 06:24] ashmeet-kandhari commented on #875
Hi @BenJFan,

I missed the updates recently.
Yes, please can you look into it, as am currently pre-occupied.

Thanks for offering :)

[2022-03-25 06:26] Hisoka-X commented on #875
@CalvinKirs Please assgin me

[2022-03-25 06:28] ITzhangqiang commented on #1326
@CalvinKirs
Hi，I tested the components related Elasticsearch
SPARK：Elasticsearch-source and Elasticsearch-sink doesn't support ES 7.x version
FLINK： Elasticsearch-sink doesn't support ES 7.x version
Does the community plan to support multiple versions? Maybe I can give it a try

[2022-03-25 06:39] hzwcome commented on #1551
This is not what I want.
For exampl,If I want ‘2022-01-18 09:15:02’ to ClickHouse,This method only works '2022-01-18'.
I want the full time, not just the date.
When I use seatunnel1.5.7,it  is automatic convert Hive String type '2022-01-18 09:15:02' to ClickHouse DateTime type.This is what I want.
What should I do? @CalvinKirs @BenJFan

[2022-03-25 06:41] Hisoka-X commented on #1551
Sorry about that. Please try DateTime. Like select prod_sn,DateTime(substring(create_time,1,19)) as create_time from default.prod_info

[2022-03-25 06:44] hzwcome commented on #1551
Hive is not support DateTime function.

[2022-03-25 06:57] Hisoka-X commented on #1551
how about this :select prod_sn,cast(unix_timestamp(substring(create_time,1,19)) as timestamp) as create_time from default.prod_info

[2022-03-25 07:36] hzwcome commented on #1551
It doesn't work,But you inspired me,My way:
[code]

It takes effect！Thanks a lot for your participating :+1:

[2022-03-25 07:39] Hisoka-X commented on #1551
Glad to help you

[2022-03-25 08:58] ruanwenjun opened #1564 "[Feature][Script] Support stop flink/spark job by seatunnel script"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now we use `start-seatunnel-flink.sh` or `start-seatunnel-spark.sh` to start a seatunnel job. But we have no way to stop a seatunnel job. We can only stop the seatunnel job by flink/spark

[2022-03-25 09:23] bestcx commented on #1533
I will submit fix a PR to fix the documentation

[2022-03-25 10:22] #1550 closed, assigned to nobody

[2022-03-25 10:30] selectbook commented on #1326
@CalvinKirs  Hello, I would like to pick up the plugins of Spark-Neo4J

[2022-03-25 10:43] Hisoka-X opened #1566 "[Feature][Connector] Change data stream from echo command to file stream"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

At now, ClickhouFile connector use echo command send data to clickhouse-local program. This will throw error when data is large. Need use local file store temporary data.

### Usage Scena

[2022-03-25 10:56] Hisoka-X commented on #1471
Any progress? If you don't have enough time, I will do this.

[2022-03-25 11:00] CalvinKirs commented on #844
cloused

[2022-03-25 11:00] #844 closed

[2022-03-25 11:29] ruanwenjun opened #1568 "[Feature][connectors] Split the connectors module with source and sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Right now, we put the source and sink plugin in a same connector module.

There may hard to find out how many source and sink plugin are already supported from the code. Since may exist s

[2022-03-25 11:32] ruanwenjun commented on #1568
@BenJFan @wuchunfu @CalvinKirs @dongzl  What do you think, welcome to discuss.

[2022-03-25 12:41] Hisoka-X commented on #1568
Maybe we can use some maven plugin to figure out which ones source/sink do we support？

[2022-03-25 14:56] ruanwenjun commented on #1568
This is a way, but can we just get the plugin types from the module name rather than execute the maven command? Do you have any concern about splitting the source and sink into different module?

[2022-03-25 15:09] ruanwenjun opened #1569 "[Feature][Connector] Support pulsar source and sink plugin"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[Pulsar](https://pulsar.apache.org/en/) is a streaming platform like kafka, support pulsar plugin make user can use seatunnel to transform data between pulsar and other system.

### Usage

[2022-03-25 15:35] Hisoka-X commented on #1568
In my opinion, split source and sink only can help developer know how many source and sink we have quickly, doesn't have other advantage. The maven plugin also can do that

[2022-03-25 16:08] wuchunfu commented on #1568
I don't think it's necessary to do this if it's just to better see what source and sink plugins are available. What I worry about is whether it will affect the build time and increase the package size if you split too many modules.

[2022-03-26 00:52] ruanwenjun commented on #1568
Yes, it may increase the build time.

[2022-03-26 00:54] ruanwenjun commented on #1568
Thanks for join this discussion and give the opinion, right now this change is not necessary indeed.
I close this issue.

[2022-03-26 00:55] #1568 closed, assigned to nobody

[2022-03-26 01:54] simon824 opened #1573 "[Feature] Introduce seatunnel-backend module"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

This issue want to discuss do we need a `seatunnel-backend` module  that supports remote submission of tasks , currently we having to execute the submit command on the server side.

And w

[2022-03-26 12:05] ruanwenjun commented on #1573
Good idea to me, I hope we can provide `seatunnel-backend` module or a `seatunnel-cli` client, that can help user to manage the `seatunnel` jobs like submit job/ stop job or some other operation, user don't need to extra use  flink/spark client to do this work.

And furthermore, if the added module can provide the plugin information is better. Such as how many kinds of plugins have been packaged i

[2022-03-26 14:49] wuchunfu opened #1581 "[Bug] [core] Arbitrary file write during archive extraction ("Zip Slip")"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Extracting files from a malicious zip archive (or another archive format) without validating that the destination file path is within the destination directory can cause files outside the

[2022-03-26 15:28] #1581 closed, assigned to nobody

[2022-03-27 02:12] ruanwenjun opened #1584 "[Feature][sql] Move seatunnel-core-sql to seatunnel-core-flink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We have `seatunnel-core-flink`, `seatunnel-core-spark`, `seatunnel-core-sql` modules in core module.
This sometimes make confusion, since right now `seatunnel-core-sql` is just support fl

[2022-03-27 12:14] Hisoka-X commented on #1584
Why not rename seatunnel-core-sql to seatunnel-sql-flink？So If we support spark sql, we can use name seatunnel-sql-spark.

[2022-03-27 12:30] ruanwenjun commented on #1584
Thanks for your advice, but I think it might be better to remove the current `sql` module? Since `sql` is just a sub-task type like `streaming`, `batch`, `structuredstreaming`.

[2022-03-28 02:07] Hisoka-X commented on #1584
It seem like fine

[2022-03-28 02:08] #1399 closed, assigned to nobody

[2022-03-28 03:04] ruanwenjun commented on #1569
Closed by duplicated with another issue.

[2022-03-28 03:04] #1569 closed, assigned to nobody

[2022-03-28 03:25] ruanwenjun commented on #1557
This is very cool and might be useful. But something need to handle based on our currently architecture.

If we hope to use our core engine to directly load user's plugin(written by Python or Go or others), we need to confirm the dependencies in our plugins are also having the related language version.

I guess can we write a generated module to transform user's code to Java, then we can control t

[2022-03-28 03:59] ruanwenjun opened #1591 "[Feature][core] Optimize the plugin load"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Right now, we use the naming rule to load the plugin and do some config check.
For example, all plugin need to be put at package `org.apache.seatunnel.{engine}.{source/transform/sink}` an

[2022-03-28 04:43] #1552 closed, assigned to nobody

[2022-03-28 08:05] tobezhou33 opened #1593 "[Bug] [connector-flink-kafka] table.insertInto has been Deprecated after flink version 1.11 and it not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when i test kafka to kafka task.i fount no output。
![image](https://user-images.githubusercontent.com/32997128/160352328-75119034-cc99-4d42-926c-ac2f2cdf0c9e.png)
![image](https://user-images.githubuserc

[2022-03-28 08:08] #1535 closed, assigned to nobody

[2022-03-28 08:17] fpystart commented on #1535
I solved this problem, thanks!

[2022-03-28 08:24] liujinhui1994 opened #1595 "[Bug] [connector-spark-console] NoSuchMethodError org.apache.seatunnel.spark.Config"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

An exception occurred when using LocalSparkExample to verify the seatunnel function

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

##

[2022-03-28 08:57] liujinhui1994 commented on #1595
https://github.com/apache/incubator-seatunnel/pull/1592   It will be resolved here, so close

[2022-03-28 08:58] #1595 closed, assigned to nobody

[2022-03-28 09:36] fpystart opened #1597 "[Bug] [Module Naorg.apache.flink.client.program.ProgramInvocationException: The main method caused an error: Execute Flink task errorme] Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

i run `./bin/start-seatunnel-flink.sh`  ,sink to elasticsearch
my es version is 7.13.3, i change dependency flink-connector-elasticsearch6_${scala.binary.version} to flink-connector-elasticsearch7_${scal

[2022-03-28 10:31] Hisoka-X commented on #1593
Fix at #1598

[2022-03-28 10:37] tobezhou33 commented on #1593
i see the change.  i also have a try to use executeInsert(String). but i find it would submit 2 job.  one name is 'seatunenl' and the other is name insert-into_XXXXX.

[2022-03-28 10:39] tobezhou33 commented on #1593
and it depend on the planner type which i use. if i use old planner,i would send two msg to sink kafka, and use blink it would send one corrent msg.

[2022-03-28 10:46] Hisoka-X commented on #1593
It seem like data consistency problem, please create a new issue with detail infomation

[2022-03-28 10:47] #1593 closed, assigned to nobody

[2022-03-28 10:48] tobezhou33 commented on #1593
can i have your wechat?

[2022-03-28 11:14] 2416210017 opened #1599 "seatunnel oracle to hive error?"
Hi, I'm a novice. I'm trying Oracle JDBC to hive, and I encounter an error. Is there a problem with my configuration?Can someone help take a look?

`spark 2.4.8`
`SEATUNNEL-1.5.7.5`

![image](https://user-images.githubusercontent.com/52597892/160386124-80c26b54-ccad-4d7e-a947-4749d8f7d1eb.png)
![image](https://user-images.githubusercontent.com/52597892/160386214-a592c08a-46fd-4fc7-a02b-a4f1ed53063

[2022-03-28 11:18] 2416210017 commented on #1599
According to the introduction of the official website of seatunnel, I have no problem from Mysql to hive, but Oracle error. Is there an example of Oracle to hive? thank you?

[2022-03-28 13:58] ooeeerrtt opened #1601 "[Bug] [org.apache.seatunnel.config.ConfigBuilder] many wrong 'import' in the source code"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

There are many wrong 'import' in the source code.
For example in 'org.apache.seatunnel.config.ConfigBuilder'
    import org.apache.seatunnel.shade.com.typesafe.config.Config;
Thr right is
    import com.

[2022-03-28 15:37] kalencaya commented on #1601
Run `mvn clean package -DskipTests -Dfast` firstly before imporing seatunnel into IDE.

After success, then you can search more issues about `Config` dependency with interest.

[2022-03-28 23:18] #1591 closed, assigned to nobody

[2022-03-29 01:51] simon824 commented on #1573
Thank you for your feedback, I will design the initial version. Also I want to discuss which framework should we choose for providing HTTP services, Jetty or Spring Boot or others, WDYT? @CalvinKirs @wuchunfu @ruanwenjun

[2022-03-29 01:53] simon824 commented on #1573
Jetty +1
IMO, jetty is light and springboot is heavy, backend module is more about forwarding work and state acquisition.

[2022-03-29 02:10] #1601 closed, assigned to nobody

[2022-03-29 02:23] #1218 closed, assigned to nobody

[2022-03-29 03:11] zhongjiajie opened #1604 "[Feature][doc] Add committers to team page"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Currently, I find out we do not have committers in our [team page](https://seatunnel.apache.org/team). As an important part of both community and team, I think we should add them to our t

[2022-03-29 03:13] Hisoka-X opened #1605 "[Feature][Connector] Add Clickhouse sink split mode exactly once support"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add Clickhouse sink split mode exactly once support

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to s

[2022-03-29 07:56] ashulin opened #1608 "[STIP-1] [Umbrella][Feature][Core] Decoupling connectors from compute engines"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In the current implementation of SeaTunnel, the connector is coupled with the computing engine.
so implementing a connector requires implementing the interface of each computing engine.

[2022-03-29 09:39] #1584 closed, assigned to nobody

[2022-03-29 11:21] AdkinsHan commented on #1480
do you have a plan

[2022-03-29 13:33] #1456 closed, assigned to nobody

[2022-03-29 14:06] bigdataf commented on #1557
Multilingual is very cool, but it is also very complicated. I think there are a limited number of souce or sink plugins, moreover, frequent changes are not required. Generally, production applications do not need so much. For the changeable characteristics of transform, there are many more for transform. Language support and function support are the more meaningful directions for multi-language

[2022-03-30 00:22] kone-net opened #1614 "[Bug] [seatunnel-examples] LocalSparkExample don't set deployMode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I run LocalSparkExample in our local, and got NullPointerException issue.

The reason is that LocalSparkExample is not set deploy mode.

I checked the reversion code and found the default deployMode

[2022-03-30 03:22] wuchunfu commented on #1604
@zhongjiajie I have done this work, https://github.com/apache/incubator-seatunnel-website/pull/100

[2022-03-30 03:32] wuchunfu commented on #1533
fixed #1590

[2022-03-30 03:33] #1533 closed, assigned to nobody

[2022-03-30 04:02] zhongjiajie opened #1619 "[Feature][docs] Add announcement page in our website to new release and new committer/PMC"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

hey guys, I think we should add a new page about SeaTunnel's announcement which could announce for new released or new committer and PMC. Or maybe meetup could also include there but I am

[2022-03-30 04:03] zhongjiajie commented on #1619
ping @CalvinKirs @wuchunfu WDYT?

[2022-03-30 06:40] zhongjiajie opened #1622 "[Feature][doc] Add how docker quick start"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Up to now, our docker quick starts is still `WIP` which you can see in https://seatunnel.apache.org/docs/start/docker. We should better add some content about our docker quick start. If y

[2022-03-30 07:05] BenJFan commented on #1614
Seem like you already fix it, please create an PR.

[2022-03-30 07:16] zhongjiajie opened #1623 "[Bug][doc] Button `Edit this page` in our website do not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When users click the bottom left `Edit this page` on our document page, such as https://seatunnel.apache.org/docs/start/local, it will jump to website link https://github.com/apache/incubator-seatunnel-w

[2022-03-30 07:18] zhongjiajie commented on #1623
maybe this issue is broke by #1437 which we have to support google translate plugin in our document

[2022-03-30 07:46] #1566 closed, assigned to nobody

[2022-03-30 08:01] better629 opened #1625 "[Usage] kafka to hive"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Have any one have load data from kakfa to hive successed？
Can u share a example?

Seatunnel 2.1.0（compiled）
Hive 2.5.7
Spark 2.4.0
Hadoop 2.8.0

Although I can load data from kafka to hiv

[2022-03-30 08:12] chenhu opened #1626 "The doc of spark and flink version is not correct"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Seatunnel 2.10 not support Spark3.x， the doc of [Quick start] about the spark version should not be "Spark version >= 2.x.x" ,  should be Spark version >= 2.x.x and < 3.x or spark3.x is not supported cur

[2022-03-30 09:16] Hisoka-X commented on #1625
Do you add other dependency? This error seem like dependency conflict. Also please provide your config.

[2022-03-30 11:13] CalvinKirs commented on #1626
For now, we need to provide the dependency corresponding version notes.thanks for your contribution:)

[2022-03-30 11:16] CalvinKirs commented on #1619
that's good. But usually, it's up to the new committer to add it, of course, community contributors are welcome to add it.

[2022-03-30 11:16] CalvinKirs commented on #1614
closed by #1615

[2022-03-30 11:16] #1614 closed, assigned to nobody

[2022-03-30 13:38] AdkinsHan opened #1628 "[Bug] [Module Name] Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Until now I still haven't trans data from mysql to hive;
then i tried  mysql to hdfs，Although the process is complex, it is effective；
but i have to refresh table command ;
the  question: when I import u

[2022-03-31 02:47] 2416210017 commented on #1599
Oh, my God, it has been solved. Here is an example for those who need it later !

spark {
    spark.app.name = "seatunnel_oracle"
    spark.default.parallelism = 4
    spark.executor.instances = 5
    spark.executor.cores = 4
    spark.executor.memory = "5g"
    spark.sql.catalogImplementation = "hive"
}

input {
jdbc {
    driver = "oracle.jdbc.driver.OracleDriver"
    url = "jdbc:oracle:thin:@//

[2022-03-31 02:47] #1599 closed, assigned to nobody

[2022-03-31 05:18] Hisoka-X commented on #1628
Please provide your config, and execption message

[2022-03-31 06:39] Hisoka-X commented on #1597
I will update elasticsearch connector version to fix it.

[2022-03-31 07:05] zhongjiajie commented on #1619
So we would like to and a new page or not?

[2022-03-31 07:09] zhongjiajie commented on #1604
Thanks @wuchunfu , a little tips here, next time you could use keyword `fix: #1604` or `close: #1604` in repo apache/incubator-seatunnel, and `fix: apache/incubator-seatunnel#1604` or `close: apache/incubator-seatunnel#1604` in repo apache/incubator-seatunnel-website in your PR. After you added it, the related issue will auto close when PR is merged.
It will save some time to maintain the issue

[2022-03-31 07:09] #1604 closed, assigned to nobody

[2022-03-31 07:23] zhongjiajie opened #1630 "[Feature][doc] Change the link from index page to document"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In https://github.com/apache/incubator-seatunnel-website/pull/101#discussion_r839259922 we change our document order. But we have to change it to `category/start` when we release version

[2022-03-31 07:23] zhongjiajie commented on #1630
I add a new milestone 2.1.1 here

[2022-03-31 09:26] ruanwenjun opened #1632 "[Feature][Flink] Rewrite start-seatunnel-flink script with starter"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

After #1486 has been merged, we make the start-spark-flink script simple.
It's time to make the flink script simple.

I plan to use a FlinkStart to rewrite the start-seatunnel-flink.sh, t

[2022-03-31 11:52] xuchangqun commented on #1537
@ruanwenjun Thanks , i will try.

[2022-03-31 11:52] #1537 closed, assigned to nobody

[2022-03-31 13:23] yx91490 commented on #1161
since https://github.com/apache/incubator-seatunnel/pull/1486 was merged, you can retry this way on latest dev branch.

[2022-03-31 15:05] kone-net opened #1637 "[Improve] [core-base] The function getDeployMode in class SparkCommandArgs should add @Override"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The function getDeployMode in class SparkCommandArgs should add @Override.

This not cause error, but add it will reduce unnecessary mistake.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

##

[2022-03-31 16:41] Rianico opened #1639 "[Feature][connector] Upgrade the version of kudu from 1.7 to 1.12 and add units test for kudu"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

According to the [email](https://lists.apache.org/thread/gmlqqyw920o8xbvz38q5nton3kfhb278) , I want to upgrade the version of  kudu from 1.7 to 1.12 and add units test for kudu by using k

[2022-04-01 01:25] kone-net commented on #1637
Closed #1638

[2022-04-01 01:26] #1637 closed, assigned to nobody

[2022-04-01 04:28] sudj-ll opened #1640 "[Feature][connector] access kerberos-authenticated Elasticsearch"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

So I suggest that both elasticsearch-source and elasticsearch-sink can support kerberos authentication.

### Usage Scenario

I need to migrate data from one Elasticsearch cluster to anoth

[2022-04-01 05:58] ruanwenjun commented on #1573
If we don't need to integrate with other framework, using Jetty is good to me.
If we still need to do some database operation, I think use SpringBoot is a better choose.

[2022-04-01 09:11] ashulin opened #1641 "[Feature][Connector] Support Flink Kudu Sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I found that SeaTunnel currently don't have kudu connector in the Flink engine, I want to contribute sink first.

### Usage Scenario

_No response_

### Related issues

_No response_

###

[2022-04-01 09:18] lvshaokang commented on #1326
@CalvinKirs Hello, I will like to test the email plugin sink

[2022-04-01 09:21] CalvinKirs commented on #1326
Hi,#1631 is doing this.

[2022-04-01 11:11] #1597 closed, assigned to nobody

[2022-04-01 16:22] lvshaokang commented on #1326
@CalvinKirs
I tested the email sink，i found some enhancement points，like enable ssl/tsl option、support ArrayType data etc. I will submit a pr later.

[2022-04-02 02:00] CalvinKirs commented on #1326
well.that's good 🤣

[2022-04-02 02:48] ashulin commented on #1270
For generality, I think the following points need to be considered:
1. How to get HTTP API permissions, SSL or Token?
2. How to get new data? Need to update timestamps or flip pages, or nothing at all.
3. How to process data (Json)? Similar to Kafka Json deserialization, the format of each user may be inconsistent.

[2022-04-02 06:29] chenhu opened #1649 "[Bug] Errors running on spark3.1.3 with kerberos"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I run the seatunnel  example  on Spark3.1.3 with kerberos ,   errors happened.
notes:
1. I have kinit with the principal successes
2. Running the example with tuple difference master , one is yarn a

[2022-04-02 06:31] chenhu commented on #1649
the exception with master yarn :

[omm@CDJJ-CN01 seatunnel]$ source /home/omm/clients/spark2x/bigdata_env
[omm@CDJJ-CN01 seatunnel]$ kinit -kt /home/omm/clients/keytabs/les_task_user/user.keytab les_task_user@HADOOP.COM
[omm@CDJJ-CN01 seatunnel]$ ./bin/start-seatunnel-spark.sh --master yarn --deploy-mode client --config config/spark.batch.conf.template
[INFO] spark conf: --conf "spark.app.name=Sea

[2022-04-02 06:54] CalvinKirs commented on #1649
hi, we don't support Spark3 for now, the discussion about Spark3 is here #875

[2022-04-02 07:10] cswangzheng commented on #1461
Hi, we have similar question for this. If seatunnel support flink cdc, there should be a  flink cdc source plugin, is it in the plan of the roadmap?

[2022-04-02 07:19] ruanwenjun opened #1650 "[Bug] [Spark] Remove load plugins in SparkStarter"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Since in the latest version of seatunnel, we deleted the plugin module.
So we don't need to add plugin'jar into `--jars`.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[

[2022-04-02 07:35] #1626 closed, assigned to nobody

[2022-04-02 07:41] ruanwenjun commented on #1650
Closed, maybe we cannot delete the plugins directory, this directory may store some schema file.

[2022-04-02 08:33] #1650 closed, assigned to nobody

[2022-04-02 13:14] kone-net opened #1652 "[Feature][connector] Get data from Feishu sheet"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Get data from Feishu sheet.

The Feishu open platform documentation is: https://open.feishu.cn/document/ukTMukTMukTM/ugTMzUjL4EzM14COxMTN

### Usage Scenario

_No response_

### Related i

[2022-04-02 15:25] asdf2014 opened #1654 "[Bug] [core] Resource leak again.."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/8108788/161389930-15a4a261-7ffe-49ba-a1d0-6c95d842bfcb.png)

### SeaTunnel Version

The latest version (2.1.0)

### SeaTunnel Config

[code]

### Runnin

[2022-04-02 15:38] ruanwenjun commented on #1654
Yes, we need to close the `DirectoryStream`.

[2022-04-02 16:28] #1654 closed, assigned to nobody

[2022-04-04 02:16] #1632 closed, assigned to nobody

[2022-04-04 09:44] better629 commented on #1625
no other dependency, and the config is
[code]

[2022-04-06 03:51] ruanwenjun commented on #1625
@better629 Can you read write data into hive success with your spark environment? It seems this caused by your spark job has not loaded the jar `libfb303-0.9.3.jar`, and this jar should in your ${spark_home}/jars

[2022-04-06 04:41] ruanwenjun commented on #1639
@Rianico As we discussed in mail thread, we can just upgrade the kudu version and use other way to control the UT.

[2022-04-06 05:27] Coder-Gorson opened #1659 "[Bug][help wanted][Source][JdbcSource] Flink JdbcSource getRowTypeInfo() throws NullPointerException"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

JdbcSource method throws NullPointerException when I run seatunnel demo .
Is this a bug? or I run with an error config.

### SeaTunnel Version

seatunnel-2.1.0

### SeaTunnel Config

[code]

### Running

[2022-04-06 06:40] Hisoka-X commented on #1659
Does column name is uppercase? But query command is lowercase

[2022-04-06 07:47] liujinhui1994 opened #1660 "[Feature][SPARK] Upgrade spark version to 2.4.4"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The current spark version is using 2.4.0.
For example:：I found some scenes of hudi to be unusable.
After an upgrade, the impact on other components may need to be assessed

### Usage Scen

[2022-04-06 09:44] CalvinKirs opened #1661 "[OnlineMeeting&4.12]SeaTunnel community meeting Topic collection"
We will hold an online community meeting on  2022/04/12 20:00-20:30 (GMT+08:00),
Welcome everyone to leave a message in the issue to discuss the content
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Meeting
Meeting Time: 2022/04/12 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://m

[2022-04-06 09:59] ruanwenjun opened #1662 "[Bug] [core] Cannot load plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

This bug is introduced by #1592.
Right now, we will use the plugin class name to judge the plugin which should be used.
This will cause problem, since our plugin name is different with the class name.

#

[2022-04-06 11:01] #1549 closed, assigned to nobody

[2022-04-06 15:18] chenhu commented on #1661
- The APIs of metrics

[2022-04-06 15:20] chenhu commented on #1661
- Should we add the persist feature for spark transform plugins ?

[2022-04-07 02:09] ashulin commented on #1661
#1608

[2022-04-07 03:20] Coder-Gorson commented on #1659
Yes,you are right. Thanks.

[2022-04-07 03:20] #1659 closed, assigned to nobody

[2022-04-07 03:34] Hisoka-X opened #1669 "[Feature][Connector] Split connector jar from release core jar"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now all the connector jar in the binary distribution package of Seatunnel are packaged into one jar file: core . This makes it impossible for us to implement multi-version support for the

[2022-04-07 03:36] Hisoka-X commented on #1669
Also we can use program to check user's config need which connectors, then only load the connectors user must use.

[2022-04-07 05:22] ruanwenjun opened #1670 "[Bug] [UT] CompleteTest#testVariables failed due to system property not set"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

We have an UT case failed in related PR.
[code]
This is caused when we execute `ConfigFactory.systemProperties()` cannot get the property `dt`, `city2`.
I find the method `ConfigFactory.systemProperties(

[2022-04-07 05:46] Hisoka-X commented on #1669
There have one problem, seem like flink cli submit job accpted only one jar once time. Have any solution?

[2022-04-07 06:01] #1670 closed, assigned to nobody

[2022-04-07 06:46] #1662 closed, assigned to nobody

[2022-04-07 07:56] Hisoka-X commented on #1661
#1669

[2022-04-07 11:21] CalvinKirs commented on #1661
Hi, did you look this #1578, Do you have any questions about this design?

[2022-04-07 11:23] CalvinKirs commented on #1660
We have been planning to do multi-version support. I am not sure whether the current version of Spark is compatible with 2.4.4 Can you investigate this?

[2022-04-07 14:42] ruanwenjun commented on #1669
It seems flink just accept a shadow jar. Can we merge the multiple jars into a shadow jar by code when we need to submit a seatunnel job?

[2022-04-07 20:10] realdengziqi opened #1673 "[Bug] [connetor] When outputting data to doris, a ClassCastException was encountered."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When outputting data to doris, a ClassCastException was encountered. batch is an ArrayList, it cannot be cast to CharSequence type. So I solved it with the toArray method and will submit a PR later.

###

[2022-04-08 02:02] #1652 closed, assigned to nobody

[2022-04-08 02:16] Hisoka-X commented on #1669
This is a solution, but maybe cost more time, we can consider about this

[2022-04-08 02:20] yx91490 commented on #1669
currently the deployment directory `plugins` was designed to put connectors's related dependencies, we'd better keep this rule for compatibility.

[2022-04-08 02:22] Hisoka-X commented on #1669
Ok, change connectors directory to plugins directory.

[2022-04-08 02:40] #1673 closed, assigned to nobody

[2022-04-08 07:37] ruanwenjun commented on #1669
I investigate a way that don't need to merge the jar with Flink engine, we can rewrite `CliFrontend` to submit our dependencies. But this way is hack, and we may need to maintain the different version of `CliFronted`.

[2022-04-08 08:07] Hisoka-X commented on #1669
This method can work on cluster mode？

[2022-04-08 08:31] ruanwenjun commented on #1669
I don't test, but it should work, `CliFrontend` will submit the jar to `JobManager`.

[2022-04-08 09:01] arenaswan opened #1676 "[Bug] [HDFS] java.lang.IllegalAccessError"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I use the version 1.5.7 of seatunnel,it worked perfect. But when I upgrade it to 2.1.0, it report an error.

### SeaTunnel Version

2.1.0

### SeaTunnel Config

[code]

### Running Command

[code]

[2022-04-08 09:06] bigdataf commented on #1669
Can flink load additional jars through the -C parameter?

[2022-04-08 09:17] ruanwenjun commented on #1669
Maybe we can, I will test this, thanks.

[2022-04-08 09:19] Hisoka-X commented on #1669
-C,--classpath <url>                 Adds a URL to each user code
                                          classloader  on all nodes in the
                                          cluster. The paths must specify a
                                          protocol (e.g. file://) and be
                                          accessible on all nodes (e.g. by means

[2022-04-08 09:23] ruanwenjun commented on #1669
Yes.

[2022-04-08 09:23] ruanwenjun commented on #1669
Yes

[2022-04-08 09:39] ruanwenjun commented on #1676
It seems this is caused by the hadoop version mismatch, I find an answer at https://stackoverflow.com/questions/62880009/error-through-remote-spark-job-java-lang-illegalaccesserror-class-org-apache-h

[2022-04-10 04:13] chenhu commented on #1661
I have browsed through the code and have a general understanding. There is no problem. However, I suggest that there be a general document to explain what indicators are available, how to use them, and so on

[2022-04-10 09:09] yx91490 commented on #1669
the previous structure is like this:
[code]

it doesn't distinguish engines,maybe different with your design.

[2022-04-10 16:11] ruanwenjun opened #1680 "[Feature][e2e] Add spark e2e module"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In #1536, we introduce Flink e2e module into seatunnel, it's needed to introduce spark e2e module. This can help to make our
ci/cd more reliable.

### Usage Scenario

_No response_

### R

[2022-04-11 02:16] Hisoka-X commented on #1669
Thanks, seem like plugins directory used for store some plugin configuration files. https://github.com/apache/incubator-seatunnel/pull/1651

[2022-04-11 08:11] #1649 closed, assigned to nobody

[2022-04-11 08:13] #1680 closed, assigned to nobody

[2022-04-11 14:07] tmljob opened #1683 "[Bug] [seatunnel-common]the execution of the CommonTest case fails because of the path name problem."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

 Under the Windows system, the execution of the CommonTest case fails because of the path name problem.

### SeaTunnel Version

latest dev branch

### SeaTunnel Config

[code]

### Running Command

[code

[2022-04-12 02:22] tmljob commented on #1661
#1512
1.x version upgrade plan and long-term planning

[2022-04-12 10:00] xleoken commented on #1661
cc @CalvinKirs plan to add a new feature about SeaTunnel Web Service.

![image](https://user-images.githubusercontent.com/95013770/162934694-753a704c-a447-4849-afc2-0d15d861821e.png)

![image](https://user-images.githubusercontent.com/95013770/162934754-e034780e-443d-4e5f-abc3-1c8447843d91.png)

[2022-04-12 10:22] ruanwenjun commented on #1063
@PiscesWang Hi, due to no response in a long time, I have submitted a #1688 to deal with this issue.

[2022-04-12 11:42] xuchangqun commented on #1661
this ui is familiar.

[2022-04-12 11:46] xuchangqun commented on #1661
hope to support : kafka -> hdfs and kafka -> iceberg (flink sink),
Do you have such a scene.

[2022-04-12 12:37] tmljob commented on #1669
For the problem of splitting plug-in packages under flink, please refer to the implementation of chunjun (flinkx).
![image](https://user-images.githubusercontent.com/69188034/162963770-a7bc6835-1f94-4c9e-b5fe-2d4baa7db57c.png)

[2022-04-12 13:40] kalencaya commented on #1669
surprised and glad to people have similar ideas with me.

I have been working for integrate flink and seatunnel with web admin and I'm willing to share my works for you:

* submit seatunnel job. flink cluster support Standalone、YARN、Native Kubernetes resource providers and Session、Application、Per-Job deployment mode, so it is a hard work for supporting all of them. Although flink provides cli、rest

[2022-04-12 13:41] kalencaya commented on #1669
Here is my flink Java client repository url: https://github.com/flowerfine/flinkful

[2022-04-12 14:10] better629 commented on #1625
@ruanwenjun  the jar exists, it's
`xxx]# find ./ -name "*fb303*"`
`./jars/libfb303-0.9.3.jar`

[2022-04-13 06:14] lvshaokang commented on #1326
@CalvinKirs
PTAL. https://github.com/apache/incubator-seatunnel/pull/1686

[2022-04-13 07:47] 812406210 opened #1691 "[Bug] [Module Name] java.lang.NoSuchMethodError: org.apache.spark.sql.UDFRegistration.register"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

 执行 ./bin/start-seatunnel-spark.sh \
--master local[4] \
--deploy-mode client \
--config ./config/spark.streaming.conf.template
出现的错误

### SeaTunnel Version

 apache-seatunnel-incubating-2.1.0

### SeaTu

[2022-04-13 08:45] #1691 closed, assigned to nobody

[2022-04-13 08:46] 812406210 commented on #1691
annotate  transform ，it work

[2022-04-13 11:56] ruanwenjun opened #1694 "[Feature][connector] Standardize plugin name"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Right now, there are some plugins have different name in different engine. e.g. Kafka source connector in Spark is `kafkaStream` and in Flink is `KafkaTableStream`, it's needed to standar

[2022-04-13 14:01] jj551 commented on #1622
assign to  me @zhongjiajie

[2022-04-13 14:08] wuchunfu opened #1696 "[Feature][CI] Support build on windows"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support build on windows

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Co

[2022-04-14 01:54] #1063 closed

[2022-04-14 06:26] zhongjiajie commented on #1622
I assigned it to you, looking  forward your contribution

[2022-04-14 11:12] Hisoka-X commented on #1669
Thanks guys advise. @kalencaya @tmljob . I had readed flinkx's code, it also use `PipelineOptions#JARS` option. I will learn how make this way work on SeaTunnel. Thanks again. By the way, @kalencaya is the jar will also upload to TaskManager?

[2022-04-15 00:22] kalencaya commented on #1669
Of course! Client just adds jars to `PipelineOptions#JARS` option then submits job, Flink handles them well between JobManager and TaskManager.

[2022-04-15 08:08] ashulin opened #1701 "[Feature][Core] SeaTunnel Source API"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

From the current Source API design of Flink & Spark and other data synchronization product such as Canal, Debezium & Flink CDC.
The following are the required features of Source:

- Suppo

[2022-04-15 10:06] Hisoka-X opened #1702 "[Bug] [Connector] Use Console sink will submit two job in flink cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When use console sink, and submit job to flink cluster, client will sumbit two job.
![image](https://user-images.githubusercontent.com/32387433/163558131-a6955c04-ead3-4ebe-a88e-1da5433d398e.png)

### Se

[2022-04-15 13:13] ashulin opened #1704 "[Feature][Core] SeaTunnel Sink API"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Summarize the write features of storage engines such as Kafka, MySQL, Hudi, and Iceberg.
The following are the required features of Sink:

- Idempotent write; (Native support, no code.)

[2022-04-16 02:17] ruanwenjun commented on #1702
Yes, I also find this, and this will happen in batch job.

[2022-04-16 03:06] ruanwenjun commented on #1702
@BenJFan I find this may be caused by we have added two `DataSink` in `ConsoleSink`? https://github.com/apache/incubator-seatunnel/blob/3a4ef4c60d8397fbf7ee7b16a06494072d3f0245/seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-console/src/main/java/org/apache/seatunnel/flink/console/sink/ConsoleSink.java#L47-L54

After change to below code, this bug has been fixed.
[code]

[2022-04-16 03:35] Hisoka-X commented on #1702
This method will make record print on TaskManager, not client side.

[2022-04-16 04:13] ruanwenjun commented on #1702
Yes, you are right, we cannot easily do this change. The main reason is that Flink will do `execute` in collect method, and this will conflict with our execute.

[2022-04-16 11:34] ruxtain commented on #652
现在貌似仍然不支持map类型？

[2022-04-16 11:42] ruxtain commented on #652
Clickhouse version: 21.8.12
Seatunnel 1.5.7

User class threw exception: io.github.interestinglab.waterdrop.config.ConfigRuntimeException: io.github.interestinglab.waterdrop.config.ConfigRuntimeException: clickHouse data type [(Map(String,String),false)] not support in current version. at io.github.interestinglab.waterdrop.Waterdrop$.showConfigError(Waterdrop.scala:98) at io.github.interestinglab.

[2022-04-16 16:25] zhoutianmao commented on #1659
I also have this problem.

[2022-04-17 00:59] yx91490 commented on #1608
what does your multiple connection means? does it means one job can have multiple sources in different type, or one job can have multiple connection to a same source instance to work on same or different split of a table?

[2022-04-17 02:48] Hisoka-X commented on #1659
Please provide your config, and your database DDL

[2022-04-17 06:34] ruanwenjun opened #1708 "[Feature][Connectors] Add integration test for connectors"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

SeaTunnel support sync data between many datasource, e.g. MySQL, Kafka, Elasticsearch... For each datasource, we have a connector plugin.
Right now, we have an e2e module for IT(Integrati

[2022-04-17 12:16] zhoutianmao commented on #1659
![image](https://user-images.githubusercontent.com/8804520/163713827-59b4e3c1-63d3-4efe-ac77-c22634af7683.png)
![image](https://user-images.githubusercontent.com/8804520/163713843-51cff0df-3616-4cff-be8b-4e05e23bd67f.png)

my config and my DDL.

Thanks.

[2022-04-17 12:17] zhoutianmao commented on #1659
![image](https://user-images.githubusercontent.com/8804520/163713878-1d270dcb-9b7f-45fb-9a78-c27f26ec4b32.png)

[2022-04-17 12:18] zhoutianmao commented on #1659
![image](https://user-images.githubusercontent.com/8804520/163713930-92317d8b-5f4d-4e13-88b0-5fef8c58b194.png)

[2022-04-17 12:21] zhoutianmao commented on #1659
![image](https://user-images.githubusercontent.com/8804520/163714043-b9ce0f3b-8d50-4baa-8afb-0a8e3a841965.png)

[2022-04-17 12:22] zhoutianmao commented on #1659
<img width="509" alt="image" src="https://user-images.githubusercontent.com/8804520/163714058-44b3c55c-e546-4625-8dfb-c875eccaf133.png">

[2022-04-17 12:23] zhoutianmao commented on #1659
My config  and my database DDL.
Thanks.

[2022-04-17 13:16] Hisoka-X opened #1709 "[Feature] [Connector] JDBC source support Oracle database."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

 JDBC source should support Oracle database. User can't use SeaTunnel cause their database is Oracle. See #1659

### Usage Scenario

_No response_

### Related issues

_No response_

###

[2022-04-17 13:17] Hisoka-X commented on #1659
Your database is Oracle, Maybe we should do some work to support it. Tranck on #1709

[2022-04-17 13:26] zhoutianmao commented on #1659
Ok.Thanks.

[2022-04-18 00:47] ruanwenjun commented on #1628
Closed due to no response.

[2022-04-18 00:47] #1628 closed, assigned to nobody

[2022-04-18 03:20] ashulin commented on #1608
@yx91490 Multiplexing source connection: a source instance can read data from multiple tables.
At present, the source connector of Spark and Flink will create a connection for each table; That is, a source instance will only read one table;
This is fine for off-line jobs, but not acceptable for real-time sync jobs with hundreds (or more) tables.

[2022-04-18 09:29] cdmikechen commented on #942
@stale No it is still unseen.

[2022-04-18 09:57] #1702 closed, assigned to nobody

[2022-04-19 08:07] tmljob commented on #1708
How to run IT use cases in IDE development environment? I run FakeSourceToConsoleIT and get the error below, is there any configuration I need to do? Are there any instructions?
[code]

[2022-04-19 08:15] ruanwenjun commented on #1708
@tmljob Hi, thanks for your feedback. If you want to run the case in e2e module, you need to start a Docker environment first. Here is a simple doc to introduce [e2e module](https://github.com/apache/incubator-seatunnel/blob/dev/docs/en/contribution/contribute-plugin.md#add-e2e-tests-for-your-plugin).

[2022-04-19 08:24] legendtkl commented on #686
Organization: ByteDance
Location: Hangzhou China
Contact: [taokelu@gmail.com](taokelu@gmail.com)
Purpose: data integration service

[2022-04-19 11:53] whb-bigdata opened #1713 "[Bug] [Flink Kafka source] Temporary table already exists"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

flink的kafka source 报错
Exception StackTrace:org.apache.flink.table.api.ValidationException: Temporary table '`default_catalog`.`default_database`.`score_v3_1935`' already exists
        at org.apache.flin

[2022-04-19 21:03] ruanwenjun commented on #1713
@whb-bigdata Hi, thanks for your feedback, this bug has been fixed by #1526, and will release at [2.1.1](https://github.com/apache/incubator-seatunnel/releases/tag/2.1.1).

[2022-04-19 21:03] #1713 closed, assigned to nobody

[2022-04-20 01:47] tmljob commented on #1708
After adding an IT use case, I want to run it to see if it can run normally. Take FakeSourceToConsoleIT as an example. After startup, the program has been stuck there and cannot run normally. How is this resolved?

https://user-images.githubusercontent.com/69188034/164130444-8b7741be-ff82-4f96-8d43-312d97983bd7.mp4

[2022-04-20 01:57] ruanwenjun commented on #1708
I can't open your `it.mp4`, if you have a Docker environment, when you run the IT case, it will pull the docker image, if it stuck, maybe due to network issue.

[2022-04-20 03:55] tmljob commented on #1708
After solving the problem that the image cannot be pulled due to network reasons, this error is reported when running the IT use case. How to solve it?

[code]

[2022-04-20 03:57] xiebanggui777 opened #1715 "[Bug] [plugins Hive Sink] sink to Hive print "Plugin class not found by name [org.apache.seatunnel.spark.sink.Hive]""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I import data into sink hive. The following error is reported when running the script:

![image](https://user-images.githubusercontent.com/97835322/164146060-1b8191f5-f2c6-47f5-b585-ae73e3fa2226.png)

I

[2022-04-20 04:09] ruanwenjun commented on #1708
@tmljob Good catch, you may need to execute `mvn clean package` first, I will update this on doc.

[2022-04-20 05:00] zhongjiajie opened #1716 "[Feature][doc] Add build CI in main repository"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In #1714, we find our doc may crack by some mistake in `mdx` file, to avoid the regression, we should add build CI in the repo and make sure every PR pass the doc build process

### Usage

[2022-04-20 08:20] hk-lrzy commented on #1701
So we can't use this api on spark? And this is same like flink source api, why we need to wrapper it again?

[2022-04-20 08:29] tmljob commented on #1708
@ruanwenjun After I executed the mvn build, the same error was reported. I debugged and found that the seatunnel-core-spark.jar was not uploaded to the docker container. In addition, why does the log show that the jar package is loaded in this path?

[code]
![docker](https://user-images.githubusercontent.com/69188034/164185623-1a6d38bd-9fd6-4644-8747-914172ee25e9.png)

[2022-04-20 08:40] ruanwenjun commented on #1708
It seems they're missing a `/`, the jar path in container is defined by below code, I am not sure if this is compatible with Windows. Right now, we didn't have Windows in our CI.
[code]

[2022-04-20 10:09] Hisoka-X commented on #1715
SeaTunnel not supported Spark 3.x at now. Your can track on #875

[2022-04-20 14:55] ashulin commented on #1701
The source API is indeed similar to Flink, as the Flink source API covers more source features.
But we can't use the Flink API directly, because SeaTunnel need to be decoupled from the engine so that it can support Flink (lower version) and Spark engine.

[2022-04-21 01:47] tmljob commented on #1708
It has been solved because the path generated under windows, but under docker, the path cannot be correctly identified due to the linux system. By the way, do you usually develop under linux through idea IDE?

[2022-04-21 02:11] ruanwenjun commented on #1708
Yes, I use macOS, it would be appreciated if you can help to solve the path error on Windows.

[2022-04-21 03:56] tmljob commented on #1708
I have submitted a PR to fix it. #1719

[2022-04-21 12:28] CalvinKirs opened #1721 "[OnlineMeeting&4.26]SeaTunnel community meeting Topic collect"
We will hold an online community meeting on 2022/04/26 20:00-21:00 (GMT+08:00)
Welcome everyone to leave a message in the issue to discuss the content
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: CalvinKirs's Scheduled Meeting
Meeting Time: 2022/04/26 20:00-21:00 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list

[2022-04-22 06:03] Hisoka-X opened #1723 "[Bug] [Spark] LocalSparkExample can't run because Jackson version are not uniform"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Can't run LocalSparkExample.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

### Java or Sc

[2022-04-22 07:28] ashulin commented on #1721
https://github.com/apache/incubator-seatunnel/issues/1701

[2022-04-22 07:45] hk-lrzy commented on #1701
I agree with you.  but i am not sure whether new source api could use in the other engine or not.
IMO, the flink source api is too complex for developer.

[2022-04-22 15:22] zzzzzzzs opened #1725 "[Bug] [seatunnel-connectors] Age is too far from real when using fake."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Age is too far from real when using fake.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

flink v1.13.0

#

[2022-04-22 16:14] 1996fanrui opened #1727 "[Umbrella] Refactor the Flink batch api"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

Currently, Flink use the DataStream api to process stream and ba

[2022-04-22 16:30] 1996fanrui opened #1728 "[Improvement][generic] Optimize generic type"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

 Optimize some generic type code.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### C

[2022-04-23 07:16] #1728 closed, assigned to nobody

[2022-04-23 11:26] #1683 closed, assigned to tmljob

[2022-04-23 11:26] #1696 closed, assigned to nobody

[2022-04-23 11:49] 1996fanrui commented on #1727
I think this issue is a duplicate of #1246 , so I closed it.

[2022-04-23 11:49] #1727 closed, assigned to nobody

[2022-04-24 02:23] john8628 opened #1732 "[Feature][spark-clickhouse] seatunnel does’t support clickhouse's type AggregateFunction(Clickhouse roaringBitmap);"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

i will use seatunnel to   impl hive2clickhouse ,But  clickhouse's type is AggregateFunction(Clickhouse roaringBitmap),seatunnel will be supported?

### Usage Scenario

_No response_

###

[2022-04-24 03:54] Hisoka-X commented on #1732
To support this, we should open sql parameter in clickhouse sink. So user can write their own insert sql.

[2022-04-24 08:44] Hisoka-X opened #1733 "[Bug] [Spark] Can't run SeaTunnel on spark standalone cluster."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Can't run SeaTunnel program on spark cluster, which spark deployment method is standalone, and use cluster mode to submit. The reason maybe is `plugins.tar.gz` have different path between client mode and

[2022-04-24 09:50] #1723 closed, assigned to Hisoka-X

[2022-04-24 12:33] xinda77 commented on #1676
i have got the same problem ，follow the above method, but it doesn't work. and search the maven dependency  tree doesn't find any  the version of 2.7.x hadoop jars .i have no idea. my hadoop version is 3.0.0-cdh6.3.2

error stack

[2022-04-24 20:16:19.413]Container exited with a non-zero exit code 13. Error file: prelaunch.err.
	Last 4096 bytes of prelaunch.err :
	Last 4096 bytes of stderr :
	.try

[2022-04-24 15:38] ashulin opened #1734 "[Feature][Core] SeaTunnel Table & Catalog API"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

This is a subtask of https://github.com/apache/incubator-seatunnel/issues/1608.

1. Explicitly get the table schema by Catalog.
2. Support source to read multiple tables.
3. Support sourc

[2022-04-25 02:15] ruanwenjun commented on #1733
@yx91490 Please take a look.

[2022-04-25 03:29] wuchunfu opened #1736 "[Bug][fastjson] Upgrade fastjson, fix deserialization remote code execution vulnerability"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Upgrade fastjson, fix deserialization remote code execution vulnerability

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X]

[2022-04-25 05:11] wuchunfu opened #1738 "[hotfix][ci] fix scalastyle check failed"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

fix scalastyle check failed

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of

[2022-04-25 05:28] xinda77 opened #1739 "[Bug] [seatunnel-core-base] Error when tar directory 'plugins' to file 'plugins.tar.gz'"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when run seatunnel job ,i want to know  which version can we use 2.1.0 or 2.1.1 . like this simple error
Exception in thread "main" java.nio.file.AccessDeniedException: plugins.tar.gz
		at sun.nio.fs.Uni

[2022-04-25 07:29] #1736 closed, assigned to nobody

[2022-04-25 07:29] #1738 closed, assigned to nobody

[2022-04-25 08:22] Hisoka-X commented on #1739
Please provide your environment, like Spark deployment mode (yarn or standalone), and your submit shell command.

[2022-04-25 08:56] Hisoka-X commented on #1739
And please make sure your SeaTunenl package permission is can be access with your start shell command's user.

[2022-04-25 10:51] legendtkl opened #1741 "[Feature][seatunnel-core-flink] Support flink job run in application mode"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

From Flink version 1.11, the application mode is introduced.

Compared to `Session` and `Per-job` mode, `Application` mode is more suitable for production.

### Usage Scenario

_No respon

[2022-04-25 12:40] whb-bigdata opened #1743 "[Bug] [seatunnel-core-spark] spark on yarn cluster mode can not get --config/-c file"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when  use spark-submit   yarn  cluster  deploy-mode ，spark can not  get  config  file on yarn

### SeaTunnel Version

2.1.1-prepare

### SeaTunnel Config

[code]

### Running Command

[code]

### Error E

[2022-04-25 15:35] #1741 closed, assigned to nobody

[2022-04-26 00:27] yx91490 commented on #1733
got it, I'll take time to solve it.

[2022-04-26 01:26] yx91490 commented on #1733
@BenJFan can you rerun script with `bash -x ./bin/start-seatunnel-spark.sh...` and paste log here?

[2022-04-26 01:28] yx91490 commented on #1743
can you rerun command with `bash -x ./bin/start-seatunnel-spark.sh...` and paste log here?

[2022-04-26 02:22] Hisoka-X commented on #1733
@yx91490 here
[code]

[2022-04-26 02:30] whb-bigdata commented on #1743
+ CMD='${SPARK_HOME}/bin/spark-submit --class "org.apache.seatunnel.SeatunnelSpark" --name "xxxxx" --master "yarn" --deploy-mode "cluster" --files "plugins.tar.gz,config/xxxxxx" --conf "spark.executor.memory=4g" --conf "spark.driver.memory=4g" --conf "spark.master=yarn" --conf "spark.yarn.keytab=xxxxx" --conf "spark.app.name=20220315" --conf "spark.executor.cores=1" --conf "spark.executor.instance

[2022-04-26 02:34] Hisoka-X opened #1744 "[Bug] [Spark] First execute seatunnl-start-spark.sh will return command not found."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When first execute seatunnl-start-spark.sh, SparkStarter execute compress tar file, so return command with same log info. Then shell can execute directly.

### SeaTunnel Version

dev

### SeaTunnel Confi

[2022-04-26 02:44] cresentboy commented on #1673
打个卡

[2022-04-26 05:11] xinda77 commented on #1739
cluster mode,  why use shell to tar resource ? Don't be so different between versions. Don't refactor stable modules and focus on other directions

[2022-04-26 06:56] xpleaf opened #1748 "[Bug] [Connector] Clickhouse sink Int8/UInt8/Int16/UInt16/Int32 datatypes support to handle Byte/Short value"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

In ClickHouse defined data types for`"Int8" | "UInt8" | "Int16" | "UInt16" | "Int32"`, if read up data is resolved as a Byte, or Short (and this is possible is reasonable, I'll illustration below). Will

[2022-04-26 09:40] wuzhenhua01 opened #1750 "[Feature][seatunnel-transforms] Add Replace transforms for spark"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add replace transforms，supports regular

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-04-26 10:14] Hisoka-X commented on #1739
Compress resource is in Java code. Use shell to call java program. And can you provide permission for `plugins.tar.gz` and project root path?

[2022-04-26 10:28] xleoken commented on #1721
Add a topic: How to improve our project? SeaTunnel project is more and more like apache beam.

![baa8bc6e72053566691c209b9517e98](https://user-images.githubusercontent.com/95013770/165280446-37c75ed7-bfec-480e-b060-b807b92f9bbc.png)

[2022-04-26 11:20] lordk911 opened #1752 "[Bug] [spark batch] can not save to hdfs or hive"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I'm using apache-seatunnel-incubating-2.1.0 under hdp 3.1.4 which spark version is 2.3
when I try to save source data to hdfs I got error, my config file is :

[code]

error log is :

[code]

### SeaTunn

[2022-04-26 11:24] lordk911 commented on #1752
[code]
also why in my hive-site.xml , the hive.metastore.warehouse.dir is not null ,but seatunnel set it to spark default  warehouse dir , it result that if I save data to hive got database not found Exception.

[2022-04-26 12:02] tmljob commented on #1708
@ruanwenjun
It seems that SparkContainer does not support the use case of running plugins based on SparkStreamingSource extensions. Can you help clarify the reason?
[code]
1、Webhook plugin has been packaged into seatunnel-core-spark.jar；
2、The Spark Steaming plugin appears to be run as a Batch plugin.

[2022-04-26 12:10] ruanwenjun commented on #1708
@tmljob Thanks for your feedback, I will skip this IT case at #1722 and will fix this in another PR.

[2022-04-26 12:12] tmljob commented on #1708
@ruanwenjun
It seems that SparkContainer does not support the use case of running plugins based on SparkStreamingSource extensions. Can you help clarify the reason?
[code]
1、Webhook plugin has been packaged into seatunnel-core-spark.jar；
2、The Spark Steaming plugin appears to be run as a Batch plugin.

[2022-04-26 13:37] legendtkl opened #1753 "[Feature][seatunnal-flink-sql] Support dynamic config for Flink SQL mode job"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now, we have a shell script `start-seatunnel-sql.sh` to start Flink SQL job. But it seems config file is filled with SQL script, and we have no place to set env (dynamic configuration).

[2022-04-26 13:38] legendtkl commented on #1753
Hi, @ruanwenjun , or someone else, would you give me some feedback about this?

I can work on it.

Thanks,
Kelu

[2022-04-26 15:52] ruanwenjun commented on #1753
@legendtkl Which env do you want to set, if you want to set the system environment, you can set these in [`seatunnel-env.sh`](https://github.com/apache/incubator-seatunnel/blob/dev/config/seatunnel-env.sh), if you want to set flink sql configuration, e.g. `table.exec.mini-batch.enabled`, `table.exec.mini-batch.size `, you can directly set in [`flink.sql.conf.template`](https://github.com/apache/in

[2022-04-26 16:07] legendtkl commented on #1753
Hi, @ruanwenjun , thanks for the reply.

Let's have a brief discussion about the `seatunnel-core-flink-sql` module's remove:

In my opinion, flink sql client is suitable for interactive mode, for example, test/notebook, etc.

For production, we would like to use flink sql + application mode to construct a more robust and isolation-friendly long-running job, such as ETL, Data Integration Service, a

[2022-04-26 16:10] ruanwenjun commented on #1753
Welcome to improve this module :).

[2022-04-27 02:05] ruanwenjun opened #1755 "[Feature][config] Retrieve seatunnel-config form maven"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Right now, when we import seatunnel into IDE, we need to execute `mvn install` first, since we need to rely the config shade module. After 2.1.1 release, the config module will not be mod

[2022-04-27 02:09] Hisoka-X commented on #1753
Aggre with you.  `seatunnel-core-flink-sql` module is same as flink orginal client. We didn't do much thing on it. I think we can remove it.

[2022-04-27 02:14] quanzhian commented on #1743
Just add check to the command to solve the problem
@whb-bigdata

Running Command

[code]

Here are the details of my test

[code]

Code bug fixes

class org.apache.seatunnel.command.spark.SparkTaskExecuteCommand

[code]

[2022-04-27 03:26] xinda77 commented on #1739
In the user directory(/home), and I can tar resource under the shell, 1.5 X and 2.1.0 are OK. The changes in this part are so big that the test work is not done well. users can't run job  with root

[2022-04-27 03:41] #1755 closed, assigned to ruanwenjun

[2022-04-27 03:44] #1744 closed, assigned to nobody

[2022-04-27 03:49] Hisoka-X opened #1756 "[Feature][Spark] Update Spark version to 2.4.4"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We need update spark version to 2.4.4.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-04-27 05:37] #1743 closed, assigned to whb-bigdata

[2022-04-27 06:23] #1756 closed, assigned to nobody

[2022-04-27 06:58] quanzhian commented on #1733
@BenJFan There is an error in the decompression code. The repair code is as follows

find class org.apache.seatunnel.utils.CompressionUtils

Fixed code

[code]

old code (There is an incorrect code)

[code]

Test error message before repair

[code]

Test error message before repair

[code]

Test information after repair, Here are my test details

[code]

[2022-04-27 07:11] Hisoka-X commented on #1733
@quanzhian Can you create an PR to fix that? Welcome to contributer family!

[2022-04-27 07:15] quanzhian commented on #1733
ok

[2022-04-27 07:51] Hisoka-X commented on #1660
When use spark2.4.4, I can't run SeaTunnel succeeded. Maybe we should upgrade.

[2022-04-27 08:01] Hisoka-X commented on #1752
SeaTunnel support spark version is 2.4.0, can you use spark 2.4.0 try again?

[2022-04-27 09:15] ruanwenjun commented on #1748
close by #1749

[2022-04-27 09:15] ruanwenjun commented on #1748
close by #1749

[2022-04-27 09:15] #1748 closed, assigned to nobody

[2022-04-27 12:27] lawulu commented on #1752
i got the same issue.
Spark: spark-2.4.8-bin-hadoop2.6
Hadoop3

[code]
stack:
[code]

[2022-04-27 13:43] whb-bigdata commented on #1743
@quanzhian Thank you for your reply. If adding -- check is only to check the creation environment, not to execute the positive circulation, so it can succeed

[2022-04-27 14:51] #1669 closed, assigned to nobody

[2022-04-27 14:55] ruanwenjun commented on #1750
close by #1751

[2022-04-27 14:55] #1750 closed, assigned to wuzhenhua01

[2022-04-27 21:56] wanghuan2054 opened #1759 "[Feature][seatunnel-transforms] Add Replace transforms for flink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add replace transforms，regular expression matching is supported to replace the first or all matched strings

### Usage Scenario

_No response_

### Related issues

_No response_

### Are

[2022-04-28 01:20] wuzhenhua01 opened #1762 "[Feature][seatunnel-transforms] Add Uuid transform for spark"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add Uuid transform for spark

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code o

[2022-04-28 01:26] ruanwenjun opened #1763 "[Feature][connectors] Simplify connectors module"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Right now, we have multiple submodule in connectors, this may make confusion, we only need to keep `seatunnel-connectors-flink` is enough.
<img width="475" alt="image" src="https://user-i

[2022-04-28 02:57] lordk911 opened #1764 "[Feature][jdbc spark] support query param"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I tried using Spark to read data from a table in mysql and sink it to the console, but it stuck for a long time and ran out of memory.

Is it because Spark reads full data? Whether the qu

[2022-04-28 03:14] quanzhian commented on #1752
This error has been fixed in the new version. The repair scheme in version 2.1.0 is as follows

find class org.apache.seatunnel.spark.file.Config, change the code to the following code

[code]

[2022-04-28 05:55] ruanwenjun commented on #1764
@lordk911 We use English to describe the issue, please translate to English, thanks.

[2022-04-28 05:57] #1661 closed, assigned to nobody

[2022-04-28 05:57] #1721 closed, assigned to nobody

[2022-04-28 06:26] #1763 closed, assigned to nobody

[2022-04-28 07:39] lordk911 commented on #1764
I tried using Spark to read data from a table in mysql and sink it to the console, but it stuck for a long time and ran out of memory.

Is it because Spark reads full data? Whether the query parameter can be added to actively filter some data data.

I also tried adding transform, helpless, that doesn't do the predicate push down, does it?

[2022-04-28 08:52] Hisoka-X opened #1771 "[Bug] [Spark] Can't get config file in spark standalone cluster."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When use spark standalone cluster to submit job, and use cluster mode. Driver can't read config file. Maybe we should use `SparkFile` api to get file path. @whb-bigdata I find you fix the same issue on #

[2022-04-28 09:01] zhfish commented on #1676
marked,
i have got the same problem

[2022-04-28 10:05] vegastar002 opened #1773 "the 2.1.1 ver run error report"
ver
apache-seatunnel-incubating-2.1.1

### my.conf
path:
/opt/apache-seatunnel-incubating-2.1.1/config/my.conf

[code]
### step
run command
[code]

the error report
[code]

[2022-04-29 01:52] ruanwenjun opened #1774 "[Feature][core] Refractor seatunnel-core module"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Right now, there are a lot of engine relation code in `seatunnel-core-base` module, we need to splite these into `seatunnel-core-flink`/`seatunnel-core-spark`. The `seatunnel-core-base` o

[2022-04-29 02:25] ruanwenjun commented on #1774
close by #1775

[2022-04-29 02:25] #1774 closed, assigned to ruanwenjun

[2022-04-29 02:28] ashulin commented on #1764
Currently source is instantiated directly rather than created by the SQL engine, so predicate pushdown is not supported.

[2022-04-29 02:30] Hisoka-X commented on #1773
Can you provide your Spark version?

[2022-04-29 02:36] xinda77 commented on #1739
Did you develop this code?, Can we go back to 2.1.0? Don't be so fancy on these simple functions that we can't be used

[2022-04-29 02:39] Hisoka-X commented on #1739
`plugins.tar.gz` have a long history, not develop on 2.1.1

[2022-04-29 03:08] legendtkl commented on #1753
Hi, @ruanwenjun @BenJFan , I have just subscribe the dev mail and send a proposal about this issue with the subject "[Proposal] Flink SQL Improvement"

Would you help have a look about that?

Thanks,
Kelu

[2022-04-29 03:27] ashulin commented on #1641
close by https://github.com/apache/incubator-seatunnel/pull/1641