[2022-08-02 10:03] weichao93 commented on #1691
请问下你这个是什么问题导致的啊，怎么解决的啊，我也遇到了相同的问题

[2022-08-02 10:03] weichao93 commented on #1691
请问这是什么原因呢

[2022-08-02 11:13] EricJoy2048 opened #2341 "[ST-Engine][seatunnel-seatunnel-starter] Add seatunnel-seatunnel-starter to submit job to ST-Engine"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Because SeaTunnel Engine is the internal engine of SeaTunnel, So we will use the `SeaTunnelClient` class in seatunnel-seatunnel-starter. In this case, the submitssion of jobs and the moni

[2022-08-02 12:25] songjianet opened #2342 "[Feature][UI] Add the historical run logs in the data pipes detail overview."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the historical run logs in the data pipes detail overview.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am w

[2022-08-02 12:31] #2342 closed, assigned to nobody

[2022-08-02 13:27] TyrantLucifer opened #2345 "[ST-Engine][JobSubmit] LogicalDag deserialization"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

A sub task of this pr (#2333) to define a classloader load serializationService and deserialize LogicalDag.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are

[2022-08-03 01:33] 2013650523 commented on #1946
i can work for doris source connector. can you assign it to me?

[2022-08-03 01:52] Hisoka-X commented on #1946
I will assgine to you.

[2022-08-03 02:06] melin opened #2346 "mysql 同步hive 支持自动创建hive 表吗？"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

mysql 同步hive 支持自动创建hive 表吗？有时候数据库表字段很多，创建表映射字段类型，业务人员难度比较大，创建hive 表难度比较大

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ]

[2022-08-03 02:23] legendtkl commented on #1946
hi, @Hisoka-X , forgot to update that socket seems to not support sink. The task is not needed.

[2022-08-03 02:26] melin opened #2347 "[Feature]JDBC Savemode Supports replace"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

When writing data into a relational database, data duplication needs to be considered. Both mysql and postgres support upsert syntax.

[code]

### Usage Scenario

_No response_

### Relat

[2022-08-03 02:36] TyrantLucifer commented on #2346
Currently seatunnel is not support auto create table before data synchronization.

[2022-08-03 03:13] TyrantLucifer commented on #2110
pr #2348, please review. @CalvinKirs @EricJoy2048 @Hisoka-X

[2022-08-03 03:45] songjianet opened #2349 "[Feature][UI] Add the run logs in the data pipes detail overview."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the run logs in the data pipes detail overview.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to s

[2022-08-03 04:04] #2349 closed, assigned to nobody

[2022-08-03 06:49] songjianet opened #2351 "[Feature][UI] Add the edit in the data pipes."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the edit in the data pipes.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Cod

[2022-08-03 07:29] #2351 closed, assigned to nobody

[2022-08-03 09:05] songjianet opened #2353 "[Feature][UI] Add log component."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add log component.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

[2022-08-03 09:19] hanwei996 opened #2355 "[Bug] [seatunnel-connectors] kafka source ClassCastException: com.fasterxml.jackson.databind.node.ObjectNode cannot be cast to com.fasterxml.jackson.databind.node.ArrayNode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Kafka source format.type, multiple schema not matched, resulting in error: com.fasterxml.jackson.databind.node.ObjectNode cannot be cast to com.fasterxml.jackson.databind.node.ArrayNode

### SeaTunnel Ve

[2022-08-03 09:22] #2353 closed, assigned to nobody

[2022-08-03 10:20] #2110 closed, assigned to TyrantLucifer

[2022-08-03 10:30] TyrantLucifer commented on #1946
Feishu sink and source, thx.

[2022-08-03 10:32] Hisoka-X commented on #1946
Good job!👍

[2022-08-03 10:32] songjianet opened #2359 "[Feature][UI] Add the create in the data pipes."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the create in the data pipes.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### C

[2022-08-03 10:46] EricJoy2048 commented on #1946
Hi, are there any new updates about this issue？Are there any difficulties that need the help of the community？

[2022-08-03 10:51] FlechazoW commented on #1622
Hi, i am sorry that the documents need to be delayed for a few days. These days i was busy with work, and i'm thirty percent done, i think i can finish it in this weekend.

[2022-08-03 10:53] #2359 closed, assigned to nobody

[2022-08-03 11:01] TyrantLucifer commented on #1946
oss sink and source, thx

[2022-08-03 11:02] EricJoy2048 commented on #1946
cc @Hisoka-X

[2022-08-03 11:06] Hisoka-X commented on #2347
You can use `customUpdateStmt ` in seatunnel spark jdbc sink to fulfill this requirement. Check this https://seatunnel.apache.org/docs/2.1.2/connector/sink/Jdbc#customupdatestmt-string

[2022-08-03 12:21] 2013650523 commented on #1946
i can work for s3 source . can you assign it to me?

[2022-08-03 12:23] 2013650523 commented on #1946
Thank you. There is no problem for now. If there is any problem, I will consult with you automatically

[2022-08-03 12:33] Hisoka-X commented on #1946
Great

[2022-08-03 13:31] kalencaya commented on #2347
You can also refer to #1843.
It is a flink jdbc connector implementations which supporting `replace` or `insert into xxx on duplicate xxx` similar grammar for upsert mode, of course you can write `merge` grammar.

[2022-08-04 05:48] EricJoy2048 opened #2362 "[Doc][File Connector V2] Split File Sink Connector Doc to LocalFile and HdfsFile"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now `LocalFileSink` and `HdfsFileSink` are two defferent connector but their documents got together. We plan add the `kerberos` config to `HdfsFileSink`, It would look strange if their do

[2022-08-04 07:08] #2362 closed, assigned to nobody

[2022-08-04 09:18] songjianet opened #2364 "[Feature][UI] Add the configuration in the data pipes create."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the configuration in the data pipes create.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submi

[2022-08-04 09:23] #2364 closed, assigned to nobody

[2022-08-04 11:17] ic4y opened #2367 "[Connector-V2][JDBC-connector] Add more databases that support JDBC"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Currently the JDBC connector supports mysql and Postgres, and we plan to support more.
as follows:
|  NO   | Database | Source/Sink  | Contributer  | Status  |
|  ----  | ----  | ----  |

[2022-08-04 17:51] TyrantLucifer commented on #2130
pr #2369, @CalvinKirs @EricJoy2048 @Hisoka-X please review.

[2022-08-05 03:17] eyys opened #2371 "[Feature][seatunnel-connectors-v2][connector-kafka] Kafka supports custom schema"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

English:
The original Kafka connector supports custom schema. The current V2 connector does not support custom schema

中文：
原始的Kafka连接器支持自定义模式。当前的V2连接器不支持自定义schema

### Usage Scenario

Kaf

[2022-08-05 07:30] fuchanghai opened #2372 "[Feature][ReadMe] Mixed use of Chinese and English punctuation"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Mixed use of Chinese and English punctuation. Should we make rules for punctuation in documents?

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing

[2022-08-05 07:52] Hisoka-X commented on #2371
Yes, this is very import function we should implement. If you can do this will be very helpful

[2022-08-05 07:55] Hisoka-X commented on #2372
According to the specification, we should do this. If you find this kind of problem, you can create a PR to fix it. Any contribution that makes our documentation better is welcome

[2022-08-05 07:58] Hisoka-X opened #2373 "[Doc][Connector/Transform] Connector/Transform document have some empty description"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/32387433/183030275-7387f16e-b900-4655-a076-72f59c43305f.png)
Through the pictures you can find a lot of empty placeholder descriptions,

[2022-08-05 08:09] Hisoka-X commented on #2340
Which spark version you used? I think this maybe spark version not match caused.

[2022-08-05 08:12] Hisoka-X commented on #2346
This is a feature we can do, if you want, you can contribute this.

[2022-08-05 08:56] #1371 closed, assigned to nobody

[2022-08-05 08:57] Hisoka-X commented on #1557
Many problems cannot be solved, give up

[2022-08-05 08:57] #1557 closed, assigned to nobody

[2022-08-05 08:58] #1709 closed, assigned to nobody

[2022-08-05 15:21] liuhe36 commented on #1739
mark

[2022-08-05 16:02] #2311 closed, assigned to nobody

[2022-08-06 05:59] TyrantLucifer commented on #2373
pr #2375 , @Hisoka-X  please review, thx.

[2022-08-06 09:40] laglangyue commented on #2367
I want try it for dm first

[2022-08-07 00:47] weichao93 commented on #2340
spark version：spark-2.1.2-SNAPSHOT-bin-2.6.0-cdh5.5.0

[2022-08-07 07:08] #2373 closed, assigned to nobody

[2022-08-07 15:48] hailin0 commented on #2371
I want to discuss how to define fields schema configuration for connector in seatunnel

I see use case from flink:
`create table x (
field1 bigint,
field2 string,
......
) with (
format: 'xxx'
)`

Connector selectd `xxx` format factory to convert message data format to  `row[fleid1<bigint>,field2<string>]`.

How should it be defined in seatunnel?
e.g:
`
source {
  KafkaSource {
     format = xxx

[2022-08-08 02:01] Hisoka-X commented on #2371
Yes, it is a important thing that decide how define schema. Please send a discuss mail in dev@seatunnel.apache.org. And attach your idea.

[2022-08-08 02:01] Hisoka-X commented on #2371
cc @ashulin

[2022-08-08 02:17] ashulin commented on #2371
https://github.com/apache/incubator-seatunnel/issues/2299

[2022-08-08 02:21] EricJoy2048 commented on #2371
cc @TyrantLucifer

[2022-08-08 02:21] ashulin commented on #2371
This is a common feature, for example, kafka, HTTP, File, Pulsar, etc;
My opinion is to conform to the habit of SQL;

[code]

[2022-08-08 02:22] ic4y commented on #1946
@Hisoka-X Please add JDBC-DM database. Relate #2377

[2022-08-08 02:57] TyrantLucifer commented on #2371
I think it's a good idea that add a common feature in connector to support user-defined schema. In my option, I think we can add a new config option `schema` in all source connector source configs and for each connector they can parse their own schema in `getProducedType` method. The implement function of parsing `schema` we can add it in module `seatunnel-common`. And I agree with your advice @as

[2022-08-08 03:14] hailin0 commented on #2371
Another problem is missing metadata of mq connector rowdata.
e.g:  partition、timestamp、key、headers

`
public ProducerRecord(String topic, Integer partition, Long timestamp, K key, V value, Iterable<Header> headers)
`

I see use case from flink:
https://github.com/apache/flink/blob/master/flink-connectors/flink-connector-kafka/src/main/java/org/apache/flink/streaming/connectors/kafka/table/DynamicK

[2022-08-08 03:23] TyrantLucifer commented on #2371
By the way, the row data format information also should defined in source connector. The final source config as the following:

[code]
In most use cases, I think we can support `json` or `text`, if we assign `text`, we also assign `delimiter` in config file.

[2022-08-08 07:07] hailin0 commented on #1946
I can work for [File]JSON sink connector. thx

[2022-08-08 09:16] SinyoWong commented on #2061
同样的问题，请问解决了么？

[2022-08-08 10:24] CalvinKirs opened #2384 "[OnlineMeeting&Aug.9]SeaTunnel community meeting Topic collect"
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Meeting
Meeting Time: 2022/08/09 20:00-21:00 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/GanukiGOWuRG

#TencentMeeting：119-773-151

One tap mobile
+8675536550000,,119773151 (Chinese mainland)
+85230018898,,,2,119773151 (

[2022-08-08 10:25] CalvinKirs commented on #2384
[discuss]Connector V2 release.

[2022-08-08 10:28] EricJoy2048 commented on #2384
[synchronization] Progress of synchronization st-engine.

[2022-08-08 12:39] TyrantLucifer commented on #2384
[discuss] How to implement user-defined schema in source connectors

[2022-08-09 03:50] qianmoQ opened #2387 "[Bug] [Spark] org.apache.hadoop.hive.shims.HadoopShims.getHadoopConfNames()Ljava/util/Map"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Failed to load Hadoop configuration information

### SeaTunnel Version

2.1.3

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

Spark 2.

[2022-08-09 04:02] Hisoka-X commented on #2387
Please use spark 2.4.0 try again

[2022-08-09 05:26] Hisoka-X commented on #2384
#2383

[2022-08-09 05:34] hailin0 commented on #1946
I can work for File(HDFS) source connector. thx

[2022-08-09 06:27] TyrantLucifer commented on #1946
Hi bro, I’m so sorry, I forgot to comment on the issue, this connector I have developed more than halfway. What's your progress so far?

[2022-08-09 06:36] hailin0 commented on #1946
Ok, I haven't started coding

[2022-08-09 06:39] hailin0 commented on #1946
I can work for IoTDB source/sink connector. thx

[2022-08-09 07:08] CalvinKirs commented on #1946
hi, I forgot to remark, I am starting to do Source here, how about we do it(I do source and you do sink) together?

[2022-08-09 12:01] qianmoQ commented on #2387
2.4.0, 2.4.5 both fail to run, same error message

[2022-08-09 12:21] davidzollo commented on #2384
please refer to #2272

[2022-08-09 13:13] lhyundeadsoul commented on #1954
Most people are curious about the unique features of the new engine:

Diff with DataX:
1. the ability of massive data exchange
2. union processor of batch & streaming

Diff with flink/spark:
1. source can run independently using cache when sink fail
2. combine the same data sources of different task
3. sync thousands of tables by one connection
4. pipeline-grade failover rather than whole task(fli

[2022-08-10 01:53] fuchanghai commented on #2372
@Hisoka-X Whether the punctuation of Chinese documents is in Chinese or English (,or，)

[2022-08-10 02:04] Hisoka-X commented on #2372
At this stage, we only care about English documents. Check this https://lists.apache.org/thread/j1vo1yccqp79bv69bzokbqq3n58zytql

[2022-08-10 02:29] zhuangchong commented on #1947
What tasks are currently unclaimed?

[2022-08-10 06:52] MRYOG commented on #1946
i can work for Google Analytics source

[2022-08-10 07:14] 2013650523 commented on #2269
hi, Excuse me,Let me ask you a question, Why is the data queue designed to decouple source and sink?  Is the data cached in the queue when the source fails?

[2022-08-10 07:37] Hisoka-X commented on #2269
1. The Queue will create when use shuffle transform (at now call partition transform). Used for data shuffle and change parallelism
2. The cache feature you mentioned will be added later

[2022-08-10 08:20] CalvinKirs opened #2394 "[Feature]Support CDC"
Change data capture (CDC) refers to the process of identifying and capturing changes made to data in a database and then delivering those changes in real-time to a downstream process or system.

CDC is mainly divided into two ways: query-based and Binlog-based.
We know that MySQL has binlog (binary log) to record the user's changes to the database, so it is logical that one of the simplest and mos

[2022-08-10 13:25] #2346 closed, assigned to nobody

[2022-08-10 14:33] laglangyue commented on #2367
Could you assigne the DB2 to me ，and I am willing to do the weekend.
 @Hisoka-X

[2022-08-11 03:39] qianmoQ commented on #2387
I have fixed it

[2022-08-11 03:39] #2387 closed, assigned to nobody

[2022-08-11 05:58] #2384 closed, assigned to nobody

[2022-08-11 10:14] ic4y commented on #2367
@lhyundeadsoul
Are you interested in implementing TiDB under JDBC Connector?

[2022-08-11 10:18] ic4y commented on #1946
@Hisoka-X
Please delete Tidb and add [JDBC]Tidb、[JDBC]DB2
related #2367

[2022-08-11 10:39] tonyDong-code commented on #1946
I can work for StarRocks Sink

[2022-08-11 10:53] wangw9420 commented on #1946
I can work for StarRocks Source

[2022-08-11 10:57] guanboo commented on #1946
I can work for  Druid source. THX!

[2022-08-11 10:59] lvshaokang commented on #1946
I can work for phoenix source. thx!

[2022-08-11 14:42] 531651225 commented on #1946
I can work for File(Local) source. thx!

[2022-08-12 01:47] lhyundeadsoul commented on #2367
TiDB is as same as MySQL.
This has been discussed:
https://github.com/apache/incubator-seatunnel/issues/1946#issuecomment-1211797586

[2022-08-12 02:03] EricJoy2048 commented on #1946
@TyrantLucifer  I not sure did you working for this connector.

[2022-08-12 02:10] TyrantLucifer commented on #1946
Sorry, I had been half way doing it.

[2022-08-12 02:16] Hisoka-X commented on #1946
Hi @531651225 , can you choose other connector? because doing it by @TyrantLucifer .Thanks!

[2022-08-12 02:18] 531651225 commented on #1946
ok ,i will choose other connector

[2022-08-12 02:23] ic4y commented on #2367
You are right, thanks for the reminder. TiDB uses the mysql driver.

[2022-08-12 02:40] ashulin commented on #1608
Enable the SPI factory classes to improve the entire process.

[2022-08-12 02:59] guanboo commented on #1946
I can work for Druid Sink. THX!

[2022-08-12 03:03] EricJoy2048 commented on #2169
No, The `CDC Connector` must use `SeaTunnel Connector API` instead of import `Flink CDC Connector` into SeaTunnel.

[2022-08-12 03:13] 531651225 commented on #1946
I can work for Enterprise WeChat sink. thx!

[2022-08-12 04:57] Jellal-HT commented on #1946
I can work for the InfluxDB sink. thx!

[2022-08-12 06:02] CalvinKirs opened #2397 "[License Issue] Please update your source codes' license"
`org.apache.seatunnel.connectors.seatunnel.jdbc.internal.split.JdbcNumericBetweenParametersProvider`

I noticed this code, it is exactly the same as Flink(`org.apache.flink.connector.jdbc.split.JdbcNumericBetweenParametersProvider`). I checked that the author is not the same person, but there is no statement. So, you should update the source codes' LICENSE to indicate you have copied it from anoth

[2022-08-12 06:15] #2283 closed, assigned to ashulin

[2022-08-12 08:44] 2013650523 commented on #2394
I'm going to use DeBezium to get the incremental real-time bin log, pass it to the API of the new Connector, save the source status and read back。

[2022-08-12 09:01] CalvinKirs commented on #2394
Any detailed designs can be put here, we'll discuss them first.

[2022-08-12 10:32] EricJoy2048 opened #2398 "[STIP-10] [ST-Engine][JobHistoryStorage] Job History Storage Design"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now, We only record and maintain the status of jobs and job list in memory. If the server done, everything will lost. So
we need design the `Job History Storage` to save status and job li

[2022-08-12 18:04] guanboo commented on #2394
We can implement this based on FlinkCDC, configure through conf, and dynamically generate DDL SQL for Source and Sink.

[2022-08-13 09:11] Charlie17Li commented on #1946
Hello, I am interested in Slack Sink, but I am not clear about what data needs to be written into Slack. I just read the document([slack jdk for Java](https://slack.dev/java-slack-sdk/guides/web-api-basics)), and it provides many interfaces that can write data, such as sending messages in a channel, or uploading files, etc.

Can I imitate DingTalk Sink and only implement the funcion for sending me

[2022-08-13 12:24] laglangyue opened #2405 "[Bug] [Connector-V2] java.math.BigDecimal cannot be cast to org.apache.spark.sql.types.Decimal"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I was adapting connector-v2 and testing locally, I found some problems with decimal.
I modified the code of the fake of connector-v2 to support the decimal type, and then run

org.apache.seatunnel.e

[2022-08-13 12:26] laglangyue commented on #2405
I'm still a novice in this project. I'm trying to solve it. It would be better if someone could help me

[2022-08-13 12:39] laglangyue commented on #2405
![image](https://user-images.githubusercontent.com/35491928/184494407-aebc4ad3-d138-4ba5-9f76-d3ffe9e7fa65.png)

[2022-08-13 13:49] TyrantLucifer commented on #2405
Because the schema of fake source connector is defined in code:

![image](https://user-images.githubusercontent.com/51053924/184496770-9ec4dd90-2b65-4688-a79a-1f758835f387.png)

So the data source should like the following:

[code]

You try to use sql plugin to tranform data, but your sql has some problems, `decimal` not contained in data source. You can change your sql as the follwing:

[code]

[2022-08-13 13:52] laglangyue commented on #2405
yes, but I modify this in local.

[code]

[2022-08-13 13:59] TyrantLucifer commented on #2405
`decimal` is a token in sql language, you can change this key's name and try again. By the way, do you change the code in `FakeSourceReader` ?

![image](https://user-images.githubusercontent.com/51053924/184497588-dd81dcf8-d5d5-4226-afe7-01b3ccb52e02.png)

[2022-08-13 14:52] laglangyue commented on #2405
yes I do it , and I submit a PR to optimize the fake connector, This exception is when seatunnel type is converted to sparktype。
In my PR，if the transform sql contained the column  `c_decimal` , the expection happended. if not ,it's ok.
https://github.com/apache/incubator-seatunnel/pull/2406/files

[2022-08-13 15:38] TyrantLucifer commented on #2405
pr #2408 fixed this problem, you can try again.

[2022-08-13 15:39] laglangyue commented on #2405
thx, very awesome.

[2022-08-13 16:03] laglangyue commented on #2405
it will be null writer to console

[2022-08-13 16:32] TyrantLucifer commented on #2405
In my local environment, it seems ok:

![image](https://user-images.githubusercontent.com/51053924/184502760-babb346f-4b5a-4a21-bb3e-8235dbc34242.png)

And this is my code:

![image](https://user-images.githubusercontent.com/51053924/184502782-fb5cd09a-05bc-4340-928b-154cf013f335.png)

![image](https://user-images.githubusercontent.com/51053924/184502798-b205eaaa-af2d-4055-9994-c98a8edf0a16.png)

[2022-08-13 16:49] laglangyue commented on #2405
yes, my data is so big that spark can't contain and will be null

[2022-08-13 16:51] TyrantLucifer commented on #2405
I didn't understand your means, could you please offer an example to me? BTW, if you can offer your origin code it could be better.

[2022-08-13 16:55] laglangyue commented on #2405
the type is new DecimalType(38, 18) and the data is BigDecimal.valueOf(RandomUtils.nextDouble(Float.MAX_VALUE, Double.MAX_VALUE))

[2022-08-13 16:57] laglangyue commented on #2405
the code is
https://github.com/apache/incubator-seatunnel/pull/2406

[2022-08-13 17:52] TyrantLucifer commented on #2405
Your random number exceeds the precision of BigDecimal. BigDecimal is used for fractional precision calculations and not for large numbers. I don't think your example is appropriate. Of course this is just my personal opinion. 😁

[2022-08-14 01:39] laglangyue commented on #2405
yes, I get it

[2022-08-14 01:39] #2405 closed, assigned to nobody

[2022-08-14 05:33] TyrantLucifer commented on #2394
What is the community's plan to achieve CDC without relying on any framework such as flink with pure java?

[2022-08-14 08:35] laglangyue opened #2409 "[POM] There are some useless dependencies"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Some dependencies in root pom(dependencyManagement) but no module reference
such as this, Is this dependency OK?
Of course, there is no problem with packing，but ugly.

[code]

### Usage S

[2022-08-14 09:54] xbkaishui commented on #1946
hi, please assign tidb reader and write to me,  will make it

[2022-08-14 10:39] CalvinKirs commented on #2394
FlinkCDC base on  Flink, And our connector needs to be independent of the engine

[2022-08-14 12:53] lizu18xz opened #2411 "[Bug] [seatunnel-connector-flink-clickhouse] ClickhouseBatchSink config: fields"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

### fields [array]

The data field that needs to be output to `ClickHouse` , if not configured, it will be automatically adapted according to the data `schema` .

If not config fields, an error will occu

[2022-08-14 14:08] Hisoka-X commented on #1946
Of course!

[2022-08-14 14:18] getChan commented on #1946
Hello. I wili try `Neo4j` Sink.  thanks.

[2022-08-15 02:09] Hisoka-X commented on #2409
There may be no direct references, but there may be indirect references. If no indirect references, you can remove it.

[2022-08-15 02:14] 531651225 commented on #1946
Hello. I can work for Phoenix Sink sink. thx!

[2022-08-15 02:25] ic4y commented on #2398
Let me do it

[2022-08-15 03:43] lhyundeadsoul commented on #1946
Thx for contributing. We have discussed this before, You can refer to it.
https://github.com/apache/incubator-seatunnel/issues/1946#issuecomment-1211797586 @xbkaishui

[2022-08-15 04:45] laglangyue commented on #2409
Thank you for your guide.
I found a strange dependence.

`jackson-mapper-`   may be in root-pom 770 line.

I can't find it in maven central. Can Maven dependency support regular matching

[2022-08-15 05:02] Hisoka-X commented on #2409
This is a mistake, can you help fix it?

[2022-08-15 05:23] MonsterChenzhuo commented on #1946
Github,JSON source thx!

[2022-08-15 06:21] EricJoy2048 commented on #1946
@TyrantLucifer  Are you working for `[File]JSON` now?

[2022-08-15 06:24] TyrantLucifer commented on #1946
Yes, I'm so sorry, can you select other connectors? @MonsterChenzhuo

[2022-08-15 06:35] hailin0 commented on #1946
hi, please assign Greenplum source/sink to me. thx

[2022-08-15 06:45] bigdataf commented on #1946
Hello. I can work for cassandra/scylladb source sink. thx!

[2022-08-15 08:51] MonsterChenzhuo commented on #1946
change to excel source/sink thx！

[2022-08-15 08:52] EricJoy2048 commented on #2398
Ok, Thank you

[2022-08-15 08:54] MonsterChenzhuo commented on #1946
ok👌

[2022-08-15 10:35] EricJoy2048 opened #2415 "[Bug] [seatunnel-common] Can not get connector plugin dir when run e2e in IDE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

[code]

This code will return path `xxx/incubator-seatunnel/seatunnel-common/connectors/seatunnel` when I run e2e in IDE, It's a wrong path for connector plugin dir. The right path is `xxx/incubator-seat

[2022-08-15 10:41] EricJoy2048 commented on #2415
I plan add a Constructor method and support directly specify the plug-in directory

[code]

[2022-08-15 11:04] EricJoy2048 commented on #2415
This idea still can not solve the plugin dir path, The core problem is how to find the root directory of the project, whether it is deployed or executed in the IDE.

I suggest add a environment variable named `SEATUNNEL_HOME`, the we can get the project root dir under any circumstances.

[2022-08-15 11:59] eyys commented on #2371
Where should the text type column delimiter be defined here
Is something like that okay?
怎么定义txt类型的列分隔符，这样定义是否可以？
[code]

[2022-08-15 12:46] TyrantLucifer commented on #2371
This feature is in development, please waiting pr.

[2022-08-15 14:34] EricJoy2048 commented on #2397
@ic4y  Please have a look.

[2022-08-16 02:02] EricJoy2048 opened #2421 "[ST-Engine][maven profile] Add engine-all profile used to reduce engine test build time and test easy"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

pom.xml

[code]

seatunnel-core/pom.xml

[code]

seatunnel-dist/pom.xml

[code]

Then if you want only test `seatunnel engine` , you can build or test with `-P engine-all`. It will only c

[2022-08-16 02:29] CalvinKirs commented on #2421
+1, but we'd better add the corresponding CI conditions, and use this only if the engine module file is modified.

[2022-08-16 03:25] Hisoka-X commented on #2411
Can you provide your full config and your clickhouse schema?

[2022-08-16 04:13] songjianet opened #2423 "[Feature][UI] Add service tools in the project."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add service tools in the project.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### C

[2022-08-16 05:50] #2423 closed, assigned to nobody

[2022-08-16 06:06] #2150 closed, assigned to nobody

[2022-08-16 06:30] Hisoka-X opened #2426 "[ST-Engine][Design] Resource Manager design from seatunnel engine"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

### Purpose Of Design
1. It can provide the resource address required for the execute of the Job
2. Ability to dynamically scale nodes in third-party resource management services
3. Each

[2022-08-16 06:31] Hisoka-X commented on #2426
If you have better designs or suggestions, please leave a message

[2022-08-16 06:36] Hisoka-X commented on #2426
In my view, I perfer call `Slot` as `Grid`

[2022-08-16 09:17] EricJoy2048 commented on #2426
Yes, I think `Dynamic allocation` is better. Our `TaskExecutionService` can run task in shared thread, So I think the `TaskExecutionService` can run more tasks if every task only have a small dataset.

[2022-08-16 09:35] CalvinKirs commented on #2426
How do we achieve memory isolation?

[2022-08-16 09:42] Hisoka-X commented on #2426
There is no real isolation, only logical occupation. In fact, other tasks on the same worker can exceed his memory limit. This is for the fact that we only use heap memory at present. If we use out-of-heap memory in the future, we can complete isolation in the true sense.

[2022-08-16 09:48] Bingz2 commented on #1946
Hi. I want to do  [File]excel sink. thx!

[2022-08-16 10:34] TyrantLucifer commented on #1946
Hdfs source, Local source, Feishu sink had been done, please update status @Hisoka-X

[2022-08-16 11:03] ic4y opened #2430 "[STIP-11] [ST-Engine][Design] How to deal with network partitions"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now the engine is implemented by hazelcast, and hazelcast has a split-brain problem when the network is partitioned. How our engine solves this problem.

For example, there is currently a

[2022-08-16 13:09] lizu18xz commented on #2411
"env" : {
        "job.name" : "clickhouse"
    },
    "source" : [
        {
            "url" : "jdbc:mysql://localhost:3306/test?",
            "driver" : "com.mysql.cj.jdbc.Driver",
            "username" : "root",
            "password" : "123456",
            "query" : "select id,name from test",
            "plugin_name" : "JdbcSource",
            "_node_type" : "source",
            "_nod

[2022-08-16 13:22] songjianet opened #2432 "[Feature][UI] Add script service in the project."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add script service in the project.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

###

[2022-08-16 13:42] #2432 closed, assigned to nobody

[2022-08-17 04:55] songjianet opened #2437 "[Feature][UI] Add task service in the project."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add task service in the project.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Co

[2022-08-17 05:05] #2437 closed, assigned to nobody

[2022-08-17 06:09] TyrantLucifer commented on #2371
@eyys Please refer to #2439 #2436, look forward to your contribution.

[2022-08-17 07:10] 2013650523 commented on #1946
@Hisoka-X  I have submitted Kudu connector and can update it

[2022-08-17 07:29] songjianet opened #2441 "[Feature][UI] Add user service in the project."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add user service in the project.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Co

[2022-08-17 07:53] #2441 closed, assigned to nobody

[2022-08-17 07:54] hailin0 commented on #2426
How do we achieve requested resource are locked,  or release after a task running crash

[2022-08-17 09:24] Hisoka-X commented on #2426
Locked by Resource Manager, Release by JobMaster and tell Resource Manager

[2022-08-17 09:29] hailin0 commented on #1946
Hi bro, about the iceberg connector. How's your progress so far? @2013650523

[2022-08-17 12:56] ic4y commented on #2398
<img width="820" alt="image" src="https://user-images.githubusercontent.com/83933160/185138149-517b5d43-5b30-45db-865d-68888764b1a4.png">

**Cluster restart**
    When the cluster restarts, the Job State will be restored from the file system to Imap. At this time, SeatunnelServer only needs to take out the Job that needs to be resumed from Imap to resume execution.

**Master Drift**
When the Maste

[2022-08-17 15:02] Bingz2 opened #2449 "[Bug] [Connector-V2][File Local Sink] Error running Spark Connector V2 example using IDE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Error running Spark Connector V2 example using IDE

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No res

[2022-08-17 15:12] Tangruilin commented on #1946
I'd like to work for connector of `Snowflake `, but I'm find a job these days. I can work with it from Step.

[2022-08-17 17:35] TyrantLucifer commented on #2449
Please refer to these demo config files and change your config of local source.

https://github.com/apache/incubator-seatunnel/tree/dev/seatunnel-e2e%2Fseatunnel-spark-connector-v2-e2e%2Fsrc%2Ftest%2Fresources%2Ffile

[2022-08-18 00:49] yqzdy1207 opened #2452 "Exception in thread "main" java.lang.NoSuchMethodError: scala.Predef$.refArrayOps([Ljava/lang/Object;)Lscala/collection/mutable/ArrayOps;"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Exception in thread "main" java.lang.NoSuchMethodError: scala.Predef$.refArrayOps([Ljava/lang/Object;)Lscala/collection/mutable/ArrayOps;

### SeaTunnel Version

2.1.3

### SeaTunnel Config

[code]

###

[2022-08-18 01:51] debrachena commented on #1946
can I comment?

[2022-08-18 01:54] nielifeng commented on #1946
test

[2022-08-18 02:44] CalvinKirs commented on #1946
@wuchunfu @legendtkl  @2013650523 @hk-lrzy @guanboo Hi, how's it going? what can I do for you?

[2022-08-18 03:03] silenceland commented on #1946
hello,I’d like to work for connector Oceanbase source &sink, please assign it to me, thanks !

[2022-08-18 03:46] laglangyue commented on #2409
yes, I'd like to do it this weekend.

[2022-08-18 05:40] EricJoy2048 commented on #2449
`java.lang.RuntimeException: file_name_expression must contains transactionId when is_enable_transaction is true`

The `file_name_expression` is not a required parameter, the default value is `${transactionId}`. But if you want set `file_name_expression` value, the value must contain the `${transactionId}` part.

[2022-08-18 05:57] 2013650523 commented on #1946
@hailin0  Hi brother, I have been working on iceberg sink. If you are interested, you can try iceberg source

[2022-08-18 06:09] TyrantLucifer commented on #1946
Hi bro, @wolfboys How's it going about hbase and redis connectors, do you need some help from community?

[2022-08-18 06:37] hailin0 commented on #1946
OK, @Hisoka-X  please assign iceberg source to me. thx

[2022-08-18 07:10] Bingz2 commented on #2449
According to the example configuration in e2e, it can be modified to run normally,Thank you so much！
[code]

[2022-08-18 07:11] #2449 closed, assigned to nobody

[2022-08-18 07:49] melin commented on #2169
支持限流，没有限流不是一个完整数据同步平台

[2022-08-18 09:06] QiAnXinCodeSafe opened #2457 "There is a vulnerability in Springfox : Springfox Swagger Ui 2.6.1,upgrade recommended"
https://github.com/apache/incubator-seatunnel/blob/793933b6b863678d91c2d8146726b5c81c3a22a5/pom.xml#L221

CVE-2019-17495

Recommended upgrade version：2.10.0

[2022-08-18 09:13] QiAnXinCodeSafe opened #2458 "There is a vulnerability in Simple Logging Facade for Java (SLF4J) 1.7.25,upgrade recommended"
https://github.com/apache/incubator-seatunnel/blob/793933b6b863678d91c2d8146726b5c81c3a22a5/pom.xml#L209

CVE-2018-8088

Recommended upgrade version：1.7.26

[2022-08-18 09:17] QiAnXinCodeSafe opened #2459 "There is a vulnerability in jackson-databind 2.12.6,upgrade recommended"
https://github.com/apache/incubator-seatunnel/blob/793933b6b863678d91c2d8146726b5c81c3a22a5/pom.xml#L140

CVE-2020-36518

Recommended upgrade version：2.12.6.1

[2022-08-18 09:19] QiAnXinCodeSafe opened #2460 "There is a vulnerability in Elasticsearch 7.5.1,upgrade recommended"
https://github.com/apache/incubator-seatunnel/blob/793933b6b863678d91c2d8146726b5c81c3a22a5/pom.xml#L163

CVE-2020-7018 CVE-2020-7014 CVE-2020-7009 CVE-2021-22148 CVE-2021-22149

Recommended upgrade version：7.17.1

[2022-08-18 09:22] QiAnXinCodeSafe opened #2461 "There is a vulnerability in Apache Avro 1.8.2,upgrade recommended"
https://github.com/apache/incubator-seatunnel/blob/793933b6b863678d91c2d8146726b5c81c3a22a5/pom.xml#L127

CVE-2021-43045

Recommended upgrade version：1.11.0

[2022-08-18 09:24] QiAnXinCodeSafe opened #2462 "There is a vulnerability in Apache Druid 0.22.1,upgrade recommended"
https://github.com/apache/incubator-seatunnel/blob/793933b6b863678d91c2d8146726b5c81c3a22a5/pom.xml#L190

CVE-2021-44791 CVE-2022-28889

Recommended upgrade version：0.23.0

[2022-08-18 09:30] QiAnXinCodeSafe opened #2463 "There is a vulnerability in Apache Kudu 1.11.1,upgrade recommended"
https://github.com/apache/incubator-seatunnel/blob/793933b6b863678d91c2d8146726b5c81c3a22a5/pom.xml#L173

CVE-2021-21295 CVE-2021-21409

Recommended upgrade version：1.16.0

[2022-08-18 11:08] EricJoy2048 commented on #2463
cc @2013650523

[2022-08-18 11:09] #2421 closed, assigned to nobody

[2022-08-18 11:12] EricJoy2048 commented on #2397
@CalvinKirs  Can this issue be closed?

[2022-08-18 13:28] #2397 closed, assigned to nobody

[2022-08-19 02:12] gudandezhu opened #2468 "[Question] get external data when transform"
**background**

When I get a piece of data from _source_，i want join external data with _transform_,for example redis or mysql, Seatunnel does not seem to support？i can't find it by Official website
maybe i can try to define a _plugin_

seatunnel version: 2.1.1 - 2.1.3

[2022-08-19 02:21] gudandezhu commented on #2468
external data May be very large，i wan't use multiple source.  in flink , cache-aside-pattern or  Async I/O can solve this problem well

[2022-08-19 02:25] CalvinKirs opened #2469 "[Connector-v2]Extract Connector public fields"
The connector has a public field is `fields`, usually the schema that defines the Connector,

But at present our definitions are very confusing, each Connector has its own set, a good example is this,
https://github.com/apache/incubator-seatunnel/pull/2439/files
https://github.com/apache/incubator-seatunnel/pull/2451/files
At the same time, there is also an abstraction of public method extraction,

[2022-08-19 02:32] dinggege1024 commented on #1608
LGTM

[2022-08-19 02:52] hailin0 commented on #2468
Sounds like a `lookup` function?

[2022-08-19 03:01] gudandezhu commented on #2468
For example, the data in Kafka has order ID， I use `kafkaTableStream` as my `source`. I want to obtain the relevant personnel information, but the personnel information is not a `source`. It exists independently in MySQL

[2022-08-19 03:18] TyrantLucifer commented on #2469
In my opinion, `format` in file connectors is a little ambiguous. For some text-based connector `format` is a best option. But your question is very right, we should unify a set of standards for all connectors to support user-defined schema. I think we can defined some common parameters to represent the current schema information.

`fields` represent the fields information of upstream data

`forma

[2022-08-19 03:24] 531651225 commented on #1946
Enterprise WeChat done， https://github.com/apache/incubator-seatunnel/pull/2412

[2022-08-19 03:42] hailin0 commented on #1946
[File] JSON sink connector has been merged into dev

[2022-08-19 03:42] hailin0 commented on #1946
IoTDB sink connector has been merged into dev

[2022-08-19 03:55] CalvinKirs commented on #1946
IoTDB source are done.

[2022-08-19 03:57] EricJoy2048 commented on #2469
This discuss is base on Connector-V2 or Connector?

[2022-08-19 04:05] CalvinKirs commented on #2469
yup, I updated

[2022-08-19 04:06] CalvinKirs commented on #2469
great, but about `fields` and `schema`, do we still need nesting? For now, it doesn't seem necessary.

[2022-08-19 04:48] guanboo opened #2471 "New seatunnel-connectors-v2（dev） moudel compilation issue"
I created a module based on seatunnel-connectors-v2（dev） with a compilation error：
[ERROR] Failed to execute goal net.alchim31.maven:scala-maven-plugin:3.3.1:doc-jar (attach-javadocs) on project connector-druid: MavenReportException: Error while creating archive: wrap: Process exited with an error: 1 (Exit value: 1) -> [Help 1]

But there is no problem with running the Example:
![image](https://us

[2022-08-19 05:23] TyrantLucifer commented on #2469
The same as you, i think nesting is useless too. So the conclusion is that we will unified the schema options for all connectors as above, right? I can do this work and I will create a issue to track this work.

[2022-08-19 06:15] MonsterChenzhuo commented on #1946
Github source thx

[2022-08-19 06:39] CalvinKirs commented on #2469
agree with you. you don't need to create an issue separately, you can do it here

[2022-08-19 06:48] TyrantLucifer commented on #2469
The sub tasks about this issue as the following shown:

- [ ] local file source connector
- [ ] hdfs file source connector
- [ ] oss file source connector
- [ ] http source connector
- [ ] kafka source connector

[2022-08-19 06:50] TyrantLucifer opened #2473 "[Feature][seatunnel-formats] Add text formats module."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Currently, we have implemented json format for seatunnel row, next we should support text format.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willin

[2022-08-19 06:50] TyrantLucifer commented on #2473
@CalvinKirs  please assign this task to me, thx.

[2022-08-19 07:27] hailin0 opened #2474 "[Bug] [seatunnel-core-spark] Spark userClassPathFirst classloader not working"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

userClassPathFirst classloader not working when running spark connector-v2 e2e

### SeaTunnel Version

dev branch

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

[2022-08-19 07:31] hailin0 commented on #2474
Maybe it's related to our use of maven-shade-plugin to package log4j

[2022-08-19 07:46] hailin0 commented on #2471
need more infos or screenshots

e.g.
new-connector example
compile command

[2022-08-19 08:40] rmzf9192 opened #2475 "How to local start seatunnel (dev branch)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

wo get seatunnel source code ,and local start seatunnel (dev branch)

### SeaTunnel Version

dev branche

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink

[2022-08-19 08:51] zuoliansheng commented on #686
Organization：www.songguo7.com
Location: Beijing, China
Contact: 1713602931@qq.com
Purpose：Multi scene data synchronization, replace sqoop

[2022-08-19 09:00] john8628 commented on #2073
good job

[2022-08-19 09:18] EricJoy2048 opened #2476 "[ST-Engine][Client] Make the client can output the job's log"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In `org.apache.seatunnel.engine.client.job.JobProxy#waitForJobComplete()` we use `jobFuture` to monitor the Job run state and called `jobFuture.get()` to wait the job complete. I think we

[2022-08-19 10:08] TyrantLucifer commented on #1946
File json source had been done, pls update status.

[2022-08-19 10:19] Hisoka-X opened #2477 "[Feature][Connector-V2] Github Source Support"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

This is a issue from Github Source support for connector-v2.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am wil

[2022-08-19 10:20] Hisoka-X commented on #2477
@MonsterChenzhuo Hi, any progress and problem you can comment in here.

[2022-08-19 11:19] MonsterChenzhuo commented on #2477
ok👌

[2022-08-19 12:16] ashulin commented on #2394
We can implement it based on [Debezium](https://debezium.io/) and  [Netflix's DBLog parallel algorithm](https://netflixtechblog.com/dblog-a-generic-change-data-capture-framework-69351fb9099b)

[2022-08-19 12:40] ashulin commented on #2476
Is it possible to output logs at the granularity of jobs or pipelines? This is difficult to debug if multiple jobs output the same log.

[2022-08-19 14:40] EricJoy2048 commented on #2476
Yes, I think we can filter the job logs use the jobid.  And we must add some format when the logs create in JobMaster

[2022-08-20 08:33] getChan commented on #1946
Neo4j Source thanks.

and Neo4j Sink done. #2434

[2022-08-20 09:17] chessplay opened #2482 "[Feature][File connector] Support ftp file sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

FTP is a classical file transfer protocol, which is widely used in government system, so I think we should support this file system.

### Usage Scenario

_No response_

### Related issues

[2022-08-20 11:32] john8628 commented on #2475
i have the same question, that needs the default config for dophischedule

[2022-08-21 07:19] liugddx opened #2486 "[Feature][Connector-V2] Add oracle connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

V2 does not currently support Oracle,so I think we should support this .

### Usage Scenario

_No response_

### Related issues

https://github.com/apache/incubator-seatunnel/issues/1946

[2022-08-21 10:54] ashulin commented on #2469
I don't think `format` should be a child of `schema`, `format` should be a connector-level option with `schema`.
`schema` is used to represent the meta information of the table such as field information(`fields`), primary key, etc.

[2022-08-21 11:01] ashulin commented on #2469
`format` is useless in some connectors, such as mysql, oracle.

[2022-08-22 02:26] dijiekstra commented on #2475
This url need start with http or https. 😊

[2022-08-22 02:39] CalvinKirs opened #2488 "[OnlineMeeting&Aug.22]SeaTunnel community meeting Topic collect"
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Community Meeting
Meeting Time: 2022/08/23 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/Y2KYOLGEOVot

#TencentMeeting：824-147-608

Copy this invitation and open in Tencent Meeting app (V2.13 or later) to join

[2022-08-22 02:42] CalvinKirs commented on #2475
hi, could you add some user-guide doc for this?

[2022-08-22 02:49] ashulin opened #2489 "[Discuss] How to use Lombok?"
At present, seatunnel also uses lombok for some people, while others do not;

Do we need uniformity? or keep the status quo.

[2022-08-22 02:50] ashulin commented on #2488
https://github.com/apache/incubator-seatunnel/issues/2489

[2022-08-22 03:06] ashulin opened #2490 "[Feature][Core] Enable the SPI factory classes to improve the entire process."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Currently, the way we parse `RowType` is inconsistent.

These factories should be enabled to allow users to configure more easily and support more features;

Below I briefly explain the f

[2022-08-22 03:08] ashulin commented on #2488
https://github.com/apache/incubator-seatunnel/issues/2490

[2022-08-22 05:45] liugddx commented on #1946
oracle connector thx

[2022-08-22 06:47] dijiekstra commented on #2475
Documentation is necessary, and I'll start working on it next month

[2022-08-22 06:48] dijiekstra commented on #2475
reply to @CalvinKirs

[2022-08-22 06:55] EricGao888 opened #2492 "[Feature][Style] Use Spotless to fix formatting and style errors automatically"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

* Use `Spotless` maven plugin to detect and fix formatting and style errors automatically.
* I will send an email to dev mail list for detailed discussions later.

### Usage Scenario

* C

[2022-08-22 07:14] yihui8776 opened #2493 "I can't execute the quick start in docker cluster"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I start the docker cluster in docker  with seatunnel
docker-compose.yml file :
version: '3'
services:
  spark-master:
    image: yihui8776/seatunnel-sparkmaster:v1
    container_name: spark-master
    po

[2022-08-22 07:45] 2013650523 commented on #1946
Hi, Brothers. I'm having some difficulties with the submission of the second segment of the sink,I went to consult the HDFS sink Connector,Its precommit is to write data to a temporary file,If the pre-commit is successful, the file name is changed to achieve the actual commit data ,If this fails, the temporary file data is deleted. I don't quite understand what method should be implemented in the

[2022-08-22 08:27] TyrantLucifer commented on #1946
@Hisoka-X Please assign s3 source & sink to me, I can do this work.

[2022-08-22 08:44] hailin0 opened #2495 "[Feature][Connector-v2] Support iceberg source"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support iceberg source #1946

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code o

[2022-08-22 10:25] yihui8776 opened #2496 "[Bug] docker spark docker-compose up ERROR: services.seatunnel.depends_on contains an invalid type, it should be an array"
### Search before asking

- [x] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

(base) root@LAPTOP-0PI5AG4S:/mnt/e/workspace/incubator-seatunnel/deploy/docker/spark# docker-compose up
ERROR: The Compose file './docker-compose.yaml' is invalid because:
services.seatunnel.depends_on c

[2022-08-22 10:30] songjianet opened #2497 "[Feature][UI] Add naive layout component in the project layout."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add naive layout component in the project layout.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to sub

[2022-08-22 10:45] Hisoka-X commented on #1946
@TyrantLucifer Hi, can you answer this question to help @2013650523 finish this work? If he can do it, I think we can help it, if he can't finish this, he can give you this issue. I think this will be better. Thanks!

[2022-08-22 10:49] TyrantLucifer commented on #1946
We have communicated privately and for him the current implementation of s3 sink and source some difficulties, he can first focus on writing iceberg, doris these connectors.

[2022-08-22 10:49] TyrantLucifer commented on #1946
We have communicated privately and for him the current implementation of s3 sink and source some difficulties, he can first focus on writing iceberg, doris these connectors.

[2022-08-22 10:52] EricJoy2048 opened #2501 "[ST-Engine][JobMaster] JobMaster need support reinit when the active master is done and new master run"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

For a HA JobMaster, We need support JobMaster be reinit in the new master node.

<img width="970" alt="image" src="https://user-images.githubusercontent.com/32193458/187685681-2dbf30ef-a8

[2022-08-22 10:59] #2497 closed, assigned to nobody

[2022-08-22 11:11] Hisoka-X commented on #1946
Great!

[2022-08-22 12:06] CalvinKirs commented on #1946
hi, it has been a long time without any feedback, I will re-modify the status of this task, and you are welcome to leave a message and contribute again.

[2022-08-22 12:14] hk-lrzy commented on #1946
i am working on doris now, MR will be ready in fews days.

[2022-08-22 12:21] zhuzhengjun01 commented on #1946
@Hisoka-X I want to work for hbase source/sink,thanks!

[2022-08-22 12:21] TyrantLucifer commented on #1946
Redis sink source @CalvinKirs. Thx.

[2022-08-22 12:25] morningman commented on #1946
Hi @hk-lrzy and @2013650523 , I can help you with Doris sink and source.
If you need any help, please let me know.

[2022-08-22 13:57] #2409 closed, assigned to laglangyue

[2022-08-22 14:50] guanboo commented on #1946
druid source & sink.

[2022-08-22 15:17] 531651225 commented on #1946
I can work for socket sink connector.

[2022-08-23 02:01] Hisoka-X commented on #2493
`22/08/22 07:13:29 INFO ClientEndpoint: State of driver-20220822071324-0004 is FAILED`
The driver log didn't display, please check your log config to make sure driver log can be display, then we will know what's problem.

[2022-08-23 08:05] Hisoka-X commented on #2496
The docker compose not update recently, so it may can't work, can you help to fix this?

[2022-08-23 08:24] hailin0 commented on #2495
Plan to support catalogs: hadoop, hive

[2022-08-23 08:26] hailin0 commented on #2495
Plan to support iceberg source read mode: batch, streaming

[2022-08-23 08:29] hailin0 commented on #2495
Plan to support columns projection

[2022-08-23 11:51] cswangzheng opened #2509 "[Feature][seatunnel-connector-flink] support for multiple format"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Currently, there is no flink format module in seatunnel.
For example, if we want to use avro in file plugin, we need to add the  flink-avro jar to classpath and change the file connector

[2022-08-23 11:56] dzzxjl commented on #1946
tdsql source, thx.

[2022-08-23 12:04] CalvinKirs commented on #2489
I've strongly used the `Lombok` , `Lombok` allows us to avoid writing a lot of redundant code

[2022-08-23 12:22] TyrantLucifer commented on #1946
OpenMLDB sink thx.

Oss source had been done, pls update status.

[2022-08-23 12:35] laglangyue commented on #2489
I've also strongly used the Lombok, but we need to prohibit some annotations, such as ` @Data` or others. Instead, we should actively add annotations getter, setter, Noconstructor,AllConstructor, hash(), equals() and so on.

[2022-08-23 14:43] ashulin commented on #2489
The lombok rookie may cause stack overflow due to the automatic generation of circular references by `@EqualsAndHashCode`, and `@ToString`.

[2022-08-23 15:26] yiminyangguang520 opened #2511 "[Bug] [Connector-Http] Can't set request param"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

It can not set request param

### SeaTunnel Version

dev branch

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

### Jav

[2022-08-24 00:36] yihui8776 commented on #2496
I  update the docker  compose  and start up but got another   exception

 docker-compose up
Starting spark_datasource_1 ... done
Starting spark_seatunnel_1  ... done
Attaching to spark_datasource_1, spark_seatunnel_1
seatunnel_1   | Execute SeaTunnel Spark Job: ${SPARK_HOME}/bin/spark-submit --class "org.apache.seatunnel.core.spark.SeatunnelSpark" --name "seatunnel" --master "local[4]" --deploy-mo

[2022-08-24 01:46] Hisoka-X commented on #2496
`seatunnel_1 | 2022-08-24 00:32:44 ERROR Seatunnel:69 - Exception StackTrace:java.lang.RuntimeException: Plugin PluginIdentifier{engineType='spark', pluginType='source', pluginName='file'} not found.`
After seatunnel 2.1.2, we split connector jar from core jar. check this #1669 .So you can check docker image have connector jar file or not.

[2022-08-24 01:55] Hisoka-X commented on #2496
you should update seatunnel command, to use `start-seatunnel-spark.sh`. I think this method will fix it.

[2022-08-24 02:10] Hisoka-X commented on #2511
Good catch, waiting your PR.

[2022-08-24 02:19] TyrantLucifer commented on #2511
Waiting for your hotfix.

[2022-08-24 02:37] Hisoka-X commented on #2509
This feature add by #2014 to connector-v2. Can you support it on connector-v2? Like add more format.

[2022-08-24 05:51] cswangzheng commented on #2509
v2 connector will be long time supported, and v1 connector will be deperacted?

[2022-08-24 06:56] hailin0 commented on #2495
done

[2022-08-24 06:57] hailin0 commented on #2495
Plan to support read iceberg FileFormat: ORC、PARQUET、AVRO

[2022-08-24 07:13] Hisoka-X commented on #2509
From the current point of view, both versions will be supported, but I hope that more new features will support v2 first. This will be much better to maintain, and at the same time you support v2, which means that multiple engines are supported at the same time.

[2022-08-24 07:24] #2511 closed, assigned to yiminyangguang520

[2022-08-24 07:42] guanboo commented on #2471
Branch：api-draft is no problem

[2022-08-24 08:25] hailin0 commented on #2495
Plan to support split read iceberg files

[2022-08-24 09:21] yihui8776 commented on #2493
stderr   is

Launch Command: "/usr/lib/jvm/java-1.8-openjdk/jre/bin/java" "-cp" "/spark/conf/:/spark/jars/*" "-Xmx1024M" "-Dspark.driver.supervise=false" "-Dspark.submit.deployMode=cluster" "-Dspark.master=spark://spark-master:7077" "-Dspark.executor.extraJavaOptions=" "-Dspark.files=file:///apache-seatunnel-incubating-2.1.0/config/application.conf,file:///seatunnel/plugins.tar.gz" "-Dspark.jars=f

[2022-08-24 09:23] yihui8776 commented on #2493
stderr   is

Launch Command: "/usr/lib/jvm/java-1.8-openjdk/jre/bin/java" "-cp" "/spark/conf/:/spark/jars/*" "-Xmx1024M" "-Dspark.driver.supervise=false" "-Dspark.submit.deployMode=cluster" "-Dspark.master=spark://spark-master:7077" "-Dspark.executor.extraJavaOptions=" "-Dspark.files=file:///apache-seatunnel-incubating-2.1.0/config/application.conf,file:///seatunnel/plugins.tar.gz" "-Dspark.jars=f

[2022-08-24 09:24] Hisoka-X commented on #2493
Same as #2496 ,I will close this issue.

[2022-08-24 09:24] #2493 closed, assigned to nobody

[2022-08-24 12:41] chessplay commented on #1946
ftp sink has been done!

[2022-08-24 12:41] chessplay commented on #1946
ftp sink has been done!

[2022-08-24 13:32] LinZhaoguan opened #2514 "[Bug] [seatunnel-spark-starter] SparkCommandArgs Will split the variable value with comma"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

1. I have a dynamic concatenated SQL，and one of the variables contains more than one comma。
2. I pass the value of the variable through -i. for example:

    my **sql** as shown below:
    `sql="select "

[2022-08-24 15:25] dik111 commented on #2452
meet the same issure in flink 1.13.3 and seatunnel 2.1.3

[2022-08-24 16:01] laglangyue opened #2516 "[Improve][Console] improve console to printf schema and deepToString fields"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I find the console is so easy ,and con't print array map and row object，and not print the schema in writer.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are

[2022-08-24 16:26] laglangyue commented on #2516
![image](https://user-images.githubusercontent.com/35491928/186472057-42c58450-cff4-4653-a689-554794af5687.png)

[2022-08-25 01:36] laglangyue opened #2521 "[Bug] [Core] ArrayType convert for spark2.4.0 and improve the convert method name"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I am testing the type Mapper，sparkExample-v2，the ArrayType will error
![Uploading image.png…]()

### SeaTunnel Version

dev

### SeaTunnel Config

[code]
[code]

### Error Exception

[code]

### Flink or

[2022-08-25 01:37] laglangyue commented on #2521
please see #2518

[2022-08-25 05:28] LinZhaoguan commented on #2514
I submitted PR for this issue. Please see #2523

[2022-08-25 08:07] #2514 closed, assigned to LinZhaoguan

[2022-08-25 08:21] dik111 commented on #965
I think support metric statistics is impornant for statistical analysis.
Is there any progress in this discussion?

[2022-08-25 08:23] dik111 commented on #2140
How Can I get metrics by seatunnel-spark-sink-JDBC ?

[2022-08-25 12:46] EricJoy2048 commented on #2426
Does standalone use this `Resource` too? If I want run 500 task in a node(this is possible because of shared threads), How do we define the number of slots supported by a node？And, how many `CPU` and `memorySize` a slot use?

[2022-08-25 13:06] #2516 closed, assigned to nobody

[2022-08-25 13:23] Hisoka-X commented on #2426
First, standalone yes. The number of our slots is configurable, such as 1024M of memory, 1024 slots can be declared (if you want to). It means that you can run 1024 tasks at the same time, and each slot has 1M memory resources (declarative, not occupied. Later, consider implementing occupied resource application in off-heap memory). By the way, we can share one slot with multi-task in the future.

[2022-08-25 13:28] #2521 closed, assigned to nobody

[2022-08-25 15:13] Hisoka-X opened #2531 "[Feature][ST-Engine] SeaTunnelContext singleton change"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

At this stage, SeaTunnelContext is a singleton mode, but the same JVM may have different SeaTunnelContext in the engine, because there will be different jobs running in the same JVM, and

[2022-08-26 03:45] #2257 closed, assigned to MRYOG

[2022-08-26 10:15] kalencaya opened #2539 "[Bug] [flink-connector-elasticsearch7] sink failure caused by unsupported deprecated TransportClient on 7.x"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

flink-connector-elasticsearch7 work fails

### SeaTunnel Version

dev, 2.1.2, 2.1.3

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_N

[2022-08-26 10:18] ghost opened #2540 "[Bug] [seatunnel-transform-flink-udf] SqlValidatorException: No match found for function signature myudf(<CHARACTER>)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I am using sql plugin and udf plugin for custom conversion of data and trying to use custom functions in udf plugin.
Here is the configuration of transform in my configuration file
[code]
source, sink, a

[2022-08-26 10:31] Hisoka-X opened #2541 "[Feature][Doc] The contribute document need be update"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The contribute document in `seatunnel/docs/en/contribution/contribute-plugin.md` are out of date. We should add connector-v2 contribute guide in it. And fix `plugin-mapping.properties` pa

[2022-08-26 10:37] Hisoka-X commented on #2539
Can you provide your config and log, thanks.

[2022-08-27 02:42] LinZhaoguan commented on #2411
@Hisoka-X  I would like to fix this problem.

[2022-08-27 07:09] guanboo commented on #1946
done：https://github.com/apache/incubator-seatunnel/pull/2544

[2022-08-27 08:32] msftgitsklsd commented on #1946
[JDBC]SqlLite sink, tks

[2022-08-27 08:45] guanboo commented on #1946
Ftp source,THX

[2022-08-27 11:25] TyrantLucifer commented on #1946
Hi, bro, in the file set of connectors, all file systems in the future will use the hdfs protocol for internal access, so you implement the source of ftp you should also use the hdfs protocol too. You can refer to `local source` `hdfs source` `oss source`, if you have any problems, please contact me soon.

[2022-08-27 11:25] TyrantLucifer commented on #1946
Hi, bro, in the file set of connectors, all file systems in the future will use the hdfs protocol for internal access, so you implement the source of ftp you should also use the hdfs protocol too. You can refer to `local source` `hdfs source` `oss source`, if you have any problems, please contact me soon.

[2022-08-27 11:27] TyrantLucifer commented on #1946
@Hisoka-X Please assign sftp sink & source to me.

[2022-08-27 11:38] liugddx opened #2546 "[Bug] [seatunnel-flink-connector-v2-e2e] FlinkContainer tmpflinkseatunnelbinstart-seatunnel-flink-new-connector.sh: command not found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Running IT use cases under Windows is error

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

[2022-08-27 12:41] liugddx opened #2548 "[Feature][Connector-V2] oracle connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

v2 connector for oracle

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Con

[2022-08-27 12:43] liugddx commented on #2548
#1946

[2022-08-28 05:31] zhongjiajie commented on #1622
It is there any process there @FlechazoW ?

[2022-08-28 08:04] 531651225 commented on #1946
InfluxDB source,THX

[2022-08-28 11:55] laglangyue opened #2551 "how to add driver-jar to lib"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Indeed, we should not provide drivers directly. Because different data source drivers may be different, do we need to provide a loading directory for the user to put the driver-jar in. Wh

[2022-08-28 11:56] laglangyue commented on #2551
Every jars for Spark-Task  is fat-jar, I can't find the lib to put the Driver-jar for jdbc, It's stupid to put it to spark lib

[2022-08-28 14:53] iture123 opened #2553 "[Connector-V2][Elasticsearch-connector] new connecotor of Elasticsearch source"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

use scroll api of Restclient to support all versions of ElastichSearch.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Y

[2022-08-28 18:31] bestchinacoder commented on #2540
I found the problem, the default task mode of the program is batch mode, so the custom function is registered into the batch mode runtime environment, but the new api adopts the processStream method of stream mode by default, and uses the stream mode runtime environment. So it will prompt that the custom function is not found. The solution is to use the stream mode runtime environment in the regis

[2022-08-28 18:31] ghost commented on #2540
I found the problem, the default task mode of the program is batch mode, so the custom function is registered into the batch mode runtime environment, but the new api adopts the processStream method of stream mode by default, and uses the stream mode runtime environment. So it will prompt that the custom function is not found. The solution is to use the stream mode runtime environment in the regis

[2022-08-29 02:56] Hisoka-X commented on #2551
Check this ：https://seatunnel.apache.org/docs/2.1.3/faq#where-can-the-self-written-plugins-or-third-party-jdbcjar-be-placed-to-be-loaded-by-seatunnel

[2022-08-29 03:14] MRYOG commented on #2222
https://seatunnel.incubator.apache.org/docs/2.1.3/category/transform

[2022-08-29 03:14] MRYOG commented on #2222
现在的链接：https://seatunnel.incubator.apache.org/docs/2.1.3/transform
改成：https://seatunnel.incubator.apache.org/docs/2.1.3/category/transform

[2022-08-29 03:15] MRYOG commented on #2222
now link ：https://seatunnel.incubator.apache.org/docs/2.1.3/transform
replace ：https://seatunnel.incubator.apache.org/docs/2.1.3/category/transform

[2022-08-29 03:16] MRYOG commented on #2222
Transform of SeaTunnel

[2022-08-29 03:52] CalvinKirs opened #2557 "[Engine][Storage-WAL]Storage system support K-V storage"
## Abstract
WAL (Write Ahead Logging) is generated due to the requirement of master node data storage persistence. We need to use the file system to complete the node data persistence.
The node data is a `KV` key-value pair, and the stored data can only be queried in full. The data is usually in kb-mb size. Direct storage of KV based on the file system itself is a heavyweight operation, and concur

[2022-08-29 03:54] laglangyue commented on #2551
thx，I get it.

---Original---
From: ***@***.***&gt;
Date: Mon, Aug 29, 2022 10:57 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/incubator-seatunnel] how to add driver-jar to lib (Issue#2551)

Check this ：https://seatunnel.apache.org/docs/2.1.3/faq#where-can-the-self-written-plugins-or-third-party-jdbcjar-be-placed-to-be-loaded-by-seatunnel

—
Reply to this email dire

[2022-08-29 03:58] CalvinKirs commented on #2557
I will add the flow chart later

[2022-08-29 06:12] 531651225 commented on #1946
Socket sink https://github.com/apache/incubator-seatunnel/pull/2549 、 Phoenix source  and  Phoenix sink   https://github.com/apache/incubator-seatunnel/pull/2499 had been done, pls update status and  update phoenix source contributer to me

[2022-08-29 06:28] 531651225 commented on #1946
The source and sink implementation is placed in a PR https://github.com/apache/incubator-seatunnel/pull/2499 , I have updated the title or need to submit a separate PR for the source @Hisoka-X

[2022-08-29 06:29] Hisoka-X commented on #1946
Already updated.

[2022-08-29 10:13] winnlight commented on #2551
实际上我就
是按照这样放置jar的，为啥还是不行啊。
![image](https://user-images.githubusercontent.com/72123320/187178840-acc9d6da-a5ff-49ce-991e-0c8a69c3c4c8.png)

[2022-08-29 10:15] winnlight commented on #2551
![image](https://user-images.githubusercontent.com/72123320/187179133-ab52f0f3-5548-4dcc-9947-e1864c6619e8.png)

[2022-08-29 13:30] laglangyue commented on #2551
your lib is error, `plugins/my_plugins/lib`

[2022-08-29 13:31] laglangyue commented on #2551
it maybe a bug, I will check it tomorrow evening

[2022-08-29 14:23] #2546 closed, assigned to nobody

[2022-08-29 15:36] laglangyue commented on #2551
org.apache.seatunnel.plugin.discovery.AbstractPluginDiscovery#findPluginJarPath
please see this code, the plugin should has some rule

[2022-08-29 16:03] laglangyue commented on #2551
may be we can use the plugins/sql/lib/

[2022-08-30 02:22] Hisoka-X commented on #2551
I checked the code, this method only work with spark. We should add jar in `plugins` to flink environment use `org.apache.seatunnel.flink.FlinkEnvironment.registerPlugin(List<URL> pluginPaths)`

[2022-08-30 02:37] hailin0 commented on #2557
How to recover wal log when k8s deploy seatunnel?
Wal log useing local filesystem storage, how to handle wal log missing after node move to other host?

[2022-08-30 04:28] ashulin opened #2561 "[improve][engine] Improved encapsulation of Engine components"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

At present, the minimum deployment unit of our engine is task, and the unique ID of task is composed of existing job-id and task-id;
The component ID (such as task-group-id and pipeline-i

[2022-08-30 08:35] luckymlog opened #2564 "X [ERROR] [plugin vite:dep-scan] Missing "./es/_mixins" export in "naive-ui" package"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

X [ERROR] [plugin vite:dep-scan] Missing "./es/_mixins" export in "naive-ui" package

### SeaTunnel Version

last

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

[2022-08-30 09:24] Hisoka-X commented on #2564
@songjianet Hi,PTAL. Thanks

[2022-08-30 09:44] Hisoka-X opened #2566 "[Feature][ResourceManager] Use hazelcast IMap to save resource info"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

 Use hazelcast IMap to save resource info to make sure Resource Manager can be recreat after master node changed. Base on #2426 and #2472

### Usage Scenario

_No response_

### Related i

[2022-08-30 14:01] wuchunfu commented on #1946
Mongodb thx.

[2022-08-30 17:24] zhaomin1423 opened #2570 "[Bug] [ConsoleSinkWriter] java.lang.ClassCastException: [I cannot be cast to [Ljava.lang.Object"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

java.lang.ClassCastException: [I cannot be cast to [Ljava.lang.Object

### SeaTunnel Version

2.1.3-SNAPSHOT

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### F

[2022-08-30 17:30] zhaomin1423 opened #2572 "[Bug] [connector-fake] Invalid date 'February 29' as '2022' is not a leap year"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Invalid date 'February 29' as '2022' is not a leap year

### SeaTunnel Version

2.1.3-SNAPSHOT

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark

[2022-08-31 01:56] guanboo commented on #1946
Hi, bro,ftp&nbsp;source the code is developed on that branch
&nbsp;

关博
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zongwen ***@***.***&gt;;
发送时间: 2022年8月27日(星期六) 晚上7:26
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache/incubator-seatunnel] [Feature][Connector] New SeaTunnel API Connectors (Issue #1946)

Ftp source,THX

Hi, bro, in the

[2022-08-31 02:00] yihui8776 commented on #2496
here is log：

bash-5.0# ./bin/start-seatunnel-spark.sh --master spark://spark-master:7077 --deploy-mode cluster   --config ./config/spark.streaming.conf

[INFO] spark conf: --conf "spark.app.name=SeaTunnel" --conf "spark.streaming.batchDuration=5" --conf "spark.executor.memory=1g" --conf "spark.executor.cores=1" --conf "spark.executor.instances=2"
Warning: Ignoring non-Spark config property: "spar

[2022-08-31 02:50] miaoze8 opened #2576 "[Bug] [Spark-Kafka-Console] Spark Streaming failure caused by no data in batch time"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

If spark streaming does not get new data within the batch time, it will continue to perform data analysis, resulting in an error.

Reproduction steps:
1. Create an empty topic
2. Use spark streaming to r

[2022-08-31 02:56] ashulin commented on #1946
@guanboo The primary branch is `dev`

[2022-08-31 05:18] CalvinKirs commented on #1946
@chessplay datahub sink done

[2022-08-31 05:33] CalvinKirs commented on #2572
closed by #2573

[2022-08-31 05:33] #2572 closed, assigned to nobody

[2022-08-31 08:20] EricJoy2048 opened #2577 "[Feature][ST-Engine] Storage Running Job and it's status to hazelcast IMap"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

A sub task of https://github.com/apache/incubator-seatunnel/issues/2501

`Update runningJob, Job Status(JobStatus, PipelineState, ExecutionState, stateTimestamps) to hazelcast IMap`

###

[2022-08-31 08:30] miaoze8 commented on #2576
Add empty dataset verification
https://github.com/apache/incubator-seatunnel/pull/2578#issue-1356988700

[2022-08-31 09:20] songjianet opened #2579 "[Feature][UI] Add jobs manage in the project."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add jobs manage in the project.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Cod

[2022-08-31 09:28] EricJoy2048 commented on #2501
@hailin0  @Hisoka-X  @TyrantLucifer  @CalvinKirs  @ashulin  @ic4y @2013650523  please have a look.

[2022-08-31 09:32] EricJoy2048 commented on #2501
I found some problems, The JobMaster can not set in IMap after it generate `PhysicalPlan`, Because the connector in `PhysicalPlan` can not be deserialization if the new active Master Node not use the `SeatunnelChildFirstClassLoader` to load the class.

So, I will set JobMaster in IMap before it init. In the new active Master Node I will get JobMaster from IMap and then call the `init` method, it w

[2022-08-31 09:38] #2579 closed, assigned to nobody

[2022-08-31 09:45] shangeyao opened #2582 "[Feature][Connector] Add Hashes && Lists in Redis Sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Above

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agre

[2022-08-31 10:02] EricJoy2048 commented on #2501
Another idea, I only set the `Data jobImmutableInformationData` to IMap, The type of `jobImmutableInformationData` is `Data` and is send from client when submit a job. And in the new active Master Node, I use `jobImmutableInformationData` and new a `JobMaster`. Then do JobMaster `init`.

[code]

generate physical plan will input  initializationTimestamp `System.currentTimeMillis()`, I think the `i

[2022-08-31 11:05] somnmos opened #2583 "[Bug] [kafka-source] Multiple KafkaSource failed with Only one StreamingContext may be started in this JVM."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I add seatunnel as maven dependencies to start my service, when I create two kafka-source task, I found only one task works, another one failed.

### SeaTunnel Version

V1.2.2

### SeaTunnel Config

[cod

[2022-08-31 11:22] Hisoka-X commented on #2496
Seem like our `AsciiArtUtils` work not fine in docker. I will fix it later

[2022-08-31 11:25] Hisoka-X commented on #2583
The error very clear, can't run two spark job in one jvm. Why do you want to break this?

[2022-08-31 12:22] Caribbeanz commented on #1946
sqllite source , thx

[2022-08-31 13:29] EricJoy2048 commented on #2577
@hailin0  @Hisoka-X  @CalvinKirs  @ashulin  @ic4y  @laglangyue  @TyrantLucifer  @2013650523

Do you have any suggestions?

[2022-08-31 14:06] CalvinKirs commented on #2577
The WAL file count is not determined by this. So you can rest assured on this one.

[2022-08-31 14:14] laglangyue commented on #2570
Please sync your fork，this bug has be fixed in PR #2545,
and the PR has approval 10 hours ago.

[2022-08-31 14:57] TyrantLucifer commented on #2577
I share his opinion too, you can boldly use.

[2022-08-31 15:12] TyrantLucifer commented on #1946
Redis source had been done, pls update status.

[2022-09-01 01:01] EricJoy2048 commented on #2577
Ok, thank you

[2022-09-01 01:12] EricJoy2048 commented on #2577
Now the  type of JobStatus, PipelineState, ExecutionState  are `AtomicReference`, we use `compareAndSet` to ensure the atomicity of state updates. To use IMap to storage state and ensure the `stateTimestamps ` and states update together, I will use an Object Lock in method `updateTaskState` and `turnToEndState`.

[2022-09-01 01:20] EricJoy2048 commented on #2577
How about using  `Tuple2<Data, Long>` instead of `RunningJobInfo`? I think and a class `RunningJobInfo` is no need.

[2022-09-01 04:19] melin commented on #1946
support sap hana

[2022-09-01 08:23] songjianet opened #2590 "[Feature][UI] Add tasks manage in the project."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add tasks manage in the project.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Co

[2022-09-01 08:59] lvlv-feifei opened #2592 "[Feature][Metrics] Seatunnel-Metrics"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

To build a seatunnel metrics system, the idea is to obtain task metrics through spark sink on&&flink reporter, and seatunnel processes the metrics in a unified manner, defines the interfa

[2022-09-01 09:32] #2590 closed, assigned to nobody

[2022-09-01 14:57] sudufly opened #2594 "[Bug] [Spark-Streamming] offset"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

spark-streaming 偏移量提交异常，任务未处理完，但是偏移量已经提交
![image](https://user-images.githubusercontent.com/46857527/187945003-62b58c5e-19b2-4d67-9e50-775c0c528069.png)
上述提交偏移量部分可简化为下图

![image](https://user-images.gith

[2022-09-02 00:31] yihui8776 opened #2598 "[Bug] java.lang.NoClassDefFoundError: org/apache/flink/table/api/bridge/java/StreamTableEnvironment"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when run the example as docker flink

got the exception
java.lang.NoClassDefFoundError: org/apache/flink/table/api/bridge/java/StreamTableEnvironment

### SeaTunnel Version

2.1.3

### SeaTunnel Config

[2022-09-02 01:48] EricJoy2048 commented on #1946
Support `maxcompute` connector please.

[2022-09-02 02:30] Hisoka-X commented on #2592
Great! Looking forward your contribute!

[2022-09-02 03:13] lihjChina commented on #2181
you need add your dependency at the example project.
       <dependency>
            <groupId>org.apache.seatunnel</groupId>
            <artifactId>seatunnel-connector-flink-jdbc</artifactId>
            <version>${project.version}</version>
        </dependency>

[2022-09-02 03:14] lihjChina commented on #2181
<script>alert(000)</script>

[2022-09-02 03:52] liugddx commented on #1946
Sql-Server thx

[2022-09-02 04:02] ashulin opened #2599 "[Improve][build] maven-shade-plugin using scope is too large"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now I find `maven-shade-plugin` in the root directory of `pom.xml` was imported, causes the entire seatunnel project are shaded, which makes seatunnel after packaging size is very large.

[2022-09-02 04:15] ashulin opened #2600 "[Improve][build] The connector module correctly execute `shaded` and `flatten`"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

After we have done `shaded`, we did not remove the shaded dependency when we `flattened` the pom, which makes the connector's jar is uber, but the connector's pom does not exclude the sha

[2022-09-02 04:21] ashulin commented on #2598
What is the version of Flink?

[2022-09-02 05:15] ashulin commented on #2561
Result of IM discussion: Take `Task`, `TaskGroup`, `Pipeline`, and `Job` existing in the current architecture as basic components and concepts, and will provide an object (`TaskLocation`) that integrates these IDs. Future component ID will be extended on it and will not be used in Task.

[2022-09-02 05:15] #2561 closed, assigned to nobody

[2022-09-02 05:19] ashulin commented on #2489
Apache SeaTunnel community online meeting discussion results: lombok can be used as much as possible.

[2022-09-02 05:19] #2489 closed, assigned to nobody

[2022-09-02 05:52] liugddx opened #2601 "[Feature][Connector-V2] sql-server connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

support V2 Connector for sql-server

### Usage Scenario

_No response_

### Related issues

#1946

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of

[2022-09-02 06:53] EricJoy2048 commented on #2476
@hailin0  Are you interested in completing this feature?

[2022-09-02 07:28] EricJoy2048 commented on #2557
Do you have more detailed design information？

[2022-09-02 08:31] ashulin opened #2604 "[Umbrella] Improved build and e2e test"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

We expect to improve many issues with seatunnel when building an

[2022-09-02 08:35] ashulin opened #2605 "[Improve][build] seatunnel core dependencices don't need to be shaded"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now the connector module will shade the core dependencices of seatunnel together when it is shaded, which is not needed.

### Usage Scenario

maven build

### Related issues

_No response

[2022-09-02 08:43] ashulin opened #2606 "[Improve][build] root's pom.xml don't need to manage all dependencies"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In the future, we will support multiple versions of the flink/spark engine, and version management will become an important issue.

seatunnel manages all dependencies in root's pom.xml, w

[2022-09-02 08:50] ashulin opened #2607 "[Improve][e2e] connectors e2e use separate module"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Currently there may be dependency conflicts when executing e2e tests in an e2e module;
The relocation of maven-shade-plugin can only solve some conflicts, for Class.forName(), relocation

[2022-09-02 08:57] hzwcome opened #2608 "[Bug] [JDBC Source] Caused by: java.lang.IllegalArgumentException: JDBC-Class not found. - oracle.jdbc.driver.OracleDriver"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I try use Flink version Seatunnel load data from Oracle to ClickHouse,It's wrong!
and I put ojdbc8.jar package to flink/lib yet,also put jar to ${seatunnel_home}/plugins/oracle

### SeaTunnel Versio

[2022-09-02 08:59] hzwcome commented on #2608
I use Spark Version is correct!
I want to see the performance gap between the Flink and Spark

[2022-09-02 09:51] lry789 commented on #1786
export version="2.1.3"
wget "https://archive.apache.org/dist/incubator/seatunnel/${version}/apache-seatunnel-incubating-${version}-bin.tar.gz"
wget https://www.apache.org/dyn/closer.lua/flink/flink-1.14.5/flink-1.14.5-bin-scala_2.11.tgz

我也是相同的问题搞了一个下午，有点暴躁，下载的都是官方的包，缺泥腿子的依赖包。你自己搞个环境跑跑试试

[2022-09-02 09:52] hailin0 commented on #2607
please assign to me

[2022-09-02 11:13] EricJoy2048 opened #2612 "[Discuss][Doc] Unify some contents in source and sink connector documents"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The connector has some very important features, such as `batch` and `stream` and `exact-once` of the source connector. `exact-once` of sink connector. But there is no uniform fixed format

[2022-09-02 11:15] EricJoy2048 commented on #2612
@2013650523  @laglangyue  @TyrantLucifer  @iture123  @hailin0  @legendtkl  @531651225 @zhuangchong

[2022-09-02 11:18] ashulin commented on #2612
exact-once --> exactly-once

[2022-09-02 11:20] EricJoy2048 commented on #2612
Ok, Thank you.

[2022-09-02 12:21] hailin0 commented on #2612
template for Source connector:

- [ ] parallelism
- [ ] format(csv、json、parquet、avro、orc)

[2022-09-02 12:24] hailin0 commented on #2612
template for Source & Sink connector:

- [ ] schema projection

[2022-09-02 12:32] EricJoy2048 commented on #2612
I think `format(csv、json、parquet、avro、orc)` is not a universal feature for Source connector. It is only used for connectors that can directly read or write data files.

[2022-09-02 12:32] EricJoy2048 commented on #2612
You are right.

[2022-09-02 12:42] hailin0 commented on #2612
agree

[2022-09-02 18:57] zhuangchong commented on #2612
+1

[2022-09-02 20:18] silenceland opened #2617 "[Connector-V2][OceanBase] Support database: OceanBase"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

OceanBase
https://www.oceanbase.com/

Support connect OceanBase https://github.com/apache/incubator-seatunnel/issues/1946
Add OceanBase source & sink code

### Usage Scenario

_No respons

[2022-09-03 00:43] 531651225 commented on #1946
[Jdbc]DB2 source and sink , thx

[2022-09-03 01:01] 531651225 commented on #1946
[Jdbc]DB2 source and sink , thx

[2022-09-03 02:00] EricJoy2048 commented on #1946
@getChan  Does `Neo4j Sink` support `exactly-once`?

[2022-09-03 02:08] Hisoka-X commented on #1946
Hi, DB2 already in #2410 , I forgot update. Sorry

[2022-09-03 02:09] Hisoka-X commented on #1946
[Jdbc]DB2 source and sink , thx

@531651225 Hi, DB2 already in https://github.com/apache/incubator-seatunnel/pull/2410 , I forgot update. Sorry, can you pick another?

[2022-09-03 02:16] 531651225 commented on #1946
OK

[2022-09-03 02:17] #2606 closed, assigned to CalvinKirs

[2022-09-03 02:45] getChan commented on #1946
No. Not yet

[2022-09-03 03:19] #2326 closed, assigned to nobody

[2022-09-03 03:25] TyrantLucifer commented on #2612
For some unstructured data connectors, `format` is also important. Beacuse connectors use this parameter as a basis for identifying the upstream data format

[2022-09-03 03:30] iture123 opened #2621 "[Bug] [connector-v2] Elasticsearch sink need optimization"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

1.in ElasticsearchSinkWriter.java,if bulk es error,need to throw Exception.
[code]

2.in IndexTypeSerializerFactory.java,if es version is 6.x,neet to give a default index type.
[code]

### SeaTunnel Vers

[2022-09-03 06:03] EricJoy2048 commented on #2612
I will add `format` in the connector that needs it.

[2022-09-03 06:13] #2600 closed, assigned to ashulin

[2022-09-03 06:25] EricJoy2048 commented on #2612
I am not found `Hive Source` Connector in the document. @TyrantLucifer  @CalvinKirs

<img width="356" alt="image" src="https://user-images.githubusercontent.com/32193458/188258712-3142fef4-44d2-428f-a1e0-fd56d437b332.png">

[2022-09-03 07:45] TyrantLucifer commented on #2612
Because the file sink connector refactoring hive sink connector also needs to be refactored, and so I will submit this part of the code with the documentation.

[2022-09-03 07:46] laglangyue commented on #2608
Maybe we can add a little explanation or link to these words，because some people I meet don't fully understand these terms Or call it differently.
maybe it can be in Chapter Concept.

[2022-09-03 08:06] EricJoy2048 commented on #2612
I suggest we add a doc file named `key-features.md` to explain the technical terms. And then every connector document link to this file

[2022-09-03 08:24] TyrantLucifer commented on #2612
+1

[2022-09-03 11:46] TyrantLucifer commented on #2621
Good job, waiting for your contribution.

[2022-09-03 12:20] iture123 opened #2631 "[Bug] [connector-v2] #!/bin/sh need modify to #!/bin/bash"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Such as in file start-seatunnel-flink-new-connector.sh
#!/bin/sh need modify to #!/bin/bash
Because in some Linux  Distributions,sh linked to dash.

### SeaTunnel Version

2.1.3-SNAPSHOT

### SeaTunnel C

[2022-09-03 13:40] liugddx commented on #2631
pls change Line Spearator to LF

[2022-09-03 13:51] liugddx commented on #2608
Did you restart Flink？

[2022-09-03 14:03] #2612 closed, assigned to nobody

[2022-09-03 14:38] iture123 commented on #2631
I see.

[2022-09-03 16:22] laglangyue commented on #2631
see PR #2633
you should fix it local

[2022-09-03 16:27] laglangyue commented on #2608
the bug is existed in flink, please see the the issue https://github.com/apache/incubator-seatunnel/issues/2551

[2022-09-03 16:28] laglangyue commented on #2608
could you put a PR to fix it if possiple? If not I will fix it  before next weekend.

[2022-09-04 05:37] hailin0 opened #2635 "[Bug] [connector-jdbc-v2] Cannot commit when autoCommit is enabled"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

connector-jdbc throw exception: Cannot commit when autoCommit is enabled

### SeaTunnel Version

dev branch

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Fl

[2022-09-04 16:16] TyrantLucifer opened #2642 "[Discuss][e2e] How to load connector extra jar dependencies in container?"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

According to some connectors like jdbc that need extra jar dependencies, if we want to test these connectors in e2e it needs load extra jar denpendencies in docker containers. The actual

[2022-09-04 16:18] #2635 closed, assigned to nobody

[2022-09-05 01:50] yihui8776 commented on #2598
1.9

[2022-09-05 03:09] hailin0 opened #2643 "[Bug] [Connector-v2-redis]connect redis container connection reset in e2e-testcase"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

connect redis container connection reset in e2e-testcase

### SeaTunnel Version

dev branch

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Ver

[2022-09-05 03:59] hailin0 opened #2645 "[Feature][Connector-v2] Support iceberg sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support iceberg sink #1946

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [x] Yes I am willing to submit a PR!

### Code of

[2022-09-05 04:00] hailin0 commented on #2645
@2013650523

[2022-09-05 04:12] 2013650523 commented on #2645
hi,I am working on the Sink Iceberg.

[2022-09-05 05:57] #2643 closed, assigned to nobody

[2022-09-05 06:09] #2576 closed, assigned to nobody

[2022-09-05 06:37] hzwcome commented on #2608
yes,I restart.

[2022-09-05 06:40] hzwcome commented on #2608
Yes,I did

[2022-09-05 06:42] hzwcome commented on #2608
I don't have the ability T_T.
you can try.Good luck to you!

[2022-09-05 10:04] hk-lrzy commented on #2642
Should we add it into connector modules, it should related with connector.

[2022-09-05 10:22] gitfortian opened #2649 "[Feature][syslog-connector] can seatunnel support a syslog-connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

hardware info or log collector need by syslog protocol tcp or udp ,can seatunnel support this connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you

[2022-09-05 13:00] guanboo commented on #1946
Done Druid Source&Sink
 #2651

[2022-09-05 15:35] liugddx commented on #2606
e2e test need jdbc driver,Is it a direct dependency now? or add bom model?

[2022-09-06 01:21] CalvinKirs opened #2656 "[OnlineMeeting&Sep.6]SeaTunnel community meeting Topic collect"
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Community Meeting
Time: 2022/09/06 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/ZWqBClZGFa8i

#TencentMeeting：899-835-706

Copy this invitation and open in Tencent Meeting app (V2.13 or later) to join the meet

[2022-09-06 01:21] CalvinKirs commented on #2656
#2488

[2022-09-06 01:21] #2488 closed, assigned to nobody

[2022-09-06 03:23] Hisoka-X commented on #2606
@liugddx We will support add driver into e2e, track this: https://github.com/apache/incubator-seatunnel/pull/2640

[2022-09-06 06:13] CalvinKirs commented on #1946
Sentry Sink has done # 2584 thanks @Saintyang

[2022-09-06 06:17] Hisoka-X commented on #2608
same with #2551

[2022-09-06 06:17] #2608 closed, assigned to nobody

[2022-09-06 06:40] #2607 closed, assigned to hailin0

[2022-09-06 09:52] dijiekstra commented on #2656
Sync progress of Web module.
https://lists.apache.org/thread/koobg3bf2o3fk8z2sql30vrvvbgr5nh3

[2022-09-06 11:59] hailin0 commented on #2656
#2512

[2022-09-06 13:31] laglangyue opened #2661 "[Improve] the name of sub-module of e2e"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/35491928/188647697-b5822d55-cc1c-406e-96c9-6c57457c42f0.png)
The name of the sub module is too long to distinguish, and it is easy to da

[2022-09-06 13:33] laglangyue commented on #2661
The name of the submodule is too long and has many same prefixes

[2022-09-06 14:18] laglangyue commented on #2661
In future， if we has more e2e subModule, it's not easy to distinguish，
may be we just need the name such as fake-s1 for v1 connecotr.  fake-s2 for for v2 connector

[2022-09-06 14:18] laglangyue commented on #2661
flink is fake-f1,fake-f2

[2022-09-07 01:54] CalvinKirs commented on #1946
Redis sink has done, thanks @TyrantLucifer

[2022-09-07 02:51] lhboss opened #2666 "[Feature][ST-Web] Job execution design"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

![image](https://user-images.githubusercontent.com/36065215/188776328-659c9a0c-b36e-4df0-86ea-dd0506d4ee5a.png)

1. The job instance displays the name of the execution container ： The ser

[2022-09-07 05:01] somnmos commented on #2583
I wanna to quote the seatunnel maven dependency directly in my microservice module, rather than install seatunnel binary on my virtual machine.

[2022-09-07 05:54] Hisoka-X commented on #2583
It's hard to do that at now. But maybe we can implement this feature in our new engine.

[2022-09-07 06:13] liugddx opened #2668 "[Bug] [e2e-test] TestEngine with ID 'junit-jupiter' failed to discover tests"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

e2e test
`Internal Error occurred.
org.junit.platform.commons.JUnitException: TestEngine with ID 'junit-jupiter' failed to discover tests
	at org.junit.platform.launcher.core.EngineDiscoveryOrchestrator.

[2022-09-07 07:39] #2656 closed, assigned to nobody

[2022-09-07 07:44] #2023 closed, assigned to nobody

[2022-09-07 07:45] TyrantLucifer commented on #1946
Mongo source has done, thanks @wuchunfu

[2022-09-07 07:53] #2299 closed, assigned to TyrantLucifer

[2022-09-07 07:54] TyrantLucifer commented on #2298
pr #2467 #2629

[2022-09-07 07:54] #2298 closed, assigned to TyrantLucifer

[2022-09-07 07:55] TyrantLucifer commented on #2291
pr #2297

[2022-09-07 07:55] #2291 closed, assigned to TyrantLucifer

[2022-09-07 07:56] #2130 closed, assigned to TyrantLucifer

[2022-09-07 09:08] #2661 closed, assigned to nobody

[2022-09-07 11:22] lhyundeadsoul opened #2671 "[Feature][Connector-V2] TDengine connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

support V2 Connector for TDengine

### Usage Scenario

time-serial data

### Related issues

refer to https://github.com/apache/incubator-seatunnel/issues/1946

### Are you willing to sub

[2022-09-07 13:21] ashulin commented on #2598
For V1 connectors, Flink 1.13+ is supported；
For V2 connectors, Flink 1.12+ is supported

[2022-09-07 13:21] #2598 closed, assigned to nobody

[2022-09-07 14:16] #2599 closed, assigned to ashulin

[2022-09-07 15:44] ashulin opened #2673 "[Improve][build] Remove the connector-*dist module"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

## Motivation

1. Reduce the size of the packaged seatunnel;

## Backgroud

I found that the dist module of the connector can be removed, and it is currently used in two scenarios:
1.  #2681 Copy the conn

[2022-09-08 03:43] EricJoy2048 opened #2678 "[Feature][API] SeaTunnel Transform API"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We already have `SeaTunnel Source API` and `SeaTunnel Sink API`, but we don't have `SeaTunnel Transform API` now.
We need `SeaTunnel Transform API` and it must have some key features:

-

[2022-09-08 04:01] EricJoy2048 commented on #2678
@TyrantLucifer  @laglangyue  @legendtkl  @zhuangchong  @hailin0 @ashulin  @Hisoka-X  @CalvinKirs  @ic4y  @lhyundeadsoul  @wolfboys  @2013650523  @531651225

I try @ everyone I know.

[2022-09-08 04:26] ashulin opened #2681 "[Improve][e2e] container only copy required connector jars"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Copy the connector dependencies to the container during the e2e test: this will copy all the connectors of the entire dist, which is unnecessary. I am going to use plugin.mapping and conf

[2022-09-08 04:55] ashulin commented on #2678
+1, I expect to reduce row conversions in the engine translation.

[2022-09-08 06:12] hailin0 commented on #2476
@EricJoy2048
please assign to me

[2022-09-08 06:21] #2631 closed, assigned to nobody

[2022-09-08 08:06] MRYOG opened #2684 "[Feature][DingTalk] add DingTalk Source"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

add DingTalk Source ,can use DingTalk API get  enterprise internal application content

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit

[2022-09-08 08:20] #2684 closed, assigned to nobody

[2022-09-08 13:03] songjianet opened #2689 "[Feature][UI] Add theme in the project."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add theme in the project.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of C

[2022-09-08 13:47] 2013650523 commented on #2678
+1

[2022-09-08 13:53] TyrantLucifer commented on #2678
It's great to hear about this exciting decision from the community and I want to be a part of it. It's necessary to develop our own transform API.

[2022-09-08 14:15] laglangyue opened #2691 "[e2e] How about Generate a task like fake2Mysql to generate all type for source, and generate 100W row data to test performance"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Only dm generate all type for e2e, but  only 1 row. because it's not easy generate diffcult data for any column.
so I mean we can generate data by seatunnel task.
We can add corresponding

[2022-09-08 15:25] 2013650523 commented on #2612
What does this mean in general?

[2022-09-08 17:02] Builder34 commented on #1946
GaussDB source & sink , thx

[2022-09-09 04:10] TyrantLucifer commented on #2691
This is a import feature I want to discuss too. I think we can upgrate the fake connector and support generating a specified amount of data of a specified type, BTW, we can also control how many pieces of data there are in a field.

[2022-09-09 05:56] isMrH opened #2698 "[Bug] [Spark Sink tidb] Sink tidb exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I encountered an exception when using sink tidb.
Because I can't control the batch size when I use `Spark sink JDBC` to connect to `tidb`, the transaction is too large when I insert tidb, resulting in me

[2022-09-09 07:18] Carl-Zhou-CN commented on #2698
I want to do some screening work for this, can you assign this task to me

[2022-09-09 07:24] Carl-Zhou-CN commented on #2698
@isMrH You can try to manually remove connectors/spark/seatunnel - connector - spark - tidb - 2.1.2. The hadoop jar package

[2022-09-09 07:53] CalvinKirs commented on #2691
It's so great!
But performance tests don't fit here, and almost no one runs performance tests all the time.

[2022-09-09 07:55] CalvinKirs commented on #2691
Also, how do we cover all data types from various data sources, is there any specific solution? Current test coverage is not comprehensive.

[2022-09-09 07:57] Carl-Zhou-CN commented on #2594
I have the opposite opinion with you, of course, this may also be my opinion. I think your first source should be submitted normally, but for the second source, the offset should never be submitted. Can you synchronize more information @sudufly

[2022-09-09 08:00] #2681 closed, assigned to ashulin

[2022-09-09 08:16] TyrantLucifer opened #2700 "[Bug] [spark-examples-v2] Jackson dependency conflict"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The version of jackson in SeaTunnel is 2.12.6, but the version of jackson in Spark 2.4.0 is 2.6.7.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Except

[2022-09-09 08:28] #2566 closed, assigned to Hisoka-X

[2022-09-09 08:44] ashulin commented on #2612
+1, `user-defined schema` is perhaps better; `projection pushdown` is SQL optimization terminology.

[2022-09-09 09:46] isMrH commented on #2698
@Carl-Zhou-CN Thank you for your answer.
I removed `connectors/spark/seatunnel-connector-spark-tidb-2.1.2`.
Do I need to do anything else?
I also tried replacing `seatunnel-connector-spark-tidb-2.1.2` with `tispark-assembly-2.4.3-scala_2.11.jar` but it still doesn't work
The following error occurred.

[code]

[2022-09-09 09:53] Carl-Zhou-CN commented on #2698
@isMrH Sorry, I may not express it very clearly, it is to delete the related jars of hadoop in seatunnel-connector-spark-tidb-2.1.2, not to remove the entire package

[2022-09-09 10:01] Carl-Zhou-CN commented on #2698
jar vtf connectors/spark/seatunnel-connector-spark-tidb-2.1.2.jar | grep hdfs

[2022-09-09 10:13] Carl-Zhou-CN commented on #2698
Of course, this is only a temporary solution. I hope this command will be helpful for you to delete it. I will fix this bug in the future.

[2022-09-09 10:33] zhaomin1423 commented on #1946
Flink Table Store, thx.

[2022-09-09 10:36] CalvinKirs commented on #1946
Hi, thanks, Source or Sink?

[2022-09-09 10:39] iture123 commented on #1946
Flink Table Store Sink, thx.

[2022-09-09 12:09] laglangyue commented on #2691
For JDBC, the DDL can be completed through a configuration file, and the data is generated through fake2source, and then verified using source2assert. This can be abstracted as junit5extension.

 For others, we need a similar process, how can we use conf file to do DDL for others

[2022-09-09 12:10] laglangyue commented on #2691
maybe we can tale about all type test first. Performance test: we can put it on hold.

[2022-09-09 15:53] #2673 closed, assigned to ashulin

[2022-09-10 12:28] laglangyue opened #2712 "[Bug] [e2e] e2e can't running in WIN10"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

e2e can't running in WIN10

![image](https://user-images.githubusercontent.com/35491928/189483383-63cd867a-6f08-4b5c-889a-d1c1e9e82d0a.png)

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

###

[2022-09-10 12:28] laglangyue commented on #2712
I know this exception, I will fix it

[2022-09-10 12:35] #2689 closed, assigned to nobody

[2022-09-10 14:07] laglangyue commented on #2712
![image](https://user-images.githubusercontent.com/35491928/189487064-91641f62-bc09-40ac-88fa-212538e5b30f.png)

[2022-09-10 14:47] TyrantLucifer opened #2713 "[Improve][Orc-Read] Improve orc read strategy"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support read more complex data types from orc files. Now only support read basic types.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submi

[2022-09-10 14:48] TyrantLucifer commented on #2712
It's ok in my computer. Please check your configuration. Change the line feed of shell from `CRLF` to `LF`.

[2022-09-10 14:49] TyrantLucifer opened #2714 "[Improve][Parquet-Read] Improve parquet read strategy"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support read more complex data types from parquet files. Now only support read basic types.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to s

[2022-09-10 14:50] laglangyue commented on #2712
Are your test in win10?

[2022-09-10 15:00] laglangyue commented on #2712
My computer is win10, and docker is  in  virtual box centos7

[2022-09-10 15:00] TyrantLucifer commented on #2712
yep.

[2022-09-10 15:04] laglangyue commented on #2712
fine , I'll take a look at it again, I don't change anything.It work before e2e module changed.

[2022-09-11 05:12] #2551 closed, assigned to nobody

[2022-09-11 12:48] #2700 closed, assigned to TyrantLucifer

[2022-09-12 03:07] Hisoka-X commented on #2244
Closed by #2584

[2022-09-12 03:07] #2244 closed, assigned to Saintyang

[2022-09-12 05:42] wuchunfu commented on #1946
Mongo sink has done

[2022-09-12 11:13] isMrH commented on #2698
@Carl-Zhou-CN
Follow the above to the end.
I've now got a new bug.
[code]

[2022-09-12 11:20] #2698 closed, assigned to nobody

[2022-09-13 01:04] Carl-Zhou-CN commented on #2698
@isMrH hi,isMrH, I see that you closed issues, I want to ask, is this issue finally resolved?

[2022-09-13 01:49] isMrH commented on #2698
@Carl-Zhou-CN Thank you, according to your answer, the problem is solved.

[2022-09-13 03:05] debrachena commented on #1946
Attention, please! The FIRST PHASE of SeaTunnel Connector Access Program brings to a successful close, and the winner list is announced: @TyrantLucifer @531651225 @getChan @guanboo @MRYOG @chessplay @Saintyang @wuchunfu @laglangyue @EricJoy2048 @CalvinKirs @ashulin @ic4y @hailin0

The winners listed here, please connect to the community(WeChat: Leonard-ds),or fill in the [form](http://whaleops.mik

[2022-09-13 03:48] #2712 closed, assigned to nobody

[2022-09-13 05:35] hailin0 commented on #2691
I agree

[2022-09-13 05:42] hailin0 commented on #2691
@laglangyue

Thoughts on enhance `FakeSource`:
- Support define row type
- Supports define the total number of rows of data
- Supports direct definition of data values(row)

[2022-09-13 06:30] #2668 closed, assigned to liugddx

[2022-09-13 10:48] somnmos commented on #2583
I am Looking forward to your further information.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-seatunnel"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年9月7日(星期三) 中午1:54
***@***.**

[2022-09-13 11:59] liugddx commented on #2691
great,i can do somthing for this issue

[2022-09-13 12:43] laglangyue commented on #2678
+1

[2022-09-13 12:57] lhyundeadsoul commented on #2678
+1
Looking forward to more details.

[2022-09-13 13:04] EricJoy2048 commented on #2691
With the addition of `SeaTunnel Engine` every connector need add e2e-test for three engine. This is a difficult and boring job for developers. So I think it's time to add an automated test framework for SeaTunnel. The test framework need support some key features:

1. Automatically generate job configuration files based on the information provided by the connector. If the connector is a source con

[2022-09-13 13:09] EricJoy2048 commented on #2678
YYDS

[2022-09-13 13:10] EricJoy2048 commented on #2678
YYDS

[2022-09-13 15:15] hailin0 opened #2725 "[ST-Engine][Logs] Log ecosystem Integration"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

# ST-Engine integration log ecosystem proposal

## Backgroud & Motivation

Currently ST-Engine has not integrated log framework management engine and connector logs.

I think it is possib

[2022-09-13 15:17] hailin0 commented on #2272
ST-Engine integration log ecosystem #2725

[2022-09-14 02:06] hailin0 commented on #2725
subtask #2722

[2022-09-14 03:38] isMrH commented on #2698
@Carl-Zhou-CN I don't know if it's related to this issue
Exception when primary key or unique key exists in `tidb` table.
[code]

[code]

[2022-09-14 03:41] hailin0 commented on #2645
link #2495

[2022-09-14 05:51] Carl-Zhou-CN commented on #2698
@isMrH options.replace

[2022-09-14 07:50] hailin0 commented on #2678
+1

[2022-09-14 07:54] hailin0 commented on #2725
@2013650523 @531651225 @TyrantLucifer @laglangyue @zhuangchong @liugddx @iture123 @dijiekstra @guanboo
@Hisoka-X @ic4y @EricJoy2048 @CalvinKirs @ashulin

I try @ everyone I know.

[2022-09-14 07:58] CalvinKirs commented on #2725
Great and +1

[2022-09-14 07:59] ic4y commented on #2678
+1

[2022-09-14 08:01] TyrantLucifer commented on #2725
+1

[2022-09-14 08:06] 531651225 commented on #2678
+1

[2022-09-14 08:07] guanboo commented on #2725
+1

[2022-09-14 08:12] Hisoka-X commented on #2678
+1

[2022-09-14 08:12] Hisoka-X commented on #2725
+1

[2022-09-14 09:18] liugddx commented on #2725
+1

[2022-09-14 09:19] EricJoy2048 commented on #2678
Is anyone interested in this feature and can create a pr for it?

[2022-09-14 09:23] isMrH opened #2727 "[Feature][seatunnel-connector-spark-jdbc-sink] add options, prefix is 'jdbc.'"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Adding a configuration item prefixed with `jdbc.` to `Sink-jdbc` did not take effect.
No matter how I configure it, the batch size is 1000.
The number of processes connecting to tidb is a

[2022-09-14 09:41] TyrantLucifer commented on #2678
As of now, the api for this part is not designed yet, right?

[2022-09-14 09:41] TyrantLucifer commented on #2678
As of now, the api for this part is not designed yet, right?

[2022-09-14 10:07] EricJoy2048 opened #2729 "[Discuss][RoadMap] SeaTunnel RoadMap"
Hi everyone.
Here we can discuss the roadmap of SeaTunnel in Q4.

### SeaTunnel API & SeaTunnel Connector
- [x] CDC Connector MySQL https://github.com/apache/incubator-seatunnel/issues/2394
- [x] Transform API https://github.com/apache/incubator-seatunnel/issues/2678
- [x] Transform V2 Flink Translation https://github.com/apache/incubator-seatunnel/issues/3267
- [x] Transform V2 Spark Translation

[2022-09-14 10:30] ashulin opened #2730 "[spark] jdbc sink don't resolve the extra jdbc options"
### Discussed in https://github.com/apache/incubator-seatunnel/discussions/2696

<div type='discussions-op-text'>

<sup>Originally posted by **isMrH** September  9, 2022</sup>
I want to control the number of processes that `sink JDBC` writes to tidb and the `batch size`.
How should I configure it?

The configuration file is as follows:
[code]
error:
[code]

start:
[code]
</div>

[2022-09-14 10:38] ashulin commented on #2729
Improve end-to-end testing of connector-v2 in a multi-engine environment;
Now developers need to write a lot of repeated code to test different engines, if we support more version engine, this will generate more repeated test code;

[2022-09-14 11:08] dijiekstra commented on #2729
SeaTunnel Web Server:
Release MVP version, and improve the fellings.

[2022-09-14 11:30] CalvinKirs commented on #1946
@MonsterChenzhuo @bigdataf @FlechazoW  @lhyundeadsoul  @Tangruilin @Jlellal-HT hi, how much progress has been made? anythings I can do for you?

[2022-09-14 11:54] EricJoy2048 commented on #1946
@Hisoka-X  please add `Sentry Source` connector.

[2022-09-14 12:43] lhyundeadsoul commented on #1946
TDengine Source has been done. Looking forward to CR. Thx
https://github.com/apache/incubator-seatunnel/pull/2707

[2022-09-14 13:12] hailin0 commented on #2691
@EricJoy2048
How about let's tackle this first?  auto translation connector-e2e to multiple engines execute, this is easier to implement and has a higher priority

[2022-09-14 13:20] TyrantLucifer commented on #2691
This is a good suggestion, but it can be difficult to implement. There will be different configuration files and parameters for different connectors, and different connectors will require different docker images. I don't really understand if the program automatically generates the configuration file or if the whole process code has to be generated automatically.

[2022-09-14 13:20] laglangyue commented on #2691
agree, I has finished the e2e for spark，and I just copy the code for flink-e2e.

[2022-09-14 13:23] laglangyue commented on #2691
The initialization of DataSources is the same for engin such as Spark,Flink,ST-engine.

[2022-09-14 13:27] TyrantLucifer commented on #2691
Yep, I agree with you, but we still have to develop the code for each connector manually, it's not automatically generated. I can understand if it is to unify the process, but I can't understand the automatic generation.

[2022-09-14 13:57] ashulin commented on #2725
+1

[2022-09-14 14:46] ashulin opened #2733 "[Improve][e2e] Improve end-to-end testing of connector-v2 in a multi-engine environment"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now developers need to write a lot of repetitive code to test different engines, which is a very boring thing.
If we support more versions of the engine, this will generate more duplicate

[2022-09-14 14:47] ashulin commented on #2733
@hailin0 @CalvinKirs @Hisoka-X @EricJoy2048 @TyrantLucifer @laglangyue @liugddx @ic4y

[2022-09-14 14:59] TyrantLucifer commented on #2733
Looking forward this exciting feature.

[2022-09-15 01:24] zhuangchong commented on #2725
+1

[2022-09-15 04:04] lvlv-feifei opened #2735 "[idea][Metrics] Seatunnel-metrics frame"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Implementation of a seatuneel indicator system

### Usage Scenario

I have completed a process to get metrics from flink/spark, define an interface in seatunnel, and output it in the form

[2022-09-15 04:06] lvlv-feifei commented on #2735
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/40759793/190311582-4cf5c834-86c9-4d7e-b843-41f520e498c2.png">
This is a test show to the prometheus

[2022-09-15 06:37] CRUDKanade opened #2736 "[Bug] --variable无法替换配置文件里的${}变量"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

按官网https://seatunnel.apache.org/zh-CN/docs/2.1.3/command/usage , 描述使用 --variable 命令无法替换${}变量

### SeaTunnel Version

2.1.2

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[2022-09-15 08:51] EricJoy2048 commented on #2691
link https://github.com/apache/incubator-seatunnel/issues/2733

[2022-09-15 08:52] EricJoy2048 commented on #2733
link https://github.com/apache/incubator-seatunnel/issues/2691

[2022-09-15 08:54] EricJoy2048 commented on #2678
Yes. We need to design it from scratch.

[2022-09-15 08:59] EricJoy2048 commented on #2729
@ashulin  @CalvinKirs  How about storage Snapshot by JDBC?

[2022-09-15 11:05] liuyongfei1 commented on #2736
sql {
   sql = "select '"${city}"'"
   result_table_name = "tb_6875316324672"
 }

it works.

[2022-09-15 11:23] liuyongfei1 opened #2742 "[Bug] [seatunnel-connector-spark-jdbc] after the sink is complete, the temporary table is created at the destination"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

使用spark引擎执行jdbc 到 jdbc 的数据同步，在数据同步成功完成后，会在目的端创建一个与目的表表结构完全一致的空表。

### SeaTunnel Version

最新的 dev分支。2.2.3也存在这个问题。

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

#

[2022-09-15 18:20] TyrantLucifer opened #2748 "[Bug] [Connector-V2] Console sink can not print SeaTunnelRow correctly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Console sink can not print SeaTunnelRow correctly.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No res

[2022-09-16 02:28] laglangyue commented on #2742
If you are not in a hurry, I will try this weekend. But it may exceed my ability. On Monday, I will ask others to help me repair it.

[2022-09-16 02:34] laglangyue commented on #2727
which version? TIDB is really compatible with MySQL, you can try this conf [connector-v2-sink-jdbc](https://seatunnel.apache.org/docs/connector-v2/sink/Jdbc) in dev branch

[2022-09-16 02:37] laglangyue commented on #2727
The human conf file can infer the configuration relationship through the parent attribute, so the prefix is not required in Connector-v2

[2022-09-16 03:24] isMrH commented on #2727
@laglangyue
Spark version 2.4.0-cdh6.2.1
SeaTunnel Version 2.1.2
I don't see these configurations in the code.
`batch_size` I've also tried this configuration without effect.

[2022-09-16 03:24] laglangyue commented on #2733
![image](https://user-images.githubusercontent.com/35491928/190550001-a5c72dc1-0faf-4cc7-a454-6eddade1b536.png)

How can data be constructed uniformly

[2022-09-16 03:29] laglangyue commented on #2727
In previous versions, it may be connector-v1, which I am not very familiar with.
@TyrantLucifer Do you know how to write the conf.

[2022-09-16 03:36] laglangyue commented on #2733
What do you think about the design about E2E improve,more of work is hot to construct the Docker-Container

[2022-09-16 03:42] ashulin commented on #2733
@laglangyue I am going to use the `TestTemplate` to solve the problem of multiple engines. The container of the connector needs to be implemented by the developer. The e2e test may also require the developer to verify the correctness of the result, which cannot be automatically generated;

[2022-09-16 03:45] laglangyue commented on #2733
Ok

[2022-09-16 03:49] liuyongfei1 commented on #2742
thanks，Hoping for good news！

[2022-09-16 04:57] hailin0 opened #2752 "[Improve][Connector-V2] Enhance FakeSource connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Thoughts on enhance FakeSource:

- [x] SeaTunnelSchema support parse row type from config file #2765
- [x] Support define row type
- [x] Supports define the total number of rows of data
-

[2022-09-16 05:19] hailin0 commented on #2733
this is my suggestion
https://github.com/apache/incubator-seatunnel/issues/2691#issuecomment-1246746281

[2022-09-16 05:40] hailin0 opened #2754 "[Bug] [Connector-v2-kafka] Failed to running in streaming mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

issues:
- java.util.ConcurrentModificationException: KafkaConsumer is not safe for multi-threaded access
- Duplicate consume message when commit_on_checkpoint enable

### SeaTunnel Version

dev branch

#

[2022-09-16 05:41] hailin0 commented on #2754
@Hisoka-X

[2022-09-16 06:07] hailin0 opened #2755 "[Improve][Connector-V2-kafka] Imporve kafka connector"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

Imporve kafka connector features & bugs

### Task list

Bugs:
-

[2022-09-16 06:08] hailin0 commented on #2755
Anyone willing to help?

[2022-09-16 09:21] #2495 closed, assigned to nobody

[2022-09-16 10:09] hailin0 commented on #1946
Iceberg source connector has been merged into dev branch #2615
@Hisoka-X

[2022-09-17 02:49] 531651225 commented on #1946
Kylin Source and Sink, thx.

[2022-09-17 03:21] 531651225 commented on #1946
I can work for Kylin source Connector

[2022-09-17 08:22] TyrantLucifer commented on #2752
Now `SeaTunnelSchema` can not parse row type from config file, so we should upgrade it first. I can do this work.

[2022-09-17 08:23] TyrantLucifer opened #2765 "[Improve][SeaTunnel-Schema] Support parse row type from config file"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

This is a subtask of #2752.

### Usage Scenario

_No response_

### Related issues

#2752

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

[2022-09-17 13:28] songjianet opened #2768 "[Feature][UI] Add login and logout function in the project."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add login and logout function in the project.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit

[2022-09-17 13:34] #2768 closed, assigned to nobody

[2022-09-17 13:41] laglangyue commented on #2752
Please assign it to me, I am interested in FakeDatasource and console

[2022-09-18 03:34] TaoZex commented on #2755
I would like to try the following two tasks:
1.Support extract topic from SeaTunnelRow fields
2.Support extract partition from SeaTunnelRow fields
The two tasks are relatively similar, so I want to do them together. Could you assign it to me? Plz~

[2022-09-18 08:38] laglangyue commented on #2742
did you test for flink-engine

[2022-09-18 08:55] #2748 closed, assigned to nobody

[2022-09-18 09:12] laglangyue commented on #2742
I has finded the bug  which code  cause. But the  code is inconsistent with the description in the document. I need to ask the Commiter.

[2022-09-18 09:34] liuyongfei1 commented on #2742
flink-engine is ok

[2022-09-18 09:35] liuyongfei1 commented on #2742
thanks

[2022-09-18 10:11] laglangyue commented on #2742
![image](https://user-images.githubusercontent.com/35491928/190896934-ddfd1a09-b7bf-47ab-8910-a8ea09878ac6.png)
if db_table和customUpdateStmt 表不一致，会产生两张表

[2022-09-18 10:12] laglangyue commented on #2742
org.apache.spark.sql.execution.datasources.jdbc2.DefaultSource#createRelation

[2022-09-18 10:17] laglangyue commented on #2742
the Bug exception in `org.apache.spark.sql.execution.datasources.jdbc2.DefaultSource`  when the table names in `dbTable` and `customUpdateStmt` are inconsistent

[2022-09-18 10:17] laglangyue commented on #2742
![image](https://user-images.githubusercontent.com/35491928/190897211-008b932b-c94e-4f1f-8eb7-ec4eb611a699.png)

[2022-09-18 10:38] laglangyue commented on #2742
you just keep table names consistent
dbTable is not souce table name， and it is sink tableName which is  Sink-Datasource
[code]

[2022-09-18 11:14] #2345 closed, assigned to nobody

[2022-09-18 11:15] #2642 closed, assigned to nobody

[2022-09-18 11:17] #1001 closed

[2022-09-18 13:57] songjianet opened #2779 "[Feature][UI] Add user list function in the project."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add user list function in the project.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-09-18 14:10] liugddx commented on #2601
#2646

[2022-09-18 14:38] cmdares opened #2781 "[Flink][seatunnel-translation]Support Flink1.15 Engine"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add seatunnel-translation code to support the Flink engine version 1.15.*

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ]

[2022-09-18 16:06] TaoZex opened #2784 "[Improve][Connector-V2-kafka]Support extract topic from SeaTunnelRow fields"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In Connector-V2-kafka,we need support extract topic from SeaTunnelRow fields.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

-

[2022-09-18 16:07] TaoZex opened #2785 "[Improve][Connector-V2-kafka]Support extract partition from SeaTunnelRow fields"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In Connector-V2-kafka,we need support extract partition SeaTunnelRow fields.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

-

[2022-09-19 01:07] #2736 closed, assigned to nobody

[2022-09-19 02:02] TyrantLucifer opened #2786 "Support extract `topic` from SeaTunnelRow fields"
Subtask of #2755

[2022-09-19 02:02] TyrantLucifer opened #2787 "Support extract `partition` from SeaTunnelRow fields"
Subtask of #2755

[2022-09-19 02:02] #2785 closed, assigned to nobody

[2022-09-19 02:02] #2784 closed, assigned to nobody

[2022-09-19 02:13] TaoZex commented on #2786
I would like to try this task, please assign me.

[2022-09-19 02:13] TaoZex commented on #2787
I would like to try this task, please assign me.

[2022-09-19 03:07] #2779 closed, assigned to nobody

[2022-09-19 03:08] Hisoka-X opened #2788 "[Core][Translation] Support Primitive Array convert to References Array"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

At now, If we set value use Primitive Array like `double[]`,  will happen convert exception, because we only support `Double[]`, all primitive type have same problem.
![image](https://use

[2022-09-19 03:16] Hisoka-X opened #2789 "[Improve] [Connector-V2-Clickhouse] Improve Clickhouse Connector"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

Imporve clickhouse connector features & bugs

### Task list

###

[2022-09-19 04:04] hailin0 opened #2790 "[Improve][Connector-V2] Imporve mongodb connector"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

Imporve mongodb connector.

Anyone willing to help?

### Task li

[2022-09-19 06:08] TyrantLucifer commented on #2788
For array type convert I had fixed in pr #2479, I see `Primitive Array` only one type of byte is implemented. Do you mean that array convert is also has some problems in flink engine?

[2022-09-19 06:14] #2754 closed, assigned to Hisoka-X

[2022-09-19 06:20] Hisoka-X commented on #2788
Yes, we should ensure consistent data types instead of including Primitive Array and References Array during data transfer. Confused to downstream components that use data, since we only support References Array, we need to convert Primitive Array to References Array when Source produces `SeaTunnelRow`. The reason for not entrusting this task to the Source Connector is to reduce the burden on the

[2022-09-19 06:55] TyrantLucifer commented on #2788
Please assign it to me. Thx.

[2022-09-19 07:32] hailin0 commented on #2789
Add sub task:  Add e2e testcase

[2022-09-19 07:37] hailin0 commented on #2790
@TyrantLucifer

Please help to add `help wanted` label

[2022-09-19 07:57] hailin0 commented on #2790
subtask #2778

[2022-09-19 07:57] EricJoy2048 opened #2792 "[Doc][HiveSource Connector V2] Error in the way of implementing exactly-once"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Error in the way of implementing exactly-once, `2PC` is used in Hive Sink Connector, not Hive Source Connector.

### Usage Scenario

_No response_

### Related issues

_No response_

###

[2022-09-19 07:59] EricJoy2048 opened #2793 "[Test] [Test Hive Connector V2] Test the Hive Source Connector V2 and record the problems encountered in the test"
SeaTunnel version: dev
Hadoop version: Hadoop 2.10.2
Flink version: 1.12.7
Spark version: 2.4.3, scala version 2.11.12

# Problems found to be fixed

- [x] https://github.com/apache/incubator-seatunnel/issues/2792
- [x] https://github.com/apache/incubator-seatunnel/issues/2794
- [x] https://github.com/apache/incubator-seatunnel/issues/2799
- [x] https://github.com/apache/incubator-seatunnel/issues

[2022-09-19 11:08] EricJoy2048 opened #2794 "[Doc][Connector-V2] Console Sink Connector have no document"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Console Sink Connector have no document

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-09-19 14:24] hailin0 opened #2796 "[Feature][Connector-v2] Enhance Assert sink connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Thoughts on enhance Assert sink connector:
- [ ] Support check the number of rows
    - check rows not empty
    - check minimum number of rows
    - check maximum number of rows
- [ ] Su

[2022-09-19 14:25] hailin0 commented on #2796
Anyone willing to help?

@TyrantLucifer

Please help to add `help wanted` label

[2022-09-20 01:27] liugddx commented on #2796
please assigned to me.thanks @TyrantLucifer

[2022-09-20 01:38] john8628 commented on #2793
please assign it  to me , I will try it ;

[2022-09-20 01:40] liuyongfei1 commented on #2742
ok,thanks. I'll try it.

[2022-09-20 01:54] EricJoy2048 commented on #2793
Which issue do you want to work?

I do the test now and I will record all the problems found in the test and add todo list here. You can receive the issue you want to handle.

[2022-09-20 02:16] EricJoy2048 opened #2799 "[Bug] [Connector-V2] Hive Source Connector read text table error."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The test data can be found in https://github.com/apache/incubator-seatunnel/issues/2793

The hive table schema like this:

<img width="717" alt="image" src="https://user-images.githubusercontent.com/3219

[2022-09-20 02:19] EricJoy2048 commented on #2799
https://github.com/apache/incubator-seatunnel/pull/2797

[2022-09-20 02:23] #2799 closed, assigned to TyrantLucifer

[2022-09-20 02:58] EricJoy2048 commented on #2752
I think fake source need support define the key fields and generate unique value for key fields. It's very useful to test `exactly-once` sink which implement `exactly-once` by Idempotent write data.

[2022-09-20 03:20] EricJoy2048 opened #2801 "[Feature][Connector-V2 E2E] Data consistency test process design"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We need support data consistency test in connector v2 e2e. I have some idea about it and welcome everyone to discuss.

## Test Sink Connector

### Fake Source Connector
If we want to test

[2022-09-20 03:44] EricJoy2048 commented on #2801
@getChan  @2013650523  @531651225  @laglangyue  @legendtkl  @leo65535  @lhyundeadsoul  @hailin0  @Hisoka-X  @ashulin  @ic4y  @TyrantLucifer  @iture123  and all people who may be interested in this question, Do you have any suggestions？

[2022-09-20 03:49] liugddx commented on #2794
please assigned to me,thanks.

[2022-09-20 04:03] #2733 closed, assigned to nobody

[2022-09-20 04:31] TaoZex opened #2802 "[Improve][Connector-V2-kafka] The Kafka Prepare stage needs to perform config verification"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Other connectors have been config checked，Kafka Prepare stage needs to perform config verification.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you will

[2022-09-20 05:45] EricJoy2048 opened #2803 "[Bug] [Connector-V2] Hive Source Connector test error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

test hive source connector error.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

Flink Version: 1.12.7, C

[2022-09-20 05:53] TyrantLucifer commented on #2803
The hive source connector jar at your local environment is not the newest version. Please upgrade it.

[2022-09-20 05:57] john8628 commented on #2793
I want to work for #2792 ,but it seems more difficult for me ;

[2022-09-20 06:14] EricJoy2048 commented on #2793
I fix #2792  already. You can look at other tasks. We have many issues marked as `good first issue` and `want help`.

[2022-09-20 08:25] dik111 commented on #1946
Hi @iture123 Is there any progress about flink table store sink ?

[2022-09-20 08:42] wuxizhi777 commented on #2789
please assign to me .
 1. Random use host when config multi-host.
2.  Support multi-split read.

[2022-09-20 08:48] Hisoka-X opened #2806 "[Feature][Connector-V2-Clickhouse] Clickhouse Source random use host when config multi-host"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of #2789

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-09-20 08:48] Hisoka-X commented on #2806
@wuxizhi777 Please track in here.

[2022-09-20 08:48] Hisoka-X opened #2807 "Random use host when config multi-host."

[2022-09-20 08:48] #2807 closed, assigned to nobody

[2022-09-20 08:49] Hisoka-X opened #2808 "[Feature][Connector-V2-Clickhouse] Clickhouse Source support multi-split read."
subtask of #2789

[2022-09-20 08:51] EricJoy2048 commented on #2803
Yes, I will close this issue.

[2022-09-20 08:51] #2803 closed, assigned to TyrantLucifer

[2022-09-20 08:56] Hisoka-X commented on #2808
Assgin to @wuxizhi777

[2022-09-20 09:34] Hisoka-X opened #2809 "[Feature][Core][Connector-V2] Unified The way of setting JobName"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In connector-v2, flink can set job name use `job.name` in `env` in config. But spark can't set job name(application name) at now.
Our goal:
Both flink and spark:
1. User can use same way

[2022-09-20 09:46] EricJoy2048 opened #2811 "[Bug] [SeaTunnel Spark Start V2] deploy-mode need Lowercase letters, But give an Uppercase in --help"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

params error.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

*

### Java or Scala Version

*

### Screens

[2022-09-20 09:58] Carl-Zhou-CN commented on #2809
I want to give it a try

[2022-09-20 10:07] EricJoy2048 opened #2812 "[Bug] [Connector-V2] Hive Source Connector parallelism not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The test data can found in https://github.com/apache/incubator-seatunnel/issues/2793

The test table have 10 files

<img width="1247" alt="image" src="https://user-images.githubusercontent.com/32193458/1

[2022-09-20 10:20] #2792 closed, assigned to nobody

[2022-09-20 10:47] IeohMingChan opened #2814 "Some SQL functions related to time cannot be used"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Dear contributors：
I want to use SQL function FROM_UNIXTIME() to convert the unix timestamp to a time format like ‘yyyy-MM-dd HH:mm:ss’. This SQL function works well in flink. But in seatunnel it throws

[2022-09-20 11:16] EricJoy2048 commented on #1946
Please add neocrm source support
neocrm: https://www.xiaoshouyi.com/

[2022-09-20 11:36] EricJoy2048 opened #2815 "[Bug] [Connector-V2] Hive Source Connector test in Flink Engine error when set execution.parallelism = 3"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Test Hive Source Connector https://github.com/apache/incubator-seatunnel/issues/2793

But some thing is error.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

###

[2022-09-20 11:48] hk-lrzy opened #2816 "[Bug] [FlinkTransform] Flink Transform can't covert BigDeciamlTypeInfo"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Flink sql can't use `BigDecimalTypeInfo`.

### SeaTunnel Version

dev-branch

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

flink

##

[2022-09-20 12:00] hk-lrzy commented on #2814
@IeohMingChan Please add
[code]

[2022-09-20 12:17] hk-lrzy commented on #2815
@EricJoy2048 Can you give a table ddl and example datas, i think i can work on it.

[2022-09-20 12:29] #2713 closed, assigned to TyrantLucifer

[2022-09-20 12:35] EricJoy2048 commented on #2815
In this issue https://github.com/apache/incubator-seatunnel/issues/2793 you can found every thing.

[2022-09-20 12:40] EricJoy2048 commented on #2815
Hi @hk-lrzy  , Thank you very much for your contribution. @TyrantLucifer  is the Hive Connector Main contributors, He working for this bug now. Can I assignees this issue to he?

[2022-09-20 12:42] IeohMingChan commented on #2814
Thank you bros! I have added execution.planner = "blink" in env block without changing any other code, but the problem is still existed. What anything else should I do? Here is my code:

`env {
    execution.parallelism = 1
    execution.planner = "blink"
}

source{
    FakeSource {
        result_table_name = "test"
      }
}

transform {
    sql {
        sql = "select FROM_UNIXTIME(1403006911,

[2022-09-20 12:48] hk-lrzy commented on #2815
Sure~

[2022-09-20 13:32] Hisoka-X opened #2819 "[Feature][ElasticSearch] Add Connector-V2 ElasticSearch sink e2e Test"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add Connector-V2 ElasticSearch sink e2e Test

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a

[2022-09-20 16:04] ashulin opened #2824 "[Improve][connector-v2] SourceReader Base implementation of One reader multiple splits"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Most readers fall into one of the following categories:

 1. One reader single splits. (Some dead simple blocking readers)

 2. One reader multiple splits.
    1. Sequential Single Split

[2022-09-21 01:11] Carl-Zhou-CN commented on #2811
I want to give it a try

[2022-09-21 01:23] hailin0 opened #2826 "[Bug][seatunnel-translation-spark] java.lang.NoSuchMethodError: java.lang.Math.multiplyExact(JI)J"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Running MongodbIT throw java.lang.NoSuchMethodError: java.lang.Math.multiplyExact(JI)J

### SeaTunnel Version

dev branch

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[2022-09-21 01:25] hailin0 commented on #2826
<img width="1318" alt="image" src="https://user-images.githubusercontent.com/14371345/191393527-832f47a3-c488-4d48-b0ca-43153ead911c.png">

[2022-09-21 03:01] #2826 closed, assigned to nobody

[2022-09-21 03:47] EricJoy2048 opened #2828 "[Good First Issues] How to complete the first contribution"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

## Help the new contributor to found the easy to fixed issues.

[2022-09-21 04:08] EricJoy2048 commented on #2811
Ok, Thank you very much.

[2022-09-21 04:16] EricJoy2048 opened #2829 "[Feature][Connector-V2] [JDBC] Rds Source Connector & Rds Sink Connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

You can get help information from https://github.com/apache/incubator-seatunnel/blob/dev/seatunnel-connectors-v2/README.md or https://github.com/apache/incubator-seatunnel/blob/dev/seatun

[2022-09-21 05:45] #2794 closed, assigned to liugddx

[2022-09-21 06:08] s7monk commented on #2829
I want to give it a try,can you assign it to me?

[2022-09-21 06:25] Xuxiaotuan commented on #1946
Hello, about the connector of TiDB, I want to try to use TiKV JAVA Client to directly connect PD service as the connector

At present, the community uses JDBC to connect to Tidb. Personally, I want to enrich the connection method.
[# Best Practices for Developing Java Applications with TiDB](https://docs.pingcap.com/zh/tidb/dev/java-app-best-practices)

[TiKV JAVA Client](https://github.com/tikv/c

[2022-09-21 06:48] Hisoka-X commented on #1946
Wonderful！We accept any contribution to make our connectors better. You can create an issue about improve TIDB connector without JDBC. Give users another choice.

[2022-09-21 06:52] Hisoka-X commented on #1946
@Xuxiaotuan Hi, I already assigned TiDB (Use TiKV java client) to you

[2022-09-21 07:20] #2812 closed, assigned to nobody

[2022-09-21 07:59] msftgitsklsd commented on #2819
please let me try this

[2022-09-21 08:09] Hisoka-X commented on #2819
Great! I already assigned to you

[2022-09-21 08:58] IeohMingChan commented on #2814
I have solve this problem by adding the planner setting and changing the source to stream type. Thanks again. 谢谢兄弟！

[2022-09-21 09:14] s7monk commented on #1946
I can work for rds Connector

[2022-09-21 09:49] dlimeng commented on #1946
I can work for OpenMLDB sink connector.

[2022-09-21 10:21] isMrH opened #2835 "[Bug] [seatunnel-spark-jdbc-source-Jdbc] please specify [table] as non-empty"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Conflict with `table` when using `jdbc.query`.
`table` in `seatunnel-spark-jdbc-source-Jdbc` must not be empty.

### SeaTunnel Version

2.1.2

### SeaTunnel Config

[code]

### Running Command

[code]

#

[2022-09-21 11:22] CalvinKirs opened #2836 "[API&Connectors]Optimize connector-source split"
At present, all our source sharding logic is handed over to the connector for implementation.

Most sharding strategies are hash modulo, but the implementation details are different. Contributors spend too much effort on understanding the sharding logic.

Therefore, I suggest that we abstract and encapsulate the sharding strategy into the API layer. Contributors only need to provide the number of

[2022-09-21 11:27] ashulin commented on #2836
#2824

[2022-09-21 11:36] Mr-LiuXu commented on #2541
I want to give it a try,can you assign it to me?

[2022-09-21 12:32] Hisoka-X commented on #2541
Great! I already assigned to you

[2022-09-21 12:44] hk-lrzy commented on #2752
- Support value's range to avoid exceed  in some connectors.
- Support random generate `null` value for validating connector's stability.

[2022-09-21 12:52] ROTBOR commented on #1946
I can work for ADB PostgreSQL sink connector

[2022-09-21 13:11] EricJoy2048 opened #2837 "[Bug] [Connector-V2] HiveSource Connector read orc file format table error in Spark Engine"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The test table schema and test data can found in https://github.com/apache/incubator-seatunnel/issues/2793.

Test job error.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[2022-09-21 14:43] laglangyue commented on #2752
good idea, I will do it

[2022-09-21 14:44] laglangyue commented on #2752
I will do it but lately

[2022-09-21 15:17] TaoZex opened #2840 "[Feature][Docs] Need connector-V2 source and sink kafka docs"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Currently ,we need connector-V2  sink kafka docs,this part is missing.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Ye

[2022-09-22 02:23] longer-jl commented on #2829
I want to give it a try,can you assign it to me?

[2022-09-22 02:30] longer-jl commented on #1946
MaxCompute source and sink , thx

[2022-09-22 06:18] Hisoka-X commented on #2570
Closed by #2545

[2022-09-22 06:18] #2570 closed, assigned to nobody

[2022-09-22 09:07] Hisoka-X commented on #2840
Can you add source doc too? Thanks!

[2022-09-22 10:17] TaoZex commented on #2840
Yes, I will add the source doc too.

[2022-09-22 10:59] msftgitsklsd commented on #2819
Is there some special configuration in idea? In dev branch I run FakeSourceToConsoleIT and get error . Just run "mvn clean package -pl seatunnel-dist -am -Dmaven.test.skip=true"  work fine

`/Users/maruko/opensource/incubator-seatunnel/seatunnel-e2e/seatunnel-e2e-common/src/test/java/org/apache/seatunnel/e2e/common/container/spark/AbstractTestSparkContainer.java:55:13
java: 无法访问com.github.dockerja

[2022-09-22 11:01] Hisoka-X commented on #2819
Did you start your docker env in local?

[2022-09-22 12:55] ChenpiDog opened #2847 "[Feature][Dashboard] Visual management interface"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

It is recommended to provide a visual management interface.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am will

[2022-09-22 13:14] ChenpiDog commented on #2847
I mean ETL low code platforms, like Kettle.

[2022-09-22 14:18] ic4y opened #2848 "[Bug] [SparkTransform] MutableAny cannot be cast MutableLong"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

This problem occurs when adding a time type to the seatunnel-spark-connector-v2-e2e test.  e.g. timestemp.
But in seatunnel-spark-connector-v2-example there is no such problem.

### SeaTunnel Version

de

[2022-09-22 15:18] Bingz2 opened #2849 "[Bug] [SparkConnectorV1] use Doris Sink：java.lang.NoSuchFieldError: INSTANCE"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

An error was reported when using Spark Doris Sink

### SeaTunnel Version

2.1.3

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

spark

[2022-09-23 01:45] YMBSKLK opened #2853 "[Bug] [seatunnel-transform-flink-udf] udf module classNames initialization error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

In line 102 of org.apache.seatunnel.flink.transform.UDF:
`properties.forEach((k, v) -> {
            classNames.add(String.valueOf(**_k_**));
            functionNames.add(String.valueOf(k));
});`
should

[2022-09-23 01:46] YMBSKLK commented on #2853
In line 102 of org.apache.seatunnel.flink.transform.UDF:
properties.forEach((k, v) -> { classNames.add(String.valueOf(**_k_**)); functionNames.add(String.valueOf(k)); });
should be
properties.forEach((k, v) -> { classNames.add(String.valueOf(**_v_**)); functionNames.add(String.valueOf(k)); });

[2022-09-23 01:46] #2853 closed, assigned to nobody

[2022-09-23 02:36] #2765 closed, assigned to nobody

[2022-09-23 03:08] ic4y commented on #2848
Has been fixed in https://github.com/apache/incubator-seatunnel/pull/2637

[2022-09-23 03:08] #2848 closed, assigned to nobody

[2022-09-23 03:55] hailin0 opened #2857 "[Feature][Connector-V2] Imporve http connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Features:

Sink:
- [ ] Support extract `HEADERS`、`PARAMS` from SeaTunnelRow fields
- [ ] Support batch send data row
- [ ] Support more format

Source:
- [x] #3415

example
[code]

### Us

[2022-09-23 03:55] hailin0 commented on #2857
Anyone willing to help?

[2022-09-23 05:38] #2714 closed, assigned to TyrantLucifer

[2022-09-23 06:04] ic4y opened #2859 "[Dev][Jdbc connector] Support the session pool"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The exact-once semantics of the current jdbc sink are implemented through XA transactions. The current implementation relies on a single database connection to open multiple XA transactio

[2022-09-23 08:53] mosence opened #2861 "[Feature][Discuss] Uneven data distribution."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In fact, there are often abnormal data, such as partition key value range in  [1, 10000] 100, 99 datas in [1-100], and 1 data is 10000.

In addition, among 100 pieces of data, 99 pieces o

[2022-09-23 09:33] hk-lrzy commented on #2849
I fixed it in v2 version.

[2022-09-23 10:01] #2837 closed, assigned to TyrantLucifer

[2022-09-23 10:10] liugddx commented on #2796
please expain the second  and third point,thanks.

`Support setting parallelism as 1` means force setting  parallelism as 1 like `
if (seaTunnelSink.getPluginName().equals("Assert")){
                stream.getExecutionEnvironment().setParallelism(1);
            }
`
![image](https://user-images.githubusercontent.com/48236177/191938487-4f2af61b-c61e-4a89-b9a2-ef2e72174344.png)

I was going to use

[2022-09-23 10:35] hailin0 commented on #2857
Please help to add `help wanted` label

@TyrantLucifer

[2022-09-24 01:44] EricJoy2048 opened #2867 "[Test] [Test Hive Connector V2] Test the Hive Sink Connector V2 and record the problems encountered in the test"
SeaTunnel version: dev
Hadoop version: Hadoop 2.10.2
Flink version: 1.12.7
Spark version: 2.4.3, scala version 2.11.12

# Problems found to be fixed

- [x]  https://github.com/apache/incubator-seatunnel/issues/2869
- [x]  https://github.com/apache/incubator-seatunnel/issues/2872
- [x]  https://github.com/apache/incubator-seatunnel/issues/2874
- [x]  https://github.com/apache/incubator-seatunnel/pu

[2022-09-24 01:54] EricJoy2048 opened #2868 "[Bug] [Connector-V2] Hive Source Connector Need read data used the hive schema not file schema when read ORC/Parquet Table"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Now The Hive Source Connector read data use the file schema when read orc/parquet table. It is not a right way, because when user alter hive table and add some columns, the old orc/parquet data files wil

[2022-09-24 02:27] EricJoy2048 opened #2869 "[Bug] [Connector-V2] Hive Sink Connector error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Test hive sink connector error.

### SeaTunnel Version

dev

### Test data

#### Source Hive Table

[code]
#### Sink Hive Table

[code]

### SeaTunnel Config

[code]

### Running Command

[code]

### Err

[2022-09-24 02:55] #2869 closed, assigned to TyrantLucifer

[2022-09-24 03:06] EricJoy2048 opened #2871 "[Bug] [Connector-V2] Hive Source Connector don't add the partition fields and values in to data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Hive Source Connector don't add the partition fields and values in to data

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink o

[2022-09-24 03:55] EricJoy2048 opened #2872 "[Bug] [Connector-V2] Hive Sink Decimal datatype error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Write hive table with decimal datatype error.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

SeaTunnel ve

[2022-09-24 04:00] EricJoy2048 commented on #2872
Fix by https://github.com/apache/incubator-seatunnel/pull/2846

[2022-09-24 04:03] EricJoy2048 commented on #2816
link https://github.com/apache/incubator-seatunnel/issues/2872

[2022-09-24 04:04] EricJoy2048 commented on #2872
link https://github.com/apache/incubator-seatunnel/issues/2816

[2022-09-24 05:29] liugddx opened #2873 "[Bug] [seatunnel-examples] run jdbc task will error in examples"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

run jdbc task in example will error,so i improved the following document.

the error is `Caused by: java.lang.ClassNotFoundException: com.mysql.cj.jdbc.MysqlXADataSource`

### SeaTunnel Version

dev

###

[2022-09-24 05:29] liugddx commented on #2873
#2800

[2022-09-24 06:23] EricJoy2048 opened #2874 "[Bug] [Connector-V2] Hive Sink Connector can not write data into hive table"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Hive Sink Connector can not write data into hive table

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

Sea

[2022-09-24 06:35] EricJoy2048 commented on #2874
I found the hive sink connector have no do `msck repair table` after file commite. Another way is use hive metastore add partition to hive.

[2022-09-24 08:00] guanboo opened #2876 "Run e2etestcase for windows docker problem for help"
This is  my Environment message:

![image](https://user-images.githubusercontent.com/110977641/192087414-7ca66a9d-2865-4dfb-939f-54dffa245baf.png)

I run(dev) FakeSourceToConsoleIT.testFakeSourceToConsoleSink() error .
logs:

[code]

[2022-09-24 08:06] Bingz2 commented on #2849
ok.thks

[2022-09-24 08:06] #2849 closed, assigned to nobody

[2022-09-24 08:33] #2872 closed, assigned to nobody

[2022-09-25 01:48] TaoZex commented on #2755
https://github.com/apache/incubator-seatunnel/issues/2786 What function does this issue want to achieve?

[2022-09-25 02:23] liugddx opened #2885 "[Feature][connector-v2-jdbc] partition column support date and string(number value) type"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

partition column support date and string(number value) type

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [x] Yes I am will

[2022-09-26 02:15] msftgitsklsd commented on #2819
already sloved, the local maven plugins not download completely

[2022-09-26 02:29] msftgitsklsd commented on #2876
You could try this mirror "https://bz8ea7hh.mirror.aliyuncs.com", I got the same error msg, already sloved after changed this config

[2022-09-26 02:46] CalvinKirs opened #2890 "[OnlineMeeting&Sep.27]SeaTunnel community meeting Topic collect"
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Community Meeting
Time: 2022/09/27 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/6Jam1Zzc1UiA

#TencentMeeting：670-733-843

Copy this invitation and open in Tencent Meeting app (V2.13 or later) to join the meet

[2022-09-26 02:47] liugddx commented on #2874
Assigned to me

[2022-09-26 02:47] liugddx commented on #2811
Assigned to me

[2022-09-26 03:06] Mr-LiuXu commented on #2871
I want to give it a try,can you assign it to me?

[2022-09-26 03:13] guanboo commented on #2876
hi bro thx, but  this url（https://bz8ea7hh.mirror.aliyuncs.com）  can not visit

[2022-09-26 03:20] EricJoy2048 commented on #2871
Yes, of course.

[2022-09-26 03:45] enterwhat opened #2893 "[Bug] [seatunnel-connector-flink-druid] druid导出数据到doris"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

在2.1.3的tag基础上进行了如下更改

feat:

druid导出数据到doris遇到如下问题，并解决：

1，解决-i参数不能传入替换conf的配置文件的source部分占位符的问题，像sql部分一样支持占位符替换。

2，解决druid的start_date，end_date通过命令行-i传参空格，识别成shell命令行的参数分隔符导致yyyy-MM-dd HH:mm:ss的日期格式参数不能被

[2022-09-26 03:49] TyrantLucifer commented on #2867
Please assign these bugs to me because of I'm the maintainer of Hive connector, thx.

[2022-09-26 03:58] liujingwen1225 commented on #1946
I checked the issue and PR, and found that there is no GaussDB connector. Can I work it

[2022-09-26 04:06] EricJoy2048 opened #2894 "[E2E][Connector-V2] Improve Hive Source Connector E2E"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We add the test issue of Hive Source Connector https://github.com/apache/incubator-seatunnel/issues/2793, We need to make it e2e.

### Usage Scenario

_No response_

### Related issues

_

[2022-09-26 05:43] #22 closed

[2022-09-26 05:43] #23 closed

[2022-09-26 05:43] #35 closed

[2022-09-26 05:44] #122 closed

[2022-09-26 05:48] EricJoy2048 opened #2895 "[E2E][Connector-V2] Hive Sink e2e"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We add the test issue of Hive Sink Connector https://github.com/apache/incubator-seatunnel/issues/2867, We need to make it e2e.

### Usage Scenario

_No response_

### Related issues

_No

[2022-09-26 05:51] EricJoy2048 commented on #2890
Progress in synchronizing SeaTunnel Engine modules.

[2022-09-26 05:55] #2815 closed, assigned to TyrantLucifer

[2022-09-26 05:58] Hisoka-X commented on #1946
Hi, GaussDB already assigned to @Builder34 . Can you pick up others?

[2022-09-26 06:00] EricJoy2048 commented on #2583
Don't this bug fixed by https://github.com/apache/incubator-seatunnel/pull/2706 ?

[2022-09-26 06:02] EricJoy2048 commented on #2621
@iture123  Is there any new progress in this issue?

[2022-09-26 06:06] #2816 closed, assigned to hk-lrzy

[2022-09-26 06:09] Hisoka-X commented on #2583
No, can't run two job in one jvm on spark/flink. We can support it on our own eninge if user want to.

[2022-09-26 06:11] #2415 closed, assigned to nobody

[2022-09-26 06:13] EricJoy2048 commented on #1846
What's news?

[2022-09-26 06:14] EricJoy2048 commented on #1752
What's news?

[2022-09-26 06:17] #1725 closed, assigned to nobody

[2022-09-26 06:17] Hisoka-X commented on #1846
I can't reproduce this error. Ran fine on my env. Maybe already fix it on dev when 2.1.2 not release.

[2022-09-26 06:17] #400 closed

[2022-09-26 06:21] Hisoka-X commented on #1752
Already fixed.

[2022-09-26 06:21] #1752 closed, assigned to nobody

[2022-09-26 06:21] liujingwen1225 commented on #1946
ok

[2022-09-26 06:24] Hisoka-X commented on #2893
Wonderful! Looking forward your PR.

[2022-09-26 06:39] Hisoka-X commented on #2861
It seems that we need a more personalized sharding algorithm, including the size and quantity of data, and then for different sources, we can provide a unified interface, which can be implemented by the Connector that can support this sharding algorithm.

[2022-09-26 07:40] melin commented on #1946
可以直接使用gp 连接

[2022-09-26 08:30] #2473 closed, assigned to TyrantLucifer

[2022-09-26 09:02] EricJoy2048 commented on #2725
Great, this issue clearly explains the ecology of all java logs. Thank you.

[2022-09-26 09:25] #2873 closed, assigned to nobody

[2022-09-26 10:38] EricJoy2048 opened #2901 "[ST-Engine][Doc & Test] Integrate Hadoop and Hive"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now some connector need the engine integrate Hadoop and Hive. For examples the HDFSFile Connector need Hadoop and Hive Connectors need the engine integrate Hadoop and Hive.

We need add a

[2022-09-26 10:39] liugddx commented on #2890
How to collect the result after the task is executed(batch task)?such as success count,error count etc.

[2022-09-26 11:01] cnmac commented on #686
Organization：DMALL
Location: Beijing, China
Contact: yajun.zhou@dmall.com; chi.ma@dmall.com
Purpose： Provides a way to develop ETL tasks in a web interface. SeaTunnel is the underlying task execution engine, so that users only need to be familiar with SQL to complete the development of ETL tasks.

[2022-09-26 11:15] CalvinKirs commented on #2893
Hi, thanks for your contribution, could you use English?

[2022-09-26 11:26] CalvinKirs opened #2902 "[Feature][Community] Add Bot to guide newcomers"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Hi, I know that some communities will introduce bots to guide newcomers to the community, such as echarts or dolophinscheduler. Proper use of bots can reduce the energy of community membe

[2022-09-26 11:34] EricJoy2048 commented on #2902
+1

May be 14 days is better, 7 days is too short.

[2022-09-26 11:46] EricJoy2048 commented on #2902
Does the bot can add a `need review again` label when the pr update.

[2022-09-26 11:59] EricJoy2048 commented on #1846
Ok, I will close this issue. If the bug reproduce in 2.1.3/dev/2.2.0 again, please reopen this issue.

[2022-09-26 11:59] #1846 closed, assigned to nobody

[2022-09-26 12:20] CalvinKirs commented on #2902
yup, We can automatically mark labels, such as waiting for user feedback, waiting for community responses, waiting for review, etc.

[2022-09-26 12:21] CalvinKirs commented on #2902
Ok

[2022-09-26 12:30] EricJoy2048 commented on #2871
@TyrantLucifer  You are the maintainer of Hive connector, If you have some idea, please comment and reply here.

[2022-09-26 12:34] EricJoy2048 commented on #2811
It's fixed by @Carl-Zhou-CN  already.

Thank you very much.

[2022-09-26 14:53] #136 closed

[2022-09-26 14:56] #141 closed

[2022-09-26 14:57] #210 closed

[2022-09-26 14:57] #212 closed

[2022-09-26 14:58] #415 closed

[2022-09-26 14:58] #414 closed

[2022-09-26 14:59] #146 closed

[2022-09-26 14:59] #214 closed

[2022-09-26 14:59] #231 closed

[2022-09-26 14:59] #249 closed

[2022-09-26 14:59] #307 closed

[2022-09-26 14:59] #326 closed

[2022-09-26 14:59] #386 closed

[2022-09-26 14:59] #439 closed

[2022-09-26 14:59] #440 closed

[2022-09-26 14:59] #478 closed

[2022-09-26 14:59] #491 closed

[2022-09-26 14:59] #504 closed

[2022-09-26 15:01] #325 closed

[2022-09-26 15:05] ashulin commented on #284
This is an outdated issue, please follow #2134

[2022-09-26 15:05] #284 closed

[2022-09-26 15:08] #238 closed

[2022-09-26 15:37] TaoZex commented on #2890
In connector V2 kafka sink, it does not implement AT_LEAST_ONCE semantics. Do we need to implement it?

[2022-09-27 01:58] liugddx opened #2905 "[Bug] [e2e] Postgres and mysql container Operation not permitted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

run `org.apache.seatunnel.e2e.flink.v2.jdbc.JdbcPostgresIT`,the error will happen.
`22/09/27 09:37:32 INFO JdbcPostgresIT: STDERR: ls: cannot access '/docker-entrypoint-initdb.d/': Operation not permitte

[2022-09-27 03:03] EricJoy2048 commented on #2890
Yes, It seems we only support EXACTLY-ONCE now. AT_LEAST_ONCE is a good feature.

[2022-09-27 04:47] TaoZex commented on #2890
Thanks, if we decide to implement this feature after our meeting, I will try to submit a pr.

[2022-09-27 06:39] Carl-Zhou-CN commented on #2811
closes #2834

[2022-09-27 07:00] EricJoy2048 opened #2910 "[Bug] [ST-Engine] seatunnel.sh -e local can not exit while job complete."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

sh seatunnel.sh -e local need exit after job complete, but now.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Ver

[2022-09-27 07:04] hk-lrzy commented on #2910
plz assign it to me , i can work on it.

[2022-09-27 07:09] Carl-Zhou-CN opened #2912 "[Feature][Discuss] Uniform parameters are available for multiple engines"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

At present, seatunnel has a variety of engines. Each engine has its own unique parameters. Some parameters can be adapted to all engines, such as parallelism. We can find more such parame

[2022-09-27 07:54] liugddx commented on #2902
Maybe the pr need be reviewed by previous contributors

[2022-09-27 07:56] lhyundeadsoul commented on #2824
I am curious why there is always `one reader` rather than `multi-reader & multi-split` .

[2022-09-27 08:53] zhaomin1423 opened #2914 "[Feature][seatunnel-e2e] Add a container module to simplify spark-e2e and flink-e2e"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Containers are using in spark-e2e and flink-e2e. Now, there are some duplicate codes. We can manage containers in project, then using them in e2e.

### Usage Scenario

_No response_

###

[2022-09-27 09:18] lhyundeadsoul opened #2915 "[Feature][core] Add meta info to each SeatunnelRow"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In some connector(e.g. TDengine), there are some meta info should be transferred from `source` to `sink` (e.g. sub-table-name/ tags) which are different from each data.
Nevertheless, ther

[2022-09-27 09:34] YMBSKLK opened #2916 "[Bug] [connector-v2] Error during input conversion. Conversion expects insert-only records but DataStream API record contains: UPDATE_AFTER"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

q

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

flink 1.13.6

### Java or Scala Version

_No response_

[2022-09-27 09:43] EricJoy2048 commented on #2915
@ashulin  What do you think about it?

[2022-09-27 09:55] liugddx commented on #2916
Assign to me.

[2022-09-27 09:57] EricJoy2048 commented on #2901
The SeaTunnel Engine will not contain Hadoop and Hive jars, If user want to use Hadoop and(or) Hive, they need copy the jars to SeaTunnel Engine lib dir.

[2022-09-27 10:24] EricJoy2048 opened #2918 "[Bug] [ST-Engine] Can not run more than one job in a node"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Can not run more than one job in a node

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

###

[2022-09-27 11:32] liugddx commented on #2916
i run the conf in example .and the result is true. So please provide more information about this error.

[2022-09-27 13:42] yuangjiang opened #2919 "The relational library supports upsert mode writing"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The relational library supports upsert mode writing, for example, when mysql->oracle is used, data is quickly imported into the main table through distributed distribution. When encounter

[2022-09-27 13:49] CalvinKirs commented on #2919
@ic4y Hi, do you have any idea?

[2022-09-27 16:01] #2802 closed, assigned to TaoZex

[2022-09-27 16:38] TaoZex commented on #1946
I want to work for implement Kylin sink connector. Please assign to me.

[2022-09-28 00:20] YMBSKLK commented on #2916
i run the conf with start-seatunnel-flink-connector-v2.sh. and the reslut is false. did you run the conf with it?

[2022-09-28 01:32] liugddx commented on #2916
![image](https://user-images.githubusercontent.com/48236177/192667025-da4f996a-494e-481d-935f-d24e9566177a.png)
this is example demo.

[2022-09-28 01:47] YMBSKLK commented on #2916
i known this is a example demo, i changed the conf path to test my conf

[2022-09-28 01:47] YMBSKLK commented on #2916
i known this is a example demo, i changed the conf path to test my conf

[2022-09-28 02:23] hailin0 commented on #2902
+1

[2022-09-28 02:50] liugddx opened #2925 "[Feature][DISCUSS] operator support customize some feature configurations,like parallel"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Sometimes transform need more parallel, so i think operator support customize some feature configurations.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are y

[2022-09-28 03:06] liugddx commented on #2919
i have an idea,when data synchronization fails,we can write drity data to a three-way store,need a dirtyManager module to do this job.And this module is pluggable,we can configure it in the env.

[2022-09-28 03:07] 2416210017 opened #2926 "Seatunnel-2.1.3 How to specify a spark file?"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Seatunnel-2.1.3 How to specify a spark file? Spark2.4 is used. The hive table cannot be found. The hive site is specified Xml is normal.
![image](https://user-images.githubusercontent.com/52597892/192677

[2022-09-28 03:27] ashulin commented on #1959
closed by #2703

[2022-09-28 03:27] #1959 closed, assigned to ashulin

[2022-09-28 03:32] s7monk opened #2927 "[Bug] [seatunnel-api-flink] Can not find BatchTableEnvironment class when using Flink-1.15.X"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Can not find BatchTableEnvironment class when using Flink-1.15.X

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Ve

[2022-09-28 06:11] EricJoy2048 commented on #2752
I suggest FakeSource support parallel, I want to use FakeSource and LocalFileSink test the data consistency while some engine node shutdown(For SeaTunnel Engine integration testing). The FakeSource task will run in more than one cluster node only if it support parallel.

[2022-09-28 06:22] EricJoy2048 commented on #2925
+1
Yes, It a good idea.

[2022-09-28 06:27] EricJoy2048 commented on #2927
Great.

[2022-09-28 06:30] EricJoy2048 commented on #2926
Do you want some other people help you fix it?

[2022-09-28 06:33] 2416210017 commented on #2926
Yes, can I help you? thank you

[2022-09-28 06:38] ashulin opened #2929 "[Bug] [Format][JSON] json-format conflicts with the Jackson version of Spark-2.4.3"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

`json-format` conflicts with the Jackson version of Spark-2.4.3

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Ver

[2022-09-28 06:41] ashulin commented on #2914
Duplicated with #2733

[2022-09-28 06:41] #2914 closed, assigned to nobody

[2022-09-28 07:10] TyrantLucifer opened #2930 "[Improve][Exception Management] Unified exception management in whole project"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

So far, the exceptions thrown in the code have not been managed uniformly, the connector and other modules still use RunException, unified exception management can make the code more clea

[2022-09-28 07:13] TyrantLucifer opened #2931 "[Bug] [Connector-V2-Spark] 'source.parallelism' parameter does not work in spark engine"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Now the parameter of setting parallelism for source connector does not work in spark engine.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[

[2022-09-28 07:14] TyrantLucifer commented on #2857
I can do this work, pls assign to me. Thx.

[2022-09-28 09:12] liugddx commented on #2796
i will resolve the second point in another pr.

[2022-09-28 09:35] hk-lrzy commented on #2927
Maybe i can work on this one if you don't have ant free time.
@s7monk

[2022-09-28 09:44] hailin0 commented on #2929
spark-core_2.11/2.4.6 depends on jackson [2.6.7.1](https://mvnrepository.com/artifact/com.fasterxml.jackson.module/jackson-module-scala_2.11/2.6.7.1)

jackson 2.6.7.1 Incompatible seatunnel-format-json jackson-2.12

[2022-09-28 09:46] hailin0 commented on #2929
shade jackson package into `seatunnel-format-json`

[2022-09-28 09:47] hailin0 commented on #2929
<img width="1118" alt="image" src="https://user-images.githubusercontent.com/14371345/192747786-3873083f-a583-4645-aff9-ef14e3ba9b0c.png">

[2022-09-28 09:47] chenhu opened #2933 "running with json configuration file not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

running sample configuration file with error

### SeaTunnel Version

2.1.3

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

spark3.3 on

[2022-09-28 10:08] chenhu opened #2935 "ST Parse Json configuration file has some issue"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

ST Parse  Json configuration file has some issue,
I has a json configuration file,and the parse result is :

2022-09-28 14:20:39 [AnalysisStatistics.analysisStatisticsLog-53] 22/09/28 14:19:09 INFO Confi

[2022-09-28 11:25] ashulin opened #2936 "[Bug] [api] Split checkpoint snapshots and assignments are not atomic operations"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Split checkpoint snapshots with assignments should be atomic operations

### Usage Scenario

SourceSplitEnumerator api

### Related issues

_No response_

### Are you willing to submit a

[2022-09-28 15:15] TyrantLucifer opened #2942 "[Improve][Connector V2] Improve read & write parquet files"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In MVP version writing data to parquet files not support complex types such as `list` `array` `map` `struct` etc...., in this pr it will support these complex data types when writing parq

[2022-09-29 01:16] FWLamb commented on #2171
Hello, can you assign me the sink for Clickhouse? My current production environment wants to use new functions. I want to try it.

[2022-09-29 01:21] TyrantLucifer commented on #2171
Sure, good job～

[2022-09-29 02:21] ashulin commented on #2931
This is a bug, we can use the same parameter "parallelism" in unity with flink without the API prefix

[2022-09-29 02:55] ashulin commented on #2933
The current plugin configuration has some custom handling, which may be related to the issue;

[2022-09-29 03:28] TyrantLucifer commented on #2931
Yes, you are right, I will change the value either.