[2022-09-29 03:59] ashulin commented on #2933
The format might need to be like this
[code]

[2022-09-29 04:04] #2929 closed, assigned to nobody

[2022-09-29 06:18] chenhu commented on #2933
Not working, the same error

[2022-09-29 06:54] RickyHuo commented on #2933
AFAIK, the follow config can works:

[code]

The error only occurs when there are multiple plugins in one section.

[2022-09-29 07:20] FWLamb commented on #2171
I plan to test the hive to clickhouse, but there is no hive related environment for testcontainers. How can I do this？

[2022-09-29 07:24] hk-lrzy commented on #2933
@chenhu
[code]
plz change file name to `test.json` and retry again.

[2022-09-29 07:47] FWLamb opened #2948 "[Bug] [Connector-V2-Spark] 'start-seatunnel-spark-connector-v2.sh' file has problems with the Windows test code"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I ran the seatunnel-e2e test case, the following problems arose with the execution：

ERROR AbstractTestContainer: bash: /tmp/seatunnel/bin/start-seatunnel-spark-connector-v2.sh: /bin/bash^M: bad int

[2022-09-29 07:55] liugddx commented on #2948
Please change file type CRLF to LF

[2022-09-29 07:58] FWLamb commented on #2948
Which file should I modify

[2022-09-29 08:00] liugddx commented on #2948
`start-seatunnel-spark-connector-v2.sh` or `start-seatunnel-flink-connector-v2.sh` if you use flink engine.

[2022-09-29 08:05] FWLamb commented on #2948
I didn't find these files in the project. These files are in the Docker container. If I want to modify them, I must mark breakpoints. This means that every test needs to go into the container to modify the file code, which is too troublesome.

[2022-09-29 08:06] liugddx commented on #2948
https://github.com/apache/incubator-seatunnel/blob/dev/seatunnel-core/seatunnel-spark-starter/src/main/bin/start-seatunnel-spark-connector-v2.sh

[2022-09-29 08:17] FWLamb commented on #2948
The problem is solved ,thank you

[2022-09-29 08:20] #2948 closed, assigned to nobody

[2022-09-29 08:28] FWLamb commented on #2789
please assign to me add e2e testcase

[2022-09-29 08:32] Hisoka-X opened #2949 "[Feature][Clickhouse-Connector-V2] Add Clickhouse e2e testcase"
Subtask of #2789

[2022-09-29 08:34] Hisoka-X commented on #2789
@FWLamb  Great! I assgined to you. Please track it on #2949

[2022-09-29 08:35] Hisoka-X commented on #2949
@FWLamb

[2022-09-29 09:00] hailin0 commented on #2942
great

[2022-09-29 11:29] ashulin commented on #2824
@lhyundeadsoul Because each degree of parallelism corresponds to one reader, and readers are isolated from each other, we only discuss based on one reader;

[2022-09-29 11:34] ashulin commented on #2915
MetadataColumn and SupportReadingMetadata are indeed designed to solve this problem, but it has not been completed yet, and some pre-problems need to be solved；
#2490

[2022-09-29 12:38] Tangruilin commented on #1946
@lhyundeadsoul  I was finding a work the other day, these days I'll focus on it. I may ask you some question this week

[2022-09-29 13:57] melin commented on #1082
For example, when synchronizing data from mysql into hive, I hope to control the speed of reading mysql data, and read up to 100 rows per second to avoid affecting business operations.

The write data speed also needs to be controllable.

ratelimit is an important requirement for data synchronization tools

[2022-09-29 17:03] TyrantLucifer opened #2952 "[Improve][Connector-V2] Support user-defined schema when using file connector read text files"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In MVP version file connector only support read text files line by line, not support using user-defined schema parse data from content, this pr will implement this feature.

### Usage Sce

[2022-09-29 21:05] RayTsui commented on #551
yes, I have the same issue as yours @bigdatas , have you resolved it yet, thanks.

[2022-09-30 03:00] liugddx commented on #2902
Could you add a method to automatically run CI? like flink bot.

[2022-09-30 04:19] FWLamb commented on #2949
[https://github.com/apache/incubator-seatunnel/pull/2954](url)

[2022-09-30 04:21] FWLamb commented on #2949
#2954

[2022-09-30 04:22] FWLamb commented on #2949
[Feature][Clickhouse-Connector-V2] Add Clickhouse e2e testcase#2954

[2022-09-30 04:22] FWLamb commented on #2949
[Feature][Clickhouse-Connector-V2] Add Clickhouse e2e testcase #2954

[2022-09-30 04:23] FWLamb commented on #2949
[Feature][Clickhouse-Connector-V2] Add Clickhouse e2e testcase #2954

[2022-09-30 06:22] EricJoy2048 commented on #1082
Yes, I think we need speed controllable too. Do you have some ideas?

[2022-09-30 08:05] EricJoy2048 commented on #2829
You are welcome.

[2022-09-30 08:37] EricJoy2048 commented on #1946
Hi, What's the latest news about the starRocks connector? If you encounter difficulties, please tell us. If you need help from others to complete this connector?

[2022-09-30 08:37] EricJoy2048 commented on #1946
Hi, What's the latest news about the starRocks connector? If you encounter difficulties, please tell us. If you need help from others to complete this connector?

[2022-09-30 08:51] Carl-Zhou-CN commented on #2755
I want to try the following three tasks：
 Support for dynamic discover topic & partition in streaming mode
 Support setting read starting offset or time at startup config
 Support read message metadata(key、timestamp、headers)

[2022-09-30 09:03] EricJoy2048 commented on #2755
Thx for your contribution. Please create issues and link this page.

[2022-09-30 09:22] Carl-Zhou-CN opened #2958 "[Improve][Connector-V2-kafka] Support for dynamic discover topic & partition in streaming mode"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of #2755

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [x] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-09-30 09:23] Carl-Zhou-CN opened #2959 "[Improve][Connector-V2-kafka] Support setting read starting offset or time at startup config"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of #2755

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [x] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-09-30 09:25] Carl-Zhou-CN opened #2960 "[Improve][Connector-V2-kafka] Support read message metadata(key、timestamp、headers)"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of #2755

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-09-30 09:43] EricJoy2048 commented on #2959
<img width="791" alt="image" src="https://user-images.githubusercontent.com/32193458/193242525-2e108287-44b9-4575-a95c-6285e6306765.png">

Will you submit a pr for this?

[2022-09-30 09:43] EricJoy2048 commented on #2958
Will you submit a pr for this?

[2022-09-30 09:45] Carl-Zhou-CN commented on #2958
yes,I will try

[2022-09-30 09:46] Carl-Zhou-CN commented on #2959
yes,I will try

[2022-09-30 11:09] ashulin commented on #2960
There is currently no particularly good way to support metadata columns. If metadata columns are required, you may only add one option for each metadata column;

solution proposal for metadata columns: #2490

[2022-09-30 11:12] ashulin commented on #2935
linked #2933

[2022-09-30 14:19] #2601 closed, assigned to liugddx

[2022-09-30 14:33] liugddx commented on #1946
Sql-Server already done.

[2022-09-30 14:41] liugddx commented on #2752
please assign this task to me. I am working for customize parallelism.

[2022-09-30 14:43] liugddx opened #2961 "[Improve][Connector-V2][Fake] Support more than splits and parallelism for fake connector ."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

this is a subtask of #2752

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [x] Yes I am willing to submit a PR!

### Code of

[2022-10-01 00:46] laglangyue opened #2963 "[Bug] [sqlserver] timestamp convert exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

There is a bug here. The timestamp of sqlserver is a version number, which is synonymous with rowversion. It is stored as a binary number and can be converted to bigint by function, not timestamp type.

[2022-10-01 00:47] laglangyue commented on #2963
Please don't assign it to others. I have a friend from Amway to deal with it

[2022-10-01 03:04] ashulin commented on #2876
hi, @guanboo
I can't reproduce your problem in my windows10 environment.
![image](https://user-images.githubusercontent.com/36807946/193357698-40d4883e-e983-43f6-8185-23c26cc8cb00.png)

looks like your network problem, maybe you can add (Although I didn't add this)
[code]
 to docker deskop/settings/Docker Engine.

like this:
![image](https://user-images.githubusercontent.com/36807946/193357872-a5d

[2022-10-01 13:45] FWLamb opened #2966 "[Feature][seatunnel-api]seatunnel support json and tuple data types"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Does the seatunnel plan support json and tuple data types

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willin

[2022-10-01 14:54] jinkachy commented on #2963
yes, I can try it @laglangyue

[2022-10-01 15:37] ashulin commented on #2966
Currently String and json formats are supported, I don't think it is necessary to support json datatype.  And tuple can also use struct type or split transform

[2022-10-01 15:49] TyrantLucifer commented on #2966
Aggre with you. I think this proposal is useless.

[2022-10-01 16:20] FWLamb opened #2967 "[Bug] [seatunnel-api]ClickhouseSource Prepare Error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I do the clickhouse e2e test：
[code]

**Clickhouse configuration file**
[code]

### SeaTunnel Version

V2

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

###

[2022-10-01 16:32] FWLamb commented on #2963
you can use Timestamp.valueOf() to  convert it

[2022-10-01 16:33] FWLamb commented on #2963
you can use Timestamp.valueOf() to convert it

[2022-10-01 16:33] FWLamb commented on #2963
you can use Timestamp.valueOf() to convert it

[2022-10-02 00:07] ashulin commented on #2967
@Hisoka-X PTAL

[2022-10-02 00:12] ashulin commented on #2967
Since your Clickhouse does not have a password, you can try setting userName to "".

[2022-10-02 02:52] FWLamb commented on #2967
The same error occurred

[2022-10-02 07:17] TyrantLucifer opened #2968 "[Improve][seatunnel-format-text] Support SeaTunnelRow type"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In order to write and read `SeaTunnelRow` type data in text files, we should improve `seatunnel-format-text` module.

### Usage Scenario

_No response_

### Related issues

_No response_

[2022-10-02 11:15] TyrantLucifer opened #2970 "[Improve][Connector-V2] Improve file connector write text file"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

According to pr #2884, SeaTunnel has the ability to write text format now. So we should use this ability to exchange the old code.

### Usage Scenario

_No response_

### Related issues

[2022-10-02 13:00] ashulin opened #2973 "[Umbrella][doc] improve document"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

During the release of 2.2.0-beta, I found many problems in the c

[2022-10-03 01:46] liugddx commented on #2925
Do we set each operator individually or set the  parallelism uniformly?  @ashulin

[2022-10-03 01:50] #2486 closed, assigned to nobody

[2022-10-03 02:43] liugddx opened #2975 "[Discuss][Core] How to up-compatible flink at api level"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

this is a subtask of #2927
Now,Later versions of FLink do not allow direct set up `Configuration`,the `Configuration` is unmodifiable,and i think constructors are more stable,so i want to set the configu

[2022-10-03 07:07] luketalent opened #2977 "[Feature][Server init] Add init ddl script for server"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add init ddl script for server. for example, the table of user , role.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Ye

[2022-10-03 09:50] TyrantLucifer opened #2979 "[Bug][Connector-V2] Fix the file path in windows"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Fix the problem of incorrect path in windows environment

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_

[2022-10-03 11:59] ashulin opened #2981 "[Bug] [build] Invalidation of checkstyle suppression files in win10"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

in win10, and perform maven shell:

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

-

### Java or Scala Ve

[2022-10-03 12:36] ashulin commented on #2925
@liugddx My opinion is the same as the [spark scenario] #2965, the user can set the parallelism of a single source and sink, and can also set the global parallelism. When the parallelism of the plugin does not exist, the global parallelism is used.

[2022-10-03 13:00] ChenpiDog commented on #2847
@ashulin Hello, this issue has not been replied for a long time. Can Roadmap consider this function? This can improve the usability of seatunnel and make it more user friendly.

[2022-10-03 13:04] ChenpiDog commented on #2018
@h472591847 Sorry, have you solved it now? The following is my docker file for reference.

FROM flink:1.13.6

ENV SEATUNNEL_VERSION="2.1.0"

RUN wget https://archive.apache.org/dist/incubator/seatunnel/${SEATUNNEL_VERSION}/apache-seatunnel-incubating-${SEATUNNEL_VERSION}-bin.tar.gz
RUN tar -xzvf apache-seatunnel-incubating-${SEATUNNEL_VERSION}-bin.tar.gz

RUN mkdir -p $FLINK_HOME/usrlib
RUN cp apa

[2022-10-03 13:13] liugddx commented on #2925
I found that some operators are specified in parallelism itself.like `jdbcSource` and `jdbcSink`.Should we have uniform Settings? like this pr.

[2022-10-03 13:19] ashulin commented on #2847
hi, @ChenpiDog. I'm sorry, The development of the visual interface is currently in progress. You can follow https://github.com/apache/incubator-seatunnel-web

Since I have not paid attention to this submodule, you have to communicate with the maintainers(@dijiekstra @luketalent @zhuangchong @songjianet ) of the web for features and tasks
You can also subscribe dev@seatunnel.apache.org

You are wel

[2022-10-03 13:21] ChenpiDog commented on #2847
OK, thanks.

[2022-10-03 13:24] ashulin commented on #2925
@liugddx I would like to have uniform the parallelism option Settings

[2022-10-03 14:17] #2847 closed, assigned to nobody

[2022-10-03 14:19] #267 closed

[2022-10-03 14:19] #416 closed

[2022-10-03 14:19] #483 closed

[2022-10-03 14:19] #543 closed

[2022-10-03 14:19] #546 closed

[2022-10-03 14:19] #556 closed

[2022-10-03 14:19] #605 closed

[2022-10-03 14:19] #610 closed

[2022-10-03 14:19] #619 closed

[2022-10-04 11:44] liugddx opened #2983 "[Bug] [ST-Engine] task can not run with parallelism>1"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when i am running a task with parallelism>1.The subtask was not assigned correctly.

![image](https://user-images.githubusercontent.com/48236177/193809733-125bfc26-6bb0-4b96-b6c2-86bf5e403ff7.png)

### S

[2022-10-04 13:36] liugddx commented on #2975
Now flink (flink 1.14.X and later) can not modify `Configuration` when task is Running,so we can not chanage `pipeline.jars` or `pipeline.classpath` etc when task state is running .Here is bug code `configuration.set(PipelineOptions.JARS, jars.stream().distinct().collect(Collectors.toList()));` in `FlinkEnvironment.registerPlugin`. So i recommend using constructors instead. Is there a better way?P

[2022-10-04 13:44] liugddx commented on #2975
@ashulin @EricJoy2048 @TyrantLucifer @ic4y please give some suggesions.

[2022-10-04 15:19] FWLamb opened #2987 "[Bug] [seatunnel-connectors-v2]when outputting data to clickhouse，a ClassCastException was encountered"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

A type conversion error occurred during the running of the clickhouse job

### SeaTunnel Version

V2

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or

[2022-10-05 05:36] #2981 closed, assigned to nobody

[2022-10-05 05:50] #2931 closed, assigned to TyrantLucifer

[2022-10-05 06:24] liugddx opened #2989 "[Bug] [ST-Engine] env.parallelism is inoperative."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when the source parallelism is not setting, the parallelism will be set to 1.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flin

[2022-10-05 07:30] EricJoy2048 opened #2991 "[Doc][web site] doc error"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

https://seatunnel.apache.org/docs/2.2.0-beta/start-v2/local

document format error.

<img width="1169" alt="image" src="https://user-images.githubusercontent.com/32193458/194005001-b9d0cd

[2022-10-05 07:33] EricJoy2048 opened #2992 "[Doc][Connector-V2] IoTDB source connector doc error"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

eg is null.

<img width="1190" alt="image" src="https://user-images.githubusercontent.com/32193458/194005422-b516b3b8-d715-4e8b-bec5-b736d109a824.png">

### Usage Scenario

_No response_

[2022-10-05 07:49] TaoZex commented on #2991
Please assign to me.

[2022-10-05 07:49] TaoZex commented on #2992
Please assign to me.

[2022-10-05 08:39] TyrantLucifer opened #2994 "[Docs][Coding guide] Add coding guide"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

As more and more contributors join the ST community, the number of pr grows, and in order to better guide contributors to submit a high quality pr and reduce the pressure of community rev

[2022-10-05 09:57] EricJoy2048 opened #2996 "[Bug] [ST-Engine] ResourceProfile and Checkpoint DataSerializable error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When run job in a 3 node cluster, throw error.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No respons

[2022-10-05 12:31] ashulin commented on #2987
@Hisoka-X CC

[2022-10-05 12:34] #2983 closed, assigned to nobody

[2022-10-05 12:51] #2968 closed, assigned to TyrantLucifer

[2022-10-05 13:29] ashulin commented on #2992
@TaoZex Assigned to you, please submit PR to [seatunnel-website](https://github.com/apache/incubator-seatunnel-website)

[2022-10-05 13:30] ashulin commented on #2992
link #2993

[2022-10-05 14:23] Hisoka-X commented on #2987
Can you share your source_table DDL?

[2022-10-05 14:25] liugddx opened #2999 "[Improve][Connector-V2] Console print subtask index"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Console sink support print subtask index.
I use the Console connector when the parallelism is greater than 1,sometimes I want to see subtask index .So I think it's necessary to print it

[2022-10-05 14:29] FWLamb commented on #2987
create table if not exists `default`.source_table(
    `id`            Int64,
    `c_map`         Map(String, Int32),
    `c_array`       Array(String),
    `c_string`      String,
    `c_boolean`     Boolean,
    `c_int8`        Int8,
    `c_int16`       Int16,
    `c_int32`       Int32,
    `c_int64`       Int64,
    `c_float32`     Float32,
    `c_float64`     Float64,
    `c_decimal`     Decim

[2022-10-05 15:19] #2992 closed, assigned to TaoZex

[2022-10-05 15:20] #2991 closed, assigned to TaoZex

[2022-10-06 03:49] liugddx opened #3002 "[Umbrella] [Dirty data] This is new feature for dirty data"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

Dirty data is data that is not meaningful to the business, has a

[2022-10-06 04:44] TyrantLucifer opened #3003 "[Umbrella][Code Style] Automatic log object generation using lombok annotations"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

According to the community specification, code development prefe

[2022-10-06 04:46] #3003 closed, assigned to nobody

[2022-10-06 05:44] liugddx opened #3004 "[Discussion][Code style] Uniform Code indentation"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Sometimes I need to use automatic formatting when I'm writing code,but indents can make my code format wrong.So I think we need a unified code indentation.
- Described in the documentatio

[2022-10-06 07:10] s7monk commented on #1946
I can work for iceberg sink

[2022-10-06 07:14] s7monk commented on #2645
i can work for it

[2022-10-06 07:15] EricJoy2048 commented on #2645
You are welcome.

[2022-10-06 07:53] EricJoy2048 commented on #1946
I will add this connector request in the table.

PolarDB Source
PolarDB Sink
PolarDB-X Source
PolarDB-X Sink
AnalyticDB Sink
TDSQL Sink
SequoiaDB Sink
TcaplusDB Source
TcaplusDB Sink
GoldenDB Source
GoldenDB Sink
AntDB Source
AntDB Sink
OushuDB Sink
SUNDB Source
SUNDB Sink
UXDB Source
UXDB Sink
DolphinDB Source
DolphinDB Sink
RapidsDB Source
RapidsDB Sink
GreatDB Source
GreatDB Sink
CirroData Sink

[2022-10-06 09:03] s7monk commented on #2829
RDS MySQL is compatible with open source MySQL, and you can directly use the jdbc connector to operate RDS MySQL. and I will add Rds doc later.

[2022-10-06 10:36] liugddx commented on #1946
assign Redshift to me. @EricJoy2048

[2022-10-06 14:46] lizu18xz opened #3010 "[Feature][seatunnel-connector-flink-clickhouse] How to use clickhouse local"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

How to use clickhouse local ?   --path  , The parameters in the code are not seen on the official website https://clickhouse.com/docs/zh/operations/utilities/clickhouse-local/

Is there a

[2022-10-06 14:51] ashulin opened #3011 "[Discuss] Standardized commit message"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Background

At present, the commit message format of our committer and PMCs is not uniform when merging code.

### Motivation

The advantages of standardization:

1. Easy to quickly browse the commit

[2022-10-06 14:55] ashulin commented on #3004
+1

liugddx ***@***.***> 于2022年10月6日周四 13:45写道：

--
Best Regards,

Zongwen Li

[2022-10-06 15:12] ashulin commented on #3010
@Hisoka-X CC

[2022-10-06 15:15] #2999 closed, assigned to nobody

[2022-10-06 15:17] FWLamb commented on #2987
https://github.com/apache/incubator-seatunnel/pull/2988

When I make a judgment and then decide which type to use, I find a problem，
I use the Array (Double) type, but when I judge its type in ClickhouseSinkWriter, the result is a String type. When I insert data in the local test, the result is correct, which is Double [] . Why is its type not Double [] or array type, but String type? I tried to u

[2022-10-06 15:17] FWLamb commented on #2987
DDL：
create table if not exists `default`.source_table(
    `id`            Int64,
    `c_map`         Map(String, Int32),
    `c_array`       Array(Double),
    `c_string`      String,
    `c_boolean`     Boolean,
    `c_int8`        Int8,
    `c_int16`       Int16,
    `c_int32`       Int32,
    `c_int64`       Int64,
    `c_float32`     Float32,
    `c_float64`     Float64,
    `c_decimal`

[2022-10-06 15:19] FWLamb commented on #2987
@Hisoka-X

[2022-10-06 15:37] Hisoka-X commented on #2987
I will check it out.

[2022-10-06 15:42] Hisoka-X commented on #3010
<img width="1046" alt="image" src="https://user-images.githubusercontent.com/32387433/194357552-efde108d-a64a-4f34-8a25-df677cdd90d1.png">
Please use help command to get all config with clickhouse-local.

[2022-10-06 15:53] lizu18xz commented on #3010
![image](https://user-images.githubusercontent.com/20568293/194360386-4219b237-64c7-4243-894c-6a7cb0f88d46.png)

Which version is used?

[2022-10-06 16:00] #2905 closed, assigned to nobody

[2022-10-06 16:01] Tangruilin commented on #1946
@lhyundeadsoul I'm sorry that because my mentor give me some other works, I cannot continue to finish the task. Please unassign for me.

[2022-10-06 16:01] Tangruilin commented on #1946
I'm so sorry

[2022-10-07 00:03] liugddx commented on #3011
+1

[2022-10-07 03:30] selectbook commented on #1946
I can work for DataHub Source. thx

[2022-10-07 05:38] EricJoy2048 commented on #1946
You are welcome, Can you finished JDBC[Oracle] connector first? We do not recommend collecting multiple connectors at one time.

[2022-10-07 05:40] EricJoy2048 commented on #1946
It doesn't matter, thank you for your contribution.

[2022-10-07 05:55] hailin0 commented on #2645
file compression reference：
https://iceberg.apache.org/docs/latest/flink/#rewrite-files-action
https://github.com/apache/iceberg/blob/master/flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java#L168

[2022-10-07 06:07] hailin0 commented on #3011
+1

Added to the template that create pull request?

[2022-10-07 06:12] hailin0 opened #3012 "[Feature][Connector-V2] Imporve iotdb connector"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

Imporve iotdb connector.

### Task list

Common:
- [ ] Unified c

[2022-10-07 06:12] hailin0 commented on #3012
Anyone willing to help?

[2022-10-07 06:21] hailin0 commented on #3012
Please help to add `help wanted` label

[2022-10-07 16:46] #2989 closed, assigned to nobody

[2022-10-08 01:22] melin commented on #1946
支持ShardingSphere 分库分表自动同步

[2022-10-08 02:20] EricJoy2048 commented on #1946
Can you introduce the idea?

[2022-10-08 02:20] EricJoy2048 commented on #1946
Can you introduce the idea?

[2022-10-08 02:26] melin commented on #1946
从ShardingSphere 获取底层数据库和表的信息，并行方式同步数据，例如多个不同数据库实例，可以并行方式读写数据，需要考虑表分片设置等信息。

[2022-10-08 02:33] EricJoy2048 commented on #1946
Ok, I will add `ShardingSphere Source` and `ShardingSphere Sink` connector.

[2022-10-08 02:48] #2942 closed, assigned to nobody

[2022-10-08 02:48] EricJoy2048 commented on #1946
Hi, everyone. We are ready to open a new round of connector tasks. Next, the community will complete the following tasks:

1. Find the connector that has been assigned but has not submitted pr within 30 days and reset them to allocatable status(If you already work for it and plan to push the pr, please tell me).
2. Close this issue and create a new issue.

[2022-10-08 03:00] tonyDong-code commented on #1946
StarRocks Sink ConnectorV2 is createing PR, thanks.

[2022-10-08 03:09] Hisoka-X commented on #3010
22.3.1.1, how about yours?

[2022-10-08 03:17] EricJoy2048 commented on #1946
Thanks, I get it.

[2022-10-08 03:17] EricJoy2048 commented on #1946
Thanks, I get it.

[2022-10-08 03:35] EricJoy2048 commented on #1946
@zhuzhengjun01  Hi, What's the nwes about `Hbase` Source and Sink connector? Do you need some help?

[2022-10-08 03:49] EricJoy2048 commented on #1946
Hi, @Charlie17Li  What's the news about slack sink connector? I will close this issue and create another one. Please tell me If you plan to submit a pr about slack sink connector, I will assign it to you again.

Thank's for your contribution.

[2022-10-08 03:52] EricJoy2048 commented on #1946
Hi, @maruko-code What's the news about SqlLite connector? I will close this issue and create another one. Please tell me If you plan to submit a pr about slack sink connector, I will assign it to you again.

Thank's for your contribution.

[2022-10-08 03:52] EricJoy2048 commented on #1946
Hi,  @Caribbeanz What's the news about SqlLite connector? I will close this issue and create another one. Please tell me If you plan to submit a pr about slack sink connector, I will assign it to you again.

Thank's for your contribution.

[2022-10-08 03:55] EricJoy2048 commented on #1946
Hi, @bigdataf  What's the news about Cassandra connector? I will close this issue and create another one. Please tell me If you plan to submit a pr about slack sink connector, I will assign it to you again.

Thank's for your contribution.

[2022-10-08 03:58] EricJoy2048 commented on #1946
Hi, @dzzxjl What's the news about TDSql connector? I will close this issue and create another one. Please tell me If you plan to submit a pr about slack sink connector, I will assign it to you again.

Thank's for your contribution.

[2022-10-08 04:01] zhuzhengjun01 commented on #1946
I'm sorry for the slow progress of the task.If possible,I will continue to promote hbase source sink,thanks！

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Eric ***@***.***>
发送时间: Saturday, October 8, 2022 11:35:37 AM
收件人: apache/incubator-seatunnel ***@***.***>
抄送: oliverjude ***@***.***>; Mention ***@***.***>
主题: Re: [apache/incubator-seatunnel] [Feature][Connec

[2022-10-08 04:06] EricJoy2048 commented on #1946
Ok, I will assign it to you in the new issue.

[2022-10-08 04:13] liujingwen1225 commented on #1946
PolarDB can be assigned to me, thx

[2022-10-08 04:16] EricJoy2048 commented on #1946
Ok.

[2022-10-08 05:42] lizu18xz commented on #3010
21.7.5.29  ,  I'll try upgrading

[2022-10-08 05:47] #3010 closed, assigned to nobody

[2022-10-08 05:50] Hisoka-X commented on #2967
Working fine with my env.
![image](https://user-images.githubusercontent.com/32387433/194691277-11359565-fe53-4360-8d95-b3ac42c10443.png)

[2022-10-08 05:52] Hisoka-X commented on #2987
I had tested. It's cause by source not support array at now. Please check https://github.com/apache/incubator-seatunnel/issues/2789. So array will convert to string.

[2022-10-08 05:53] Hisoka-X commented on #2987
Can you help to support source read array type? @FWLamb

[2022-10-08 06:09] FWLamb commented on #2987
Yes, please assign it to me.

[2022-10-08 06:11] Hisoka-X opened #3014 "[Improve] [Connector-V2-Clickhouse] Support nest type and array"
Subtask of #2789

[2022-10-08 06:12] Hisoka-X commented on #3014
@FWLamb

[2022-10-08 06:13] liugddx commented on #1946
Do `gbase 8a` first, please assign to me.

[2022-10-08 06:13] Hisoka-X commented on #2987
Same issue with #3014

[2022-10-08 06:13] #2987 closed, assigned to Hisoka-X

[2022-10-08 06:16] YMBSKLK opened #3015 "[Bug] [Connector-V2] An error is reported when the aggregate function is executed in the sql component of the Flink engine"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

An error is reported when the aggregate function is executed in the sql component of the Flink engine.

### SeaTunnel Version

2.2.0-beta

### SeaTunnel Config

[code]

### Running Command

[code]

### E

[2022-10-08 06:17] liugddx opened #3016 "[Feature][Connector-V2] gbase 8a connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

gbase 8a connector for connector v2.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

##

[2022-10-08 06:17] liugddx commented on #3016
#1946

[2022-10-08 06:43] lizu18xz commented on #3010
21.7.5.29 ,I used it wrong before ,needs to be specified like this

 -- --path /clickhouse/ch9-data/local-data

https://cloud.tencent.com/developer/article/1828819

[code]

[2022-10-08 06:48] Hisoka-X commented on #3010
Yep

[2022-10-08 07:28] li-xming commented on #3015
I had the same problem，do you know how to solve it?

[2022-10-08 08:28] FWLamb commented on #3014
It seems that currently SeaTunnelDataType does not have an implementation class related to the nest type, right?

[2022-10-08 09:07] EricJoy2048 opened #3018 "[Umbrella][Connector-V2] SeaTunnel Connector V2 Tracking Table"
##  To do list for new Connectors

### About Difficulty

#### Source Connector

##### high

- Support parallelism and snapshot(like kafka source)
- Or use Native API for better performance
- Both batch and stream need implement

##### middle

- Support parallelism

##### low

- No parallelism and snapshot

#### Sink Connector

##### high

- Support Excetly-once
- Or use Native API for better perfo

[2022-10-08 09:08] EricJoy2048 commented on #3018
##  To do list for new Connectors

### About Difficulty

#### Source Connector

##### high

- Support parallelism and snapshot(like kafka source)
- Or use Native API for better performance
- Both batch and stream need implement

##### middle

- Support parallelism

##### low

- No parallelism and snapshot

#### Sink Connector

##### high

- Support Excetly-once
- Or use Native API for better perfo

[2022-10-08 09:18] FlechazoW commented on #3018
SAP HANA done, the pr #3017 .

[2022-10-08 09:31] melin commented on #2394
Implement CDC data synchronization hudi based on Debezium Server

https://github.com/apache/hudi/issues/6853

@CalvinKirs

[2022-10-08 09:32] TyrantLucifer commented on #3011
+1

[2022-10-08 09:46] TyrantLucifer commented on #3015
Please remove `execution.planner = "blink"` from your config file and try again.

[2022-10-08 09:54] Hisoka-X commented on #3014
Use SeatunnelRow to complete it.

[2022-10-08 09:54] Hisoka-X commented on #3014
Please check `FakeDataGenerator`

[2022-10-08 09:59] #2994 closed, assigned to TyrantLucifer

[2022-10-08 10:08] #2979 closed, assigned to TyrantLucifer

[2022-10-08 10:24] #2796 closed, assigned to liugddx

[2022-10-08 10:27] 531651225 commented on #3018
i can work for StarRocks Source connector, thanks

[2022-10-08 10:46] EricJoy2048 commented on #3018
Ok, StarRocks Source connector assign to you.

[2022-10-08 11:03] TyrantLucifer opened #3020 "[Bug] [Docs] Fix dead link in docs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

There are some dead links in this docs [connector-health-status](https://github.com/apache/incubator-seatunnel/blob/dev/docs/en/connector-v2/connector-status/connector-health-status.md)

### SeaTunnel Ve

[2022-10-08 13:26] #3020 closed, assigned to nobody

[2022-10-08 14:33] jinkachy commented on #2963
The sqlserver timestamp type(rowversion) is not a timestamp, but a binary stored version number.  It cant be convert to timestamp

[2022-10-08 16:18] hailin0 commented on #2725
subTask #3025, #3028

[2022-10-09 00:23] YMBSKLK commented on #3015
It can be run with old planner, but some system built-in functions of Flink cannot be used normally

[2022-10-09 00:45] YMBSKLK commented on #3015
And it is not batch mode

[2022-10-09 02:05] wangw9420 commented on #1946
StarRocks source  can be assigned to me, thx

[2022-10-09 02:13] Hisoka-X commented on #1946
@wangw9420 Please reply in ours new issue: #3018 , I will close this later. Thanks!

[2022-10-09 02:19] #1946 closed, assigned to nobody

[2022-10-09 04:31] liugddx opened #3032 "[Disscuss][e2e] Print out the error log"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Current e2e runs are reporting errors that do not print out detailed errors,it's not convenient to troubleshoot the problem.I recommend printing an error log if the results are incorrect.

[2022-10-09 04:32] liugddx commented on #3032
Can E2E's codeView contain this?

[2022-10-09 05:39] #2996 closed, assigned to nobody

[2022-10-09 06:10] #2548 closed, assigned to nobody

[2022-10-09 06:24] TyrantLucifer commented on #3032
`execResult.getExitCode()` is only contains the exit code of this test case, the more detail error message where we can get it?

[2022-10-09 06:34] Hisoka-X commented on #3032
How to define `"the error log"`? If just like some `this e2e run failed`, what's different before changed?

[2022-10-09 06:36] Hisoka-X commented on #3032
The main problem is you can't get error message when e2e use shell command to submit job.

[2022-10-09 06:44] Hisoka-X commented on #3032
OK for me.

[2022-10-09 06:50] Hisoka-X commented on #3002
Can you show me how to achieve this feature？

[2022-10-09 06:51] liugddx commented on #3002
I will output the detailed design later

[2022-10-09 07:00] Hisoka-X commented on #2977
[Closed by #7](https://github.com/apache/incubator-seatunnel-web/pull/7)

[2022-10-09 07:00] #2977 closed, assigned to nobody

[2022-10-09 07:04] liugddx commented on #3018
Oracle connector already done.

[2022-10-09 07:05] hailin0 commented on #3032
Is this helpful?

https://github.com/apache/incubator-seatunnel/pull/3028#discussion_r990657385

[2022-10-09 07:06] Hisoka-X commented on #2975
+1 . Looking forward your PR!

[2022-10-09 07:09] liugddx commented on #3032
LGTM.

[2022-10-09 11:42] woozhijun opened #3042 "When using cluster deploy mode for spark, Unable to get variable value"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When using cluster deploy mode for spark, Unable to get variable value.

However, looking at the yarn log is that the variable already exists。eg: -Dtarget_date,-Dstart,-Dend

    LD_LIBRARY_PATH=\"/opt/B

[2022-10-09 13:47] ashulin commented on #2975
+1

[2022-10-09 13:49] #2952 closed, assigned to TyrantLucifer

[2022-10-09 15:20] TyrantLucifer opened #3043 "[Improve][Core][Exceptiom Management] Design Exception Management API"
This is a subtask of #2930.

The core API has two parts as the following shown:

1. `SeaTunnelErrorCode`

![drawio](https://user-images.githubusercontent.com/51053924/194766336-3465d9e8-a309-4af7-9781-d4bf601e8539.png)

`SeaTunnelErrorCode` is a interface to define the error details for your module. This interface contains two important parts of information, part of the error code and part of the

[2022-10-09 16:34] s7monk opened #3044 "[Bug] [Connector-v2-Iceberg] Flink engine is not compatible with hadoop3.x"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I execute an iceberg source task using flink engine,throw an error:
java.lang.IllegalAccessError: class org.apache.hadoop.hdfs.web.HftpFileSystem cannot access its superinterface org.apache.hadoop.h

[2022-10-10 02:45] EricJoy2048 commented on #3018
Get it. Thanks for you contribution.

[2022-10-10 02:51] #2970 closed, assigned to TyrantLucifer

[2022-10-10 02:57] #2967 closed, assigned to nobody

[2022-10-10 05:38] TaoZex commented on #2840
done.

[2022-10-10 05:38] #2840 closed, assigned to TaoZex

[2022-10-10 06:05] IeohMingChan commented on #2540
您好，我想请教一下关于UDF的问题，请问您方便留下联系方式吗，我的手机及微信是13229031058

[2022-10-10 06:07] EricJoy2048 opened #3049 "[Bug] [FakeSource] Sometimes FakeSource will create test data contains line separator and column separator."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Sometimes FakeSource will create test data contains line separator and column separator. It will cause data consistency test failed.

The problem is case by `RandomUtils.nextBytes()`. `RandomUtils.nextBy

[2022-10-10 08:09] liugddx commented on #3018
Assign hudi to me

[2022-10-10 08:43] nutsjian commented on #3018
Assign [JDBC]SqlLite Source, [JDBC]SqlLite Sink to me. thanks.

[2022-10-10 10:14] wangcomeoffit opened #3051 "[Bug][spark] Exception StackTrace:java.lang.ArrayIndexOutOfBoundsException: 0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

22/10/10 18:03:14 ERROR base.Seatunnel: Fatal Error,

22/10/10 18:03:14 ERROR base.Seatunnel: Please submit bug report in https://github.com/apache/incubator-seatunnel/issues

22/10/10 18:03:14 ERROR bas

[2022-10-11 01:54] Hisoka-X commented on #2577
Closed by https://github.com/apache/incubator-seatunnel/pull/2699

[2022-10-11 01:54] #2577 closed, assigned to nobody

[2022-10-11 02:13] ashulin commented on #3043
I think using enumerations is probably not a good idea, there could be some general exception classes.

[2022-10-11 02:15] FWLamb commented on #2789
please assign to me support Int128,Int256

[2022-10-11 02:16] TyrantLucifer commented on #3043
enumerations is used to tip the detail of error message, base on the newest discuss in community for every module to define a base exception class. I don't know if I understand correctly.

[2022-10-11 02:17] Hisoka-X opened #3057 "[Improve] [Clickhouse-V2] Clickhouse Support Int128,Int256 Type"
Subtask of #2789

[2022-10-11 02:18] Hisoka-X commented on #2789
@FWLamb Please track it on #3057

[2022-10-11 03:53] #2963 closed, assigned to nobody

[2022-10-11 06:46] itsallsame opened #3059 "[Bug] [Official examples] In batch mode, the seatunnel did not stop after the completion of data transmission."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

running Official examples(https://seatunnel.incubator.apache.org/docs/2.1.3/start/local). In batch mode, the seatunnel did not stop after the completion of data transmission. the program will remain runn

[2022-10-11 07:36] immustard commented on #2105
您好，您的邮件已经收到。

[2022-10-11 07:40] FWLamb commented on #2475
Has the seatunne web deployment and use guidance document been prepared? Is there a follow-up development plan?

[2022-10-11 08:06] wangcomeoffit commented on #3051
jdk version jdk-8u271、jdk-8u152、jdk-8u331
os version CentOS Linux release 7.4.1708 (Core)

show be change  seatunnel-env.sh
export SEATUNNEL_PRINT_ASCII_LOGO=false

[2022-10-11 08:29] #3049 closed, assigned to nobody

[2022-10-11 11:49] john8628 commented on #3057
https://github.com/apache/incubator-seatunnel/pull/3064

[2022-10-11 12:00] wenwei8268 commented on #2789
please assign to me support Clickhouse Sink geo type ;

[2022-10-11 12:00] TyrantLucifer commented on #3018
Microsoft Azure Cosmos DB sink & source thx.

[2022-10-12 01:50] FWLamb opened #3071 "[Disscuss][api] Add New Data Type : BigInteger"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Clickhouse needs to support Int128 and Int256. How to implement it? At present, adding BigInteger data type is a solution.

### Usage Scenario

_No response_

### Related issues

_No resp

[2022-10-12 01:55] FWLamb commented on #3071
If the Long data type is used, the _clickhouse client_ may overflow when the data exceeds the maximum value of Long The _clickhouse client_ uses BigInteger internally to process Int128 and Int256, or how we should distinguish them so that the _clickhouse client_ can use the correct data type.

[2022-10-12 02:07] TyrantLucifer commented on #3018
Microsoft Azure SQL sink & source thx.

[2022-10-12 02:19] Hisoka-X commented on #2531
Close because already completed

[2022-10-12 02:19] #2531 closed, assigned to nobody

[2022-10-12 02:19] FWLamb commented on #3018
Assign Cassandra sink & source to me,thx

[2022-10-12 02:42] #2890 closed, assigned to nobody

[2022-10-12 02:48] Hisoka-X commented on #3071
@ashulin PTAL.

[2022-10-12 02:50] ashulin commented on #2394
1. Supports multi-table and sharding (Easy Configuration)
2. Supports parallel reading of historical data (Fast synchronization, billions of large table)
3. Supports reading incremental data (CDC)
4. Support heartbeat detection (metrics, small traffic table)
5. Support for dynamically adding new tables (Easier to operate and maintain)
6. Support Schema evolution(DDL)

[2022-10-12 05:10] #3004 closed, assigned to nobody

[2022-10-12 05:10] #3032 closed, assigned to nobody

[2022-10-12 05:42] IeohMingChan commented on #2958
Can multiple topics be filtered out for consumption through regular expressions or other ways?

[2022-10-12 06:21] #2910 closed, assigned to hk-lrzy

[2022-10-12 07:54] liugddx opened #3075 "[Bug] [sub module] Cannot be built separately."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Building submodules alone fails.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

### Java o

[2022-10-12 07:59] liugddx commented on #3075
#1980

[2022-10-12 09:30] AlexNilone opened #3076 "[Bug] [Module Name] 不支持CDH5.13的hive jdbc方式访问吗"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

因为一些特殊的原因，需要以jdbc方式来访问hiveserver2服务，集群环境是CDH5.13的（带了kerberos认证）。SPARK_HOME指向的是CDH 通过parcels安装的Spark2.4.0的目录/opt/cloudera/parcels/SPARK2/lib/spark2。驱动包另在plugins目录下建的子目录plugins/hivejdbc/lib放的是集群的hive-jdbc包

[2022-10-12 10:03] gitfortian opened #3077 "[Bug] [Module Name] doris insert error caused by data that include \n"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Reason: actual column number is less than schema column number.actual number: 1, column separator: [\t], line delimiter: [
], schema number: 57;

and when i set
doris.strip_outer_array="true"
 doris.form

[2022-10-12 10:29] #3076 closed, assigned to nobody

[2022-10-12 14:03] ashulin commented on #3071
I recommend using `decimal(38,0)`.
There is currently a BIGINT type, of course it only represents 8-byte data;
This is also the current solution such as Impala, spark, and flink;

[2022-10-12 14:06] ashulin commented on #2958
@IeohMingChan Yes, it is supported by regular expressions

[2022-10-12 14:08] ashulin commented on #2958
@Carl-Zhou-CN Hello, is there any difficulty? If you have any questions, you can give feedback to the community

[2022-10-12 14:15] ashulin commented on #3059
@Hisoka-X @hailin0 CC

[2022-10-12 14:21] Carl-Zhou-CN commented on #2958
@IeohMingChan @ashulin Sorry, there is some delay in time, I will work hard for this direction, encounter difficulties I will contact the community in time

[2022-10-13 00:45] IeohMingChan commented on #2958
Thank you. I want to use regular expressions for log execution, I will give feedback to the community if I have any questions.

[2022-10-13 00:46] IeohMingChan commented on #2958
Thank you for your enthusiasm!

[2022-10-13 01:00] YMBSKLK commented on #2975
After I upgraded Flink to 1.14. x, it ran normally in the development tool, but an error was reported after packaging. Have you ever had the same problem?
org.apache.flink.client.program.ProgramInvocationException: The main method caused an error: Flink job executed failed
	at org.apache.flink.client.program.PackagedProgram.callMainMethod(PackagedProgram.java:372)
	at org.apache.flink.client.progr

[2022-10-13 01:34] liugddx commented on #2975
`Caused by: java.lang.ClassNotFoundException: org.apache.seatunnel.connectors.seatunnel.fake.source.FakeSource`
Maybe you didn't load the connector.

[2022-10-13 01:44] FWLamb commented on #3071
Good idea. I'll try it.

[2022-10-13 01:54] YMBSKLK commented on #2975
In the ${SEATUNNEL_HOME}/connectors/seatunnel folder, there is connector-fake-2.1.3-SNAPSHOT.jar

[2022-10-13 01:57] liugddx commented on #2975
It is estimated that it can’t be modified to modify the configuration by `SetConfiguration`

[2022-10-13 01:58] liugddx commented on #2975
Please wait for my pr.

[2022-10-13 02:01] YMBSKLK commented on #2975
I modified SetConfiguration according to your method

[2022-10-13 02:06] YMBSKLK commented on #2975
I modified SetConfiguration according to your method

[2022-10-13 07:04] TyrantLucifer commented on #3075
`mvn clean package -pl seatunnel-connectors-v2/connector-redis -am -DskipTests`

![image](https://user-images.githubusercontent.com/51053924/195525389-3d8dff3a-a827-49ce-b7a3-9c09b58ad080.png)

[2022-10-13 07:59] #3075 closed, assigned to nobody

[2022-10-13 08:09] Hisoka-X commented on #3059
Work fine in recently dev branch.
![image](https://user-images.githubusercontent.com/32387433/195539568-208a0a8d-275d-43fb-a8ae-5d51e389a9c1.png)

[2022-10-13 08:16] Hisoka-X commented on #3059
Can you use `./bin/start-seatunnel-spark.sh -x` to enable trace mode?

[2022-10-13 12:49] xiaomaiyun opened #3090 "[Feature][doc] “env” lists all optional parameters"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

“env
Used to add some engine optional parameters, no matter which engine (Spark or Flink), the corresponding optional parameters should be filled in here.
”
But, I don't know what paramet

[2022-10-13 15:30] DarkAssassinator commented on #3018
mqtt, thx

[2022-10-13 16:34] TyrantLucifer commented on #3043
@ashulin @Hisoka-X @EricJoy2048 @CalvinKirs @hailin0 I try to let everyone know. Thanks.

[2022-10-14 01:38] liugddx opened #3091 "[Improve][Example] The local test connector is not available"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I want to test the connector in a local spark environment,but I need to do a few extra steps.The reason is that the spark engine needs to get dependency packages and local tests have prob

[2022-10-14 01:55] #2961 closed, assigned to liugddx

[2022-10-14 02:32] liugddx opened #3093 "[Bug] [e2e] e2e error in windows10"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

com.github.dockerjava.api.exception.InternalServerErrorException: Status 500: {"message":"invalid volume specification: 'D:\\incubator-seatunnel\\seatunnel-core\\seatunnel-spark-starter\\target\\seatunne

[2022-10-14 02:42] 531651225 commented on #3018
i can work for InfluxDB sink connector，thx

[2022-10-14 02:43] Carl-Zhou-CN opened #3094 "[Improve][Connector-V1-Spark-Hbase] Handling null values"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In some service scenarios, the null value must be written into hbase instead of being ignored

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to

[2022-10-14 03:16] matesoul opened #3095 "[Bug] [seatunnel-connector-flink-jdbc] No suitable driver found for hive2"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I use flink-jdbc sink to write hive, Throw me an error：
No suitable driver found for jdbc:hive2://192.168.1.1:10000/default

I am sure hive-jdbc-{version}.jar file is in ${FLINK_HOME}/lib dir

### S

[2022-10-14 03:44] TaoZex commented on #3018
Kylin sink connector done.Because kylin's sink connector is required to be imported into hive and cannot be imported into kylin, we don't need to implement it.

[2022-10-14 04:10] TaoZex commented on #3018
I want to work for My Hours source connector,thx.

[2022-10-14 06:57] dzzxjl opened #3100 "[Bug] [seatunnel-connector-spark-email] error: Symbol 'term org.openxmlformats' is missing from the classpath."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Error when executing `mvn clean package`
[code]

### SeaTunnel Version

2.1.3-SNAPSHOT

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

[2022-10-14 07:03] dzzxjl commented on #3100
i find the similar question, https://github.com/sbt/sbt/issues/3187, but i don't know how to fix it.

[2022-10-14 07:06] s7monk commented on #3100
mvn clean install -Dmaven.test.skip=true  try it

[2022-10-14 07:40] FWLamb commented on #3071
Problem solved.

[2022-10-14 07:41] #3071 closed, assigned to nobody

[2022-10-14 07:52] #2966 closed, assigned to nobody

[2022-10-14 07:57] FWLamb commented on #2789
please assign to me support write Geo type.

[2022-10-14 08:01] Hisoka-X opened #3101 "[Improve][Clickhouse-V2] Clickhouse Sink Support write Geo type"
Subtask of #2789

[2022-10-14 08:02] Hisoka-X commented on #3101
@FWLamb

[2022-10-14 08:32] CallMeKingsley97 opened #3102 "[Bug] [Doc] The link of "More Doris stream_load Configurations" is expired"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

 [link](https://seatunnel.apache.org/docs/2.2.0-beta/connector/sink/Doris) The page of doris sink connetor has a link to stream-load-manual configure of doris, but the link is invalid. Get 404😂

### SeaT

[2022-10-14 08:33] dzzxjl commented on #3100
i try it and still meet the same problem.

[2022-10-14 08:41] CallMeKingsley97 commented on #3102
emmm. I found somebody fix this issue,  embarrassed

[2022-10-14 08:42] #3102 closed, assigned to nobody

[2022-10-14 08:59] wangzhen-wudangshan opened #3103 "[Feature] When can Spark 3. x be supported？"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

When can Spark 3. x be supported？

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### C

[2022-10-14 09:06] CallMeKingsley97 commented on #3077
Could you give some records in the mysql?   @gitfortian

[2022-10-14 09:28] CalvinKirs commented on #3103
You can follow this https://github.com/apache/incubator-seatunnel/pull/2574, we will be releasing it soon and if you are able to participate in the testing together, the process will be fast.

[2022-10-14 09:28] #3103 closed, assigned to nobody

[2022-10-14 09:31] CalvinKirs commented on #3091
Could you describe your problem and your expectations in detail?

[2022-10-14 09:37] CalvinKirs commented on #3090
This is a Spark or Flink parameter, which we can find explicitly at https://spark.apache.org/docs/latest/configuration.html, and the parameters inside Connector have their own documentation. So there is no need to list them redundantly.

[2022-10-14 09:40] matesoul commented on #3095
Tips：hive veriosn is 1.1.0

[2022-10-14 09:41] CalvinKirs commented on #3095
As a reminder, sensitive information is best hidden

[2022-10-14 09:46] CallMeKingsley97 opened #3104 "[Improve]] [Doc] the link of CNCF CLOUD NATIVE Landscape is expired"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

[link](https://seatunnel.apache.org/docs/2.2.0-beta/intro/about) the link of CNCF CLOUD NATIVE Landscape is expired

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

[2022-10-14 09:48] EricJoy2048 commented on #3018
Thanks, I will delete kylin sink connector.

[2022-10-14 09:58] wangzhen-wudangshan opened #3106 "[Bug] ClassNotFoundException: org.apache.spark.internal.Logging$class"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

ClassNotFoundException: org.apache.spark.internal.Logging$class

### SeaTunnel Version

2.2.0-beta

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Sp

[2022-10-14 10:02] CalvinKirs opened #3107 "[Docs]Connector Plugin Development Guide"
For most users, when the existing Connector does not meet the needs of custom development, he needs a simple guide, he don't need to download the entire project, they could create a separate project, just need to introduce the relevant API dependencies can be quickly developed, and then packaged to use. But we are currently missing this part of the documentation, could someone add it for this purp

[2022-10-14 10:05] CalvinKirs commented on #3107
We need to include documentation for Connector V1 as well as V2.
For APi related dependency jar packages, we can use the official release jar as an example

[2022-10-14 10:11] xiaomaiyun commented on #3090
For flink parameters, I can't seem to find all the parameters [here](https://nightlies.apache.org/flink/flink-docs-release-1.15/docs/deployment/config/) . https://nightlies.apache.org/flink/flink-docs-release-1.15/docs/deployment/config/, such as:
execution.parallelism = 1
job.mode = "STREAMING"
execution.checkpoint.data-uri = "hdfs://localhost:9000/checkpoint"

[2022-10-14 11:04] wenwei8268 commented on #2806
https://github.com/apache/incubator-seatunnel/pull/3108

[2022-10-14 12:32] liugddx commented on #3091
When I test the connector in the spark environment, I not only need to rely on the connector, but also need to add some extra work, like the following
![1665750723167](https://user-images.githubusercontent.com/48236177/195847677-7c4336a7-c72b-438f-a7b4-d93225f7bce8.jpg)

[2022-10-14 12:37] #3094 closed, assigned to nobody

[2022-10-14 13:05] TaoZex commented on #2755
I would like to finish the following two tasks:
 Support more formats for message(json、csv、...)
 Support write message metadata(key、timestamp、headers)
Please assign it to me? thx.

[2022-10-15 01:59] liugddx commented on #3100
Refer to https://stackoverflow.com/questions/42327777/spark-sql-errors

[2022-10-15 03:47] 1553010490 commented on #3018
i can work for FeiShu Source connector, thanks

[2022-10-15 05:15] #3091 closed, assigned to nobody

[2022-10-15 05:28] #2871 closed, assigned to Mr-LiuXu

[2022-10-15 08:55] TyrantLucifer opened #3110 "[Feature][Connector-V2] Optimize package name"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now connectors package name like this `org.apache.seatunnel.connectors.seatunnel.xxx`. Package name has a duplicate `seatunnel` word. We should rename package name to `org.apache.seatunne

[2022-10-15 09:38] itsallsame commented on #3059
using `-x`, i get some errors.
errors:
<img width="1341" alt="image" src="https://user-images.githubusercontent.com/115528312/195979678-a1ca5058-877c-45c5-9758-30ab4fbe8817.png">

[2022-10-15 10:44] #3093 closed, assigned to liugddx

[2022-10-15 10:50] #2809 closed, assigned to Carl-Zhou-CN

[2022-10-15 15:23] dzzxjl commented on #3100
it works. Thanks a lot.

[2022-10-15 15:23] #3100 closed, assigned to nobody

[2022-10-16 14:04] silenceland commented on #2617
open this issue， associate with the issue https://github.com/apache/incubator-seatunnel/issues/3018

[2022-10-17 00:38] #2671 closed, assigned to nobody

[2022-10-17 00:38] #2605 closed, assigned to nobody

[2022-10-17 01:39] liugddx commented on #3018
Assgin MsSQL (SQL Server)  sink & source to me ,thanks

[2022-10-17 02:23] liugddx commented on #3018
SQL Server already done,and MsSQL is SQL Server.This is a task for Sybase?

[2022-10-17 03:11] EricJoy2048 commented on #3018
Sorry, I will delete `MsSQL`. Thanks for you report.

[2022-10-17 03:11] EricJoy2048 commented on #3018
Sorry, I will delete MsSQL. Thanks for you report.

[2022-10-17 03:15] 531651225 commented on #3018
Whether there is a rabbitmq source connector that supports eos semantics, I can work for it.

[2022-10-17 03:22] Hisoka-X commented on #3059
sorry, please use bash -x ./bin/start-seatunnel-spark.sh

[2022-10-17 03:45] EricJoy2048 commented on #3018
I will add it to this list. You can do it.

[2022-10-17 03:54] #2727 closed, assigned to nobody

[2022-10-17 04:37] #3110 closed, assigned to TyrantLucifer

[2022-10-17 05:11] 531651225 commented on #3018
I  can do for rabbitmq source and sink connector,thanks

[2022-10-17 05:53] liugddx commented on #3018
Amazon DynamoDB source & sink ,thanks.

[2022-10-17 06:20] itsallsame commented on #3059
get those message:

bash -x ./bin/start-seatunnel-spark.sh  \

+ set -eu
+ PRG=./bin/start-seatunnel-spark.sh
+ '[' -h ./bin/start-seatunnel-spark.sh ']'
++ dirname ./bin/start-seatunnel-spark.sh
+ PRG_DIR=./bin
++ cd ./bin/..
++ pwd
+ APP_DIR=/home/data/just/seatunnel/apache-seatunnel-incubating-2.1.3
+ CONF_DIR=/home/data/just/seatunnel/apache-seatunnel-incubating-2.1.3/config
+ APP_JAR=/home/da

[2022-10-17 08:25] wangzhen-wudangshan commented on #3103
Can you give a solution directly? Because it is urgent to integrate more than 3.0 versions of Spark.
There is too much in the #2574 connection，and time is limited.

[2022-10-17 10:03] liugddx opened #3120 "[Umbrella] Extract format conversion module."
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

 Extract format conversion module,parquet Avro and ORC .

### Ta

[2022-10-17 16:06] harveyyue commented on #3018
@TyrantLucifer Assign Hudi Sink task to me, Thanks!

[2022-10-18 00:37] #2594 closed, assigned to nobody

[2022-10-18 00:37] #2582 closed, assigned to shangeyao

[2022-10-18 00:37] #2564 closed, assigned to nobody

[2022-10-18 02:04] #3104 closed, assigned to nobody

[2022-10-18 02:09] liugddx commented on #3120
Is this mission necessary? @EricJoy2048 @hailin0 @ashulin @CalvinKirs @Hisoka-X @TyrantLucifer

[2022-10-18 02:51] #2925 closed, assigned to nobody

[2022-10-18 03:27] Hisoka-X commented on #3106
We not support spark3 yet, please track #2574

[2022-10-18 03:27] #3106 closed, assigned to nobody

[2022-10-18 10:01] CriysHot commented on #2736
for example:
sql = '"""select ${city}"""'
u need to add  tow single quotation marks

[2022-10-18 10:17] TyrantLucifer commented on #3120
Currently orc and parquet are tightly bound to the writer and reader, extracting the module can not be reused, the matter is meaningless, the ability to parse csv has been implemented in format-text, for avro and protobuf, there are currently connectors need to use this ability?

[2022-10-18 11:10] liugddx commented on #3120
Using `hudi-java-client` seem to read or write hudi requires avro format.

[2022-10-18 12:15] haibo-duan commented on #3018
I want to work for meilisearch sink connector,pls assign it to me.

[2022-10-18 18:23] TyrantLucifer opened #3132 "[Improve][Connector-V2][Hive] Support for automatic partition repair"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Hive connector supports automatic partition repair

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to su

[2022-10-19 02:14] hailin0 commented on #2678
@EricJoy2048  please assign to me

[2022-10-19 03:41] #3057 closed, assigned to nobody

[2022-10-19 06:57] lianghuan-xatu commented on #3018
I can work for Slack Sink Connector, please assign it to me,thx! @TyrantLucifer

[2022-10-19 07:08] TaoZex opened #3138 "[Improve][Connector-V2-kafka] Support more formats for message(json、csv、...)"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of https://github.com/apache/incubator-seatunnel/issues/2755

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes

[2022-10-19 07:09] TaoZex opened #3139 "[Improve][Connector-V2-kafka] Support write message metadata(key、timestamp、headers)"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of https://github.com/apache/incubator-seatunnel/issues/2755

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes

[2022-10-19 07:09] hailin0 commented on #2755
Thx for your contribution. Please create issues and link this page.

[2022-10-19 07:15] TaoZex commented on #2787
Please close this issue，the pr has been merged in https://github.com/apache/incubator-seatunnel/pull/3085.

[2022-10-19 08:19] #2787 closed, assigned to TaoZex

[2022-10-19 09:15] #3016 closed, assigned to liugddx

[2022-10-20 00:32] #2553 closed, assigned to nobody

[2022-10-20 00:32] #2539 closed, assigned to nobody

[2022-10-20 03:31] #2786 closed, assigned to TaoZex

[2022-10-20 03:35] IOTdailinwei commented on #3107
I want to do this.

[2022-10-20 06:52] #2296 closed, assigned to zhaomin1423

[2022-10-20 09:44] #3132 closed, assigned to TyrantLucifer

[2022-10-20 13:31] TyrantLucifer opened #3151 "[Feature][Connector-V1] Add flink hive source & sink connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add flink hive source & sink connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-10-21 03:35] Hisoka-X opened #3153 "[Improve][Core] Change SeaTunnel Logo Print Method"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

At now, we print seatunnel logo use method `AsciiArtUtils::printAsciiArt` when deploy on  flink or spark.
![image](https://user-images.githubusercontent.com/32387433/197105717-0023e3c9-29

[2022-10-21 06:32] Hisoka-X opened #3155 "[Feature][Engine] Engine Server and Client Instance support custom JVM parameters."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We should support user custom JVM parameters like `-Xmx=5G -Xms=5G`. User can set it in `seatunnel-env.sh` from default. Also can set it in shell : `seatunnel.sh` and `seatunnel-cluster.s

[2022-10-21 07:31] Carl-Zhou-CN commented on #2490
@ashulin hi, is it possible to identify the source of meta data in the schema definition and treat it as a normal field,Load when it needs to be processed

[2022-10-21 07:57] TaoZex commented on #3155
Please assign it to me.Thx.

[2022-10-21 09:12] john8628 commented on #3153
Please assign it to me.Thx;

[2022-10-21 09:35] skyoct commented on #3018
I want to work for Google Sheets source connector, please assign it to me.

[2022-10-22 00:36] #2730 closed, assigned to nobody

[2022-10-22 05:28] TyrantLucifer opened #3159 "[Feature][e2e] Add local file connector e2e tests"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add local file connector e2e tests

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

###

[2022-10-22 08:29] john8628 commented on #1732
The latest [clickhouse-jdbc](https://github.com/ClickHouse/clickhouse-jdbc) begin to support the AggregatedFunction(groupBitmap,32) , i think the clickhouse-connector2-sink  can add this type;

[2022-10-23 07:56] liugddx commented on #2975
please try again.

[2022-10-24 00:39] #2735 closed, assigned to nobody

[2022-10-24 00:39] #2691 closed, assigned to nobody

[2022-10-24 00:39] #2604 closed, assigned to nobody

[2022-10-24 01:40] liugddx commented on #2927
This can be added to the roadmap? @EricJoy2048

[2022-10-24 01:45] liugddx commented on #2729
Support Flink 1.15.X #2927

[2022-10-24 05:06] skyoct opened #3167 "[help] on project seatunnel-connector-spark-hbase: wrap: org.apache.commons.exec.ExecuteException: Process exited with an error: 1 (Exit value: 1)"
Java version: 1.8.0_271
Scala version: 2.11.12

When I execute `./mvnw install -Dmaven.test.skip`
[code]

[2022-10-24 06:09] gitfortian commented on #3077
u can insert into a record that which filed is string type and that content include \n would case this issue

[2022-10-24 06:10] gitfortian commented on #3077
mysql? idont unstand

[2022-10-24 06:14] gitfortian commented on #3077
i viewed the spark connector  code  and found that problem cased by u split content by \n default this hard coding is not reasonable,can u support that insert data by setting properties like flink   'sink.properties.format' = 'json',
  'sink.properties.read_json_by_line' = 'true'

[2022-10-24 06:21] Carl-Zhou-CN opened #3168 "[Bug][Connector-V1-Spark-Hbase] When the written df is empty, the directory does not exist when the load file is loaded"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When the written df is empty, the directory does not exist when the load file is loaded

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

[2022-10-24 06:31] gitfortian commented on #3077
i viewed the spark connector  code  and found that problem cased by u split content by \n default this hard coding is not reasonable,can u support that insert data by setting properties like flink   'sink.properties.format' = 'json',
  'sink.properties.read_json_by_line' = 'true'

<img width="470" alt="doris" src="https://user-images.githubusercontent.com/52306466/197461889-3ea7382a-bf31-4d7f-9fde

[2022-10-24 06:32] gitfortian commented on #3077
mkString("\n")  this cause the issue happens

[2022-10-24 07:21] 365323507 opened #3170 "connector-v2 kafka Total automatic shutdown"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Total automatic shutdown

### SeaTunnel Version

incubator-seatunnel-2.3.0-beta-release

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

[2022-10-24 08:00] Tanj0304 opened #3171 "seatunnel-transform-flink-udf Class loading failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Exception in thread "main" org.apache.seatunnel.core.starter.exception.CommandExecuteException: Flink job executed failed
	at org.apache.seatunnel.core.starter.flink.command.FlinkApiTaskExecuteCommand.ex

[2022-10-24 08:01] Tanj0304 commented on #3171
properties.forEach((k, v) -> {
            classNames.add(String.valueOf(v));
            functionNames.add(String.valueOf(k));
        });

[2022-10-24 08:34] CalvinKirs opened #3172 "[OnlineMeeting&Oct.25]SeaTunnel community meeting Topic collect"
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Community Meeting
Time: 2022/10/25 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/xrpYg8J6ER5w

#TencentMeeting：823-646-630

Copy this invitation and open in Tencent Meeting app (V2.13 or later) to join the meet

[2022-10-24 08:35] 365323507 commented on #3170
env {
  execution.parallelism = 1
  job.mode = "STREAMING"
}

[2022-10-24 12:23] ashulin opened #3175 "[STIP-12] [Umbrella] CDC Connector Design"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

## [Backgroud](https://github.com/apache/incubator-seatunnel/issues/2394)

Change data capt

[2022-10-24 12:37] hailin0 commented on #3175
+1
great

[2022-10-24 12:40] hailin0 commented on #3172
#3178

[2022-10-24 12:51] ashulin commented on #3172
#3175

[2022-10-25 00:39] #2509 closed, assigned to nobody

[2022-10-25 00:39] #2501 closed, assigned to nobody

[2022-10-25 02:39] TyrantLucifer commented on #3172
#3043

[2022-10-25 02:40] TyrantLucifer commented on #3172
#3011

[2022-10-25 02:56] mjp27258 opened #3176 "No configuration setting found for key 'query'"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Use v2 to extract oracle data, and the query parameter reports an exception

### SeaTunnel Version

2.3.0-beat-v2

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

[2022-10-25 03:24] 365323507 opened #3177 "v2 kafka json analysis"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

source {
	Kafka {
        topic = "Log"
        bootstrap.servers = "hdp01:9092"
		schema = {
			fields {
				a1= "string"
				b1=
			}
		}
		result_table_name = test
    }
}

How to conf

[2022-10-25 03:26] #3170 closed, assigned to nobody

[2022-10-25 05:26] hailin0 opened #3178 "[Umbrella] SeaTunnel Transform V2 Design"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

# Backgroud #2678

Currently, the transform code is bound to the

[2022-10-25 05:39] #718 closed

[2022-10-25 06:04] #3153 closed, assigned to john8628

[2022-10-25 06:04] s7monk commented on #3172
@https://github.com/apache/incubator-seatunnel/issues/2975

[2022-10-25 06:25] EricJoy2048 opened #3180 "[Umbrella][Web] Add a DataSource Management Services"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We need a DataSource Management Service, It will have some features:

1. All DataSource Information will manage in this service. And the service provides an SDK to provide data source inf

[2022-10-25 06:26] EricJoy2048 commented on #3172
[Discuss][Web] Add a DataSource Management Services #3180

[2022-10-25 09:06] ashulin commented on #3180
IMO, add a catalog storage to save the **options** of the [CatalogFactory](https://github.com/apache/incubator-seatunnel/blob/dev/seatunnel-api/src/main/java/org/apache/seatunnel/api/table/factory/CatalogFactory.java)

We can directly use CatalogFactory to verify the correctness of the options

[2022-10-25 09:21] ashulin commented on #2490
@Carl-Zhou-CN That's how it's designed right now.

[2022-10-25 09:29] yuangjiang commented on #3175
+1
great

[2022-10-25 09:32] yuangjiang commented on #3178
transform method use function ? can support sql ?

[2022-10-25 10:10] hailin0 commented on #3178
@yuangjiang
Transform directly operates  `stream<row>` on engines, currently unsupported using sql, but can achieve the same features

[2022-10-25 10:33] iture123 commented on #3178
I suggest support send dirty data to the extra Sink.

[2022-10-25 11:48] TyrantLucifer commented on #3177
[code]

[2022-10-25 11:51] Hisoka-X opened #3182 "[Bug] [Engine] Synchronizing massive data from mysql to hdfs sometime will failed."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When 30 million mysql row are synchronized to hdfs through 8 parallellism, writes will be completed, but the rename operation will not be completed, resulting in incomplete target path data. Use SeaTunne

[2022-10-25 13:24] #3167 closed, assigned to nobody

[2022-10-25 15:18] skyoct commented on #3018
@EricJoy2048 Hello, what data does gitlab source synchronize？Can you give a more detailed description？

[2022-10-25 15:24] TyrantLucifer opened #3187 "[Improve][Connector-V2][Redis] Support redis cluster connection & user authentication"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support redis cluster connection & user authentication

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing t

[2022-10-26 07:22] 365323507 opened #3190 "[clickhouse][Connector-V2] How to use connection ssl"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

sink {
	Clickhouse {
		host = "192.168.0.245:8123"
		database = "table"
		table = "t1"
		username = "default"
		password = "1234561"
		clickhouse.ssl = "true"
		clickhouse.ssl_mode = "non

[2022-10-26 07:27] TaoZex commented on #3018
I want to work for lemlist and Recently source connector,thx.

[2022-10-26 09:27] YMBSKLK opened #3192 "[improve][connector-v2-file] Add the skip header lines parameter such as csv、txt"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[improve][connector-v2-file]   Add the skip header lines parameter such as csv、txt

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a P

[2022-10-26 10:53] Carl-Zhou-CN commented on #2755
I want to try the following three tasks：
Add e2e testcase

[2022-10-26 14:48] hailin0 commented on #3178
Good idea. This is another features -- data partition (selected data row will be send to specified sink)

[2022-10-26 15:36] laglangyue commented on #3018
I wan to  try vertica, source and sink

[2022-10-27 01:57] cdmikechen commented on #3018
I have a question, if I am using postgis, not all sinks or sources support spatial data. How do the fields need to be transformed in this case?

[2022-10-27 06:10] dik111 opened #3203 "[Bug] [Connector-V2][FLINK-Hive-Sink] Caused by: java.io.FileNotFoundException while mysql data write to hive"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I use seatunnel  to test mysql data writing to hive it threw an exception, causing data not to be written to hive

### SeaTunnel Version

seatunnel-version: 2.2.0-beta
flink-version:1.13.3
hive-version:3

[2022-10-27 08:11] bravekong commented on #3176
source {
      Jdbc {
           query = "select * from table"
      }
}

Are all required parameters written?

[2022-10-27 09:22] bravekong commented on #2171
@CalvinKirs  Can you assign me the sink for Hudi?  I'm syncing the data to hudi.  I want to try it.

[2022-10-27 10:00] CalvinKirs commented on #2171
We can use custom images, but the Hive docker images are more troublesome, you could try them.

[2022-10-27 12:49] Mr-LiuXu commented on #2541
Updating document

[2022-10-27 15:06] laglangyue commented on #3175
+1 nice

[2022-10-28 02:36] amoyteng opened #3209 "[Bug] [sink HBase] java.lang.IllegalAccessError: class org.apache.hadoop.hdfs.web.HftpFileSystem cannot access its superinterface org.apache.hadoop.hdfs.web.TokenAspect$TokenManagementDelegator"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when I use seatunnel 2.1.3 to sync data to hbase,there throw an execption
java.lang.IllegalAccessError: class org.apache.hadoop.hdfs.web.HftpFileSystem cannot access its superinterface org.apache.hadoop.

[2022-10-28 03:43] dik111 commented on #3203
HI @EricJoy2048 @TyrantLucifer  can you help me solve this problem?

[2022-10-28 04:41] 1032851561 opened #3212 "[Feature] [Druid Connector] Not support auth and keyword column"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

the durid connector no set password and username when create jdbc connection.

### SeaTunnel Version

all

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flin

[2022-10-28 04:44] 1032851561 commented on #3212
i have submit a PR : https://github.com/apache/incubator-seatunnel/pull/2739

[2022-10-28 06:10] TyrantLucifer commented on #3203
Could you please offer more detailed log?

[2022-10-28 06:20] dik111 commented on #3203
Here is Taskmanager log :
[code]

And here is job manager log:
[code]
Any other detail log I can offer to you ?

[2022-10-28 07:29] bravekong opened #3214 "[Bug] [seatunnel-connectors-flink-kafka] When json or avro are selected for kafka schema, a ClassCastException error is reported"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I configure the schema parameter as json, an error is reported:java.lang.ClassCastException: com.fasterxml.jackson.databind.node.ArrayNode cannot be cast to com.fasterxml.jackson.databind.node.Objec

[2022-10-28 07:37] hqw529 opened #3215 "[Feature][Module Name] Feature title关于V1插件问题请教"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

想请教一下就是关于插件 （V1）
发现了插件之后怎么运行的呢？
我想运行自己的插件，输出格式是什么都可以吗

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to

[2022-10-28 08:00] isMrH opened #3217 "[Feature][connector-v2] Make the jdbc connector support hive-jdbc"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Hive connector-v2 removes the `pre_sql` configuration.
So I want to use the `quey` configuration in the jdbc connector-v2.
But currently the jdbc connector-v2 does not support hive-jdbc.

[2022-10-28 08:36] hk-lrzy commented on #3178
@hailin0 Can we describe the releationship betweens transform
like transform1 & transform2 and parallel, and transform3 use both transform1 & transform2 to do the filter.

[2022-10-28 08:45] TyrantLucifer commented on #3203
It's enough. BTW, could you please offer some example data from mysql and the hive table information, I need in the local simulation repetition. Thank you.

[2022-10-28 09:05] Mr-LiuXu commented on #2541
I have improved some details and debugging steps on the contribution guide of seatunnel-connectors-v2 and added some common basic modules, formats, etc. Can you take a look?

[2022-10-28 09:07] Hisoka-X commented on #2541
Great! I will take a look.

[2022-10-28 09:31] dik111 commented on #3203
Here is MYSQL  table:
[code]
MYSQL example data:
[code]
And here is hive table:
[code]
And here is seatunnel config file:
[code]

[2022-10-28 10:04] liugddx opened #3219 "[Bug][Connector-V2][JDBC] If the reader is not assigned a task, the job does not stop."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

If the reader is not assigned a task, the job does not stop.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Versio

[2022-10-28 10:22] AlfieLyu6 commented on #3018
I want to work for GitHub source connector, please assign it to me.

[2022-10-28 10:23] CallMeKingsley97 commented on #3077
Thanks, I'll try to fix it

[2022-10-28 10:48] EricJoy2048 commented on #3018
Ok, Thank you for your contribution.

[2022-10-28 10:51] EricJoy2048 commented on #3018
Sorry, I'm not familiar with postgis, Do you have some idea?

[2022-10-28 10:51] EricJoy2048 commented on #3018
Ok, assign to you.

[2022-10-28 13:21] TyrantLucifer opened #3222 "[Bug][Translation][Flink] Convert BigDecimal type losing precsion"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/51053924/198606229-396371df-3221-49b7-b2e0-9af8be1c851b.png)

![image](https://user-images.githubusercontent.com/51053924/198606284-8639820f-f5b0-4122-8

[2022-10-28 14:36] TyrantLucifer commented on #3222
link #2846 #2816

[2022-10-28 18:08] Sanskruti-3 commented on #2541
Can you assign this to me?

[2022-10-29 02:18] Hisoka-X commented on #2541
@Sanskruti-3 Sorry, this issue already assign to @Mr-LiuXu , can you pick another issue to contribute seatunnel? Thanks!

[2022-10-29 07:48] #3215 closed, assigned to nobody

[2022-10-29 09:05] CriysHot opened #3227 "[Feature][CORE] Not supported inner variale substitution"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I can't cite my object in my config,it's ok that the developers cite their object by using substitution,for ex
![image](https://user-images.githubusercontent.com/42238827/198822682-8f7af4

[2022-10-29 09:08] CriysHot commented on #3227
there is a piece of related code
![image](https://user-images.githubusercontent.com/42238827/198823347-6ce9277e-2de8-4470-b8b8-041a81d1b4b0.png)
package org.apache.seatunnel.core.base.config;

[2022-10-29 14:42] FWLamb commented on #3018
What is the Neo5j data source and what is the difference from Neo4j?

[2022-10-29 15:24] tsaiggo commented on #3018
Please assign Azure Blob Storage Connector to me!

[2022-10-29 15:25] davidzollo commented on #3018
good job
have assigned to you

[2022-10-29 15:25] davidzollo commented on #3018
good job
have assigned to you

[2022-10-29 15:33] skyoct commented on #3018
Please assign GoogleSheets Sink Connector to me! thx

[2022-10-29 16:14] ashulin commented on #3011
Results of online meeting discussions: Using tools to standardize commit message(e.g. git hook)

[2022-10-30 10:14] skyoct commented on #3018
Please assign Solr Sink Connector to me! thx

[2022-10-30 12:27] TaoZex commented on #3018
Please assign klaviyo ,Notion and Onesignal source connectors to me!

[2022-10-30 14:10] liugddx commented on #3018
assign  Amazon SQS source & sink to me.

[2022-10-30 15:22] #3159 closed, assigned to TyrantLucifer

[2022-10-30 16:24] FWLamb commented on #3018
assign Teradata Source and Sink to me,thx.

[2022-10-31 00:48] CallMeKingsley97 commented on #3077
but when I try to insert into doris with the records that contains "\n", the result is succeed. (Spark)

[2022-10-31 01:19] CallMeKingsley97 commented on #3077
Use your record
`https://miniprogtest.xxx.chinaunicom.cn/wechat-server/\x01\N\x01\N\x01\N\x01\N\x01\N\x01\N\x01\N\x01\N\x01\N\x01\N\x01false\x01\N\x01admin\x01import\x012022-06-08)` ,    **failed.**
And return the info:  **Reason: null value for not null column, column=name. src line: [];**
So maybe the error caused by `\x01`

[2022-10-31 01:23] baisui1981 commented on #3175
+1
great

[2022-10-31 02:36] isMrH commented on #3018
Can `jdbc` add support for hive-jdbc,thanks.

[2022-10-31 03:17] #2975 closed, assigned to liugddx

[2022-10-31 08:45] Z1Wu opened #3242 "[Bug] [Clickhouse-File] clickhouse-file connector-v2 generated data part name conflict"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When using clickhouse-file connector v2 to load data into clickhouse, if sink get multiple data partitions, different clickhouse-local program on different executors may generate data part with same name

[2022-10-31 09:26] #3219 closed, assigned to nobody

[2022-10-31 10:19] #3187 closed, assigned to TyrantLucifer

[2022-10-31 23:08] ROTBOR commented on #3018
ADB means AnalyticDB?

[2022-11-01 02:25] EricJoy2048 commented on #3018
Yes.

[2022-11-01 02:44] FWLamb commented on #3018
assign Teradata Source And Sink to me,thx.

[2022-11-01 03:14] Carl-Zhou-CN commented on #2960
underway

[2022-11-01 03:24] Hisoka-X commented on #2912
Very helpful issue.

[2022-11-01 03:26] hailin0 commented on #2912
good idea

[2022-11-01 03:33] hailin0 commented on #2912
flink example:
[code]

spark example:
[code]

[2022-11-01 04:06] nashlibby opened #3248 "scala.util.matching.Regex.<init>(Ljava/lang/String;Lscala/collection/Seq;)V"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

import hive data to clickhouse

### SeaTunnel Version

2.3.0-beta

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

spark version: 3.3.0

[2022-11-01 04:22] EricJoy2048 commented on #3018
You can reference https://github.com/apache/incubator-seatunnel/pull/3228.

[2022-11-01 06:22] dik111 commented on #3203
HI @TyrantLucifer any idea about this bug?

[2022-11-01 06:27] TyrantLucifer commented on #3203
Sorry, I'm busy these days. I'll let you know tonight.

[2022-11-01 06:31] TyrantLucifer commented on #3203
Could you please add my wechat: `tyrantlucifer` ? So we can communicate more conveniently

[2022-11-01 06:32] Carl-Zhou-CN commented on #2912
At present, there are some differences between the startup methods of Flink and Spark in seatunnel. Spark pays more attention to the env parameter in config when it starts. Flink depends more on the command line parameters. The parameters that cannot be recognized by the command line are used as the startup parameters of Flink. Does this need to be unified?

[2022-11-01 07:05] dik111 commented on #686
Organization：suofeiya
Location: Guangzhou, China
Contact: [yuwei.zhan@sfygroup.com](yuwei.zhan@sfygroup.com)
Purpose： Provide data fusion services from multiple data sources.

[2022-11-01 07:08] liugddx commented on #3018
Assign SAP Adaptive Server sink & source to me first .I don't have an aws account yet,so i'll do Amazon SQS later.

[2022-11-01 07:12] lucifer1024 opened #3250 "[Bug] [seatunel-transform-flink-udf] udf prepare method properties analysis error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

`
  public void prepare(FlinkEnvironment prepareEnv) {

        final Properties properties = new Properties();
        PropertiesUtil.setProperties(config, properties, UDF_CONFIG_PREFIX, false);

[2022-11-01 07:15] ashulin commented on #3203
Can you provide the log of the Task manager?

[2022-11-01 07:18] #2222 closed, assigned to PrajwalBorkar

[2022-11-01 07:18] #2269 closed, assigned to nobody

[2022-11-01 07:18] #2426 closed, assigned to nobody

[2022-11-01 07:22] #2806 closed, assigned to nobody

[2022-11-01 07:33] Hisoka-X commented on #2912
In my view, we should focus on env parameter at now. Provide a unified user experience to users. The different about how to handle these parameter, if can be unified would be better.

[2022-11-01 08:25] bravekong commented on #1273
@liujinhui1994  hello，May I ask you a question? I reported an error when using hudi as the source，

[code]

[2022-11-01 09:40] lucifer1024 commented on #1326
Hello, I would like to test  the transform of table2datastream and datastream2table

[2022-11-01 10:15] hufengkai opened #3251 "[Bug] [docs] File name of 'install-plugin.sh' is different from the doc"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I followed the quick start guide to run ‘sh bin/install_plugin.sh’ to install plugins, but found the actual file name is install-plugin.sh

### SeaTunnel Version

2.3.0-beta

### SeaTunnel Config

[code]

[2022-11-01 10:18] CalvinKirs commented on #3251
Welcome to submit PR.

[2022-11-01 10:21] CalvinKirs commented on #3248
Spark3 is not supported for now, but I don't know if this has anything to do with this, I'm not familiar with scala.

[2022-11-01 11:57] ashulin commented on #2824
@hailin0 The multi-split multiplexed feature of the CDC reader can be tracked using this issue.

[2022-11-01 12:06] ashulin opened #3253 "[feature][CDC] The basic implementation of the CDC source enumerator in the snapshot phase"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

This is a subtask of #3175 to track completion.

### Snapshot phase

![snapshot-phase](https://user-images.githubusercontent.com/36807946/197701802-592f212c-6ec0-459f-a330-3fe85a4fd23a.pn

[2022-11-01 12:09] ashulin opened #3254 "[feature][CDC] The basic implementation of the CDC source enumerator in the incremental phase"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

This is a subtask of https://github.com/apache/incubator-seatunnel/issues/3175 to track completion.

### Incremental phase

![Incremental-phase](https://user-images.githubusercontent.com/

[2022-11-01 12:13] ashulin opened #3255 "[feature][CDC] The basic implementation of the CDC source Reader in the snapshot phase"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

This is a subtask of https://github.com/apache/incubator-seatunnel/issues/3175 to track completion.

### Snapshot phase

![snapshot-phase](https://user-images.githubusercontent.com/368079

[2022-11-01 12:16] ashulin opened #3256 "[feature][CDC] The basic implementation of the CDC source Reader in the incremental phase"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

This is a subtask of #3175 to track completion.

### Incremental phase

![Incremental-phase](https://user-images.githubusercontent.com/36807946/197712853-6122d6cc-017d-454a-ba7e-d2911c446

[2022-11-01 14:36] yunyi-cli commented on #2171
@CalvinKirs Can you assign me the sink for Pulasr? I'm syncing the data to Pulasr. I want to try it.

[2022-11-02 02:35] hufengkai commented on #3251
https://github.com/apache/incubator-seatunnel/pull/3260

[2022-11-02 03:23] Hisoka-X commented on #3250
This is an obvious mistake. Looking forward your PR!

[2022-11-02 03:24] #3177 closed, assigned to nobody

[2022-11-02 03:24] #3172 closed, assigned to nobody

[2022-11-02 03:26] Hisoka-X commented on #3171
Same with #3250

[2022-11-02 03:26] #3171 closed, assigned to nobody

[2022-11-02 03:27] Hisoka-X commented on #3176
@ic4y PTAL

[2022-11-02 03:29] Hisoka-X commented on #3190
This is a good feature. Looking forward your PR!

[2022-11-02 03:29] hailin0 commented on #3178
reference
https://seatunnel.apache.org/docs/concept/config#other

[2022-11-02 03:50] ic4y commented on #3176
Thank you for reporting this problem, please upload the complete configuration file, you can delete sensitive information

[2022-11-02 04:24] #3251 closed, assigned to hufengkai

[2022-11-02 05:28] Carl-Zhou-CN commented on #3209
You can refer to the issues #2698 ,it can be temporarily solved in case of emergency

[2022-11-02 06:01] liugddx opened #3263 "[Umbrella][flink] Upgrade flink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I think flink upgrade needs to be upgraded gradually.Every major version changes a lot
,so need to upgrade from 1.13 to 1.14 and then to 1.15.Here's what to look for in an upgrade.If ther

[2022-11-02 06:06] hailin0 commented on #2912
agree

[2022-11-02 06:10] Carl-Zhou-CN commented on #2912
OK

[2022-11-02 06:12] liugddx commented on #3227
@Hisoka-X assgin to me .

[2022-11-02 06:12] hailin0 commented on #2912
command line parameters reference

https://seatunnel.apache.org/docs/command/usage/

[2022-11-02 06:32] skyoct opened #3264 "[Feature][batching] Unified batch writing function"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

# Why
At present, the support of each component for batch writing is uneven. Some components implement batch writing by themselves, some do not support batch writing, and some do not supp

[2022-11-02 06:55] liugddx opened #3265 "[Doc][schema] add schema doc"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

add schema doc

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [

[2022-11-02 07:04] Hisoka-X opened #3266 "[Feature][Doc] Add doc about connector-v2 schema feature"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

SeaTunnel support schema config in connector-v2. But we don't have any document to introduce this feature.
We should:
1. Add new document about schema feature. Introduce why we need schem

[2022-11-02 07:04] Hisoka-X commented on #3266
@liugddx PTAL

[2022-11-02 07:07] #3265 closed, assigned to nobody

[2022-11-02 08:27] hailin0 opened #3267 "[Feature][starter][flink] Support transform-v2 for flink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtasks of #3178

reference
#3145
https://github.com/apache/incubator-seatunnel/blob/2.3.0-beta-release/seatunnel-core/seatunnel-flink-starter/src/main/java/org/apache/seatunnel/core/sta

[2022-11-02 08:28] hailin0 opened #3268 "[Feature][starter][spark] Support transform-v2 for spark"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of #3178

reference
#3145
https://github.com/apache/incubator-seatunnel/blob/2.3.0-beta-release/seatunnel-core/seatunnel-spark-starter/src/main/java/org/apache/seatunnel/core/star

[2022-11-02 08:36] hailin0 commented on #3267
@TyrantLucifer  Please help add `help wanted` label

[2022-11-02 08:36] hailin0 commented on #3268
@TyrantLucifer  Please help add `help wanted` label

[2022-11-02 09:00] #2725 closed, assigned to nobody

[2022-11-02 09:28] hailin0 commented on #2824
@ashulin  please assign to me

[2022-11-02 10:13] TyrantLucifer opened #3271 "[Umbrella][Feature][Connector-V2] Support create table automaticly"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now, many sink connectors can not create target table if table not exists. This feature is very important for many users.

### Usage Scenario

_No response_

### Related issues

_No respo

[2022-11-02 11:18] EricJoy2048 opened #3272 "[Feature][API] Let connectors return parameter list and parameter verification rules"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

### background

We plan to define seatunnel job in web. The web need to know the options and option rules about the Source/Transform/Sink plugin. So we need let the plugin return the opti

[2022-11-02 11:35] hk-lrzy commented on #3272
`default OptionRule getOptionRule() ` should return list?

[2022-11-02 12:55] ashulin commented on #3272
`org.apache.seatunnel.api.table.factory.Factory` can be used directly, this can also support the options of catalog and format. (can see https://github.com/apache/incubator-seatunnel/issues/2490), I think this is necessary.

**Discover the existing source, sink, and catalog**

[code]

**Gets a list of options for a source**

[code]

**Option rule example**

@hk-lrzy The option rule contains a list

[2022-11-03 01:30] john8628 commented on #3267
please assign to me, i will try it; thanks

[2022-11-03 01:53] EricJoy2048 commented on #3272
Yes, I see. I will use `Factory `.

[2022-11-03 03:13] gitfortian opened #3278 "Expecting close brace } or a comma,"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

ftp 密码中包含特殊符号 导致校验失败  加了双引号还是密码错误

### SeaTunnel Version

2.2 beta

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

###

[2022-11-03 06:51] liugddx commented on #3018
assign  Tablestore sink & source to me thanks.

[2022-11-03 07:32] EricJoy2048 commented on #3018
`Amazon SQS Source` and `Amazon SQS  Sink` is reopen and everyone can assign them.

[2022-11-03 08:01] nashlibby commented on #3248
only spark2?

[2022-11-03 08:35] jinhshi opened #3289 "[Bug] [Kafka Sink] 指定topic使用'topic'报错"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

使用kafka sink 指定topic时按照官方示例报错
sink {

  kafka {
      **topic** = "seatunnel"
      bootstrap.servers = "localhost:9092"
      partition = 3
      kafka.request.timeout.ms = 60000
      semantics = EXACT

[2022-11-03 08:53] bravekong commented on #3289
The document has errors，you can use topics . like : topics = "seatunnel"

[2022-11-03 11:36] hailin0 commented on #3267
@john8628

End-to-end testing is required after the flink translation layer is developed：
1. Remove `EngineType.FLINK` from `@DisabledOnContainer`
2. Running this [testcase](https://github.com/apache/incubator-seatunnel/blob/dev/seatunnel-e2e/seatunnel-transforms-v2-e2e/src/test/java/org/apache/seatunnel/e2e/transform/TestFilterIT.java#L31)

[2022-11-03 12:37] wuchunfu commented on #3289
@jinhshi Please use English, thanks

[2022-11-03 13:33] nashlibby opened #3295 "Provider org.apache.seatunnel.spark.hive.sink.Hive could not be instantiated"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

import data from hive to clickhouse

### SeaTunnel Version

2.1.3

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

spark-2.4.8

### Jav

[2022-11-03 14:12] liugddx commented on #3227
you can config like this `transform {
  sql {
    sql = ${?x.sql1}
  }
}`,and -i x.sql1=select * from a

[2022-11-03 14:21] liugddx commented on #3227
![image](https://user-images.githubusercontent.com/48236177/199745956-596b6337-f7d0-433f-8c04-bb3f42a38bcf.png)
![image](https://user-images.githubusercontent.com/48236177/199746022-ba9c585f-852a-4c7e-9623-601fbc28d6c6.png)
![image](https://user-images.githubusercontent.com/48236177/199746062-6ec2815a-5e86-43ea-934a-a1dc9bc5ae01.png)

[2022-11-04 00:30] #2895 closed, assigned to nobody

[2022-11-04 02:05] Carl-Zhou-CN commented on #3289
hi,@jinhshi There are some differences between v1 and v2 parameters
v1 source：topics
v1 sink：topic
v2 source&sink：topic

[2022-11-04 05:32] #3214 closed, assigned to nobody

[2022-11-04 06:38] jinhshi opened #3302 "[Feature][Http Sink] save response body to somewhere else"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

  when I use http sink , i wish save the response boby to somewhere else, eg. kafka or separate log files which only include the repsonse body.

  Like this feature of NIFI：
<img width="6

[2022-11-04 06:54] jinhshi commented on #3289
I use v2 : bin/start-seatunnel-spark-connector-v2.sh, ‘topic’ won't work, but ’topics‘ will @Carl-Zhou-CN

[2022-11-04 06:59] #3168 closed, assigned to nobody

[2022-11-04 07:53] gitfortian opened #3303 "[Bug] [hive-connector] ERROR commit.FileSinkAggregatedCommitter: commit aggregatedCommitInfo error java.lang.NullPointerException"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

spark in local mode write data into hive ,then  change to yarn cluster mode ,spark read fake source  and write to hive ,ite shows  java.lang.NullPointerException

### SeaTunnel Version

2.3.0 -beta

###

[2022-11-04 08:04] gitfortian opened #3304 "[Bug] [flink-hive-connector] Caused by: java.lang.ClassNotFoundException: org.apache.hadoop.mapred.JobConf"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when i read fake source data and write it to hive by seatunnel-2.2-beta with flink engine ,it works. but when i change to seatunnel-2.3.0-beta with the same env,it shows an error,Caused by: java.lang.Cla

[2022-11-04 08:05] #3278 closed, assigned to nobody

[2022-11-04 08:06] gitfortian commented on #3278
wrong usage

[2022-11-04 08:10] gitfortian commented on #3303
i meet the same error

[2022-11-04 09:57] Carl-Zhou-CN commented on #3289
Can you upgrade the latest version to try? 2.2.0-beta v2 doesn't seem to open kafka

[2022-11-04 10:12] Hisoka-X commented on #3250
What‘s happend ? If this is a bug, I will reopen it.

[2022-11-04 10:14] Hisoka-X commented on #3250
If you don't have enough time to fix it, maybe others can help to do it.

[2022-11-04 14:42] shengdoupi commented on #3250
Hi, assign me please.

[2022-11-05 00:29] #2926 closed, assigned to nobody

[2022-11-05 00:29] #2919 closed, assigned to CalvinKirs

[2022-11-05 00:29] #2918 closed, assigned to Hisoka-X

[2022-11-05 00:29] #2916 closed, assigned to nobody

[2022-11-05 03:48] TyrantLucifer commented on #3304
Please add hadoop dependency in classpath of flink cluster.

[2022-11-05 07:06] lucifer1024 commented on #3250
Sorry ,  I thought it was fixed  in #3171

[2022-11-05 07:09] lucifer1024 commented on #3250
I to fix it

[2022-11-05 10:01] FWLamb commented on #3268
please assign to me, I want to try it; thx.

[2022-11-05 14:12] john8628 commented on #3267
OK , thx

[2022-11-06 00:27] #2901 closed, assigned to nobody

[2022-11-06 00:27] #2894 closed, assigned to nobody

[2022-11-06 00:27] #2893 closed, assigned to enterwhat

[2022-11-07 00:25] #2936 closed, assigned to ashulin

[2022-11-07 00:26] #2933 closed, assigned to nobody

[2022-11-07 00:26] #2915 closed, assigned to nobody

[2022-11-07 02:12] czwanglei opened #3314 "[Bug] [Clickhouse-connect] Source is Clickhouse Plugin PluginIdentifier not found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Exception in thread "main" java.lang.RuntimeException: Plugin PluginIdentifier{engineType='spark', pluginType='source', pluginName='clickhouse'} not found.
        at org.apache.seatunnel.plugin.discover

[2022-11-07 02:16] kali2077 opened #3315 "[Bug] [sink-hive] Table in instance of org.apache.seatunnel.connectors.seatunnel.hive.sink.HiveSink"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when sink hive,it throws error like 'Table in instance of org.apache.seatunnel.connectors.seatunnel.hive.sink.HiveSink'

### SeaTunnel Version

seatunnel-2.3.0-beta

### SeaTunnel Config

[code]

### Run

[2022-11-07 02:20] czwanglei commented on #3314
Another question, If I use jdbc source to connect clickhouse ,In order to execute native clickhouse sql,How to write the Seatunnel config.Thanks.

[2022-11-07 02:42] czwanglei commented on #3314
apache-seatunnel-incubating-2.2.0-beta-bin.tar.gz   connectors directory dont found plugin files

[2022-11-07 03:43] CalvinKirs opened #3316 "[OnlineMeeting&Nov.8]SeaTunnel community meeting Topic collect"
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Community Meeting
Time: 2022/11/08 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/WqZkz5WLUZOp

#TencentMeeting：681-797-470

Copy this invitation and open it in the Tencent Meeting app (V2.13 or later) to join t

[2022-11-07 06:13] Carl-Zhou-CN commented on #3314
Hi, @czwanglei  at present, seatunnel has not implemented the source for clickhouse alone

[2022-11-07 06:18] Carl-Zhou-CN commented on #3314
For using jdbc to connect to the clickhouse, you can directly refer to the settings of the jdbc connection, but you need to put the clickhouse driver under the relevant lib of the execution engine, such as Spark's jars
https://seatunnel.incubator.apache.org/docs/2.2.0-beta/connector/source/Jdbc

[2022-11-07 06:22] EricJoy2048 commented on #3314
Since 2.2.0-beta, SeaTunnel installation package no longer contains connector files. You can download the connector which you need like https://seatunnel.apache.org/docs/2.3.0-beta/start-v2/local#step-3-install-connectors-plugin.

[2022-11-07 06:33] czwanglei commented on #3314
Hi, @Carl-Zhou-CN I want to write clickhouse native sql, I dont know where I can config  我想配置clickhouse原生的sql,不知道在哪个配置参数里面，谢谢

[2022-11-07 06:41] Carl-Zhou-CN commented on #3314
@czwanglei  You can refer to
 jdbc {
      driver = com.clickhouse.jdbc.ClickHouseDriver
      url = ${url}
      result_table_name = b
      table =（select * from a）as b
      user = ${user}
      password = ${password}
  }

[2022-11-07 07:51] EricJoy2048 commented on #3315
@Hisoka-X  PTAL

@kali2077  can you config the Hive connector reference https://seatunnel.apache.org/docs/2.3.0-beta/connector-v2/sink/Hive ? I found the `sink_columns ` is not right.

[2022-11-07 08:37] gitfortian commented on #3304
on yarn  mode, exported `hadoop classpath` already,use the same hadoop dependency,when use 2.2.beta it's ok,but 2.3.beta,it's not

[2022-11-07 08:47] Hisoka-X commented on #3315
Can you use dev branch to test again? Thanks!

[2022-11-07 08:49] czwanglei commented on #3314
thanks @Carl-Zhou-CN

[2022-11-07 08:49] #3314 closed, assigned to nobody

[2022-11-08 00:26] #2959 closed, assigned to Carl-Zhou-CN

[2022-11-08 00:26] #2949 closed, assigned to FWLamb

[2022-11-08 00:26] #2935 closed, assigned to nobody

[2022-11-08 00:26] #2859 closed, assigned to nobody

[2022-11-08 03:03] liugddx commented on #3018
assign Amazon DocumentDB and Amazon MemoryDB for Redis to me. I will finish the two tasks at the same time

[2022-11-08 05:16] EricJoy2048 commented on #3018
Ok, Thanks for you contribution.

[2022-11-08 05:37] EricJoy2048 commented on #3316
Sync the `TableSinkFactory` and `TableSourceFactory` and discuss to `TableTransformFactory`.

https://github.com/apache/incubator-seatunnel/issues/3272

[2022-11-08 06:32] #3266 closed, assigned to nobody

[2022-11-08 06:33] hailin0 commented on #3268
@FWLamb
If you have any questions, welcome to discuss, I have communicated with @john8628 about #3267

[2022-11-08 07:46] TyrantLucifer commented on #3043
According to the disscuss result  that in Oct.25 meeting, SeaTunnel connector modules will use error code when throwing exception.

After the current code of statistics, summarized the following error code:

- seatunnel-api

| code                          | description                          |
| ----------------------------- | ------------------------------------ |
| CONFIG_VALIDATION_FAILED

[2022-11-08 07:46] TyrantLucifer commented on #3316
#3043

[2022-11-08 07:47] TyrantLucifer commented on #3316
#3271

[2022-11-08 09:32] TyrantLucifer opened #3327 "[Feature][Connector-V2] Support kerberos authentication"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support kerberos authentication in some connectors.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to s

[2022-11-08 10:21] #3203 closed, assigned to nobody

[2022-11-08 10:41] #2541 closed, assigned to Mr-LiuXu

[2022-11-08 12:00] FWLamb commented on #3268
Thank you. I will communicate with you later.

[2022-11-08 12:36] ashulin commented on #3271
You can add a method using catalog.

[code]

CatalogTable can represent partitioning keys, primary keys, comments, and more.

But the factory class is not enabled for the entire process: #2490

[2022-11-08 13:50] TyrantLucifer opened #3330 "[Improve][Connector-V2][Assert] Unified exception for assert sink connector"
sub-task of #2930

[2022-11-08 14:32] TyrantLucifer opened #3332 "[Improve][Connector-V2][AmazonDynamoDB] Unified exception for AmazonDynamoDB source & sink connector"
sub-task of #2930

[2022-11-09 00:27] #2902 closed, assigned to davidzollo

[2022-11-09 01:38] #3316 closed, assigned to nobody

[2022-11-09 01:55] zengqinchris opened #3336 "[Bug] [Http-connector-v1] exceeded the 80 characters length limit and was truncated."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Failed to pull data in http mode
![Uploading image.png…]()

### SeaTunnel Version

v1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

[2022-11-09 02:08] #3014 closed, assigned to FWLamb

[2022-11-09 02:08] #3101 closed, assigned to nobody

[2022-11-09 03:31] EricJoy2048 opened #3337 "[Umbrella][API & Connector V2] Implement Factory to expose configurable options"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

A tasks track about https://github.com/apache/incubator-seatunne

[2022-11-09 03:44] #2274 closed, assigned to nobody

[2022-11-09 03:53] TyrantLucifer commented on #3337
Please assign hive http flie related connectors to me. Thanks

[2022-11-09 03:58] TaoZex opened #3339 "[Improve][Connector-V2][HTTP] Improve HTTP responce parse format"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

![2a06ca5d4aa17ea9519d3eb271ab73a](https://user-images.githubusercontent.com/45089228/200731661-dc18b162-176a-4106-898f-b7403bda2582.png)

In SaaS services,the response returns in such a

[2022-11-09 05:11] TaoZex commented on #3337
Please assign Kafka connectors to me. Thx.

[2022-11-09 05:25] #3250 closed, assigned to lucifer1024

[2022-11-09 05:41] Carl-Zhou-CN commented on #3337
Please assign kudu,Pulsar connectors to me. Thanks

[2022-11-09 05:59] EricJoy2048 commented on #3337
I am working for pulsar, I will assign kudu to you.

[2022-11-09 06:00] Carl-Zhou-CN commented on #3337
Ok, thank you

[2022-11-09 06:09] TyrantLucifer commented on #3339
[code]

[2022-11-09 07:52] Hisoka-X commented on #3303
@TyrantLucifer Hi, PTAL. Thanks!

[2022-11-09 07:55] Hisoka-X commented on #3302
Maybe you can use HTTP source to do that.

[2022-11-09 09:54] #3339 closed, assigned to nobody

[2022-11-09 09:58] TyrantLucifer opened #3350 "[Feature][Connector V2] expose configurable options in Http @TyrantLucifer"

[2022-11-09 10:06] iture123 commented on #3002
It would be better if it could support specified tolerance ratio of the dirty data.

[2022-11-09 10:16] liugddx commented on #3002
Now is not good support and need to provide the collector features first.

[2022-11-09 10:26] monawang6 opened #3355 "[Bug] [Transform-sql-Use UDAF] The demo on the official website has incorrect configuration parameters"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

https://seatunnel.apache.org/docs/2.1.3/transform/sql

The configuration parameters of the sql module demo in transform on the official website are incorrect.

### SeaTunnel Version

seatunnel 2.1.3

###

[2022-11-09 14:04] #3350 closed, assigned to nobody

[2022-11-09 14:08] hailin0 commented on #2490
To support cdc, we also need to support RowKind(delete/update) based on primary key define in sink

[2022-11-09 14:15] cason0126 commented on #3337
please assign Hudi connectors to me， thx ！

[2022-11-09 15:06] EricJoy2048 opened #3360 "[Feature][Web Server] Add SeaTunnel Job Executor"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

SeaTunnel Job Executor is an executor tool, It is designed for scheduling tools to execute SeaTunnel jobs which is manager in SeaTunnel Web. It need some key features.

1. Executor can ru

[2022-11-10 00:27] TaoZex commented on #3337
Do we need to write google sheets configurable options? I want to achieve this.

[2022-11-10 00:28] #2885 closed, assigned to liugddx

[2022-11-10 00:28] #2836 closed, assigned to nobody

[2022-11-10 01:54] EricJoy2048 commented on #2973
@hailin0  PTAL

[2022-11-10 02:00] Hisoka-X commented on #3337
@TaoZex Yes, waiting your PR!

[2022-11-10 02:00] TyrantLucifer commented on #3360
@lhboss

link to #2666

[2022-11-10 02:01] TaoZex commented on #3337
https://github.com/apache/incubator-seatunnel/pull/3364 PTAL,thx

[2022-11-10 02:46] EricJoy2048 commented on #2666
I reopen this issue because we plan to do it.

[2022-11-10 02:55] FWLamb commented on #3337
Please assign InfluxDB, Iceberg connector to me. thx.

[2022-11-10 03:26] TyrantLucifer opened #3367 "[Feature][Connector V2] expose configurable options in Hive"

[2022-11-10 03:26] TyrantLucifer opened #3368 "[Feature][Connector V2] expose configurable options in FileLocal @TyrantLucifer"

[2022-11-10 03:26] TyrantLucifer opened #3369 "[Feature][Connector V2] expose configurable options in FileHadoop @TyrantLucifer"

[2022-11-10 03:26] TyrantLucifer opened #3370 "[Feature][Connector V2] expose configurable options in FileFtp @TyrantLucifer"

[2022-11-10 03:26] TyrantLucifer opened #3371 "[Feature][Connector V2] expose configurable options in FileSftp @TyrantLucifer"

[2022-11-10 03:26] TyrantLucifer opened #3372 "[Feature][Connector V2] expose configurable options in S3 @TyrantLucifer"

[2022-11-10 03:26] TyrantLucifer opened #3373 "[Feature][Connector V2] expose configurable options in OSS @TyrantLucifer"

[2022-11-10 03:27] Hisoka-X opened #3374 "[Feature][Web-Server] Add query SeaTunnel support Source/Sink/Transform List API."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

1. Add query SeaTunnel support Source/Sink/Transform List API.
2. Support Refresh API to refresh Source/Sink/Transform already downloaded.

### Usage Scenario

_No response_

### Related

[2022-11-10 03:48] davidewhw opened #3376 "[Feature][Connector V2] Add support for mongodb source complex types"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

exapmle ARRAY<ROW<`address` STRING, `city` STRING, `country` STRING, `postalCode` STRING, `province` STRING>>

### Usage Scenario

When reading mongodb data sources, support for complex t

[2022-11-10 06:15] hailin0 opened #3377 "[Feature][CDC] Support RowKind(DELETE/UPDATE_AFTER) data row in JDBC sink"

[2022-11-10 06:24] hailin0 opened #3378 "[Feature][CDC] Support RowKind(DELETE/UPDATE_AFTER) data row in JDBC sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support RowKind(DELETE/UPDATE_AFTER) data row in JDBC sink

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willi

[2022-11-10 06:24] #3377 closed, assigned to nobody

[2022-11-10 06:27] john8628 commented on #3337
Please assign iotdb, jdbc connector to me. thx.

[2022-11-10 06:41] Carl-Zhou-CN commented on #3355
hi,I want to try

[2022-11-10 09:11] EricJoy2048 commented on #2666
Hi, @lhboss , Thanks for you contribution. In #3360  the Executor is only a client to get job information and submit it and request the SeaTunnel Web API to update job status. So I think `Query this task list` is not what we need. `Query this task list` is more like the work that a scheduler needs to do.

[2022-11-10 09:23] TyrantLucifer commented on #3376
So far, SeaTunnel `ArrayType` not support complex type now. This functionality needs to wait until the underlying API changes.

[2022-11-10 09:32] TyrantLucifer commented on #3303
Could you please offer more details about you task? Such as create hive table sql and example data of source. BTW, Could you please try again with newest seatunnel version that compiled from dev branch? Because in pr #3258 I fixed some bugs.

[2022-11-10 09:50] bravekong opened #3380 "[Bug] [Official-examples-Quick-start-v2-Set Up with Locally] cluster have no master node"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I use the SeaTunnel Engine according to the official website, I report an error:org.apache.seatunnel.engine.common.exception.SeaTunnelEngineException: cluster have no master node.
The environment an

[2022-11-10 09:53] cason0126 opened #3381 "[Feature][Connector V2] expose configurable options in Hudi"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[Feature][Connector V2] expose configurable options in Hudi

### Usage Scenario

_No response_

### Related issues

#3337

### Are you willing to submit a PR?

- [x] Yes I am willing to s

[2022-11-10 09:55] bravekong commented on #3380
Do I need to set anything else to use seatunnel engine？

[2022-11-10 10:37] cason0126 commented on #3381
#3383

[2022-11-10 13:16] john8628 opened #3385 "[Feature][Connector V2] expose configurable options in JDBC"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of https://github.com/apache/incubator-seatunnel/issues/3337

### Usage Scenario

_No response_

### Related issues

https://github.com/apache/incubator-seatunnel/issues/3337

###

[2022-11-10 13:17] john8628 opened #3386 "[Feature][Connector V2] expose configurable options in IoTDB"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of https://github.com/apache/incubator-seatunnel/issues/3337

### Usage Scenario

_No response_

### Related issues

https://github.com/apache/incubator-seatunnel/issues/3337

###

[2022-11-10 15:57] cason0126 commented on #2394
I have several opinions on the necessity and realization of CDC:

Necessity: As a new generation data integration platform, CDC is very necessary; Because in actual use, the demand for change flow capture in the enterprise is gradually increasing. The rapid development of Flink CDC is a good example.
--If Sea Tunnel does not strengthen its ability to process CDC, it will be faced with the problem

[2022-11-11 06:24] Carl-Zhou-CN commented on #2960
@ashulin @EricJoy2048
![7983ff29b69a13127260c30ae5f446d](https://user-images.githubusercontent.com/67902676/201276704-5b9249ee-a9cf-406f-a2ea-716bbb801f28.png)
This is the schema that we currently support for kafka. I would like to add metadata columns to it. I want to get some support

[2022-11-11 06:48] FWLamb opened #3391 "[Feature][Connector V2] expose configurable options in InfluxDB"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of https://github.com/apache/incubator-seatunnel/issues/3337

### Usage Scenario

_No response_

### Related issues

https://github.com/apache/incubator-seatunnel/issues/3337

###

[2022-11-11 07:34] FWLamb opened #3393 "[Feature][Connector V2] expose configurable options in Iceberg"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of https://github.com/apache/incubator-seatunnel/issues/3337

### Usage Scenario

_No response_

### Related issues

https://github.com/apache/incubator-seatunnel/issues/3337

###

[2022-11-11 08:36] EricJoy2048 commented on #3380
I test it again and not found this exception. Please retry it.

[2022-11-11 08:40] #3355 closed, assigned to Carl-Zhou-CN

[2022-11-11 10:06] EricJoy2048 commented on #3380
Your machine can not use TCP Service Discovery. SeaTunnel Cluster support `multicast` Service Discovery. You can use it by update the config file:

### $SEATUNNEL_HOME/config/hazelcast.yaml

[code]

[2022-11-11 10:06] #3380 closed, assigned to nobody

[2022-11-11 13:09] TaoZex commented on #3337
I want to achieve starrocks connector.Please assgin to me.thx.

[2022-11-12 00:29] #2814 closed, assigned to nobody

[2022-11-12 11:29] liugddx commented on #3018
assign gitlab source to me . #3408

[2022-11-13 05:22] #2819 closed, assigned to msftgitsklsd

[2022-11-13 05:59] skyoct commented on #3360
@EricJoy2048 I want to try it. Please give it to me. thx

[2022-11-13 06:22] TyrantLucifer commented on #3360
Hi @skyoct , this task has assigned to @lhboss, could you please try other tasks?

[2022-11-13 07:28] skyoct commented on #3360
ok, thx

[2022-11-13 12:05] monawang6 opened #3414 "[Feature][Module Name] Will future v2 connectors support more flink features?"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Why did the v2 connector remove the v1 support for complex transform compatibility? Such as defining time attributes and watermark, using windows in sql for transform, etc. In my opinion,

[2022-11-13 12:07] TyrantLucifer opened #3415 "[Improve][Connector-V2][Http] Support paging read with `offset`"
sub-task of #2857

[2022-11-13 12:12] ttbbbb commented on #3415
please assign it to me, thanks

[2022-11-13 13:48] Hisoka-X commented on #3242
I add random number on directory to fix it.

[2022-11-13 13:48] nishuihanqiu commented on #875
support spark3.2.0, spark3.1.2 and spark2.4.7, please see https://github.com/nishuihanqiu/incubator-seatunnel with branch 2.1.3-spark3, that is [2.1.3-spark3](https://github.com/nishuihanqiu/incubator-seatunnel/tree/2.1.3-spark3)

[2022-11-13 13:57] Hisoka-X commented on #2789
Hi @wuxizhi777 Any new progress? If you need some help, please let us know. Thanks!

[2022-11-13 15:40] msftgitsklsd commented on #2819
I'm back

[2022-11-14 02:58] liugddx opened #3420 "[Feature][Deployment] add Helm for V2 connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

add Helm for V2 connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [x] Yes I am willing to submit a PR!

### Code of C

[2022-11-14 04:54] #3209 closed, assigned to nobody

[2022-11-14 06:03] #3253 closed, assigned to ashulin

[2022-11-14 06:03] #3254 closed, assigned to ashulin

[2022-11-14 07:48] EricJoy2048 opened #3428 "[Feature][Metrics] SeaTunnel Metrics Design"

[2022-11-14 07:48] #3428 closed, assigned to nobody

[2022-11-14 07:56] EricJoy2048 opened #3429 "[Feature][Web] Add option rule wrapper and wrapper seatunnel option rules to web form json"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The connector form json is like this:

[code]

We need a wrapper to wrapper seatunnel  option rules to this json format.

### Usage Scenario

_No response_

### Related issues

_No respon

[2022-11-14 08:05] EricJoy2048 opened #3430 "[Feature][SeaTunnel Engine] Add test to test stream job recover when all cluster node done and restart"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add a test to do this:

1. 3 node cluster start and then submit a stream job (Fake Source -> LocalFile Sink, and Fake Source will write 6000 rows. You can reference https://github.com/apa

[2022-11-14 08:09] Hisoka-X opened #3431 "[Feature][Metrics] SeaTunnel Metrics for Connector V2"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

1. The definition of the Metrics type needs to be compatible with Flink and Spark systems
2. Support Connector-V2 to create the indicators you need
3. Metrics type declarations and data c

[2022-11-14 08:56] xiaomaiyun commented on #3090
For flink parameters, I can't seem to find all the parameters [here](https://nightlies.apache.org/flink/flink-docs-release-1.15/docs/deployment/config/) . https://nightlies.apache.org/flink/flink-docs-release-1.15/docs/deployment/config/, such as:
execution.parallelism = 1
job.mode = "STREAMING"
execution.checkpoint.data-uri = "hdfs://localhost:9000/checkpoint"

[2022-11-14 08:57] xiaomaiyun commented on #3090
For flink parameters, I can't seem to find all the parameters [here](https://nightlies.apache.org/flink/flink-docs-release-1.15/docs/deployment/config/) . https://nightlies.apache.org/flink/flink-docs-release-1.15/docs/deployment/config/, such as:
execution.parallelism = 1
job.mode = "STREAMING"
execution.checkpoint.data-uri = "hdfs://localhost:9000/checkpoint"

[2022-11-14 09:13] TaoZex commented on #3430
I want to try this task, it will help me understand engine better. Please assign it to me,thanks.

[2022-11-14 09:19] #3043 closed, assigned to TyrantLucifer

[2022-11-14 14:23] Z1Wu commented on #3242
Maybe we don't need to generate random number, I currently use a task Id get from `SinkWriter.Context` as a work-around.
[code]

[2022-11-14 15:43] TyrantLucifer opened #3434 "[Improve][Connector-V2][Cassandra] Unified exception for Cassandra source & sink connector"
sub-task of #2930

[2022-11-14 17:13] cason0126 commented on #3360
Does job information including jvm resource parameters like -Xms -Xmx？If Job Information includes these paras ，Whether  scripts in #3155 #3307 should accept these parameters ？
@EricJoy2048

[2022-11-14 17:30] cason0126 commented on #3271
To solve this problem, we should first list a default policy that How SeaTunnel  handle with data type mapping between Source and Sink ， SeaTunnel   should allow users to customize them.
Because  sometimes  there will be some datatype in Source Side  But Sink side does not support 。
For example, the GEOM I met recently ，but not support  IN HIVE

[2022-11-15 00:26] #2876 closed, assigned to nobody

[2022-11-15 00:26] #2868 closed, assigned to TyrantLucifer

[2022-11-15 02:18] #3434 closed, assigned to nobody

[2022-11-15 02:21] #3332 closed, assigned to nobody

[2022-11-15 02:32] #3330 closed, assigned to nobody

[2022-11-15 02:51] s7monk opened #3438 "[Feature][Connector V2] Read HdfsFile data limit network bandwidth"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

When HDSF cross-level group or cross-service data synchronization, you can specify a fixed network bandwidth for data synchronization.

### Usage Scenario

When we synchronize the hdfs da

[2022-11-15 02:53] hailin0 commented on #3242
@Hisoka-X

[2022-11-15 03:00] Hisoka-X commented on #3242
This is a good way, I will change the code. Please help me review @Z1Wu

[2022-11-15 08:46] bravekong opened #3440 "[Bug] [seatunnel-spark-jdbc-source-Jdbc] please specify [table] as non-empty"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

An error is reported when using the ST-V2 version JDBC source:
ERROR BaseTaskExecuteCommand:118 - Plugin[org.apache.seatunnel.spark.jdbc.source.Jdbc] contains invalid config, error: please specify [table

[2022-11-15 08:58] #3440 closed, assigned to nobody

[2022-11-15 12:26] #3393 closed, assigned to nobody

[2022-11-15 15:36] TyrantLucifer opened #3445 "[Improve][Connector-V2][DataHub] Unified exception for DataHub sink connector"
sub-task of #2930

[2022-11-15 17:28] cason0126 commented on #3381
#3383

[2022-11-15 17:30] cason0126 opened #3447 "#3383"
#3383

_Originally posted by @cason0126 in https://github.com/apache/incubator-seatunnel/issues/3381#issuecomment-1310085024_

[2022-11-15 17:31] #3447 closed, assigned to nobody

[2022-11-15 17:38] cason0126 commented on #3447
Misoperation.
Please Delete It ,When anyOne with authority

[2022-11-16 00:27] #2801 closed, assigned to nobody

[2022-11-16 02:21] liugddx commented on #3002
#3431

[2022-11-16 08:41] bitian opened #3452 "[Bug] [Ftp source] java.lang.NoClassDefFoundError: org/apache/hadoop/fs/FSDataInputStream"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when I use ftp connect,there wa a error:
![图片](https://user-images.githubusercontent.com/14858638/202130756-f20d9ede-4ed8-4be7-88e5-df557d369094.png)

### SeaTunnel Version

2.3.0-beat

### SeaTunnel Con

[2022-11-16 08:48] TyrantLucifer commented on #3452
Do you add hadoop dependencies in your classpath?

[2022-11-16 08:56] bitian commented on #3452
I can't add it,how can I do it?

[2022-11-16 09:07] bitian commented on #3452
I can't add it,how can I do it?Do I need to install Hadoop?

[2022-11-16 10:31] TyrantLucifer commented on #3452
You need add hadoop dependency jars such as `hadoop-common` in classpath of ST.

[2022-11-16 12:36] bitian commented on #3452
Thank you ,I have add dependencyies in plugins folder of ST,include hadoop-common-2.6.5.jar etc.
![图片](https://user-images.githubusercontent.com/14858638/202333811-c3ee7c12-b9e7-4cf0-bce2-9035ab8603f5.png)

but now the following error occurred:

![图片](https://user-images.githubusercontent.com/14858638/202331407-80ef64bc-e374-44c2-92be-d5c0892f93c4.png)

Is it a dependency version problem or missin

[2022-11-16 13:25] #3445 closed, assigned to nobody

[2022-11-16 14:03] FWLamb commented on #3018
assign Microsoft Azure SQL Database Source & Sink to me,thx.

[2022-11-17 00:26] #3042 closed, assigned to nobody

[2022-11-17 00:26] #3015 closed, assigned to nobody

[2022-11-17 01:17] Carl-Zhou-CN commented on #3018
@EricJoy2048 I want to contribute to support NebulaGraph. Can you add a category of NebulaGraph for me

[2022-11-17 03:06] #3367 closed, assigned to nobody

[2022-11-17 03:06] #3368 closed, assigned to nobody

[2022-11-17 03:06] #3369 closed, assigned to nobody

[2022-11-17 03:06] #3370 closed, assigned to nobody

[2022-11-17 03:06] #3371 closed, assigned to nobody

[2022-11-17 03:06] #3372 closed, assigned to nobody

[2022-11-17 03:06] #3373 closed, assigned to nobody

[2022-11-17 04:11] 18391713434 commented on #3452
You can try to add hadoop-hdfs and hadoop-client dependencies to see if this problem can be solved.

[2022-11-17 04:12] lianghuan-xatu commented on #3452
You can try to add hadoop-hdfs  dependency to see if this problem can be solved.

[2022-11-17 08:50] zhangweiweikol opened #3457 "[Transform][udf] a example for udf"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I can't found any example  about udf's  jar code,  in  all the document.  I never write about that, and can't search that.
Could you  provide a example?

Thanks alot.

### Usage Scenario

[2022-11-17 10:06] wangsvip opened #3458 "[Bug] [Spark] java.nio.file.AccessDeniedException: /service/software/seatunnel/plugins.tar.gz"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Error when running start-seatunnel-spark-connector-v2.sh

### SeaTunnel Version

2.3.0-beta

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Ver

[2022-11-17 11:02] wangsvip commented on #3458
Now I have a new problem！

The application name set in env does not take effect, it is displayed as SeaTunnel in yarn!
在env 的文件里设置app名称，在yarn 里不会显示，而是显示的是 SeaTunnel！
![image](https://user-images.githubusercontent.com/30864196/202471864-4b91484c-36f6-4051-8ab1-cfd69372cdb4.png)
![image](https://user-images.githubusercontent.com/30864196/202471934-587cbf8a-4050-405e-89e2-e2eba295c4d2.png)

Master an

[2022-11-17 15:00] TaoZex commented on #3018
Please assign Persistiq and Orbit Source  to me,thx.

[2022-11-17 16:27] TyrantLucifer opened #3461 "[Bug][Core][Shell] Fix the bug that plugin download shell dost not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The shell of download plugins does not work

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

[2022-11-17 16:30] TaoZex commented on #3458
The application name set in env does not take effect, it is displayed as SeaTunnel in yarn!

Answer: I will try to fix this bug.

Master and queue must be set in env, and those set in spark-submit will not take effect！

Answer:This feature is not currently supported,we will  added this feature later.

Thank you for your feedback on Seatunnel.

[2022-11-18 00:30] #3051 closed, assigned to nobody

[2022-11-18 00:30] #3044 closed, assigned to s7monk

[2022-11-18 00:30] #2874 closed, assigned to TyrantLucifer

[2022-11-18 00:30] #2829 closed, assigned to s7monk

[2022-11-18 02:55] #3120 closed, assigned to nobody

[2022-11-18 02:56] #3378 closed, assigned to hailin0

[2022-11-18 03:05] liuxiaocs7 commented on #3167
I have the same error, how did you solve it, thank you. @skyoct

[2022-11-18 03:26] bunenghulai opened #3463 "[Bug][Spark]Driver stacktrace:at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages；Caused by: java.lang.OutOfMemoryError: GC overhead limit exceeded"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

1. Use version 2.1.2 of the V1 Seatunnel
2. Run the Seatunnel script in spark local mode
3. Error reporting

### SeaTunnel Version

Seatunnel 2.1.2

### SeaTunnel Config

[code]

### Running Command

[co

[2022-11-18 03:56] ELKTKJ opened #3464 "[Help] [connector-cdc-mysql] BUILD FAILURE"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I follow [Set Up Develop Environment](https://seatunnel.apache.org/docs/2.3.0-beta/contribution/setup)
first

[code]

then

[code]

I am using Window 10 System. Java and Scala versions ar

[2022-11-18 05:20] skyoct commented on #3167
I didn't completely solve this problem, but directly blocked the module

[2022-11-18 06:45] FWLamb commented on #3464
@ic4y  cc

[2022-11-18 15:33] nishuihanqiu commented on #3458
before running first, you must be executed, as follows:
tar -zcvf /service/software/seatunnel/plugins.tar.gz /service/software/seatunnel/plugins  and chmod 777 /service/software/seatunnel/plugins.tar.gz

[2022-11-19 00:26] #2788 closed, assigned to TyrantLucifer

[2022-11-19 07:23] TyrantLucifer commented on #3464
Please rebase dev onto your branch. Now this problem had been resolved.

[2022-11-19 08:04] liugddx commented on #3018
assign jira source to me .

[2022-11-19 12:46] lianghuan-xatu commented on #3018
Assign Slack  source to me,thx

[2022-11-19 15:12] cswangzheng commented on #3431
This feature is needed to measure if data transfer is succeeded or not. What is the estimated time of function release?

[2022-11-20 10:00] #3457 closed, assigned to nobody

[2022-11-20 10:00] kyehe commented on #1846
hi is this problom solved in the newest dev branch? I met this again..

[2022-11-20 10:00] zhangweiweikol commented on #3457
extends ScalarFunction

[2022-11-20 12:48] cswangzheng opened #3479 "[Feature][Kubernetes] Run seatunnel in K8s with flink application mode and spark cluster mode"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We have already use k8s for flink and spark.  For flink we use application mod. For spark, we use cluster mode, which means the job manager deployment is created by flink client, and driv

[2022-11-21 00:27] #3095 closed, assigned to nobody

[2022-11-21 01:52] Hisoka-X commented on #3155
Close by #3307

[2022-11-21 01:52] #3155 closed, assigned to TaoZex

[2022-11-21 02:12] liugddx commented on #3002
flink:https://nightlies.apache.org/flink/flink-docs-release-1.13/docs/ops/metrics/
spark:https://spark.apache.org/docs/2.4.5/rdd-programming-guide.html#shared-variables

[2022-11-21 02:16] Hisoka-X commented on #3002
If we want achieve this feature, two way: 1. the sink connector should make sure they are not throw exception when meet dirty data. 2. Or we recreate sink connector again.
Both have some problem, 1 will be hard to do with all connector, 2 will have many connection to create and close.

[2022-11-21 02:41] liugddx commented on #3002
I think you can use the first way.Whether can be obtained at a higher level anomalies and then use the accumulator?

[2022-11-21 02:58] liuq2008202 commented on #1853
@tmljob i have the same problem，do you solve it?

[2022-11-21 03:29] #3452 closed, assigned to nobody

[2022-11-21 03:42] bitian opened #3482 "[Feature][TCP/UDP connector] seatunnel support a tcp/udp-connector such as syslog etc?"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I saw that someone asked if there is a syslog or dns connector, data collection through the tcp/udp protocol. Does Seatunnul currently have plugin support , or is there any plan to add th

[2022-11-21 03:49] #3464 closed, assigned to nobody

[2022-11-21 04:22] ashulin opened #3483 "[Feature][connector] Add MySQL CDC"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Use `connector-cdc-base` to support `MySQL-CDC`

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submi

[2022-11-21 05:44] liugddx commented on #3018
assgin confluence source to me.

[2022-11-21 06:03] #3483 closed, assigned to nobody

[2022-11-21 06:51] liugddx commented on #3463
Please set a reasonable fechsize.

[2022-11-21 07:33] Hisoka-X opened #3484 "[Bug] [Core] Read config file but without check it exist."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

<img width="1187" alt="image" src="https://user-images.githubusercontent.com/32387433/202990202-363cd7b1-92ad-46f3-b00f-c1cfc3fca4e4.png">

- When we parse the config file, we always think it exists, whi

[2022-11-21 07:38] #3391 closed, assigned to nobody

[2022-11-21 07:38] #3386 closed, assigned to nobody

[2022-11-21 07:38] #3385 closed, assigned to nobody

[2022-11-21 08:34] wangsvip commented on #3458
This can solve the problem, chmod 777 should be written in the official document here

[2022-11-21 08:40] wangsvip commented on #3463
spark.executor.instances = 5
spark.executor.memoryOverhead = "2g"

[2022-11-21 11:07] liugddx opened #3487 "[Feature][Core] Override env parameters via command line arguments"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Override env parameters via command line arguments

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to su

[2022-11-21 11:39] limaiwang opened #3489 "[Doc][Connector-V2] MongoDB case error"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Should be MongoDB
<img width="1273" alt="image" src="https://user-images.githubusercontent.com/23052750/203042081-7eae9a08-1e80-46b2-8044-a36ef5255d3c.png">

### Usage Scenario

_No respo

[2022-11-21 12:02] ELKTKJ commented on #3018
line 103 | Nebula means https://www.nebula-graph.com.cn/ this?

[2022-11-21 13:00] EricJoy2048 commented on #3018
Yes

[2022-11-21 13:03] #3489 closed, assigned to nobody

[2022-11-21 13:14] EricJoy2048 commented on #3482
Does `Socket` Connector can do it?

[2022-11-21 13:37] EricJoy2048 commented on #2857
Hi, @TyrantLucifer , does this work complete?

[2022-11-21 13:38] ELKTKJ commented on #3018
can i try Nebula sink?

[2022-11-21 13:42] EricJoy2048 commented on #3018
This connector has been assigned  to @Carl-Zhou-CN. If you want, you can discuss with @Carl-Zhou-CN .

[2022-11-21 13:48] TaoZex commented on #3138
I will continue to finish this issue.

[2022-11-21 13:49] TaoZex commented on #3139
I will continue to finish this issue.

[2022-11-21 13:53] EricJoy2048 commented on #3139
Thank you very much.

[2022-11-21 14:03] EricJoy2048 commented on #3431
I suggest we complete it in several steps.
First, we should implement the overall architecture design, and then implement simple general indicator collection (QPS, Rows/second, Bytes/second, Total Rows, Total Bytes).

[2022-11-21 14:10] EricJoy2048 commented on #2788
Hi, @TyrantLucifer  What is the status of this issue?

[2022-11-21 14:11] EricJoy2048 commented on #2790
@hailin0  What is the status of this issue?

[2022-11-21 14:12] TyrantLucifer commented on #2788
Can be closed.

[2022-11-21 14:12] TyrantLucifer commented on #2857
Not completed. Please reopen.

[2022-11-21 14:15] EricJoy2048 commented on #2857
Ok, I will add it to `projects: SeaTunnel RoadMap`

[2022-11-21 14:15] EricJoy2048 commented on #2788
Thanks.

[2022-11-21 14:26] EricJoy2048 commented on #2557
Does it done?

[2022-11-21 15:46] TaoZex commented on #3484
I want to try this issue.Please assign to me,

[2022-11-21 15:57] TaoZex commented on #3484
Is this the way to check config？https://github.com/apache/incubator-seatunnel/pull/3493

[2022-11-21 16:26] TaoZex commented on #3337
Please assign CopyFieldTransform，FilterFieldTransform，ReplaceTransform and SplitTransform to me.

[2022-11-22 01:35] #2958 closed, assigned to Carl-Zhou-CN

[2022-11-22 01:55] CalvinKirs opened #3498 "[OnlineMeeting&Nov.22]SeaTunnel community meeting Topic collect"
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Community Meeting
Time: 2022/11/22 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/5SVW7eubcQIM

#TencentMeeting：364-464-087

Copy this invitation and open in Tencent Meeting app (V2.13 or later) to join the meet

[2022-11-22 02:02] ELKTKJ commented on #3018
Sorry, i did't notice line 312 and line 313, @EricJoy2048 line 103 in the table can be removed i think.

[2022-11-22 02:04] #3256 closed, assigned to nobody

[2022-11-22 02:04] #3255 closed, assigned to nobody

[2022-11-22 02:20] ashulin commented on #3498
CDC connector progress #3483

[2022-11-22 02:24] liugddx opened #3500 "[Feature][Connector-V2][HTTP] Use json-path parsing"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The current json parsing is not perfect, and complex json cannot obtain data. This issue will parse json data through json-path and convert it into seatunnelRowData。

### Usage Scenario

[2022-11-22 02:25] liugddx commented on #3500
https://github.com/json-path/JsonPath

[2022-11-22 02:30] liugddx commented on #3498
Upgrade flink #3263

[2022-11-22 02:33] bitian commented on #3482
Is it possible to use Seatunnel to develop a server-side connector to monitor and receive data？

[2022-11-22 03:26] TomXiaoYZ opened #3502 "[Bug] [S3 File Source] Check file path fail"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I've tried the new seatunnel S3File source connector.
But it shows the following error. I can confirm the path exists.

### SeaTunnel Version

2.3.0-beta

### SeaTunnel Config

[code]

### Running Comman

[2022-11-22 03:51] legendtkl commented on #3479
+1
Good proposal.

[2022-11-22 04:48] liugddx commented on #3498
SeaTunnel Metrics for Connector V2 #3431

[2022-11-22 05:40] #3461 closed, assigned to TyrantLucifer

[2022-11-22 09:15] FWLamb commented on #3018
assign TcaplusDB Source And Sink to me,thx.

[2022-11-22 09:33] hdd0921 commented on #2206
I have the same problem. But It's the first time to use it, I don't know how to operate. Could you please give me some suggestions or any guidance documents here？

[2022-11-22 09:41] Hisoka-X commented on #2206
@hdd0921 Please update your seatunnel version. We already fix this bug

[2022-11-22 09:57] hdd0921 commented on #2206
ok,I am trying,thanks very much!!

[2022-11-22 10:30] EricJoy2048 commented on #3018
Yes, Thanks for your reminder.

[2022-11-22 12:05] TyrantLucifer commented on #3498
Sync with developer about Unified exception.

[2022-11-22 13:40] wuchunfu opened #3507 "[Improve][Connector-V2][Socket] Unified exception for socket source & sink connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[Improve][Connector-V2][Socket] Unified exception for socket source & sink connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a

[2022-11-22 13:51] TyrantLucifer commented on #3507
Good job!

[2022-11-22 13:56] TyrantLucifer opened #3508 "[Improve][Connector-V2][DingTalk] Unified exception for DingTalk sink connector"
sub-task of #2930

[2022-11-22 13:57] TyrantLucifer opened #3509 "[Improve][Connector-V2][Email] Unified exception for Email sink connector"
sub-task of #2930

[2022-11-22 14:01] FlechazoW commented on #3508
Assign this to me, please.

[2022-11-22 14:42] wuchunfu opened #3512 "[Improve][Connector-V2][Sentry] Unified exception for sentry sink connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[Improve][Connector-V2][Sentry] Unified exception for sentry sink connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [

[2022-11-22 15:18] n1k0ver3E commented on #3509
Kick off it

[2022-11-22 15:19] TyrantLucifer commented on #3509
Good job! Looking forward your contribution.

[2022-11-22 17:57] TaoZex commented on #2930
I want to work for kafka,Google Sheets,http,feishu,lemlist,myhours,klaviyo,onesignal,starrocks,tablestore,redis and mongodb connector to unified exception.

[2022-11-23 00:22] #2781 closed, assigned to nobody

[2022-11-23 01:49] TyrantLucifer commented on #2930
Please take one task at a time. Assign kafka to you.

[2022-11-23 01:50] TyrantLucifer commented on #2930
Please take one task at a time. Assign kafka to you. The owner of connectors do this work is better.

[2022-11-23 01:51] TyrantLucifer opened #3515 "[Improve][Connector-V2][Kafka] Unified exception for kafka source & sink connector"
sub-task of #2930

[2022-11-23 02:00] Hisoka-X commented on #2808
@wuxizhi777 Hi, Any progress?

[2022-11-23 02:09] TyrantLucifer commented on #3515
@TaoZex , please comment here.

[2022-11-23 02:10] TyrantLucifer opened #3516 "[Improve][Connector-V2][Redis] Unified exception for Redis source & sink connector"
sub-task of #2930

[2022-11-23 02:12] TyrantLucifer opened #3518 "[Improve][Connector-V2][MongoDB] Unified exception for MongoDB source & sink connector"
sub-task of #2930

[2022-11-23 02:28] TyrantLucifer opened #3519 "[Improve][Connector-V2][Fake] Unified exception for Fake source connector"
sub-task of #2930

[2022-11-23 02:32] TyrantLucifer opened #3521 "[Improve][Connector-V2][File] Unified exception for File source & sink connector"
sub-task of #2930

[2022-11-23 03:35] ic4y commented on #3018
@EricJoy2048 Please add azure dalta lake storage2, (ADLS2)

[2022-11-23 04:23] TaoZex commented on #2930
Thanks.I will finish the connectors that I am familiar with.

[2022-11-23 04:25] TaoZex commented on #3515
Please assign to me.Thx.

[2022-11-23 04:26] wuchunfu opened #3523 "[Improve][Connector-V2][GoogleSheets] Unified exception for GoogleSheets source connector"
sub-task of #2930

### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[Improve][Connector-V2][GoogleSheets] Unified exception for FoogleSheets source connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are

[2022-11-23 06:18] wuchunfu opened #3529 "[Improve][Connector-V2][Hive] Unified exception for Hive source & sink connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[Improve][Connector-V2][Hive] Unified exception for Hive source & sink connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

[2022-11-23 06:20] wuchunfu opened #3530 "[Improve][Connector-V2][Http] Unified exception for http source & sink connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[Improve][Connector-V2][Http] Unified exception for http source & sink connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

[2022-11-23 06:23] wuchunfu opened #3531 "[Improve][Connector-V2][Hudi] Unified exception for hudi source connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[Improve][Connector-V2][Hudi] Unified exception for hudi source connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X]

[2022-11-23 06:24] wuchunfu opened #3532 "[Improve][Connector-V2][Iceberg] Unified exception for iceberg source connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[Improve][Connector-V2][Iceberg] Unified exception for iceberg source connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

[2022-11-23 08:28] wuchunfu opened #3535 "[Improve][Connector-V2][Influxdb] Unified exception for influxdb source & sink connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[Improve][Connector-V2][Influxdb] Unified exception for influxdb source & sink connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to subm

[2022-11-23 08:29] wuchunfu opened #3536 "[Improve][Connector-V2][Iotdb] Unified exception for iotdb source & sink connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

[Improve][Connector-V2][Iotdb] Unified exception for iotdb source & sink connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a P

[2022-11-23 08:34] #3512 closed, assigned to wuchunfu

[2022-11-23 08:45] Alxe1 opened #3537 "[Bug] [ftp] source has type list of STRING rather than list of OBJECT"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

[code]

I run `./bin/start-seatunnel-spark-connector-v2.sh -c test.conf -m local[2] -e client` but went wrong:

[code]

### SeaTunnel Version

2.3.0-beta

### SeaTunnel Config

[code]

### Running Comman

[2022-11-23 09:58] Alxe1 opened #3539 "[Bug] [file] Caused by: org.apache.spark.sql.AnalysisException: Since Spark 2.3, the queries from raw JSON/CSV files are disallowed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Use file connector get spark task error

### SeaTunnel Version

2.3.0-beta

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

spark 2.4.8

[2022-11-23 10:17] Alxe1 opened #3540 "[Bug] [file] Plugin PluginIdentifier{engineType='flink', pluginType='source', pluginName='file'} not found in flink running"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

 The program finished with the following exception:

org.apache.flink.client.program.ProgramInvocationException: The main method caused an error: Plugin PluginIdentifier{engineType='flink', pluginType='s

[2022-11-23 10:40] FWLamb commented on #3540
you need to execute the following command to install the connector
`sh bin/install_plugin.sh 2.3.3`

[2022-11-23 11:19] TyrantLucifer opened #3542 "[Improve][Connector-V2][Lemlist] Unified exception for lemlist connector"
sub-task of #2930

[2022-11-23 11:20] #3542 closed, assigned to nobody

[2022-11-23 11:30] TaoZex opened #3543 "[Improve][Connector-V2][MyHours] Unified exception for MyHours connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

sub-task of https://github.com/apache/incubator-seatunnel/issues/2930

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes

[2022-11-23 11:31] TaoZex opened #3544 "[Improve][Connector-V2][Gitlab] Unified exception for Gitlab connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

sub-task of https://github.com/apache/incubator-seatunnel/issues/2930

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes

[2022-11-23 11:41] john8628 commented on #2930
please assign StarRocks and  pulsar to me; thx

[2022-11-23 11:42] TyrantLucifer opened #3545 "[Improve][Connector-V2][StarRocks] Unified exception for StarRocks source & sink connector"
sub-task of #2930

[2022-11-23 11:42] TyrantLucifer opened #3546 "[Improve][Connector-V2][Pulsar] Unified exception for Pulsar source & sink connector"
sub-task of #2930

[2022-11-23 11:43] TaoZex opened #3547 "[Improve][Connector-V2][TableStore] Unified exception for TableStore connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

sub-task of https://github.com/apache/incubator-seatunnel/issues/2930

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes

[2022-11-23 11:43] TyrantLucifer commented on #3546
@john8628 Please comment here.

[2022-11-23 11:44] john8628 commented on #3546
please assign it   to me; thx

[2022-11-23 11:44] TaoZex opened #3548 "[Improve][Connector-V2][Klaviyo] Unified exception for Klaviyo connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

sub-task of https://github.com/apache/incubator-seatunnel/issues/2930

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes

[2022-11-23 11:44] TyrantLucifer commented on #3545
@john8628 Please comment here.

[2022-11-23 11:44] FWLamb commented on #2930
please assign Clickhouse and Neo4j to me, thx.

[2022-11-23 11:44] john8628 commented on #3545
please assign it to me; thx

[2022-11-23 11:44] TyrantLucifer opened #3549 "[Improve][Connector-V2][Clickhouse] Unified exception for Clickhouse source & sink connector"
sub-task of #2930

[2022-11-23 11:44] TyrantLucifer opened #3550 "[Improve][Connector-V2][Neo4j] Unified exception for Neo4j source & sink connector"
sub-task of #2930

[2022-11-23 11:45] TaoZex opened #3551 "[Improve][Connector-V2][OneSignal] Unified exception for OneSignal connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

sub-task of https://github.com/apache/incubator-seatunnel/issues/2930

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes

[2022-11-23 11:45] TyrantLucifer commented on #3549
@FWLamb Please comment here.

[2022-11-23 11:46] TyrantLucifer commented on #3545
Good job, looking forward your contribution.

[2022-11-23 11:46] TyrantLucifer commented on #3550
@FWLamb Please comment here.

[2022-11-23 11:49] FWLamb commented on #3549
please assign it to me; thx

[2022-11-23 11:49] FWLamb commented on #3550
please assign it to me; thx

[2022-11-23 11:50] TaoZex opened #3552 "[Improve][Connector-V2][Feishu] Unified exception for Feishu connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

sub-task of https://github.com/apache/incubator-seatunnel/issues/2930

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes

[2022-11-23 11:51] TaoZex opened #3553 "[Improve][Connector-V2][Wechat] Unified exception for Wechat connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

sub-task of #2930

Unified exception for Wechat connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willin

[2022-11-23 11:54] lianghuan-xatu commented on #2930
please assign Kudu to me! Thx

[2022-11-23 11:56] TyrantLucifer commented on #3552
Closed because of feishu dose not need write exception.

[2022-11-23 11:56] #3552 closed, assigned to nobody

[2022-11-23 11:57] TyrantLucifer opened #3554 "[Improve][Connector-V2][Kudu] Unified exception for Kudu source & sink connector"
sub-task of #2930

[2022-11-23 11:57] TyrantLucifer commented on #3554
@lianghuan-xatu Please comment here.

[2022-11-23 11:58] TyrantLucifer commented on #3553
Reopend when developer apply this task.

[2022-11-23 11:58] #3553 closed, assigned to nobody

[2022-11-23 12:03] lianghuan-xatu commented on #3554
please assign it to me; thx

[2022-11-23 12:10] 1ceWine commented on #2930
Please assign OneSignal connector to me.Thanks.

[2022-11-23 12:13] 1ceWine commented on #3551
I want to work for this issue.Thanks.

[2022-11-23 12:21] TyrantLucifer commented on #3551
Good job, looking forward your contribution.

[2022-11-23 13:24] Carl-Zhou-CN commented on #2930
Please assign jdbc connector to me.Thank

[2022-11-23 13:25] TyrantLucifer opened #3556 "[Improve][Connector-V2][JDBC] Unified exception for JDBC source & sink connector"
sub-task of #2930

[2022-11-23 13:25] TyrantLucifer commented on #3556
@Carl-Zhou-CN Please comment here.

[2022-11-23 13:26] Carl-Zhou-CN commented on #3556
ok

[2022-11-23 14:48] 1ceWine commented on #3551
Thanks.

[2022-11-23 16:21] MonsterChenzhuo commented on #3556
@TyrantLucifer Please assign to me.Thx.

[2022-11-23 16:25] MonsterChenzhuo commented on #2729
`Run on k8s` is anyone working on this, if not, I think I can make it happen

[2022-11-24 00:27] #3059 closed, assigned to nobody

[2022-11-24 00:27] #2811 closed, assigned to Carl-Zhou-CN

[2022-11-24 01:30] Alxe1 commented on #3540
Yes, I have installed all the connectors.

[code]

[2022-11-24 01:35] liugddx commented on #2927
#3263

[2022-11-24 02:09] Alxe1 opened #3560 "[Bug] [file] file sink to hdfs got spark sql analysisException: Text data source does not support bigint data type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Can not save bigint data type in file sink

### SeaTunnel Version

2.1.3

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

spark 2.4.8

[2022-11-24 02:20] #3507 closed, assigned to wuchunfu

[2022-11-24 02:39] #3484 closed, assigned to TaoZex

[2022-11-24 02:45] #3518 closed, assigned to wuchunfu

[2022-11-24 02:51] #3516 closed, assigned to TyrantLucifer

[2022-11-24 02:53] TyrantLucifer commented on #3556
Sorry, this task has been assigned to @Carl-Zhou-CN , could you please do another task such elsticsearch?

[2022-11-24 02:57] #3519 closed, assigned to TyrantLucifer

[2022-11-24 03:31] MonsterChenzhuo commented on #2930
Please assign wechat connector to me.Thank

[2022-11-24 03:35] TyrantLucifer opened #3562 "[Improve][Connector-V2][WeChat] Unified exception for WeChat sink connector"
sub-task of #2930

[2022-11-24 03:35] TyrantLucifer commented on #2930
https://github.com/apache/incubator-seatunnel/issues/3562

[2022-11-24 03:38] MonsterChenzhuo commented on #3562
please assign WeChat connector to me; thx

[2022-11-24 03:39] TyrantLucifer commented on #3562
Good job! Looking forward your contribution.

[2022-11-24 04:03] #3544 closed, assigned to TaoZex

[2022-11-24 06:37] wangsvip opened #3567 "[Feature][Connector V2] Add conditions for mongodb source incremental pull"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I will regularly pull the incremental data of mongodb into hive every day. At present, the extraction method of mongodb is to pull the full amount, and then filter the incremental data in

[2022-11-24 07:05] FWLamb commented on #2930
please assign ElasticSearch source & sink connector to me, thx.

[2022-11-24 07:23] TKXZH commented on #686
Organization：Coupang
Location: Shanghai, China; Seoul, Korea; Seattle, America
Contact: zonghui.xu@coupang.com
Purpose： Provide data sycn pipeline among aurora, hive, hbase, redshift and s3

[2022-11-24 07:39] TyrantLucifer opened #3568 "[Improve][Connector-V2][ElasticSearch] Unified exception for ElasticSearch source & sink connector"
sub-task of #2930

[2022-11-24 07:40] TyrantLucifer commented on #3568
@FWLamb Please comment here.

[2022-11-24 07:42] FWLamb commented on #3568
please assign it to me. thx.

[2022-11-24 08:18] #3550 closed, assigned to FWLamb

[2022-11-24 08:19] #3523 closed, assigned to wuchunfu

[2022-11-24 08:20] #3529 closed, assigned to TyrantLucifer

[2022-11-24 08:50] liugddx commented on #3018
#3473

[2022-11-24 09:16] Zzihh commented on #2930
Are there any remaining tasks assigned to me?

[2022-11-24 16:07] TaoZex opened #3571 "[Improve][Formats] Unified exception for seatunnel formats module"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of https://github.com/apache/incubator-seatunnel/issues/2930

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes

[2022-11-24 16:11] TaoZex commented on #2930
I have unified the exception of formats module, please link the issue：https://github.com/apache/incubator-seatunnel/issues/3571

[2022-11-24 17:08] TaoZex opened #3573 "[Discuss][HTTP Connector] Add specified field function for all HTTP connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

**So far, some http requests return data that cannot be parsed, such as array<Object> nested type data.**

![642a62a1f1a1b9eadc9b0b3952e187c](https://user-images.githubusercontent.com/450

[2022-11-25 00:24] #2742 closed, assigned to nobody

[2022-11-25 01:55] liugddx commented on #3573
Please describe in detail your requirements.

[2022-11-25 03:08] cason0126 commented on #2930
I am doing expose configurable options in Hudi 。
Please assign Hudi connector to me.Thanks

[2022-11-25 03:46] EricJoy2048 commented on #3573
How to specify the field? What's the parameter name of it?
Can you describe the scope of influence of this design? What modifications do we need to make?

[2022-11-25 04:00] Hisoka-X opened #3575 "[Feature][Core] Supprot add thirdparty jar in env"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support Add thirdpatry jar like mysql driver in env config for each job.
Both should support spark/flink/engine.
1. Spark parse env config then add it in spark-submit shell in `SparkStart

[2022-11-25 05:51] liugddx commented on #3575
assign to me

[2022-11-25 13:50] #3535 closed, assigned to wuchunfu

[2022-11-25 14:53] TyrantLucifer commented on #3573
I have some questions:

1. As you shown, add a new parameter to tell connector get a part of upstream data. But this requirement only works on json format, for text format, how to deal with this feature?
2. If user want to get more than one parts of upstream data, this feature how to work?
3. If the part that user want to get is only a string, a integer, a double etc... not a list, or the every it

[2022-11-26 01:46] EricJoy2048 commented on #3360
<img width="1057" alt="image" src="https://user-images.githubusercontent.com/32193458/204067742-d56ce47e-8edd-4124-8109-57b4d36f7b67.png">

@TyrantLucifer  Here are some interaction processes between the Executor and the Scheduler System and SeaTunnel Web APIs.

[2022-11-26 01:50] EricJoy2048 commented on #3360
All engine resources required for job running will be defined in `jobfile#env`. The jvm parameters of `Executor` will config in Executor shell named `seatunnel-executor.sh`.

[2022-11-26 04:08] #3554 closed, assigned to lianghuan-xatu

[2022-11-26 05:56] s7monk commented on #3018
Rds is done,rds is fully compatible with mysql,I have submitted the Rds doc

[2022-11-26 07:53] EricJoy2048 commented on #3018
Can you link the `Rds` document? I can not found it from `docs/en/connector-v2`.

[2022-11-26 08:05] s7monk commented on #3018
ok

[2022-11-26 09:00] #3543 closed, assigned to nobody

[2022-11-26 09:03] #3536 closed, assigned to wuchunfu

[2022-11-26 09:10] dengd1937 commented on #3018
Google Cloud Storage Sink is file? Similar to S3? Can you assigned the connector to me @EricJoy2048

[2022-11-26 09:23] TyrantLucifer commented on #3547
This task had been done.

[2022-11-26 09:23] #3547 closed, assigned to TaoZex

[2022-11-26 12:09] s7monk commented on #3018
I have submitted pr

[2022-11-26 12:37] #3521 closed, assigned to TyrantLucifer

[2022-11-26 13:00] s7monk commented on #3018
ok,I have submitted pr.

[2022-11-27 05:29] #3531 closed, assigned to wuchunfu

[2022-11-27 05:42] #3568 closed, assigned to FWLamb

[2022-11-27 06:15] Hisoka-X commented on #3560
Can you try to use connector-v2 to do your data transfer? We already remove connector-v1 in the dev. Not have much time to maintain it.

[2022-11-27 06:17] Hisoka-X commented on #3502
@TyrantLucifer Hi, PTAL. Thanks!

[2022-11-27 06:20] #3498 closed, assigned to nobody

[2022-11-27 06:21] MonsterChenzhuo commented on #3567
please assign to me; thx

[2022-11-27 06:21] EricJoy2048 commented on #3018
Ok.

[2022-11-27 06:31] TyrantLucifer commented on #3502
Could you please use the newest version that compile from dev branch and try again?

[2022-11-27 14:19] ic4y opened #3585 "[Feature][ST-Engine] Support engine restart job information will not be lost"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The ST-Engine job status and job history information are stored in Hazelcast IMap. Currently IMap does not support data persistence. This will lose all mission information when the engine

[2022-11-28 00:23] #3151 closed, assigned to nobody

[2022-11-28 00:23] #3107 closed, assigned to nobody

[2022-11-28 00:23] #2867 closed, assigned to nobody

[2022-11-28 02:32] Hisoka-X commented on #3374
Cancel at now

[2022-11-28 02:32] #3374 closed, assigned to Hisoka-X

[2022-11-28 02:33] TyrantLucifer commented on #3222
Reopened.

[2022-11-28 02:58] ic4y opened #3588 "[Feature][ST-Engine] Support engine restart job information will not be lost #3585"

[2022-11-28 06:30] ic4y commented on #3431
I can do work related to Metrics of ST-Engine.

[2022-11-28 06:43] ic4y commented on #3431
For ST-Metrics, we can start with JobMetrics, because JobMetrics can only be implemented through customization in each engine, and it is more convenient to unify.

The format for JobMetrics like
[code]

Seatunnel-Api:
    Define Metrics name and Type. Unified indicator names and types

Metrics collection location：

    1、`SourceReceivedCount` and `SourceReceivedQPS` are collected from `SeaTunnelSo

[2022-11-28 06:48] hdygxsj opened #3591 "[Feature] Support encryption configuration"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

When configuring source and sink, the ciphertext is supported

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am wi

[2022-11-28 10:23] ic4y commented on #3588
link #3585

[2022-11-28 10:27] TaoZex commented on #3573
I understand the problem you pointed out, but there is no good plan at present. I suggest that we discuss it together at the next weekly meeting.

[2022-11-28 10:58] EricJoy2048 commented on #3500
same as https://github.com/apache/incubator-seatunnel/issues/3573 ?

[2022-11-28 11:18] EricJoy2048 commented on #3573
1. I think the most of SaaS API will return data use json format. It is rare to use the text format. If it appears, we will deal with it separately.
2. In fact, each `content field` to be read is equivalent to a table. I this case the `user` can be see a read table, and we can config the `schema` about the it. Now SeaTunnel only support read one table data in one connector, so we only support conf

[2022-11-28 11:29] 531651225 commented on #3018
Whether there is a Doris Api source connector, I can work for it.

[2022-11-28 12:07] liugddx commented on #3573
Hi, I think we should focus on the data we need. json-path can extract the data we need and block out the unnecessary data. This can reduce our workload of configuring the schema
#3510 please see this pr @TaoZex

[2022-11-28 12:31] liugddx commented on #3585
assign to me .

[2022-11-28 12:33] #3182 closed, assigned to Hisoka-X

[2022-11-28 13:03] liugddx commented on #2861
This is a good issue.Temporarily assigned to me.

[2022-11-28 13:23] TaoZex commented on #3573
Thanks.

[2022-11-28 16:34] MonsterChenzhuo commented on #3530
please assign to me; thx

[2022-11-28 17:01] TyrantLucifer commented on #3562
closed because of no exception to handle.

[2022-11-28 17:01] #3562 closed, assigned to MonsterChenzhuo

[2022-11-29 00:25] #2793 closed, assigned to EricJoy2048

[2022-11-29 02:24] ic4y commented on #3585
Exciting, feel free to ask me any questions

[2022-11-29 02:51] #3549 closed, assigned to FWLamb

[2022-11-29 04:16] wangsvip opened #3595 "[Bug][Connector V1] failed to decompress plugins.tar.gz"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

An error is reported when the program is decompressed！

![fb32420a89e4980cb83d0a3be2938b9](https://user-images.githubusercontent.com/30864196/204436807-ea456c50-b0c6-41b9-bbcb-23ac7ad66823.png)
![af93daa

[2022-11-29 04:37] EricJoy2048 commented on #3573
`json-path` is a good way to read irregular json node from a json. However, `json-path` requires users to understand regular expressions and make a lot of configurations. If there are many json nodes to read, this method is not friendly. For those who only need to read the data of a certain json node and its child nodes, the `content-field` method will be more friendly and simple.

[2022-11-29 05:53] liugddx commented on #3573
1.Regarding the difficulty of using,we can use publicly available tools to help parse like https://jsonpath.com/
2.Regarding getting some json nodes, I think this solution can also be done. We can configure the expression of the node.
![image](https://user-images.githubusercontent.com/48236177/204449802-dd2de422-fe37-4ba2-b130-4615b602b8dc.png)

[2022-11-29 05:54] liugddx commented on #3573
Regarding the second point, it can be completed in the next step.

[2022-11-29 06:32] EricJoy2048 commented on #3573
Thanks, `jsonpath` is a good tools, we can use it. Another question is how to let connector to know `$.phoneNumbers` is read as a string or a table have columns `type, number`?

[2022-11-29 06:41] liugddx commented on #3573
This needs to be parsed through the schema, json-path does not need to care about the returned type, it is only responsible for simplifying the returned data.In addition, we can get the fields in phoneNumbers.for example：

[code]

[2022-11-29 06:42] liugddx commented on #3573
Configure the type by schema.

[2022-11-29 06:59] EricJoy2048 commented on #3573
How can we config when we want to read `$.phoneNumbers` as a table?

[code]

[2022-11-29 08:09] BenjaminWenqiYu opened #3597 "[Bug] [seatunnel-connector-flink-kafka] KafkaTableStream transform the schemaInfo to ArrayNode, but when using SchemaUtil's setSchema function, it should be ObjectNode."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

KafkaTableStream transform the schemaInfo to ArrayNode, but when using SchemaUtil's setSchema function, it should be ObjectNode.

### SeaTunnel Version

2.3.0-beta

### SeaTunnel Config

[code]

### Runn

[2022-11-29 09:01] Carl-Zhou-CN opened #3599 "[Feature][common] Support read message metadata"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The metadata for the connector should also be parsed in the schema because it is a type of data

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing

[2022-11-29 09:03] Carl-Zhou-CN commented on #3599
link #2960  #3570

[2022-11-29 09:07] Carl-Zhou-CN commented on #3599
schema = {
      fields {
        name = "string"
        age = "int"
      }
      meta.fields {
       topicAlias = topic
       partitionAlias = partition
      }
}

[2022-11-29 09:49] Carl-Zhou-CN commented on #3599
@Hisoka-X  @TyrantLucifer @ashulin @hailin0 @TaoZex
This is the metadata field I extended in Kafka before. Now I want to extend it to all connectors. I'm not sure whether this form is available. Can you give me some advice.
Can we define relevant interfaces for metadata in the schema and implement each connector accordingly, because the metadata of each connector is different and incompatible

[2022-11-29 12:55] liugddx commented on #3487
Do we now use command line parameters to directly replace the parameters in config or use placeholder replacement in config?

1. direct replacement
start-seatunnel-flink-connector-v2.sh -c config.conf -i job.name=test
[code]

2. placeholder replacement

start-seatunnel-flink-connector-v2.sh -c config.conf -i jobName=test
[code]

[2022-11-29 13:00] liugddx commented on #3487
The second method is now supported, but sometimes the placeholder will not be configured

[2022-11-29 13:00] liugddx commented on #3487
@Hisoka-X @EricJoy2048 @TyrantLucifer  Any suggestions?

[2022-11-29 14:14] liugddx commented on #2861
https://shardingsphere.apache.org/document/current/en/dev-manual/sharding/

[2022-11-29 14:16] liugddx commented on #2861
Regarding the jdbc data source, most of the primary keys may be data such as uuid. We can't just be restricted to numeric types,hash mode is a better sharding method, of course we can provide more sharding methods.

[2022-11-29 14:17] liugddx commented on #2861
@ic4y @Hisoka-X Do you have any good suggestions?

[2022-11-30 02:19] Hisoka-X commented on #3487
I think method 1 can only support replace parameter in env. But not use `-i`, use `-p` or other. Method 2 is good for replace the placeholder.

[2022-11-30 02:32] Carl-Zhou-CN commented on #3599
![image](https://user-images.githubusercontent.com/67902676/204693440-ae7121f6-e8cf-4eab-85a3-20b27ded2024.png)

[2022-11-30 02:46] Hisoka-X commented on #2861
Hash maybe have some problem in single database, the each split read data may discontinuous, the preformance not good. And how to use sql to describe it also is a problem.

[2022-11-30 02:47] #2592 closed, assigned to nobody

[2022-11-30 02:48] #2583 closed, assigned to nobody

[2022-11-30 02:52] Hisoka-X commented on #3599
Yes, we can. I think the main thing is parse schema meta config in `SeaTunnelSchema`, then return to (or get by) connector.
Next, connector can know what meta info I should save or not. Finally save into Row.

[2022-11-30 02:58] TyrantLucifer commented on #3599
IMO, we didn't need this interface, metadata is a part of data, we should process it in connectors. The core point of this feature is that how to define the schema of metadata? Or it's a good idea not to define a schema, because connectors know their own metadata, the only thing we do is merge it in SeaTunnel Row.

[2022-11-30 03:03] Hisoka-X commented on #3599
But we need a option to open collect metadata or not. I think it should define in schema

[2022-11-30 03:07] Carl-Zhou-CN commented on #3599
I think that if the schema is not defined, the user may not need all the metadata of the connector, but only some metadata or a special definition of the name

[2022-11-30 03:08] Carl-Zhou-CN commented on #3599
I think that if the schema is not defined, the user may not need all the metadata of the connector, but only some metadata or a special definition of the name

[2022-11-30 03:17] TyrantLucifer commented on #3548
closed.

[2022-11-30 03:17] #3548 closed, assigned to TaoZex

[2022-11-30 03:18] TyrantLucifer commented on #3530
closed.

[2022-11-30 03:18] #3530 closed, assigned to MonsterChenzhuo

[2022-11-30 03:31] TyrantLucifer commented on #3599
So this is not a general requirement, the metadata if not a part of upstream data, and the defination name should not be contained in scheam config. Set different configuration items for different connectors to map.

[2022-11-30 03:46] TyrantLucifer opened #3601 "[Improve][Connector-V2][E2E] Refactor e2e test cases"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

As so far, we had completed the work of refactoring e2e code structure. So the next work is that to rewrite e2e test cases using new e2e code framework. BTW, in your pull request you need

[2022-11-30 03:47] TyrantLucifer opened #3602 "[Improve][Connector-V2][Fake] Refactor Fake connector e2e test cases"
sub-task of #3601

[2022-11-30 04:47] TaoZex commented on #3601
Please assgin to me this issue： [Improve][Connector-V2][DataHub] Refactor DataHub connector e2e test cases
link issue ：https://github.com/apache/incubator-seatunnel/issues/3605

[2022-11-30 04:47] TaoZex opened #3604 "[Improve][Connector-V2][DataHub] Refactor DataHub connector e2e test cases"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

subtask of https://github.com/apache/incubator-seatunnel/issues/3601

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes

[2022-11-30 04:47] TyrantLucifer opened #3605 "[Improve][Connector-V2][DataHub] Refactor DataHub connector e2e test cases"
sub-task of #3601

[2022-11-30 04:48] TyrantLucifer commented on #3605
@TaoZex Please comment here.

[2022-11-30 04:49] TaoZex commented on #3605
Please assign to me.

[2022-11-30 04:56] Carl-Zhou-CN commented on #3601
I want to try ElasticSearch

[2022-11-30 04:58] TyrantLucifer opened #3606 "[Improve][Connector-V2][ElasticSearch] Refactor ElasticSearch connector e2e test cases"
sub-task of #3601

[2022-11-30 04:59] TyrantLucifer commented on #3606
@Carl-Zhou-CN Please comment here.

[2022-11-30 05:33] liugddx commented on #2861
SQL needs to be in the dialect and needs to be tested and optimized for performance.

[code]

[2022-11-30 05:33] Carl-Zhou-CN commented on #3606
ok

[2022-11-30 05:39] MonsterChenzhuo commented on #3601
please assign `[Improve][Connector-V2][MongoDB] Refactor MongoDB connector e2e test cases` to me; thx

[2022-11-30 05:59] Hisoka-X commented on #2861
Seem like every split will scan all data.

[2022-11-30 06:10] TyrantLucifer opened #3607 "[Improve][Connector-V2][MongoDB] Refactor MongoDB connector e2e test cases"
sub-task of #3601

[2022-11-30 06:26] ic4y commented on #2861
This is related to the storage form of the data, may or may not. But often there will be some performance loss

[2022-11-30 06:34] liugddx commented on #2861
Yeah, but not all primary keys are numeric and that's something to think about

&nbsp;

Best Regards

liugddx
***@***.***

&nbsp;

------------------&nbsp;Original&nbsp;------------------
From: ***@***.***&gt;;
Date: 2022年11月30日(星期三) 下午2:26
To: ***@***.***&gt;;
Cc: ***@***.***&gt;; ***@***.***&gt;;
Subject: Re: [apache/incubator-seatunnel] [Feature][Discuss] Uneven data distribution. (Issue #2861)