[2022-04-29 03:28] #1641 closed, assigned to ashulin

[2022-04-29 04:01] legendtkl commented on #1753
deprecated api used now
![image](https://user-images.githubusercontent.com/2370761/165883497-f1480703-5251-46d7-a249-53439c077502.png)
![image](https://user-images.githubusercontent.com/2370761/165883516-07ca0ee2-08a8-4ed5-9859-690c7a73a198.png)

[2022-04-29 05:52] vegastar002 commented on #1773
spark-3.2.1-bin-hadoop3.2

[2022-04-29 07:08] #1762 closed, assigned to wuzhenhua01

[2022-04-29 07:09] wuzhenhua01 commented on #1762
close by https://github.com/apache/incubator-seatunnel/pull/1770

[2022-04-29 07:10] wuzhenhua01 opened #1778 "[Feature][seatunnel-transforms] Add Grok transform for spark"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add Grok transform for spark

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code o

[2022-04-29 09:27] quanzhian commented on #1753
I have an idea @legendtkl @ruanwenjun @BenJFan

Customize a set statement prefixed with "SET flink_env.execution.parallelism = 1; "

[code]

This is my implementation and testing process

[code]

This is my core code

[code]

[code]

[2022-04-29 14:02] legendtkl commented on #1753
hi, @quanzhian , thanks for your reply. The workaround does work.

But in my opinion, we can split the config into serval sub config, such as follows. It will behave more flexible. What do you think?
[code]

[2022-04-29 14:03] Hisoka-X commented on #1773
At now, SeaTunnel not support Spark 3.x. Please use spark 2.4.0

[2022-04-30 16:16] gleiyu opened #1779 "[Bug] [flink Jdbc Source] field parsing error when there is a Complex SQL"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

flink jdbc source can't support sql like select t.* from tableName t or multiple table join，the regex can't work with complex sql，and the function extendPartitionQuerySql in JdbcSource just support a sin

[2022-05-02 05:06] quanzhian commented on #1753
@legendtkl
I tried your idea. I'll tell you why I didn't use it,
1. The content parsing fails, and the parsing method needs to be extended
2. The syntax is inconsistent. Originally, only one SQL syntax was used for implementation, but now it has become a mixture of multiple grammars, which is a little nondescript
3. Poor readability and maintainability

The reason why I use SQL like method to set

[2022-05-02 13:39] ddfeiyu opened #1784 "[Bug] [connector] NoClassDefFoundError occurs when submitting a flink batch task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

NoClassDefFoundError occurs when submitting a flink batch task

### SeaTunnel Version

2.1.0-release

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or

[2022-05-02 13:44] ddfeiyu opened #1785 "[Bug] [ connector ] ProgramInvocationException occurs when submitting a flink sql task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

ProgramInvocationException occurs when submitting a flink sql task

### SeaTunnel Version

2.1.0-release

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink

[2022-05-02 13:46] ddfeiyu opened #1786 "[Bug] [connector] ProgramInvocationException occurs when submitting a flink streaming task"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

ProgramInvocationException occurs when submitting a flink streaming task

### SeaTunnel Version

2.1.0-release

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

###

[2022-05-04 09:58] legendtkl opened #1787 "[Feature][seatunnel-core] format the command usage help output"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now the usage help output looks poor readability as follows
[code]

We can use JCommander.setUsageFormatter to produce a better looking.

### Usage Scenario

_No response_

### Related is

[2022-05-04 11:38] dijiekstra opened #1789 "[Feature][flink-connector-jdbc] add pre sql and post sql"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

help user do some pre-processing by pre-sql and do some post-processing by post-sql.

By the way, post-sql is not supported in stream job because of the continuity of flow tasks.

Also, i

[2022-05-04 11:39] dijiekstra commented on #1789
Hi everybody, I am new to Seatunnel but I can do this so can someone assign this to me?

[2022-05-04 14:32] chang-wd opened #1792 "[Bug] [SparkStarter] when spark extraJavaOptionsis null, an exception parameter will be generated, resulting in submission failure"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When submitting a task using spark, if spark.executor.extraJavaOptions or spark.driver.extraJavaOptions is null, an exception parameter will be generated, resulting in submission failure.

### SeaTunnel

[2022-05-05 00:24] wanghuan2054 commented on #1785
Running Command is ./bin/start-seatunnel-sql.sh --config config/flink.sql.conf , Try again.

[2022-05-05 03:23] #1792 closed, assigned to nobody

[2022-05-05 03:39] fpystart opened #1794 "[Bug] [Command Usage] Report error when using variable"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when i use variable to start flink job, than report an error

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Vers

[2022-05-05 04:47] legendtkl opened #1795 "[Bug] [Seatunnel-core-flink/spark] shell exception when pass no args"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When we start job using shell scripts `start-seatunnel-flink.sh`, `start-seatunnel-spark.sh` and `start-seatunnel-sql.sh` without passing args, we will get the follow error.

[code]

The reason is the $@

[2022-05-05 05:30] #1795 closed, assigned to nobody

[2022-05-05 10:21] legendtkl opened #1799 "[Feature][Seatunnel-core-flink] Support Flink dynamic configuration"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now some specified Flink configurations will be set when the FlinkEnvironment is created. For example, BUFFER_TIMEOUT_MILLIS and PARALLELISM will be set in FlinkEnvironment.createStreamEn

[2022-05-05 12:49] dijiekstra opened #1802 "[Feature][flink-connector-kafka] add kafka batch sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In addition to real-time writes, we also need to synchronize data to Kafka periodically.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to subm

[2022-05-05 12:50] dijiekstra commented on #1802
Hi everybody, i can finish it, so pls assign it to me

[2022-05-06 02:05] CalvinKirs opened #1804 "[OnlineMeeting&May 10]SeaTunnel community meeting Topic collect"
We will hold an online community meeting on 2022/05/10 20:00-20:30 (GMT+08:00)
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Meeting
Meeting Time: 2022/05/10 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/bePE0cQIJDKs

#TencentMeeting：873-198-318

Copy this

[2022-05-06 02:07] chenhu commented on #1773
It seems that your environment variable doesn't take effect, and the lib jars, check the config/seatunnel-env.sh to see if spark is configured correctly SPARK_ HOME

[2022-05-06 03:57] chenhu opened #1805 "Hoodie sink plugin can't create partition path correctly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Hoodie sink plugin can't create  partition path correctly, the partition key field has been confirmed, but the partition path can't create like p=somevalue ， it is "p=default"

JDBC source, the table key

[2022-05-06 03:57] #1799 closed, assigned to nobody

[2022-05-06 05:36] quanzhian commented on #1786
env {
  # You can set flink configuration here
  execution.parallelism = 1
  execution.planner = blink
  #execution.checkpoint.interval = 10000
  #execution.checkpoint.data-uri = "hdfs://localhost:9000/checkpoint"
}

@ddfeiyu set "execution.planner = blink"

[2022-05-06 06:34] Hisoka-X commented on #1733
Close by #1757

[2022-05-06 06:34] #1733 closed, assigned to nobody

[2022-05-06 10:46] xleoken commented on #1804
Topic: Introduce `DynamicTableSourceFactory` and `DynamicTableSinkFactory` to improve the flink api part.

[2022-05-06 12:01] xpleaf opened #1808 "[Bug] [Connector] Clickhouse sink can not work correctly when use multiple hosts"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When sink is ClickHouse and multiple hosts are configured:
[code]
All kinds of problems are triggered and the current system does not work properly. For details, see the exception information description

[2022-05-07 01:46] gleiyu commented on #1779
#1781

[2022-05-07 01:46] #1779 closed, assigned to nobody

[2022-05-07 02:04] tmljob commented on #1804
When is the next release version expected to be released, and what release rhythm will be maintained in the future?

[2022-05-07 03:17] hililiwei commented on #785
hi @dailidong , i want to have a try, may i have the ticket?

[2022-05-07 03:59] ruanwenjun commented on #1808
closed by #1809

[2022-05-07 03:59] #1808 closed, assigned to xpleaf

[2022-05-07 06:38] legendtkl opened #1814 "[Bug] [seatunnel-core-flink] flink sql conf parse exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Now I unified the parse logic of Flink Jar and SQL job in previous PRs, but Flink SQL job conf does not follow the `typesafe.Config` conversion.

It will throw exception when parse sql conf.

### SeaTunn

[2022-05-07 07:05] #1787 closed, assigned to nobody

[2022-05-07 07:18] hililiwei commented on #1694
hi @ruanwenjun , i'd like to have a try, may i have the ticket?

[2022-05-07 07:49] ruanwenjun commented on #1694
Great, I have assigned to you, before your working, please send a proposal email to dev@seatunnel.apache.org about this issue, since this change will break the compatibility.

[2022-05-07 09:02] chenhu opened #1818 "Seatunnel can't load the user defined plugin jars"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Jars like oracle、mysql driver jars puted in plugins/[pluginName]/lib ， would not be loaded where seatunnel started

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

[2022-05-07 09:15] chenhu commented on #1818
<img width="1313" alt="image" src="https://user-images.githubusercontent.com/979010/167247688-b6700ab2-715f-4a2a-bd44-816cf2777d07.png">
<img width="1386" alt="image" src="https://user-images.githubusercontent.com/979010/167247712-62dcbe76-7219-497c-bc00-46c70d9b055d.png">
<img width="1405" alt="image" src="https://user-images.githubusercontent.com/979010/167247742-3628df0f-3598-459d-8dc8-840831db

[2022-05-07 09:16] chenhu commented on #1818
Maybe it.getFileName().endsWith("jar") should be it.getFileName().toString().endsWith("jar")

[2022-05-07 09:22] ruanwenjun commented on #1818
Yes, this is a bug, are you interested to fix this?

[2022-05-07 09:33] chenhu commented on #1818
yes ,I have submit a PR
https://github.com/apache/incubator-seatunnel/pull/1819

[2022-05-07 09:50] HwiLu opened #1820 "[Bug] [TIMESTAMP] When the source table time field is null, the target table will be populated with the current timestamp"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When the source table time field is null, the target table will be populated with the current timestamp。The type of time field  could be `TIMESTAMP` `DATETIME` `TIME`。The detail shows in screenshots.

##

[2022-05-07 10:12] chenhu commented on #1804
Topic : Are we need a webUI to monitor the jobs, and could stop or start the job in web ui

[2022-05-07 11:52] #1818 closed, assigned to nobody

[2022-05-07 15:31] dijiekstra opened #1822 "[Feature][flink-transform] add transform for register user define function"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Supports using UDF in data integration by transform.
Users need to specify the function name and class name if they want to use transform udf, and put their UDF jars in Flink's classpath

[2022-05-07 15:31] dijiekstra commented on #1822
I can do it

[2022-05-07 16:13] #1814 closed, assigned to nobody

[2022-05-08 01:50] legendtkl opened #1824 "[Bug] [Flink SQL] Configuration in SQL Script parse failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

<img width="966" alt="image" src="https://user-images.githubusercontent.com/2370761/167278029-6b08ef73-36c0-4326-a841-7f90f9e7e0ad.png">
<img width="1115" alt="image" src="https://user-images.githubuserc

[2022-05-08 02:10] dijiekstra commented on #963
I think we need to upgrade all Row to RowData first in Flink Module

[2022-05-08 02:36] felixYyu opened #1827 "[Feature][Default branch] Should the Default branch is master not dev?"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

According to the general specification, the master is used as the default branch management

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to s

[2022-05-08 03:13] felixYyu commented on #1804
+1 Should need a webUI

[2022-05-08 09:31] ruanwenjun commented on #1789
Closed by #1791

[2022-05-08 09:31] #1789 closed, assigned to nobody

[2022-05-08 15:17] kalencaya opened #1829 "[Feature][flink-connector-jdbc] JdbcSink query sql supports param placeholder replacing row index."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

a typical `JdbcSink` config follows:
[code]
`insert into test(name,age) values(?,?)` requires that `Row` fields must match `name, age` order as `JdbcUtils#setRecordToStatement` implementi

[2022-05-09 01:35] dijiekstra opened #1830 "[Feature][flink-connector-hudi] add Hudi sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

 add Hudi sink

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [

[2022-05-09 02:06] #1824 closed, assigned to nobody

[2022-05-09 06:03] learndockering opened #1831 "add serf function plugin"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Hi，everyone，please add self function plugin spi feature，like cannel or maxwell，3kq

### Usage Scenario

cannel or maxwell

### Related issues

_No response_

### Are you willing to submit

[2022-05-09 07:42] felixYyu opened #1833 "[Bug] [seatunnel-core] Prohibit invoking System.out.println in source code !"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

System.out.println in source code, slf4j instead System.out.

### SeaTunnel Version

v2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Ver

[2022-05-09 08:04] xiebanggui777 opened #1835 "[Bug] [Flink-session] ST 2.1.0 and Flink 1.13.3 The main method caused an error: null"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I try to use ST to submit test flink homework, using JDBC source to quote the following error:

### SeaTunnel Version

2.1.0

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exceptio

[2022-05-09 11:14] hililiwei commented on #1694
Okay, thank you. I will.

[2022-05-10 03:38] someorz commented on #1676
![image](https://user-images.githubusercontent.com/5456361/167537486-de18f00b-6dec-471b-b460-1425109f74cd.png)

[code]
after modify root pom.xml,i can run examples successfully

[2022-05-10 03:38] ruanwenjun commented on #1833
Closed by #1834

[2022-05-10 03:38] #1833 closed, assigned to nobody

[2022-05-10 05:55] LingangJiang opened #1840 "[Bug] [example] IDEA cannot run the examples directly without Lombok plugin."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

According to the Compiling project in [README.md](https://github.com/apache/incubator-seatunnel#readme) , and following the steps in the document [Set Up Develop Environment](https://github.com/apache/in

[2022-05-10 07:36] someorz commented on #1625
@better629 i have got the same problem，did you solve it？

[2022-05-10 11:36] #1805 closed, assigned to chenhu

[2022-05-10 13:22] dijiekstra commented on #1608
Is one Coordinator better than many? Because if an exception occurs at Sink and the Source does not know about it and continues to send data downstream, is the data discarded? If the Sink end notifies the Coordinator on the Source end, why not use the same one?

[2022-05-10 13:26] dijiekstra commented on #1608
We do translation work for different engines, so if faced with inconsistent semantics or inconsistent functions how to solve the situation? For example, Spark and Flink both have Checkpoint, but their mechanisms and functions are completely different. If we provide Checkpoint capability externally, how can we unify Checkpoint in the two engines?

[2022-05-10 13:27] dijiekstra commented on #1608
Anyway, looking forward to the new API . 🎉

[2022-05-10 14:56] ashulin commented on #1608
@lonelyGhostisdog The fault-tolerance between source and sink is supported by chandy-lamport algorithm (ie checkpoint).

[2022-05-11 02:17] xleoken commented on #1840
Thanks for your report and fiexed.

[2022-05-11 02:17] #1840 closed, assigned to nobody

[2022-05-11 02:25] ruanwenjun commented on #1829
I don't think so, I think `insert into test(name,age) values(?,?)` is more easy and is standard SQL.

This is interesting, but I would want to know if this works, I guess it will only be able to upsert in the current jdbc batch?

[2022-05-11 03:00] ashulin commented on #1608
@lonelyGhostisdog Because the checkpoint mechanism is not completely consistent, we are still discussing how to adapt spark's micro-batch and continuous reader.

[2022-05-11 03:09] dijiekstra commented on #1608
Why don't we design a new engine that doesn't dependency on Spark or Flink

[2022-05-11 03:17] dijiekstra commented on #1608
Should we first complete the design and construction of Source, Sink and Transform? Even if is only stand-alone mode like datax. Refine fault tolerance, tables, Sql through gradual iteration?

[2022-05-11 03:22] coolcut2012 opened #1845 "[Bug] [Flink-clikhouse] Clickhouse Sink runs on Flink"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Hi, I would like to configure a Clickhouse Sink to run on Flink. Could you please provide me with a correct configuration? Thank you very much
![image](https://user-images.githubusercontent.com/28479931/

[2022-05-11 03:39] EricJoy2048 commented on #1608
The new engine is being designed. However, because a large number of SeaTunnel users are using Flink and spark, we hope to be compatible with Flink and spark engines as much as possible. In the future, if our own engine is good enough, we will discuss again whether to continue to rely on Flink and spark.

[2022-05-11 03:42] dijiekstra commented on #1608
I have another question. If a Connector is not implemented in Spark or Flink, how will we implement this new Connector if we are based on a new engine? Do we still need to implement the corresponding Connector in Spark or Flink first?

[2022-05-11 03:51] zjw-zjw opened #1846 "[Bug] [deploy] Version 2.1.1. No configuration setting found for key 'env'."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Version 2.1.1, when using spark on yarn mode to start,[报org.apache.seatunnel.shade.com](http://xn--org-pb6f.apache.seatunnel.shade.com/) .typesafe.config.ConfigException$Missing: No configuration setting

[2022-05-11 03:56] EricJoy2048 commented on #1608
I suggest the new engine can adaptation the unified API too.  And then If the user develops a connector based on the unified tool, the connector will be able to run on spark, Flink and ST own engine.

[2022-05-11 05:12] dijiekstra commented on #1608
Thank everyone for answering my questions, maybe I need to see the code to understand the design better.

[2022-05-11 05:45] kalencaya commented on #1829
there are diferent opinions on `brief semantics`, where I matter more on `semantics` for reading and understanding and of course `(?, ?, ?)` is clear and brief.
`insert into test(field1, field2, field3....) values (?,?,?...)` works with `PreparedStatement` not users, `insert into test(field1, field2, field3....) values (#{field1}, #{field2}, #{field2}, ...)` is more direct for user define how fiel

[2022-05-11 05:48] kalencaya commented on #1829
I'm confused with the meaning of `the current jdbc batch`.
actually, I have added a transform operator on datastream or dataset which mapping Row(field1, filed2) to Row(field1, field2, field1, field2) dependending on `#{}` placeholder, I think it can work always.
the code before:
[code]
the code after:
[code]

[2022-05-11 06:23] vegastar002 commented on #1773
I change to spark 2.4, can run, but another question, the log show:
Caused by: java.lang.ClassNotFoundException: oracle.jdbc.driver.OracleDriver

then I copy ojdbc6-11.2.0.3.jar  and ojdbc14-10.2.0.1.jar  to
/opt/apache-seatunnel-incubating-2.1.1/lib

but still report this error.

[2022-05-11 09:14] Emor-nj opened #1848 "[Bug] [spark-connector-clickhouse]"
Sorry, I made a mistake

[2022-05-11 09:22] #1848 closed, assigned to nobody

[2022-05-11 09:28] legendtkl opened #1849 "[Feature][Flink SQL] Support Connector dynamic loading for Flink SQL job"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Mainly, two points:
1. support flink sql connector build and bundle
2. support dynamically loading connector jars when run flink sql job. The key point is loading all the connectors into

[2022-05-11 09:32] xleoken commented on #1849
Thanks @legendtkl, fixed at https://github.com/apache/incubator-seatunnel/pull/1800

[2022-05-11 09:32] #1849 closed, assigned to nobody

[2022-05-11 09:32] ruanwenjun commented on #1846
@BenJFan  I remember we have fixed this on dev branch?

[2022-05-11 09:38] ruanwenjun commented on #1845
Do you use a stream source? I guess you use a stream source with the batch sink, in fact, Clickhouse plugin just support batch mode, If you are interested in this, welcome to support the stream mode, this will not be a difficult job if we use the micro batch in stream mode.

[2022-05-11 09:41] ruanwenjun commented on #1835
Could you please provide the flink command generated by ST, it seems this is crashed at cli.

[2022-05-11 09:45] legendtkl commented on #1849
Hi, @leo65535 , this is something different. The issues focus on running flink sql job with connectors, and loading the jars when running job.

I have just sumit a PR #1850 for it.

[2022-05-11 09:46] Hisoka-X commented on #1846
Please provide full log in here

[2022-05-11 09:52] xleoken commented on #1849
Got, no problem.

[2022-05-11 09:54] fpystart opened #1851 "Report error when using variable"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when i use variable to start flink job, than report an error

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Vers

[2022-05-11 10:30] zjw-zjw commented on #1846
@BenJFan Here is the full log.
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/data/emr/yarn/local/usercache/root/filecache/162/__spark_libs__8798545789667083542.zip/slf4j-log4j12-1.7.16.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/service/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/Sta

[2022-05-11 10:30] mosence opened #1852 "[Bug] [Docs] Seatunnel Version: 2.1.1 donnot use flink version 1.14.4 engine, but the quick start support more than 1.9.0."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I use flink 1.14.4 engine, cannot run quick start command.

It that the document all right ?

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Excep

[2022-05-11 11:36] ruanwenjun commented on #1851
It seems this has already fixed at dev branch, but in flink engine, there is still bug related to the variable, since we use -D to set the variable, but flink script will not put our param into environment.

[2022-05-11 12:57] tmljob opened #1853 "[Bug] [spark.source.FakeStream] runtime error->ConfigObject is immutable, you can't call Map.put"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When running the template configuration of spark streaming(spark.streaming.conf.template), the error is as follows.

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

[2022-05-11 15:39] #1851 closed, assigned to nobody

[2022-05-11 17:31] ruanwenjun commented on #1852
@mosence You can try to set `execution.planner=blink` to set the planner to `blink`, and I think we can set the default planner to `blink`, are you interested to submit a PR?

[2022-05-12 02:06] mosence commented on #1852
@ruanwenjun

I set the SeaTunnel config 'execution.planner=blink' in env, but the NPE exception throws:

It seem that the Flink BatchAPI not distribute in flink-dist.jar.

It that mean we must rewrite BatchAPI to StreamAPI?

[code]

[2022-05-12 02:17] coolcut2012 commented on #1845
Yes, you are right. I am testing real-time consumption data from Kafka and storing it into ClickHouse. But I can't find batch source for Kafka. Do you have any suggestions? Thank you very much.
this my configuration:
env {
  # You can set flink configuration here
  execution.parallelism = 1
  job.name = "atest"
}

source {
 KafkaTableStream {
    consumer.bootstrap.servers = "127.0.0.1:9092"
    c

[2022-05-12 02:33] ruanwenjun commented on #1852
@mosence This may be caused by flink version conflict.

[2022-05-12 03:06] mosence commented on #1852
@ruanwenjun  I create a PR in docs‘s project, add flink version limit. And this problem need to resolve in future? I think it must bean resolve after the unified API .

[2022-05-12 03:16] vegastar002 opened #1858 "v2.1.1 run say no driver"
ver
apache-seatunnel-incubating-2.1.1
spark-2.4.0-bin-hadoop2.6

### my.conf
path:
/opt/apache-seatunnel-incubating-2.1.1/config/my.conf

[code]

### step
run command
[code]
<details>
<summary>the error report</summary>

[code]
</details>

then I copy ojdbc6-11.2.0.3.jar and ojdbc14-10.2.0.1.jar to
/opt/apache-seatunnel-incubating-2.1.1/lib

but still report this error.

[2022-05-12 04:11] ruanwenjun commented on #1852
Yes, after unified API, we can easy to do different version distribution.

[2022-05-12 05:45] ruanwenjun commented on #1858
You need to copy the jdbc libs into spark jars dir.

[2022-05-12 05:47] someorz opened #1861 "[Bug] [spark] write to hive error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

write to hive error

### SeaTunnel Version

v2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

spark2.4+hadoop3.0+cdh6.3.2

### Ja

[2022-05-12 06:52] legendtkl commented on #1852
I think flink APIs upgrade is necessary. @ruanwenjun

[2022-05-12 07:34] vegastar002 commented on #1858
and another error:

### my.conf
path:
/opt/apache-seatunnel-incubating-2.1.1/config/my.conf

[code]

run report
[code]

[2022-05-12 11:04] ruanwenjun commented on #1852
Yes, we should remove the deprecated API.

[2022-05-12 14:04] dijiekstra commented on #1608
From the code, I only saw the abstract upper design about catalog,table,source,sink... and some logic of converting Seatunnel to Flink types. There is no distributed execution or network transmission or seatunnel Connector conversion to flink/ Spark connector ,etc.
Is it not commited? Where can I find the corresponding designs?

[2022-05-12 14:08] dijiekstra commented on #1608
Or are we going to do a datax-like model for now?

[2022-05-12 14:10] ruanwenjun commented on #1852
Closed by #1860

[2022-05-12 14:22] legendtkl opened #1865 "[Feature][Seatunnel-core-Flink] upgrade Flink deprecated api"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

upgrade the deprecated flink apis

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### C

[2022-05-12 14:29] #1852 closed, assigned to nobody

[2022-05-12 14:31] ruanwenjun commented on #1858
@vegastar002 You need to change your sql to `select id, name from  ds_data_source_config_log `.

[2022-05-12 15:14] ruanwenjun commented on #1845
@coolcut2012 I will submit a PR to support clickhouse stream plugin, but it will take some time. And it's also needed to check the plugin type before execute, we need to provide the imformation to tell user the plugin is not matched with the execute mode.

[2022-05-13 01:21] vegastar002 commented on #1858
@ruanwenjun  no, still error
[code]

[2022-05-13 01:39] zjw-zjw commented on #1846
@BenJFan Can you help me to check this? thanks ！

[2022-05-13 01:53] Hisoka-X commented on #1846
I will check this, please wait a mement.

[2022-05-13 01:57] coolcut2012 commented on #1845
Ok, thank you for your reply

[2022-05-13 01:57] #1845 closed, assigned to nobody

[2022-05-13 02:09] ruanwenjun commented on #1858
@vegastar002 You can see the log, this error is caused by the source table is not exist, you need to check if the `ds_data_source_config` exist in your database.

[2022-05-13 08:13] someorz commented on #1861
It's not a seatunnel  bug, it's an environment problem

[2022-05-13 08:13] #1861 closed, assigned to nobody

[2022-05-13 08:21] tmljob opened #1869 "[Feature][Connector] spark-connector-excel"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Provide the excel input source plug-in under the spark engine to obtain excel data.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a

[2022-05-13 08:22] tmljob commented on #1869
I will provide PR to contribute to the project.

[2022-05-13 17:28] Sunny-Island commented on #1271
I have same question and I have solved it.
[code]
Your package io/dropwizard/metrics/metrics-core/3.1.5/metrics-core-3.1.5.jar have been broken, you should delete it in /.m2 folder and run /mvnw again.

[2022-05-14 05:17] better629 commented on #1625
@someorz I have tried version seatunnel-1.5.7, and it works. Maybe you can have a try. But the above problem not solved.

[2022-05-14 06:50] EricJoy2048 commented on #1869
SeaTunnel has a source connector named `File`, The file format supported by the File connector are `csv` `json` `parquet` `orc` `text`. I think you can optimization this connector and add `excel` file format support.

[2022-05-14 06:52] EricJoy2048 commented on #1865
That`s great.

[2022-05-14 06:55] EricJoy2048 commented on #1853
Is this issue same as https://github.com/apache/incubator-seatunnel/issues/1512 ?

[2022-05-14 08:15] ruanwenjun opened #1874 "[Feature][plugin] Add seatunnel-plugin-discovery module"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Right now, we have split the connectors from the launch jar. When our job startup, we will find the connector plugin from disk.
The problem is that we have multiple module need to load pl

[2022-05-14 08:17] tmljob commented on #1869
I have submitted a PR for excel alone as a soure plugin. The main reason is that Excel is special compared to other files, and I only implemented it under the spark engine.

[2022-05-14 10:03] legendtkl commented on #1865
This story is expected to take some effect. I will submit PRs in two weeks.

[2022-05-14 10:59] chenhu opened #1875 "[Bug] [seatunnel-connector-spark-tidb] The dependency "tispark-assembly" should cause "Multiple sources found for parquet xxxxx""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Read hudi datasource in spark3.x, the exception below :
Caused by: org.apache.spark.sql.AnalysisException: Multiple sources found for parquet (org.apache.spark.sql.execution.datasources.v2.parquet.Parque

[2022-05-14 12:15] legendtkl commented on #1874
Good.

With this module, I hope the classloader only load the on-demand jars into classpath to reduce some class conflict.

I would like to participate the work if some subtasks need.

[2022-05-14 12:17] legendtkl opened #1877 "[Feature][Flink SQL] Add flink sql connector kafka"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

add kafka connector for flink sql

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### C

[2022-05-14 13:23] ruanwenjun commented on #1874
Yes, we just need to load the connector jar will be used in config, this has already been implemented.

[2022-05-14 16:11] mosence opened #1879 "[Feature][seatunnel-connector-flink-fake] Support FakeSourceStream to mock data."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In old FakeSourceStream, The data is limit and column size is only 2.

Add jar _com.github.jsonzou:jmockdata_  to support config mock data feature.

Like this config:

[code]

jmockdata:

[2022-05-15 12:07] #1804 closed, assigned to nobody

[2022-05-15 14:06] tmljob commented on #1853
These two issues have similar error messages, but in different versions and in different execution scenarios.

#1512，seatunnel1.5.7
#1853，dev

[2022-05-15 14:08] tmljob commented on #1869
#1872

[2022-05-16 02:19] Hisoka-X opened #1884 "[Feature][Core] Plugin-Mapping load ignore case"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

At dev now, we use `plugin-mapping.properties` to find plugin we should load. The logic is: Parse config, then get source/sink plugin name. use this name to find plugin-mapping key in `pl

[2022-05-16 02:19] Hisoka-X commented on #1884
@ruanwenjun Hi, I think this is a good first issue.

[2022-05-16 03:15] Hisoka-X commented on #1829
I agree with @kalencaya . The `(?, ?, ?)` not clear in seatunnel config file when create an data flow. Make a `#{}` placeholder will be good choose. But the `(?, ?, ?)` should work too.

[2022-05-16 03:53] EricJoy2048 commented on #1608
Branch `api-draft` only contain connector api, not contain st-engine.

[2022-05-16 03:58] EricJoy2048 commented on #1608
A seatunnel-engine is being designed. It is designed to solve scenarios that Flink and spark cannot support in data synchronization scenarios. Link resource share, jdbc connector pool, ddl support .

In the scenario of offline synchronization, it is more like dataX, and it supports distributed deployment and execution. It also needs to support real-time synchronization.

We plan to discuss these i

[2022-05-16 04:16] kalencaya commented on #1829
emmmm, try to keep compatible with the existing `(?, ?, ?)` style? Does it is necessary?

[2022-05-17 02:13] chenhu commented on #1858
Maybe you should create the some plugin dir in the path of ${SEATUNNEL_HOME}/plugins. eg: Oracle driver jars would create the dir of ${SEATUNNEL_HOME}/plugins/oracle/lib/[put your jars here]

[2022-05-17 02:22] chenhu commented on #1820
This may be the dbms's feature, seatunnel  does not set the default value i think

[2022-05-17 02:31] chenhu commented on #1764
https://seatunnel.apache.org/docs/2.1.1/command/usage

@lordk911 u can use the -i option passing the params to the config file

[2022-05-17 06:59] ruanwenjun commented on #1884
Do you mean the upper case/lower case mapping to the plugin jar? In fact, I have support this in #1881. But #1881 will not be released in next version.

I add a help wanted label, we need to finish this issue before our next release.

[2022-05-17 07:26] waywtdcc opened #1896 "[Feature] Can it support flink table mode sink and stream mode sink in one job?"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Can it support flink table mode sink and stream mode sink in one job?

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes

[2022-05-17 08:43] ruanwenjun commented on #1896
You mean batch and streaming?

[2022-05-17 08:50] ruanwenjun opened #1897 "[Feature][core] Split transform plugin from current fat jar"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

After #1669 finished, we can support load plugin jar from distribution. This issue hope to talk about splitting transform plugin from distribution.
The advantage is that when we want to a

[2022-05-17 08:59] kim-up opened #1898 "[Bug] [examples] java.lang.ClassNotFoundException: Plugin class not found by name :[KafkaTableStream]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

java.lang.ClassNotFoundException: Plugin class not found by name :[KafkaTableStream]
while I run on local env.

### SeaTunnel Version

branch of dev

### SeaTunnel Config

[code]

### Running Command

[c

[2022-05-17 11:20] kim-up commented on #1898
It needs to  add the `kafka-connector`  dependency to the `seatunnel-examples` module

[code]

[2022-05-17 11:20] #1898 closed, assigned to nobody

[2022-05-17 12:02] TYJ0716 opened #1899 "[Bug] [seatunnel-connector-flink-druid] The data source is Druid, hint Plugin class not found by name :[DruidSource]"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

In version 2.1.1, when I use druid as my data source, THE Plugin for DruidSource cannot be found

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Except

[2022-05-17 14:51] smokeriu opened #1901 "[Feature][spark-transform-code] Transform via user define code"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Allow users to upload a custom Java Code file . and call it like a UDF.

### Usage Scenario

- User use --files to upload their code.java.
- Define a class named CodeInvokeExpress in `pac

[2022-05-18 01:56] ruanwenjun commented on #1899
@TYJ0716 This is caused by the druid connector is not in distribution, you can add below dependency at seatunnel-core-flink/pom.xml, and use `mvn clean package` to make a new distribution.
[code]

[2022-05-18 01:57] ruanwenjun commented on #1899
And this has already fixed at dev branch, I will close this issue.

[2022-05-18 01:57] #1899 closed, assigned to nobody

[2022-05-18 02:04] ruanwenjun commented on #1901
Sounds good.

[2022-05-18 02:06] ruanwenjun commented on #1879
closed by #1880

[2022-05-18 02:06] #1879 closed, assigned to nobody

[2022-05-18 02:07] ruanwenjun commented on #1877
closed by #1878

[2022-05-18 02:07] #1877 closed, assigned to nobody

[2022-05-18 02:18] Hisoka-X commented on #1901
Why upload java file than upload jar? In jar, you will have all dependcy which you should use. In java file is hard to do that.

[2022-05-18 02:21] Hisoka-X commented on #1901
If use this, maybe we should create a shade dependcy, because SeaTunnel core logic should not depend on engine code.

[2022-05-18 03:43] coolcut2012 opened #1903 "[Bug][SocketStream] I can get the TCP data, but cannot receive udp data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I tried to receive some UDP data, but it didn't work.

### SeaTunnel Version

2.1.0

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

fl

[2022-05-18 03:57] smokeriu commented on #1901
Sometimes it is difficult to do some work through SQL alone, but it becomes easier through Java.
Sometimes the user just needs simple code to get the job done. At this point, I think it will increase the workload if you do it by uploading jar.
Because when using javacode, the user does not need to do the work of packaging and so on.
Of course, the disadvantage is that the user can only use the dep

[2022-05-18 04:11] smokeriu commented on #1901
As I envision it now, it's just a Spark Transform, so we can start with the dependencies that Spark already has.And can use some of the methods/tools already implemented by Spark.
Flink or a generic implementation may have to be discussed more, as I haven't worked on it for Flink before.

[2022-05-18 05:35] ruanwenjun commented on #1901
If so, I would like to split the transform from our distribution like source/sink, user can olny need to add `seatunnel-api-xx` to their new transform plugin, and put the plugin into transform directory, seatunnel will load it atomically.

[2022-05-18 06:24] smokeriu commented on #1901
It is a good idea. Users can implement their own algorithms by `extends BaseTransform`, etc.
But for this Issue, do you think there is a need to implement it.
The difference is that the user only needs a single code.java instead of packaging the algorithm. I think it will be more useful in test scenarios and simple scenarios

[2022-05-18 06:28] Hisoka-X commented on #1901
In my view, if user start write code, they must use IDE like idea or eclipse.  The package isn't a big problem. Only with a java file, the user would not know the code can run success before submit.

[2022-05-18 06:34] someorz commented on #1625
@better629 modify root pom.xml maven-shade-plugin，exclude org.apache.thrift:libthrift

![image](https://user-images.githubusercontent.com/5456361/168972773-82bcd7c3-ae14-4d14-ac78-444cff3c33e5.png)

[2022-05-18 06:46] kim-up opened #1905 "[Bug] [connector] kafka source when I set `rowtime.field` and `format.type = "avro"`, ValidationException: Field null does not exist"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

[kafka source]  when I set `rowtime.field` and `format.type = "avro"`, ValidationException: Field null does not exist

### SeaTunnel Version

branch of  dev

### SeaTunnel Config

[code]

### Running Com

[2022-05-18 06:49] ruanwenjun commented on #1903
UDP is not supported now.

[2022-05-18 07:29] better629 commented on #1625
@someorz how to find this?

[2022-05-18 07:35] someorz commented on #1625
@better629 analyza dependencies
![image](https://user-images.githubusercontent.com/5456361/168982871-b43e986d-1479-4bf7-af6b-daa7b304a04e.png)

[2022-05-18 08:32] mosence opened #1908 "[Bug] [seatunnel-core-flink] In flink core, FlinkTaskExecuteCommand class in running. Source cannot run checkConfig method."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I read code, In org.apache.seatunnel.core.flink.command.FlinkTaskExecuteCommand  73 line.

[code]

It donot check config with sources.

It that a BUG?

### SeaTunnel Version

dev

### SeaTunnel Config

[

[2022-05-18 09:45] Emor-nj opened #1910 "[Feature] [spark-clickhouse] ClickhouseFile does not support ReplicatedMergeTree"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

ClickhouseFile does not support ReplicatedMergeTree

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No re

[2022-05-18 09:58] #1908 closed, assigned to nobody

[2022-05-18 10:14] ruanwenjun opened #1912 "[Feature][Connectors] Add assert plugin"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Right now, if we want to test a transform/sink plugin we can use a fake source plugin to generate data, and validate the data in the target sink database.

If we want to test a source/tra

[2022-05-19 03:05] CalvinKirs opened #1915 "[OnlineMeeting&May 24]SeaTunnel community meeting Topic collect"
We will hold an online community meeting on 2022/05/24 20:00-21:00 (GMT+08:00) China Standard Time - Beijing
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Community Meeting
Meeting Time: 2022/05/24 20:00-21:00 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/VTTGOkaXRvR5

[2022-05-19 03:40] tmljob opened #1917 "[Bug] [Flink Transform] Why can't execute JSON_VALUE function in flink sql transform plugin"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Cannot execute JSON_VALUE function in flink sql transform plugin

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Ve

[2022-05-19 07:55] wangjunbo opened #1919 "[Bug] [transforms] Abnormal data causes the spark job to exit"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I write the data from kafka into clickhouse, there may be some message data with abnormal format, so an error was reported during the execution, which directly led to the job exit . I want to skip t

[2022-05-19 09:07] misslujiaqi opened #1920 "[Bug][help wanted][Source][JdbcSource][clickhouse]Flink JdbcSource（clickhouse） getRowTypeInfo() throws NullPointerException"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

JdbcSource method throws NullPointerException when I run seatunnel .
Is this a bug? or I run with an error config.
Can I connect Clickhouse as the source through JDBC?

### SeaTunnel Version

seatunnel-2

[2022-05-19 10:30] legendtkl opened #1922 "[Feature][FlinkSQL] add flink sql connector elasticsearch"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

add flink sql connector elasticsearch

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

#

[2022-05-19 11:02] kim-up opened #1924 "[Feature][Connector] flink-redis"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Redis sink & source plugins

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of

[2022-05-19 12:25] ruanwenjun commented on #1922
closed by #1923

[2022-05-19 12:25] #1922 closed, assigned to nobody

[2022-05-19 12:55] tobezhou33 commented on #1920
now jdbc support mysql postgresql oracle,   others has not  do type inform mapping.
your bug look  like it has no type mapping.so gerenal RowTypeInfo error.

[2022-05-19 13:12] misslujiaqi commented on #1920
Can I connect Clickhouse directly from source? At present, there is no case of Clickhouse on the official website

[2022-05-19 13:19] misslujiaqi commented on #1920
Thank you for your reply.
Can I connect Clickhouse directly from source? At present, there is no case of Clickhouse on the official website.

[2022-05-19 13:55] ruanwenjun commented on #1924
Do you want to submit a PR?

[2022-05-19 13:58] ruanwenjun commented on #1919
Thanks for your feedback, make sense to me. Do you have a plan?

[2022-05-20 00:14] dik111 opened #1929 "[Feature]Use hive-sink to save table as ORCFileFormat"
seatunnel version :2.1.0
spark version : 2.4.4

Hi Teams:
 For some reason, I need to use hive-sink(spark) to save hive table as ORCFileFormat , is there any configuration item to achieve this requirement?

[2022-05-20 01:45] kim-up commented on #1924
I have the usage scenarios. But I don't find the connector. And https://github.com/apache/flink/tree/master/flink-connectors also don't have the  redis connector. I'm not sure how to develop this connector. Maybe I need to research it, because I'm new to Seatunnel and Flink.

[2022-05-20 01:55] kim-up commented on #1924
I refer to other connectors, if I  have developed it, I will submit a PR.

[2022-05-20 02:26] legendtkl opened #1930 "[Feature][Flink SQL Connector] add flink sql connector hbase 1.2 & 2.2 and docs"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

add flink sql connector hbase 1.2 & 2.2 and docs

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to subm

[2022-05-20 03:16] #1920 closed, assigned to nobody

[2022-05-20 04:28] Hisoka-X commented on #1929
Have you try create hive table use orc format? then just use seatunnel load data into hive table.

[2022-05-20 06:59] ruanwenjun opened #1934 "[Feature][e2e] Use seatunnel script to submit job in e2e"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Right now, we directly flink command to start our seatunnel job in e2e. This is due to we didn't set the FLINK_HOME in e2e docker. It's needed to directly use seatunnel script to start e2

[2022-05-20 11:45] #1934 closed, assigned to nobody

[2022-05-20 18:35] quaker1 opened #1938 "[Feature][spark] support cdh spark"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

 it doesn't support cdh spark.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code

[2022-05-21 03:05] wangjunbo commented on #1919
I have submit a PR to resolve it .

[2022-05-21 03:23] Hisoka-X commented on #1938
Please provide your log which seatunnel run failed.

[2022-05-21 04:30] dik111 commented on #1929
I had tried this, but it doesn't work.
Here is my hive ORCformat table create command:
[code]
And here is my seatunnel(v2.1.0) conf file:
[code]
It thorws error:
[code]

[2022-05-23 08:25] misslujiaqi opened #1941 "[Feature][Plugin] Add Plugin Flink Source Clickhouse"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support  Flink Source Clickhouse

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Co

[2022-05-24 01:35] jersy opened #1944 "[Bug] [Config] seatunnel config file do not use include file do substitutions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

seatunnel config file do not use  include file do substitutions

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark V

[2022-05-24 02:07] Hisoka-X commented on #1944
Yeap, SeaTunnel not support include other file. If you want, you can contribute this.

[2022-05-24 02:10] Hisoka-X commented on #1929
I check the code, seem like we should add option to support `ORC` in hive sink. Do you want to contribute this?

[2022-05-24 02:18] jersy commented on #1944
If I had 100 Mysql tables to import, it would be crazy to configure JDBC information in 100 files. I think should support this feature。

[2022-05-24 02:49] Hisoka-X commented on #1944
Looking forward your contribute！

[2022-05-24 10:40] xleoken commented on #1915
Add a topic: [Data Transmission based on SQL](https://lists.apache.org/thread/tc5stn4tf0y67ffqm3y8pr3l5h9p7t8l) [SeaTunnel 规划思考.pptx](https://github.com/apache/incubator-seatunnel/files/8761889/SeaTunnel.pptx)

[2022-05-25 02:09] Hisoka-X opened #1946 "[Umbrella][Connector] New SeaTunnel API Connectors"
#

# Please Move To https://github.com/apache/incubator-seatunnel/issues/3018

#

| No  | Connector                                                                                                                               | priority | difficulty | Source/Sink | Contributer      | Status | Issue/PR |
|-----|----------------------------------------------------------------------------------------

[2022-05-25 03:57] dijiekstra opened #1947 "[STIP-2] [Discuss] Add Server for seatunnel"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

## Background

Suppose I am now a Seatunnel user and I want to i

[2022-05-25 08:24] EricJoy2048 commented on #1947
This is a very good proposal.  I think web server is a very important feature of SeaTunnel.
Could you update the content to English?

[2022-05-25 10:19] jersy opened #1950 "[Bug] [TiDB] NoSuchMethodError: org.apache.spark.sql.TiExtensions$.getTiContext(Lorg/apache/spark/sql/SparkSession;)"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

TiDB connector do not work

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

### Java or Sc

[2022-05-25 11:25] dijiekstra commented on #1947
Thank you for your comment.
I will translate the content to english after all design finish ,it'll be completed before the end of this week

[2022-05-25 16:37] forecasted opened #1953 "[Feature][Sink] custom redis expire time"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

add an expire or ttl option in redis sink connector.

### Usage Scenario

We want to sink data to redis with custom expire time.  For example, the data in redis will expire in one week.

[2022-05-26 01:53] EricJoy2048 opened #1954 "[DISCUSS] Do we need to have our own engine"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

# Why do we need the SeaTunnel Engine, And what problems do we want to solve?

### Better resource utilization rate

Real time data synchronization is an important user scenario. Sometime

[2022-05-26 02:17] dik111 commented on #1929
I had tried to change the source code about spark hive sink, but it doesn't work
[code]
And then I found use hive sql can help me solve this problem - -!
[code]

[2022-05-26 02:26] Hisoka-X commented on #1929
I checked the source code about spark.
<img width="747" alt="image" src="https://user-images.githubusercontent.com/32387433/170402755-a9e9cc44-c59e-4d6b-9581-c070bed69607.png">
The orc is supported. Would you please provide your error log?

[2022-05-26 03:11] Hisoka-X commented on #1910
Close by #1911

[2022-05-26 03:11] #1910 closed, assigned to nobody

[2022-05-26 03:22] dik111 commented on #1929
My fault, I got the path of seatunnel wrong.
I found that both the configuration items `.format("Hive")` and  the configuration items `.format("orc")` can solve this problem, but `.format("orc")` may require additional user Configuration, `.format("Hive")` can be written directly into the code, which way do you think is better?
https://blog.csdn.net/lvwenyuan_1/article/details/90697049

[2022-05-26 06:51] Hisoka-X commented on #1929
I prefer first one, just use `.format("Hive")` because this is hive sink connector.

[2022-05-26 11:25] wsyhj opened #1957 "[Feature][transform] missing etl operation"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

In the case of poor data quality, it is necessary to do default value processing for special values (such as null)

### Usage Scenario

etl

### Related issues

_No response_

### Are you

[2022-05-26 11:25] #1929 closed, assigned to nobody

[2022-05-26 14:31] ashulin commented on #1954
I agree with you, because some of the data integration features are not supported in Spark and Flink engines.
Of course, this is a challenging thing, and I look forward to more detailed design proposals.

[2022-05-26 14:55] ashulin opened #1959 "[Discuss] Provide multiple Maven profiles"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Currently, SeaTunnel only has a profile for fat jar.
Some users may only have a single engine environment, so other engine related jars are not required.
So I expect to provide multiple m

[2022-05-26 17:51] wuxie2015 opened #1960 "[Feature][Seatunnel-connector-Flink] add connector for mqtt"
### Search before asking

- [x] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I'm glad to add an mqtt connector and docs

### Usage Scenario

can be used in iot scenery

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing

[2022-05-27 02:18] Hisoka-X commented on #1960
Good, looking forward your contribute!

[2022-05-27 02:20] EricJoy2048 commented on #1957
If you use sql transform you can do it with sql.

[2022-05-27 02:25] Hisoka-X commented on #1959
If do that, we would release different package with single engine, the number of release package will be more, but the size maybe smaller. We should discuss this, what do you think? @CalvinKirs @ruanwenjun

[2022-05-27 02:25] EricJoy2048 commented on #1946
Great job!
I can work for `Hive Sink Connector`.

[2022-05-27 02:27] Hisoka-X commented on #1959
Or use this profile just for some people need repackage.

[2022-05-27 02:35] ashulin commented on #1946
I can work for `Apache pulsar`  source connector.

[2022-05-27 02:35] #1915 closed, assigned to nobody

[2022-05-27 02:40] ashulin commented on #1959
I agree with this suggestion;

[2022-05-27 03:34] ic4y commented on #1946
Great. Can you assign me to MongoDB connector.

[2022-05-27 03:36] CalvinKirs commented on #1954
It's a big feature, can you discuss it in email?

[2022-05-27 04:51] Interest1-wyt opened #1963 "[Feature][transform] Set default value for null field"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Some databases are sensitive to null fields. For example, clickhouse uses regular '=' or 'equals' to compare two null fields, which will return null instead of 1, and clickhouse's primary

[2022-05-27 06:23] fanyo190 commented on #1947
@dijiekstra  您说的功能什么时候发布呢？

[2022-05-27 07:38] didiaode18 opened #1965 "[Feature]Seatunnel-connector-Flink] seatunnel-connector-flink-hudi"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

add seatunnel-connector-flink-hudi

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

###

[2022-05-27 07:55] qigengwei commented on #1946
Good job!

[2022-05-27 08:38] CalvinKirs commented on #1959
+1

[2022-05-27 09:50] EricJoy2048 commented on #1954
Ok, I will discuss it in email.

[2022-05-27 10:32] ic4y commented on #1946
Sorry i plan to do `JDBC Sink` first. Please reassign `JDBC Sink` to me

[2022-05-28 03:05] dijiekstra commented on #1947
It is still in the design stage and such a large feature needs to be discussed and approved by the community before it can be developed

[2022-05-28 10:27] dijiekstra opened #1968 "[Feature][seatunnel-server] Architectural Design"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

## Architectural Design

### Role division
We infer the modules and functions of a complete Seatunnel-Server from the functions of Web pages from top to bottom
#### Web
The main function

[2022-05-28 14:16] dijiekstra opened #1969 "[Feature][seatunnel-server] Detail Design"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

## Detail design

Do a simple prototype figure [archetype figure] (https://modao.cc/app/e0mCFHHqrcldsbvhrDOQyn).

Considering the time cycle, implementation cost and technical capability,

[2022-05-28 14:23] dijiekstra commented on #1947
@CalvinKirs @ruanwenjun @gaojun2048
Hi, I have completed most of the design content, please help me review it .
If there is no problem, I will develop based on this design

[2022-05-28 14:25] dijiekstra commented on #1947
Hi, every contributors or others:
Would u like to work with me on this feature? I need your help. If I was developing by myself, it would take me a lot of time. After all, I have work to do, and I'm not doing open source full-time

[2022-05-30 02:21] Hisoka-X commented on #1947
I'm not sure about we need  `authority management`, `task alert` cause seatunnel is a framework.

[2022-05-30 02:32] EricJoy2048 commented on #1968
Very good design. It would be better if you could convert it into English.

[2022-05-30 02:44] EricJoy2048 commented on #1969
CC @CalvinKirs  @BenJFan  @ruanwenjun  @ashulin

[2022-05-30 02:47] CalvinKirs commented on #1947
It depends on the community, if SeaTunnel devotes to a platform, this could be good.

[2022-05-30 03:16] dijiekstra commented on #1947
`task alert` depends on scheduler such as dolphinscheduler or others.
If we want to do it, we must check task status on realtime.

[2022-05-30 03:18] dijiekstra commented on #1947
Or Scheduler push result to us.

[2022-05-30 06:17] legendtkl commented on #1947
Great. This proposal will be a long building.

I suggest to take the integration into consideration, such as user integration with LDAP, auth integration with Ranger, etc.

[2022-05-30 06:19] dijiekstra commented on #1947
Integration with Ranger is a good idea.
But I haven't  connected Ranger, it'll take longer

[2022-05-30 08:30] #1953 closed, assigned to forecasted

[2022-05-30 11:12] dijiekstra commented on #1968
i will translate it befor 6.3

[2022-05-31 10:06] wsyhj opened #1977 "[Feature][tranform] data quality for null rate"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

When there is a large amount of data, the final result will always be greatly affected by the problem of data null value. Therefore, early null value detection is particularly important.

[2022-05-31 13:35] dijiekstra commented on #1947
Due to no one has questioned it, I will start development next week. I will update the progress in this issule regularly

[2022-06-01 08:29] xleoken opened #1981 "[Feature][sql] Data Transmission based on SQL"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We know that there are many data transmission products, like Apache Flume, Apache Sqoop,
Alibaba Datax, DTStack flinkx etc, we can see that more and more products support creating
data tr

[2022-06-01 09:06] William-GuoWei commented on #1981
It is great idea to do the SQL-like transformation. But I did't see the idea about how to implement it on Spark, Flink, DataFusion,etc. I can only saw the way implemented on Flink. As far as I know, FlinkSQL did it very well. And FlinkSQL API is quite different with SparkSQL. I don't know how to deal with it if we only design the architect base on Flink and FlinkSQL. Perhaps Universal SQL API is n

[2022-06-01 11:42] #1884 closed, assigned to nobody

[2022-06-02 08:34] xleoken commented on #1981
@William-GuoWei Thanks for sharing your thinking. This proposal is still in the initial stage, we can design the SeaTunnel SQL which can be adapted to FlinkSQL or SparkSQL, I think it's not important for now from my side. It seems that we had spent a lot of time to adapt multipe engines, but the movement was very slow and tortuous, so it's better to support single engine currently. For https://www

[2022-06-03 06:06] einvince commented on #1853
apache-seatunnel-incubating-2.1.1
spark-2.4.7

Caused by: java.lang.UnsupportedOperationException: ConfigObject is immutable, you can't call Map.put

[2022-06-05 14:44] luketalent commented on #1947
good ！！ I'm in

[2022-06-06 06:22] CalvinKirs opened #1986 "[OnlineMeeting&June 7]SeaTunnel community meeting Topic collect"
We will hold an online community meeting on 2022/06/07 20:00-21:00 (GMT+08:00) China Standard Time - Beijing
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Meeting
Meeting Time: 2022/06/07 20:00-21:00 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/08cvnycpbaXS

#Tencent

[2022-06-06 06:22] CalvinKirs commented on #1986
#1947

[2022-06-06 12:01] dijiekstra commented on #1947
Done.

[2022-06-07 03:00] #1167 closed, assigned to xleoken

[2022-06-07 04:40] kalencaya opened #1989 "[Bug] [website] flink-fake-connector docs error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

fake source and fake source stream

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No response_

### Ja

[2022-06-07 04:52] kalencaya commented on #1989
<img width="1501" alt="image" src="https://user-images.githubusercontent.com/24804318/172298669-6075a95e-137b-4737-9f96-114691e0a592.png">

[2022-06-07 05:13] zhuangchong opened #1990 "[Feature][Common] The DeployMode code cleanup"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The DeployMode code cleanup,

The DeployMode property judgment is performed in the CommandBuilder class. I think this step is repetitive, because when the CommandArgs parameter is generat

[2022-06-07 07:24] sudufly opened #1992 "[Bug] [SparkStreamingExecution] Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

配置多kafka源的时候报异常
Exception in thread "main" java.lang.ClassCastException: org.apache.spark.streaming.dstream.TransformedDStream cannot be cast to org.apache.spark.sql.Dataset

配置多个kafka 的时候
    sources.su

[2022-06-07 07:25] ashulin commented on #1625
![Snipaste_2022-06-07_15-23-30](https://user-images.githubusercontent.com/36807946/172320613-052e1e57-c5a7-4be9-9520-9ab933f19104.jpg)
Hive actually uses `libthrift-0.9.3` instead of `libthrift-0.9.0`, but due to dependency conflicts, the packaged jar is `libthrift-0.9.0`.
You can try to exclude the `libthrift-0.9.0` dependency in the `seatunnel-connectors-spark-dist` module.

[2022-06-07 08:26] zyd915 commented on #651
Seatunnel对Hadoop3的支持
https://bolder-gasoline-6e0.notion.site/Seatunnel-Hadoop3-dc8568d60486458792881974aa93b635

[2022-06-07 08:56] zyd915 opened #1993 "[Feature][flink-shaded-hadoop3] flink-shaded-hadoop3 support"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

当我以flink on yarn模式执行官方示例：
./bin/start-seatunnel-flink.sh -m yarn-cluster -ynm seatunnel -c ./config/flink.batch.conf.template时报错：
2022-06-06 20:37:21,994 INFO  org.apache.flink.yarn.YarnC

[2022-06-07 10:17] zhuangchong commented on #1990
done.

[2022-06-07 10:17] #1990 closed, assigned to nobody

[2022-06-07 11:17] EricJoy2048 commented on #1968
Thank you very much!

[2022-06-07 12:49] wolfboys commented on #1946
Hbase, Redis thx.

[2022-06-07 12:57] EricJoy2048 commented on #1946
Since most of the work in hive's sink connector is the writing of HDFS files, which is very similar to the work in file sink, I also complete the file sink connector.

[2022-06-07 12:58] #988 closed

[2022-06-07 12:58] #1246 closed, assigned to suxinshuo, xleoken

[2022-06-07 12:58] #1272 closed, assigned to nobody

[2022-06-07 12:58] #1285 closed, assigned to yx91490, xleoken

[2022-06-07 12:58] #1981 closed, assigned to nobody

[2022-06-08 02:05] wanghuan2054 opened #1995 "[Bug] [docs] source socket connector docs error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

1. Flink plugin name should be SocketStream rather than  Socket
2. In spark examples, Spark plugin name should be SocketStream rather than  socketStream

### SeaTunnel Version

dev

### SeaTunnel Config

[2022-06-08 03:56] wanghuan2054 commented on #1989
fake source and fake source stream  error has been corrected in dev

[2022-06-09 03:04] zhuangchong commented on #1946
socket source, thx.

#1999

[2022-06-09 06:15] #1986 closed, assigned to nobody

[2022-06-09 09:30] #1995 closed, assigned to nobody

[2022-06-10 05:59] zyd915 commented on #1969
太酷了 社区人才济济 一直在关注seatunnel的web项目 @dijiekstra 干得漂亮

[2022-06-10 06:01] zyd915 commented on #1968
Very good design！！

[2022-06-10 09:53] lhyundeadsoul commented on #1912
may i have a try?
@ruanwenjun

[2022-06-10 11:39] ruanwenjun commented on #1912
I have assigned to you, if you have any idea, please let me know.

[2022-06-11 07:22] zhuangchong commented on #1946
Http source thx.

[2022-06-11 16:30] wl3207601 opened #2006 "[Bug] [Module Name] The write data to doris succeed but the flink job error :"TwoPhaseCommit": "false""
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

source is mysql .sink is doris. write data to doris succeed but the flink job error :"TwoPhaseCommit": "false"

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

##

[2022-06-12 00:23] mans2singh opened #2007 "[Bug] [seatunnel-core-flink] Exception on running start-seatunnel-flink.sh with APPLICATION_RUN option"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

If I run the following command (start-seatunnel-flink.sh):

`bash-3.2$ apache-seatunnel-incubating-2.1.1-SNAPSHOT/bin/start-seatunnel-flink.sh`

I get the following usage message:

Usage: start-seatunnel

[2022-06-12 00:24] mans2singh commented on #2007
Please assign this issue to me.  Thanks

[2022-06-13 06:33] lhyundeadsoul commented on #1786
After set "execution.planner = blink"
I got the following error:

`Execute SeaTunnel Flink Job: ${FLINK_HOME}/bin/flink run -c org.apache.seatunnel.SeatunnelFlink /Users/lihongyuinfo/Sources/dist/apache-seatunnel-incubating-2.1.1/lib/seatunnel-core-flink.jar --config ./config/flink.streaming.conf.template
java.lang.NoClassDefFoundError: org/apache/flink/table/api/bridge/java/BatchTableEnvironment

[2022-06-13 07:34] quanzhian commented on #1786
Please check whether you have entered the dependent package of Flink when packaging or whether your Flink running environment has the corresponding package.

[2022-06-13 07:58] ic4y commented on #1946
jdbcSink is done, please assign jdbcSource to me. Thanks

[2022-06-13 13:55] waitingF opened #2011 "[Bug] [examples] spark-examples runs throwing exception"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I cloned the repo and checkout to dev branch. then i build the code with command './mvnw install -Dmaven.test.skip' which returns ok.
Then I run the LocalSparkExample from IDEA, which return error.
the e

[2022-06-13 15:42] lhyundeadsoul commented on #1912
@ruanwenjun
Here is my idea of FakeAssertSink design, please check it out and let me know if there is anything wrong. Thx!
Refer to ConsoleSink, I think the FakeAssertSink plugin should follow the rules following:
1. in  `seatunnel-connector-flink-fake` module and `org.apache.seatunnel.flink.fake.sink` package
2. implements `FlinkBatchSink` and `FlinkStreamSink`,and no need to extend `RichOutputFo

[2022-06-13 23:05] wanghuan2054 commented on #2011
Please refer to the following links， have a try . https://blog.csdn.net/shenlanzifa/article/details/42679577

[2022-06-14 01:22] liverrrr commented on #1146
hey @davidzollo，i would love to volunteer for this task

[2022-06-14 02:12] EricJoy2048 commented on #1969
Thanks, Are you interested in contributing to this feature？

[2022-06-14 02:16] EricJoy2048 commented on #1947
We are looking for people who are willing to work together for this feature. Are you interested in participating？

[2022-06-14 02:33] waitingF commented on #2011
thanks for reply, it works

[2022-06-14 02:33] #2011 closed, assigned to nobody

[2022-06-14 02:45] xuhui1231 commented on #1969
Looks good,At present, we are also preparing to open a second platform based on Seatunnel, and hope to communicate more together.

[2022-06-14 03:01] ruanwenjun commented on #1912
I think you can add a new plugin module `seatunnel-connector-flink-assert`.

Yes, you can define some rules.

You mean validate the data in runtime, if validate failed, then throw exception? It's OK to me.

[2022-06-14 06:36] lhyundeadsoul commented on #1912
I think so.  That's a better design resolution.

I can add _**a fail-strategy parameter**_ to control whether print or throw ex,  how about that? @ruanwenjun
[code]

[2022-06-14 07:05] lhyundeadsoul commented on #1912
I have had a different opinion:

I am looking forward to your point of view. Thx! @ruanwenjun

[2022-06-14 07:53] ruanwenjun commented on #1912
@lhyundeadsoul Different user may have different requirement, in some case they may want to use `assert` in source/transform/sink. This may make it complex, we may add data validate module in the future. Currently, I think we can just add an assent sink plugin, and put it in a single module, this will not make things complex.

[2022-06-14 08:16] lhyundeadsoul commented on #1912
OK,  So do we need fail-strategy: print (or interrupt) ?

[2022-06-14 09:15] ruanwenjun commented on #1912
Throw exception is ok.

[2022-06-15 02:11] Hisoka-X commented on #2007
Close by #2008

[2022-06-15 02:11] #2007 closed, assigned to mans2singh

[2022-06-15 03:05] lhyundeadsoul commented on #1989
I have already fixed this bug in [apache:main](https://github.com/apache/incubator-seatunnel-website)

 https://github.com/apache/incubator-seatunnel-website/pull/127

[2022-06-15 03:44] ic4y commented on #1992
Thanks for reporting this issue, I will debug this later

[2022-06-15 07:20] mengfeiMonica commented on #1947
Hi guys , My name is Monica and I am a PM.I designed some parts of function below. Look forward https://github.com/apache/incubator-seatunnel/issues/2099

[2022-06-15 12:21] #1989 closed, assigned to nobody

[2022-06-16 02:18] legendtkl commented on #1946
Socket sink

[2022-06-16 03:30] EricJoy2048 opened #2017 "[Feature][Api-draft] Create a bootstrap for connector development"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now we are using API draft to develop new connectors, and we have found some problems.
Whether Source API or Sink API have many interface, these interface are use for different functions。

[2022-06-16 04:41] ChenpiDog opened #2018 "[Bug] [Set Up with Kubernetes, JDBC as source] According to the official website document, the data synchronization with MySQL as the source failed."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Set Up with Kubernetes, JDBC as source, based on the Flink engine, the task failed.

Dockerfile：
`FROM flink:1.13

ENV SEATUNNEL_VERSION="2.1.0"

RUN wget https://archive.apache.org/dist/incubator/seatun

[2022-06-16 05:32] CalvinKirs opened #2019 "[OnlineMeeting&June 21]SeaTunnel community meeting Topic collect"
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Community Meeting
Meeting Time: 2022/06/21 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/lIeV69oC5H57

#TencentMeeting：647-445-170

Copy this invitation and open in Tencent Meeting app (V2.13 or later) to join

[2022-06-16 05:32] CalvinKirs commented on #2019
#1947

[2022-06-16 08:31] tangguol commented on #1898
good

[2022-06-16 09:23] Mohit0233 opened #2020 "[Bug] [Module Name] Bug title"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

While I was using SeaTunnel  to send data from hive -> clickhouse

It throws Error Exception: scala.collection.mutable.WrappedArray$ofRef cannot be cast to java.sql.Array

There was a Array<String> type

[2022-06-16 10:53] Hisoka-X opened #2021 "[Feature][Doc] Add Flink SQL module to website."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

At now, we can't see our flink sql module any information.
We should add link on website about flink sql which already be writeen in /docs/en/connector/flink-sql/.
And add a guide about h

[2022-06-16 10:55] gaaraG commented on #1917
JSON_VALUE was not available until Flink 1.14

JSON_VALUE was not available until Flink 1.14

[2022-06-16 12:42] ashulin commented on #2017
We can provide simple soure and sink, masking some advanced features.

[2022-06-16 12:59] ashulin commented on #2018
'seatunnel-core-flink' isn't contains the Jdbc connector jar.
You can refer to the link: https://seatunnel.apache.org/docs/2.1.0/flink/quick-start

[2022-06-16 14:32] wanghuan2054 commented on #2021
Please assign this task to me

[2022-06-17 02:17] wuchunfu commented on #1946
MongoDB thx

[2022-06-17 02:25] wuchunfu opened #2023 "[api-draft][connector] Add MongoDB source connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add MongoDB source connector

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code o

[2022-06-17 03:17] ashulin opened #2024 "[Discuss][api-draft] SeaTunnel DataType & Java Class & Engine DataType"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I found that in the current `api-draft` branch, everyone handles data types differently, which makes the end-to-end test easy to fail, so I expect to be able to determine the data types s

[2022-06-17 03:27] ic4y opened #2025 "[Feature][Api-draft] Currently unsupported data type"
### Search before asking

- [ ] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

When I implemented the jdbc source connector, I found that the current Api-draft branch has many data types that are not supported. As follows

1. The source only supports `BasicTypeInfo`

[2022-06-17 03:44] ashulin commented on #2024
Do we want to support TIMESTAMP WITH TIMEZONE? Or other?
Currently, the DECIMAL type does not contain information such as precision, is there any need for improvement?

[2022-06-17 03:58] ic4y opened #2026 "[bug][api-draft] Disabling sql transform plugin in batch mode causes task execution to fail"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When testing with flink `SeaTunnelApiExample`.

If cancel the transform sql configuration in the `fake_to_console.conf` configuration file. Like this

<img width="966" alt="image" src="https://user-image

[2022-06-17 04:00] ashulin commented on #2019
https://github.com/apache/incubator-seatunnel/issues/2024

[2022-06-17 04:10] ashulin commented on #2026
This is a bug. `org.apache.seatunnel.core.starter.flink.execution.SourceExecuteProcessor` don't determine whether the source is bounded when adding the source. It uses `org.apache.flink.streaming.api.environment.StreamExecutionEnvironment#addSource(org.apache.flink.streaming.api.functions.source.SourceFunction<OUT>)` instead of `org.apache.flink.streaming.api.datastream.DataStreamSource#DataStream

[2022-06-17 04:12] EricJoy2048 commented on #2024
Yes. Decimal is need precision I think.

[2022-06-17 04:16] ic4y opened #2027 "[Bug] [api-draft] Using the transform sql plugin will cause the field data type to change"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I found in the test that using the transform sql plugin (`select * from type_test_number`) will cause the field data type to change

Changed from `BigInteger` to `GenericType<java.math.BigInteger>` This

[2022-06-17 08:17] ChenpiDog commented on #2018
@ashulin What is the missing dependency? I put MySQL JDBC (mysql-connector-java-8.0.17.jar) into $FLINK_HOME/usrlib/, still not.

[2022-06-17 08:35] ChenpiDog commented on #2018
$FLINK_HOME/lib/, still not

[2022-06-17 08:58] zzzzheng opened #2028 "[Bug] [Module Name] input kudu error the table does not exist: table_name:"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

测试kudu输入时，报错，找不到表，the table does not exist: table_name: "impala::t_dp.kudu_table_info"，实际表在kudu中存在，请帮忙看看，感谢，有类似问题，但是还是未解决，加了“impala::”字段

### SeaTunnel Version

1.5.7

### SeaTunnel Config

[code]

### R

[2022-06-17 09:17] ChenpiDog commented on #2018
Add dependency: flink-connector-jdbc_2.11-1.11.6.jar, solve the problem

[2022-06-17 10:37] wuchunfu commented on #2026
@ashulin I also encountered this problem, do you have a good solution?

[2022-06-18 14:06] davidzollo commented on #1946
good job, has assigned to you

[2022-06-19 08:14] ShawshankLin commented on #1965
which version will have this？

[2022-06-19 15:15] ic4y opened #2032 "[Bug] [seatunnel-connector-flink-jdbc] Data loss occurs when partition_column (partition mode) is set"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

After setting partition_column, it will cause data loss, and the data loss is equal to the number of partitions.

The reason is that the sql partition read uses `partitionColumn  >= ? AND  partitionColum

[2022-06-20 02:43] lhyundeadsoul opened #2034 "add IT to test Assert Sink plugin."
LGTM, you can add IT to test this plugin.

_Originally posted by @ruanwenjun in https://github.com/apache/incubator-seatunnel/pull/2022#pullrequestreview-1011474460_

AssertSink plugin hasn't been tested in IT so far. It's better to test it before sharing

[2022-06-20 02:44] #2032 closed, assigned to nobody

[2022-06-20 05:54] zyd915 commented on #1969
我主攻后端，改了很多seatunnel后端源码增加了一些新特性支持 抽时间整理贡献pr给官方库 前端的不是我所擅长的方向

[2022-06-20 08:42] justor opened #2037 "use hbase as sink :java.lang.NoSuchMethodError"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

use hbase as sink ,error occured :java.lang.NoSuchMethodError

### SeaTunnel Version

2.1.2

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Ver

[2022-06-20 12:16] ashulin commented on #2026
https://github.com/apache/incubator-seatunnel/pull/2038

[2022-06-21 01:05] xuhui1231 commented on #1969
这就尴尬了,,,我也是平台开发方向,,,前端没咋接触过,偶尔画画原型图...如果有需要的话我们可以一起做

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-seatunnel"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年6月20日(星期一) 中午1:54
***@**

[2022-06-21 02:11] Emor-nj commented on #1513
@Hisoka-X  Can i import the project [rsync4j](https://github.com/fracpete/rsync4j) to support Rsync to transfer clickhouse data file?

[2022-06-21 02:28] Hisoka-X commented on #1513
Hi, of course. Welcome to contribute this feature!

[2022-06-21 04:54] smallhibiscus opened #2044 "[Bug] [flink-druid] No suitable driver found for jdbc:avatica:remote:url"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When I use flink-druid source, I get the following error
`Caused by: org.apache.flink.runtime.client.JobExecutionException: Job execution failed.
	at org.apache.flink.runtime.jobmaster.JobResult.toJobExe

[2022-06-21 06:55] davidzollo commented on #1968
good design

[2022-06-21 07:15] gitfortian commented on #1846
flink run -t yarn-per-job -c org.apache.seatunnel.core.flink.SeatunnelFlink /usr/local/apache-seatunnel-incubating-2.1.2/lib/seatunnel-core-flink.jar --config ./config/flink.streaming.conf.template

flink yarn-application-mode also meet the same problem,this may be bug, because it's ok when  i run on yarn-per-job mode

[2022-06-21 10:03] ashulin commented on #2044
Please check if `avatica-core-${version}.jar` is missing.

[2022-06-21 10:47] EricJoy2048 opened #2047 "[Feature][CI] Optimize CI and reduce runtime"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now the CI needs at least one hour to complete. Can we optimize it?

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I

[2022-06-21 12:33] dijiekstra commented on #1947
ONLINE API VIEW
URL: https://www.apifox.cn/apidoc/shared-c6e2e561-8e6d-446d-9386-1c4a2c3ab50f  PASSWORD : seatunnel-1947

[2022-06-21 14:14] smallhibiscus commented on #2044
yeah，I checked that `avatica-core-1.20.0.jar` exists. Thank you for your reply.

[2022-06-22 03:29] lhyundeadsoul commented on #1912
I will add assert sink plugin in api-draft branch

[2022-06-22 08:12] #2047 closed, assigned to kezhenxu94

[2022-06-22 08:47] hk-lrzy commented on #2024
agree, and i think we need alignment source & sink precison value if there have differents.

[2022-06-22 08:51] hk-lrzy commented on #1946
i can work for doris sink first. can you assign it to me?

[2022-06-22 09:29] hk-lrzy commented on #2037
Does another hbase libraries in your classpath? i see the branch 2.1.2-release use hbase with version 2.1.0.

[2022-06-22 09:36] hk-lrzy commented on #2044
plz make sure
[code]
exists in your classpath.

[2022-06-22 15:00] iture123 commented on #1946
I can work for ElasticSearch Source and Sink Connector.

it is too dependent now,because including transport client、RestHighLevelClient and RestLowLevelClient in Seatunnel.We can use RestLowLevelClient to support all versions of ElastichSearch.

[2022-06-23 03:43] hk-lrzy commented on #2006
which doris version does you uesed?

[2022-06-23 04:14] wl3207601 commented on #2006
doris1.0

[2022-06-23 04:15] wl3207601 commented on #2006
doris1.0

[2022-06-23 05:39] smallhibiscus commented on #2044
I don't find this in maven dependency , can you help me ?  my wechatid  `smallhibiscus`

[2022-06-23 10:58] realdengziqi commented on #686
Organization: 尚硅谷
Location: Beijing China
Contack: 993396365@qq.com
Purpose: data integration，export data from hive to Clickhouse,

[2022-06-24 10:31] #2021 closed, assigned to wanghuan2054

[2022-06-25 02:05] iture123 opened #2059 "[Bug] [seatunnel-connector-seatunnel-fake] Incorrect use ThreadLocalRandom"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Error in class org.apache.seatunnel.connectors.seatunnel.fake.source.FakeSourceReader
[code]
`int size = random.nextInt(10);`
The variable size actually is a fixed value, not a random number,because can

[2022-06-25 03:19] quanzhian commented on #1947
![image](https://user-images.githubusercontent.com/8474821/175756155-95bf310d-052f-40c5-bd7f-cea9914907c5.png)
I am developing the back-end service interface.

[2022-06-25 10:12] berg-xu opened #2061 "Flink on Yarn Cluster 模式提交SeaTunnel Example程序失败异常"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

我尝试基于Flink on Yarn Cluster 模式提交SeaTunnel Example程序。 执行命令参照官网所示：
![image](https://user-images.githubusercontent.com/45385723/175768634-637e6df8-fe34-4732-a01c-9f7311f518e8.png)

我在此基础上稍微做了点改动， 具体实际执行命令如下：

[2022-06-27 02:34] #2019 closed, assigned to nobody

[2022-06-27 02:35] Hisoka-X commented on #2024
Close by #2052

[2022-06-27 02:35] #2024 closed, assigned to nobody

[2022-06-27 02:37] Hisoka-X commented on #2018
Close by resolved

[2022-06-27 02:37] #2018 closed, assigned to nobody

[2022-06-27 02:39] Hisoka-X commented on #2026
Close by #2038

[2022-06-27 02:39] #2026 closed, assigned to nobody

[2022-06-27 06:11] zyd915 commented on #1969
好的

[2022-06-27 06:56] berg-xu opened #2064 "Creating the input splits caused an error: File file:/tmp/wordsit.txt does not exist or the user running Flink ('hadoop') has insufficient permissions to access it."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

我尝试基于seatunnel File Source 读取本地文件(本地文件存储在seatunnel节点上)，并测试Sink Console。

但我基于flink的standalone模式时，即执行命令： bin/start-seatunnel-flink.sh   --config ./config/flink.streaming.local.file.to.hive.conf

最后作业执行完后会

[2022-06-27 06:58] berg-xu commented on #2064
第一张图异常信息贴错了， 异常的错误信息内容如下：
![image](https://user-images.githubusercontent.com/45385723/175878422-5fda73a7-2acd-4bd0-b39d-52a5d523e5c2.png)

[2022-06-27 08:42] adudu137 commented on #2064
文件的读写操作的权限授予给了用户hadoop吗？

[2022-06-27 08:49] adudu137 commented on #2064
FileSource的path改成这样 hdfs://hadoop102:8020/xxx/xxx/wordsit.txt ，看看行不行

[2022-06-27 10:08] 2013650523 opened #2067 "[Bug] [seatunnel-spark-new-connector-example] java.lang.String cannot be cast to org.apache.spark.unsafe.types.UTF8String"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

can  not run local spark new connector example;

### SeaTunnel Version

api-draft

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No

[2022-06-27 15:24] Zhouwen-CN commented on #2006
There is a problem with the version of Doris. It sends data through a request. The response has some additional attributes, resulting in JSON parsing failure

[2022-06-28 02:17] Hisoka-X commented on #2067
Hi, this error will fix by #2051 in [InternalRowConverter.java](https://github.com/apache/incubator-seatunnel/pull/2051/files#diff-7de91f33da115924984c707c561b8dbcfcdbb4876ad5cb1a27ac6e07d88e7a6c)

[2022-06-28 03:52] gcnyin commented on #686
Organization: www.stey.com
Location: Beijing, China
Contact: guchounongyin@gmail.com
Purpose: ETL, data synchronization from MySQL to analysis system

[2022-06-28 07:01] 2013650523 commented on #2067
tks, I worked your way out of the problem,  May I ask the new connector sink Hive, etc., are these configuration files still written as before?

[2022-06-28 07:03] Hisoka-X commented on #2067
Yep. The developer should try to keep the same as the previous configuration as much as possible

[2022-06-28 07:37] luketalent commented on #1947
@dijiekstra  I wanna join, how do I start??

[2022-06-28 08:37] 2013650523 commented on #1946
Kudu thx.

[2022-06-28 09:33] berg-xu commented on #2064
@adudu137  谢谢， 已测试，暂不支持yarn模式读取本地非执行节点上的本地文件local读取。 已更新为hdfs://path

[2022-06-28 13:51] Emor-nj opened #2073 "[Feature][Connector] Support Rsync to transfer clickhouse data file"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Build rsync shell command to support transfer clickhouse data file with Rsync over ssh.(There is another way to transfer file with Rsync which is rsync-daemon,but rsync-daemon is complex

[2022-06-28 13:52] Emor-nj commented on #2073
https://github.com/apache/incubator-seatunnel/issues/1513

[2022-06-28 14:01] Zhouwen-CN commented on #2006
I just tried, but no error was reported. Here is my configuration file

env {
  execution.parallelism = 1
}
source {
  JdbcSource {
      driver = "com.mysql.jdbc.Driver"
      url = "jdbc:mysql://localhost/test"
      username = "root"
      password = "root"
      result_table_name = "student_source"

  }
}
transform {
}
sink {
  DorisSink {
    source_table_name = "student_source"
    fenodes =

[2022-06-28 14:37] EricJoy2048 commented on #2073
good idea. CC @Hisoka-X

[2022-06-28 14:40] CalvinKirs commented on #2061
For better communication, we only accept English communication, please use English resubmit inssue.

[2022-06-28 14:40] #2061 closed, assigned to nobody

[2022-06-28 14:40] EricJoy2048 commented on #2064
Yes. The right way is put the file in hdfs. And then read the hdfs file use the FileSouce.

[2022-06-28 14:41] CalvinKirs commented on #2067
close by #2051

[2022-06-28 14:41] #2067 closed, assigned to nobody

[2022-06-28 14:43] #2064 closed, assigned to nobody

[2022-06-28 15:10] Hxssssss commented on #1947
@dijiekstra I wanna join, how do I start??

[2022-06-28 15:16] songjianet opened #2076 "[Feature][UI] Added management system for SeaTunnel."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

- https://github.com/apache/incubator-seatunnel/issues/2077
- https://github.com/apache/incubator-seatunnel/issues/2115
- https://github.com/apache/incubator-seatunnel/issues/2135
- https

[2022-06-28 15:23] songjianet commented on #2076
ref [#2075](https://github.com/apache/incubator-seatunnel/pull/2075)

[2022-06-28 15:26] songjianet commented on #1947
I will handle the work of the front-end part accordingly, please refer to the changes in the front-end part https://github.com/apache/incubator-seatunnel/issues/2076.

[2022-06-28 15:33] songjianet opened #2077 "[Feature][UI] Create a project and complete the basic configuration."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Create a project and complete the basic configuration.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing t

[2022-06-28 15:37] songjianet commented on #2076
ref [#1947](https://github.com/apache/incubator-seatunnel/issues/1947)

[2022-06-29 01:16] wl3207601 commented on #2006
#2054
thanks, the doris1.0+ version have this problem

[2022-06-29 02:04] songjianet commented on #1947
Is ST not considering the function of theme switching?

[2022-06-29 02:11] Hisoka-X commented on #2059
Close by #2060

[2022-06-29 02:11] #2059 closed, assigned to nobody

[2022-06-29 02:15] Hisoka-X commented on #2027
Can I close this issue, cause #2052 already merged?

[2022-06-29 07:45] Emor-nj commented on #1946
I can work for hudi Source and Sink Connector. thx

[2022-06-29 07:55] 2013650523 opened #2081 "[Bug] [seatunnel-flink-new-connector-example] Caused by: java.lang.IllegalArgumentException: Cannot convert type to class"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I use the new API connector, Fake source   to  jdbc sink .    whern I run seatunnel-flink-new-connector-example, application report a error ,Caused by: java.lang.IllegalArgumentException: Cannot convert

[2022-06-29 09:58] EricJoy2048 commented on #1946
@Hisoka-X  Can we split file sink into `HdfsFileSink`, `LocalFileSink` and `S3FileSink` or other? I implemented `HdfsFileSink` and `LocalFileSink`, and I hope some people can implement `S3FileSink`.

[2022-06-29 10:08] Hisoka-X commented on #1946
Got it

[2022-06-29 10:35] Bingz2 opened #2084 "[Bug] [Spark Connector]Reading hive using Spark JDBC Source fails to return the correct data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Reading a hive using Spark JDBC Source fails to return the correct data, which is actually column names rather than actual data

### SeaTunnel Version

2.1.2

### SeaTunnel Config

[code]

### Running Co

[2022-06-29 11:27] lhyundeadsoul commented on #1946
I can work for tidb Source and Sink Connector. thx

Can you add Assert sink ? @Hisoka-X thx

[2022-06-29 11:30] Hisoka-X commented on #1946
Got it

[2022-06-29 16:57] hwfbest opened #2089 "[Bug] [connector-spark-jdbc-2.1.2] ClassNotFoundException: com.mysql.jdbc.Driver"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

获取mysql数据源异常

### SeaTunnel Version

2.1.2

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

cdh6.2.1
spark 2.4.0

### Java or Scala Ver

[2022-06-29 17:14] hwfbest commented on #2089
已解决，在spark的目录中添加mysql的jdbc包后，异常解决

[2022-06-30 01:32] #2073 closed, assigned to nobody

[2022-06-30 02:03] #2077 closed, assigned to nobody

[2022-06-30 02:37] LinG955 opened #2090 "[Bug] com.mysql.cj.jdbc.exceptions.CommunicationsException: Communications link failure"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

1 hour ago, I just success to Read MySQL data through JDBC and sent to the Console. But now it fails to repeat the operation.

### SeaTunnel Version

apache-seatunnel-incubating-2.1.1

### SeaTunnel Conf

[2022-06-30 02:41] LinG955 opened #2091 "[Bug] [Module Name] com.mysql.cj.jdbc.exceptions.CommunicationsException"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

One hour ago, I successfully read data from the MySQL database to the console, but now I fail to repeat the operation

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[co

[2022-06-30 02:42] #2091 closed, assigned to nobody

[2022-06-30 03:08] LinG955 commented on #2090
I changed the network so that the seatunnel in the VM cannot connect to the MySQL server on the host machine.

[2022-06-30 03:08] #2090 closed, assigned to nobody

[2022-06-30 03:44] #2089 closed, assigned to nobody

[2022-06-30 05:48] mjp27258 opened #2092 "Http Source"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

from Source Http to Kafka by spark

### SeaTunnel Version

2.1.2

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

spark-2.4

### Java o

[2022-06-30 05:56] mjp27258 opened #2093 "Consider adding dynamic parameter passing? For example, passing dynamic time parameters to source http."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

When I use seatunnel to pass dynamic parameters to the source task, I find that the current version 2.1.2 of seatunnel does not support

### Usage Scenario

_No response_

### Related iss

[2022-06-30 05:58] mjp27258 opened #2094 "Consider adding dynamic parameter passing? For example, passing dynamic time parameters to source http."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

When I use seatunnel to pass dynamic parameters to the source task, I find that the current version 2.1.2 of seatunnel does not support

### Usage Scenario

_No response_

### Related iss

[2022-06-30 06:04] #2093 closed, assigned to nobody

[2022-06-30 07:04] dijiekstra commented on #1947
Ignore these features for now. Thanks for your idea.

[2022-06-30 08:20] lhyundeadsoul opened #2097 "the new seatunnel api doc should put in `docs/en/new-connector`"
Another thing I forgot, the new seatunnel api doc should put in `docs/en/new-connector`. Please create a PR to move it @lhyundeadsoul Thanks!

_Originally posted by @Hisoka-X in https://github.com/apache/incubator-seatunnel/issues/2071#issuecomment-1170718459_

[2022-06-30 08:57] mengfeiMonica opened #2099 "[Product][Product Roadmap] Overview"
###  Target

- Support web
- Rich connectors
- Effective operation and maintenance
- More user scenarios are supported

***
### Product Roadmap

#### System

#### Datapipes

#### Connectors

***

### Related product design

#### Done
- [x] #2100
- [x] #2167

#### ToDo
- [x] #2126
- [x] #2101
- [x] #2111
- [x] #2102
### Related product discuss

- [x] #2148

[2022-06-30 09:10] mengfeiMonica opened #2100 "[Product][Product Function Design] Datapipes"
### Search before asking

- [ ] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

#### Datapipes Manage List

<img width="962" alt="image" src="https://user-images.githubusercontent.com/84299258/177902526-06783973-9a22-4e6a-bc77-93ede6a8410e.png">

<img width="577" alt

[2022-06-30 09:16] mengfeiMonica opened #2101 "[Product][Product Function Design] Monitor Management"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Monitor Overview

About datasources: minitor primary pages
![monitor](https://user-images.githubusercontent.com/84299258/175220573-da1c5abd-e5bd-483a-917a-54842c89005d.png)

### Usage Sce

[2022-06-30 09:17] mengfeiMonica opened #2102 "[Product][Product Function Design] Datasources Management:MYSQL"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Datasource list
About datasources: add/set up the datasource
![datasources_add](https://user-images.githubusercontent.com/84299258/173766841-b339f0bc-4479-4b8e-8772-5b3d20a3a2e9.png)

Abo

[2022-06-30 09:38] lhyundeadsoul commented on #2097
this can be closed

[2022-06-30 09:46] #2097 closed, assigned to nobody

[2022-06-30 12:25] jiangjialiang918 commented on #1752
The problem I have is this : Plugin class not found by name :[Hive]
hive3.12, spark3.0 ,seatunnel 2.1.2

[2022-07-01 03:48] #2034 closed, assigned to nobody

[2022-07-01 08:26] #1912 closed, assigned to lhyundeadsoul

[2022-07-01 08:43] immustard opened #2105 "[Bug] [KafkaTableStream] Kafka Source"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

source is KafkaTableStream and the schema uses the example. but the flink job error : com.fasterxml.jackson.databind.node.ArrayNode cannot be cast to com.fasterxml.jackson.databind.node.ObjectNode

### S

[2022-07-01 09:34] Hisoka-X commented on #2092
`request_params` should be string. please use string with escapes to save json map.

[2022-07-01 09:45] Hisoka-X commented on #2081
@ic4y Hi, PTAL. Thanks

[2022-07-01 09:49] EricJoy2048 opened #2109 "[Feature][Connector-V2] Email Sink Connector"
link https://github.com/apache/incubator-seatunnel/issues/1946

[2022-07-01 09:50] EricJoy2048 opened #2110 "[Feature][Connector-V2] WebHook Sink Connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Implement a WebHook Sink Connector use the SeaTunnel Sink API.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am w

[2022-07-01 10:03] ic4y commented on #2081
@2013650523 @Hisoka-X
This issue has been fixed. related https://github.com/apache/incubator-seatunnel/pull/2086

Can we close this issue

[2022-07-01 10:11] #2081 closed, assigned to nobody

[2022-07-01 10:23] mengfeiMonica opened #2111 "[Product][Product Function Design] Datasources Management:ORACLE"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Datasource list
About datasources: add/set up the datasource
set up as a source

set up as a sink

### Usage Scenario

as source & as sink

### Related issues

_No response_

### Are you

[2022-07-01 10:53] chenhu commented on #1968
good design

[2022-07-01 13:16] dijiekstra commented on #1947
The basic script management is already,  I'll focus on the development of integration with Scheduler

[2022-07-02 07:36] gleiyu opened #2114 "[Bug] [seatunnel-connector-flink-fake] Type is not supported: BigInteger"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

TableException throws when run seatunnel config below.
if i remove result_table_name parameter , the job is running well

### SeaTunnel Version

2.1.2

### SeaTunnel Config

[code]

### Running Command

[2022-07-02 09:53] songjianet opened #2115 "[Feature][UI] Add multi-language related configuration."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add multi-language related configuration.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR

[2022-07-02 10:56] EricJoy2048 commented on #2099
Thank's for your job.
Where can I found the design about how to create a job?

[2022-07-02 15:38] ruanwenjun commented on #2114
You need to use `BigInteger` rather than `bigint`

[2022-07-03 02:30] #2115 closed, assigned to nobody

[2022-07-03 02:35] zhongjiajie opened #2119 "[Feature][CI] Add some skip rule for our CI"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Since we have frontend part in our codebase, and there are not all of our change should run all CI, we should add some rule to skip some of them. such as only frontend change should not t

[2022-07-03 02:37] ruanwenjun commented on #2114
Sorry, I check the doc again, you can use both bigint and biginteger, there is a bug with fake source.

[2022-07-03 04:33] #2114 closed, assigned to gleiyu

[2022-07-03 07:57] EricJoy2048 commented on #2119
Yes, I agree with you. And I will submit a pr to fix it.

[2022-07-03 14:40] mjp27258 commented on #2092
3ks

[2022-07-03 14:40] #2092 closed, assigned to nobody

[2022-07-04 03:27] chocolateBlack opened #2122 "Configuration key 'auth' is set to null but expected STRING"
does redis sink must set auth properties?

I config  a  hive to redis job,  config file shows blew. I got an error " Application diagnostics message: User class threw exception: org.apache.seatunnel.shade.com.typesafe.config.ConfigException$Null: hive2redis.conf: 74: Configuration key 'auth' is set to null but expected STRING"

`env {
  spark.app.name = "SeaTunnel"
  spark.executor.instances = 1

[2022-07-04 03:49] #2119 closed, assigned to nobody

[2022-07-04 13:09] mengfeiMonica opened #2126 "[Product][Product Function Design] Datasources Manager"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

#### Datasource List[^default page]

![image-20220704200510246](/Users/mengfei/Library/Application Support/typora-user-images/image-20220704200510246.png)

- Create a datasource click "ad

[2022-07-04 13:31] lhyundeadsoul opened #2127 "[DISCUSS][New API][WIP] Some code suggestion"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

There are some code suggestions for implementing the `new connec

[2022-07-05 01:33] 2013650523 commented on #2109
Do you mean to send the read data content to the mail in the form of Excell table?

[2022-07-05 01:48] 2013650523 commented on #1946
Can you assign me to Email  Sink.thx

[2022-07-05 01:49] 2013650523 commented on #2109
Can you assign me to Email Sink.thx

[2022-07-05 01:53] Hisoka-X commented on #2127
@ashulin Hi, PTAL

[2022-07-05 01:55] Hisoka-X commented on #2122
`'auth' is set to null but expected STRING"` so you should put your password in this field. check https://seatunnel.apache.org/docs/2.1.2/connector/sink/Redis

[2022-07-05 04:30] lhyundeadsoul commented on #2127
leave a message

[2022-07-05 05:10] EricJoy2048 commented on #2109
Yes, of course. Welcome.

[2022-07-05 05:14] EricJoy2048 commented on #2109
cc @Hisoka-X

[2022-07-05 06:15] EricJoy2048 opened #2129 "[Connector-V2]Add S3 File Sink Connector"
link https://github.com/apache/incubator-seatunnel/issues/1946

The S3 of `FileSink` can  be implemented by imitation to `connector-file-local` and `connector-file-hadoop`.

[2022-07-05 06:16] EricJoy2048 opened #2130 "[Connector-V2] Add orc FileFormat for File Sink Connector"
link https://github.com/apache/incubator-seatunnel/issues/1946

Now the FileSink Connector only support `text` file format, `ORC` is a very common file format and it often used in hive. We need support `ORC` file format.

Some help information:
`HdfsTxtTransactionStateFileWriter` and `LocalTxtTransactionStateFileWriter` are the `text` file format implement. They all extends the class `AbstractTran

[2022-07-05 08:34] san346596324 commented on #2105
+1,2.11 no problem

[2022-07-05 08:35] immustard commented on #2105
您好，您的邮件已经收到。

[2022-07-05 09:59] EricJoy2048 opened #2133 "[Connector-V2]Add CSV file format for File Sink Connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

link https://github.com/apache/incubator-seatunnel/issues/1946

Now the FileSink Connector only support text file format, `CSV` is a very common file format and it often used in hive. We

[2022-07-05 12:38] dijiekstra opened #2134 "[DISCUSS][seatunnel-server] discuss about web ui design"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Hi guys, we plan to reivew the [Product desgin document](https://github.com/apache/incubator-seatunnel/issues/2099) on July 12, 2022. If you are interested, please come and join us. The c

[2022-07-05 13:22] songjianet opened #2135 "[Feature][UI] Add theme-related configuration."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add theme-related configuration.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Co

[2022-07-06 00:58] immustard commented on #2105
yep, it's no problem in v2.1.1

[2022-07-06 01:59] lhyundeadsoul commented on #2127
cc @ruanwenjun @CalvinKirs

[2022-07-06 02:32] Hisoka-X commented on #2105
I got, the reason is we replace fastjson by jackson, so if your schema is list not object, the convert will report exception, I will fix it. Thanks for report.

[2022-07-06 02:40] ashulin commented on #2127
`org.apache.seatunnel.api.source.SourceSplitEnumerator.Context` `#assignSplit` and `#signalNoMoreSplits` is behavior belonging to `SourceSplitEnumerator`. These behaviors are in the context to mask their internal implementation, and I don't have a better way to implement this.
In my opinion, `SourceSplitEnumerator.Context#registeredReaders` can't return instances of the readers, because it may mis

[2022-07-06 02:48] Hisoka-X commented on #2105
Did you try use list schema in 2.1.1, is it work fine?

[2022-07-06 02:59] ashulin commented on #2127
Serializer doesn't need to be Serializable, it won't be transmitted over the network.

I agree with you. In current usage scenarios, it's serialization is not required.

[2022-07-06 03:09] ashulin commented on #2127
You have a point there. At the moment, the name is lead to ambiguity. You're welcome to contribute it.

[2022-07-06 03:20] ashulin commented on #2127
`SourceSplitEnumerator#snapshotState` and `SourceReader#snapshotState` are different.
`SourceSplitEnumerator` assumes the role of coordinator, which may require information beyond the snapshot split.
`SourceReader` is designed to only need splits to run, so the snapshot returns `List<SplitT>`.

[2022-07-06 03:27] lhyundeadsoul commented on #2127
In my option, `SplitT` is the type of `SourceSplit`, not the State of `checkpoint`,  I wonder if `List<StateT>` is more appropriate?

[2022-07-06 03:45] lhyundeadsoul commented on #2127
OK. We can do it this way for now.

[2022-07-06 03:55] ashulin commented on #2127
The `List<SplitT>` returned by `SourceReader#snapshotState` will be added to `SourceSplitEnumerator#addSplitsBack`. This is to run normally when the parallelism of the source is changed, so the state of the reader needs to be able to be converted to split.

To avoid ambiguity, we can add
[code]
and `SourceReader#snapshotState` return `List<SourceSplitState>`.

[2022-07-06 05:21] zzzzzzzs opened #2138 "The simple example of contribution location on the official website has not been updated"
Official website address: https://seatunnel.apache.org/zh-CN/docs/2.1.2/contribution/setup

### What happened
The simple example of contribution location on the official website has not been updated. So I have updated the document and submitted a PR.

### SeaTunnel Version

dev

### Screenshots
![image](https://user-images.githubusercontent.com/25766626/177472307-5b897f83-4c61-42ed-8c8f-ccfe88dba5

[2022-07-06 05:57] gaozhenfeng1 opened #2140 "[Feature][Module Name] Is there any way to monitor data traffic in real time?"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Is there any way to monitor data traffic in real time?

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [x] Yes I am willing t

[2022-07-06 07:42] Hisoka-X commented on #2138
Close by #2139

[2022-07-06 07:42] #2138 closed, assigned to nobody

[2022-07-06 07:45] Hisoka-X commented on #2140
You can just use flink/spark metrics plan at now.

[2022-07-06 07:52] EricJoy2048 opened #2142 "[Flink][seatunnel-translation] Support Flink1.14 Engine"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add `seatunnel-translation` code to support the Flink engine version 1.14.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [

[2022-07-06 08:09] lhyundeadsoul commented on #2127
Now I see what you mean.
You also think `#assignSplit` and `#signalNoMoreSplits` should belong to `SourceSplitEnumerator`, but you don't want every subclass of `SourceSplitEnumerator` has to implement `#assignSplit` and `#signalNoMoreSplits` (because it has some common logic) .
Am I right?

If so, in my opinion, there is a solution that may help.
1. move `#assignSplit` and `#signalNoMoreSplits` to

[2022-07-06 09:03] chocolateBlack commented on #2122
there is no password config to the redis。 I found It was a bug  and fixed in new version。
org.apache.seatunnel.spark.sink.Redis line 41：
from
`auth =  config.getString(AUTH),`
to
`auth = if (config.getIsNull(AUTH)) null else config.getString(AUTH),`

[2022-07-06 09:03] #2122 closed, assigned to nobody

[2022-07-06 10:33] ashulin commented on #2127
@lhyundeadsoul You can see the `translation` module, The interaction between SourceSplitEnumerator and SourceReader requires an intermediate class (Flink 1.14 hides RPC in Context), which cannot be solved by using abstract classes.

[2022-07-06 12:49] #2135 closed, assigned to nobody

[2022-07-07 02:59] ashulin commented on #2142
Currently, each new version of engine support needs to add a `translation` and `starter` module.
The `starter` module is more coupled with the old API and may need to be refactoring.

[2022-07-07 05:38] immustard commented on #2105
yes, it's work fine in 2.1.1

[2022-07-07 06:23] mengfeiMonica opened #2148 "[Product][Propose] Propose List"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

1. How to design useraccount sign in logic?
2. How to manage useraccunt?

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X]

[2022-07-07 06:52] wangscsgit commented on #2134
Hello, I implemented the Web UI in my project. Considering the complexity of the command line, including management, running, scheduled tasks, and most importantly, it is inconvenient for non-programmers to use.
My UI design can be used as long as you can use SQL to configure tasks and use them smoothly. My UI has been put into use in my company's production environment, making it very convenient

[2022-07-07 10:38] zhangyuge1 opened #2149 "[Bug] [KafkaStreamTable] Could not find a suitable table factory for 'org.apache.flink.table.factories.TableSourceFactory' in the classpath."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

![image](https://user-images.githubusercontent.com/49311144/177754124-f1eb4a1d-6550-44bf-a35c-f5e2fa2ca23d.png)
![image](https://user-images.githubusercontent.com/49311144/177754169-32233337-0667-4169-93

[2022-07-08 02:05] mengfeiMonica commented on #2099
please click here: https://github.com/apache/incubator-seatunnel/issues/2100

[2022-07-08 02:43] chocolateBlack opened #2150 "[Feature][Redis Sink] Achieve a Redis Sink which there is no similar function of "info replication""
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

There is a self-achieved Redis Proxy base on Codis-Proxy, which is not able to use "info replication" command.
so when writing data to Redis throught this Redis Proxy, there will be error

[2022-07-08 08:24] adudu137 commented on #2149
What is your sample data？

[2022-07-08 08:34] h472591847 commented on #2018
Excuse me, how can I add dependencies: flink-connector-jdbc_xxxx  in kubernetes

[2022-07-08 08:46] h472591847 opened #2152 "I ran into problems when deploying JdbcSource to collect data in kubernetes"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I ran into problems when deploying  JdbcSource to collect data in kubernetes,
Is it related to JDBC connector dependencies? How do I add JDBC dependencies

[code]

[2022-07-08 09:02] adudu137 commented on #2149
是不是缺少了org.apache.flink.table.factories.TableSourceFactory类，所以对应的应该是flink连接JDBC的包。去官网上下载你对应flink版本的连接JDBC的包

[2022-07-08 09:06] zhangyuge1 commented on #2149
我用的是Kakfa Connector，数据类型是csv

[2022-07-08 09:11] adudu137 commented on #2152
报错的信息直接翻译过来是，你现在注册的比之前注册的多一个jar包，是不是作业配置多配置了一个重复路径
Caused by: java.lang.IllegalStateException: The library registration references a different set of library BLOBs than previous registrations for this job:
old:[file:/opt/seatunnel/connectors/flink/seatunnel-connector-flink-jdbc-2.1.2.jar]
new:[file:/opt/seatunnel/connectors/flink/seatunnel-connector-flink-jdbc-2.1.2.jar, file:/opt/seatunnel/connec

[2022-07-10 07:49] wry13172 opened #2154 "Sink Jdbc duplicateIncs Error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

**Description**

## duplicateIncs [string]
Configure when `saveMode` is specified as `update` , and when the specified key conflicts, the value is updated to the existing value plus the original value

t

[2022-07-11 05:48] gaaraG opened #2156 "[Bug] [connector-v2] When outputting data to clickhouse, a ClassCastException was encountered"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

A ClassCastException occurs when reading from clickhouse to clickhouse using Flink.
In the field type mapping, it will be mapped according to the priority, according to the priority mapping to the wrong

[2022-07-11 09:25] CalvinKirs opened #2161 "[OnlineMeeting&July12]SeaTunnel community meeting Topic collect"
CalvinKirs invites you to a meeting on Tencent Meeting
Meeting Topic: SeaTunnel Community Meeting
Meeting Time: 2022/07/12 20:00-20:30 (GMT+08:00) China Standard Time - Beijing

Click the link to join the meeting or to add it to your meeting list:
https://meeting.tencent.com/dm/mdGWRTKjqkUp

#TencentMeeting：898-877-447

Copy this invitation and open in Tencent Meeting app (V2.13 or later) to join

[2022-07-11 09:25] CalvinKirs commented on #2161
#1947

[2022-07-11 10:53] youyangkou opened #2163 "[Bug] [seatunnel-core] Failed to get APP_DIR path"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Failed to get APP_DIR path when using Nested "$" in this shell scripts occasionally
The shell scripts are：
"start-seatunnel-flink.sh"
"start-seatunnel-flink-new-connector.sh"
"start-seatunnel-spark.sh"
"

[2022-07-11 10:55] youyangkou opened #2164 "[Bug] [seatunnel-core] Failed to get APP_DIR path"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Failed to get APP_DIR path when using Nested "$" in this shell scripts occasionally
The shell scripts are：
"start-seatunnel-flink.sh"
"start-seatunnel-flink-new-connector.sh"
"start-seatunnel-spark.sh"
"

[2022-07-11 12:46] legendtkl commented on #1954
hi, @EricJoy2048 , what's the conclusion of this proposal?

Would you help add a comment to let githuber-not-in-mail developer have knowledge about this?

Thanks.

[2022-07-12 05:02] mengfeiMonica opened #2167 "[Product][Product Function Design] User Manage"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

#### User Manage

<img width="727" alt="image" src="https://user-images.githubusercontent.com/84299258/178413702-e887e139-050a-4ed0-b601-8a12d18d8513.png">

#### User Manage - create page

[2022-07-12 06:42] EricJoy2048 commented on #1954
I'm glad you're following this proposal. After email discussion the community accepted this proposal. Recently, I discussed with some community contributors and have some basic design about the `st-engine`. We will share the design and discuss it at the weekly meeting tonight. If you are interested, you are welcome to attend the meeting tonight.

Thank you.

[2022-07-12 07:16] wuxizhi777 commented on #2133
I want try it ,assign to me.

[2022-07-12 09:04] VictorZeng commented on #2105
Hi, Why use Jackson to replace fastjson?

[2022-07-12 09:16] Hisoka-X commented on #2105
Different json frameworks have been used in the project before. For unification, we chose jackson.

[2022-07-12 10:46] ic4y commented on #2161
st-engine related design

[2022-07-12 10:47] CalvinKirs opened #2169 "[DISCUSS] SeaTunnel RoadMap"
Hello everyone, in the rapid development of the community, we have successively discussed major features such as unified API, core engine discussion (TBD), WebService & UI, so I will list them. If you have anything to add, you are welcome to discuss.

- 1: E2e(endpoint to endpoint) for connectors v2
- 2: Web Services #2134
- 3: Support for multiple versions of the underlying engine (Spark 3.X & Fl

[2022-07-12 10:54] CalvinKirs commented on #2161
#2169

[2022-07-12 11:24] Hisoka-X commented on #2105
Close by #2168

[2022-07-12 11:24] #2105 closed, assigned to Hisoka-X

[2022-07-12 11:58] Hisoka-X commented on #2156
Close by #2160

[2022-07-12 11:58] #2156 closed, assigned to nobody

[2022-07-12 16:16] #2163 closed, assigned to nobody

[2022-07-13 01:00] mangoGoForward commented on #1716
[WeOpen Star]I would like to help

[2022-07-13 02:09] Hisoka-X commented on #2164
Close by #2165

[2022-07-13 02:09] #2164 closed, assigned to youyangkou

[2022-07-13 02:12] Hisoka-X commented on #2152
Hi, this is bug in 2.1.2. already fixed in dev. You can try use dev version

[2022-07-13 02:13] #2152 closed, assigned to nobody

[2022-07-13 07:03] CalvinKirs opened #2171 "[Feature]Connectors e2e test"
SeaTunnel contains a large number of Connectors, and the basic UT cannot perform system testing in a real environment, so we introduced the `seatunnel-e2e` module for testing
 e2e automated testing, we are based on `Testcontainers` to complete the testing of various Connectors.

About Testcontainers (https://www.testcontainers.org/)
Testcontainers is a Java library that supports JUnit tests, provi

[2022-07-13 08:14] TyrantLucifer commented on #2130
I want to try it

[2022-07-13 08:16] TyrantLucifer commented on #2110
I want to try it.

[2022-07-13 09:59] #2161 closed, assigned to nobody

[2022-07-13 10:54] mengfeiMonica opened #2172 "[Product][Product Function Design] sign in and sign out"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

<img width="1066" alt="image" src="https://user-images.githubusercontent.com/84299258/178717165-46c566fa-c8f8-44a0-80f8-0a40c75213fb.png">

about manage:

<img width="981" alt="image" src

[2022-07-13 12:46] eyys commented on #2171
@CalvinKirs Hello, can you assign me the source for Kafka? I want to try it.

[2022-07-13 17:39] zhangyuge1 commented on #2171
@CalvinKirs Hello, I want to try the source and sink for jdbc. Can you assign them to me?

[2022-07-14 00:11] dik111 commented on #2169
Where can I find progress about spark 3.x support ?

[2022-07-14 02:47] Hisoka-X commented on #2127
Close by #2144

[2022-07-14 02:47] #2127 closed, assigned to nobody

[2022-07-14 08:15] EricJoy2048 commented on #2130
Thank you.

[2022-07-14 08:15] EricJoy2048 commented on #2110
Ok

[2022-07-14 08:30] lhyundeadsoul opened #2173 "Tidb Source and Sink Connector."
I can work for tidb Source and Sink Connector. thx

_Originally posted by @lhyundeadsoul in https://github.com/apache/incubator-seatunnel/issues/1946#issuecomment-1169865090_

[2022-07-14 08:31] h472591847 commented on #2152
THX,I'm going to have a try at it

[2022-07-14 08:38] Hisoka-X commented on #2149
Seem like this problem happened when spilt connector jar from core jar. Then flink can't find right kafka factory implement class when use SPI. We should checkout why flink can't find kafka source factory after connector jar splited. If you want use kafka you can use 2.1.1. Also can help us to fix it.😁

[2022-07-14 11:05] songjianet opened #2176 "[Feature][UI] Add routes configuration."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add routes configuration.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of C

[2022-07-14 11:14] #2176 closed, assigned to nobody

[2022-07-14 13:32] dinggege1024 commented on #2171
@CalvinKirs Hello, can you assign me the sink for Kafka? I want to try it.

[2022-07-14 14:29] TyrantLucifer commented on #2110
@CalvinKirs Can you assign it to me? Thank you!

[2022-07-14 14:29] TyrantLucifer commented on #2130
@CalvinKirs Can you assign it to me? Thank you!

[2022-07-15 08:51] zhangyuge1 opened #2181 "[Bug] [seatunnel-connectors-v2 /connector-jdbc] Plugin PluginIdentifier{engineType='seatunnel', pluginType='sink', pluginName='JdbcSink'} not found."
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I wrote an e2e test for sink of jdbc, and an error has occurred

![image](https://user-images.githubusercontent.com/49311144/179189676-ca3c581f-2354-48b0-a607-cc0ba07f098c.png)

### SeaTunnel Version

de

[2022-07-15 08:55] lhyundeadsoul commented on #2173
@Hisoka-X What feature do we need in Tidb connector while JDBC connector can not support?

[2022-07-15 09:09] lhyundeadsoul commented on #2181
I ran into the same problem.
Could you have a look? @ic4y

[2022-07-15 09:14] lhyundeadsoul commented on #2181
@zhangyuge1 your config is wrong

`JdbcSink `should be `Jdbc` (refer to `org.apache.seatunnel.connectors.seatunnel.jdbc.sink.JdbcSink#getPluginName`)
But even that won't work

[2022-07-15 09:14] Hisoka-X commented on #2173
Do what you can! We hope our connector can be best in the future, but it will spend lots of time. Simple but can work are great. Then you can make this connector better in you way.

[2022-07-15 09:18] lhyundeadsoul commented on #2173
Yes, I think so.
But, it is almost the same as JDBC connector now. There is no new feature detected.

[2022-07-15 09:22] Hisoka-X commented on #2173
Both source and sink? Any method to make write/read faster?

[2022-07-15 09:23] EricJoy2048 commented on #2110
cc @Hisoka-X

[2022-07-15 10:19] ic4y commented on #2181
First, PluginName should be Jdbc not JdbcSink. @lhyundeadsoul is right.
Secondly, if it is running under the examples module, you need to add the connector-jdbc dependency to the pom

[2022-07-15 10:28] zhangyuge1 commented on #2181
I changed the JdbcSink to Jdbc, but it still doesn't work. And e2e test is using jdbc connector jar package

[2022-07-15 10:30] zhangyuge1 commented on #2181
![image](https://user-images.githubusercontent.com/49311144/179206076-0624db1d-8746-439c-873b-f9e2737169bc.png)

[2022-07-15 10:40] lhyundeadsoul commented on #2181
I met the same problem right now, and I restart IDEA and reimport maven, and It works! It's tricky.

and `username` should be `user`
( @ic4y this is different with the doc https://seatunnel.apache.org/docs/2.1.2/connector/sink/Jdbc , Which may be incompatible with the previous version I think. )
and root pom.xml:330 `mysql-connector-java` test scope should be deleted.

That's my solution now.

[2022-07-15 12:27] zhangyuge1 commented on #2181
@lhyundeadsoul Following your method I encountered a new problem.
![image](https://user-images.githubusercontent.com/49311144/179222790-86bf73a1-0d2c-473e-9271-e9359b761998.png)
![image](https://user-images.githubusercontent.com/49311144/179222846-1a0a11cd-b0d5-428c-bf42-0ca807127206.png)

[2022-07-15 12:31] zhangyuge1 commented on #2181
This is probably because there is no mysql-connector-java dependency？But  test scope has been deleted.

[2022-07-15 13:22] songjianet opened #2182 "[Feature][UI] Add login page."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add login page.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-07-15 15:41] EricJoy2048 commented on #2173
I have an idea, Can we add a TiDB sink which write data to TiDB by `load data`. I think this is faster than writing tidb directly through JDBC.

[2022-07-16 02:19] #2182 closed, assigned to nobody

[2022-07-16 07:00] luketalent opened #2188 "[Feature][Auth] Auth Model for seatunnel"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I know the community is doing management platform，and the auth is an essential module. I am designing the auth module for seatunnel, and complete the architectural design in few days.

##

[2022-07-17 09:05] zhaomin1423 opened #2189 "[Feature][Seatunnel-translation] Support Spark3.3.x"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support spark3.3.x

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

[2022-07-17 09:06] zhaomin1423 commented on #2189
Hello, is this going on? I am interested in it. @CalvinKirs

[2022-07-18 01:59] TyrantLucifer opened #2191 "[Bug] [spark-connector-v2-example] No class found"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Running spark-connector-v2-example in idea develop environment failed, the error as the following image:

![image](https://user-images.githubusercontent.com/51053924/179434729-4c41e84e-6b0e-4eb8-a90f-e18

[2022-07-18 02:39] Hisoka-X commented on #2191
@CalvinKirs In hive-v2 connector (#2123 )changed this dependency's version and add to dependencyManagement. I think we should remove this in dependencyManagement. Then hive-v2 define the version in own pom. After this done spark's codehaus version will handle by itself.

[2022-07-18 03:22] CalvinKirs commented on #2191
+1.

[2022-07-18 06:49] lhyundeadsoul commented on #2181
delete             ` <scope>provided</scope>`
in` connector-jdbc pom`

Or try `org.apache.seatunnel.example.flink.v2.SeaTunnelApiExample`

[2022-07-18 07:13] TyrantLucifer commented on #2191
Hi, @CalvinKirs @Hisoka-X , I have submitted pr #2192,  please review. Thank you!

[2022-07-18 07:20] Hisoka-X commented on #2188
@mengfeiMonica @dijiekstra @CalvinKirs PTAL

[2022-07-18 07:43] lhyundeadsoul commented on #2173
`load data` in tidb must specify one file in local(not cluster, refer to `目前 TiDB 只支持从客户端进行数据导入，因此在导入数据时 LocalOpt 应设置成 Local` in  https://www.bookstack.cn/read/TiDB-4.0/sql-statements-sql-statement-load-data.md).
Nevertheless, in Seatunnel Context, it should implement by a file source and tidb sink.
so it's hard to combine source and sink operations in one `TiDB Sink`.

In addition, it can only su

[2022-07-18 09:23] #2191 closed, assigned to nobody

[2022-07-18 11:39] TyrantLucifer opened #2196 "[Connector-V2] Add parquet FileFormat for File Sink Connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

#1946

Now the FileSink Connector only support text file format, `PARQUET` is a very common file format and it often used in hive. We need support `PARQUET` file format.

### Usage Scenar

[2022-07-18 11:40] TyrantLucifer commented on #2196
I can do this work, could you please assign it to me? @CalvinKirs

[2022-07-18 13:37] zhangyuge1 commented on #2181
I have solved the problem. This requires adding mysql-connector to the FlinkStarter.
But there is new problem when I use jdbc source.
Caused by: java.lang.IllegalStateException: Could not find any jdbc dialect factories that implement 'org.apache.seatunnel.connectors.seatunnel.jdbc.internal.dialect.JdbcDialectFactory' in the classpath.
![image](https://user-images.githubusercontent.com/49311144/17

[2022-07-18 14:15] songjianet opened #2197 "[Feature][UI] Add dashboard layout."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add dashboard layout.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Condu

[2022-07-18 17:37] TyrantLucifer commented on #2110
Hi all guys, I think this work I should implement http sink using new connector api, right? If not, do you have some help imformation about it? @EricJoy2048 @Hisoka-X

[2022-07-18 17:53] TyrantLucifer opened #2199 "[Connector-V2] Add parquet file reader for Hive Source Connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the `parquet` reader for hive-connector source

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to su

[2022-07-19 02:01] #2197 closed, assigned to nobody

[2022-07-19 02:01] Hisoka-X commented on #2110
Yep, use new connector api to implement it.

[2022-07-19 02:32] superzhang0929 opened #2200 "[Bug] [seatunnel-connectors-spark] The files I submitted through --files can't be obtained in the code of sink"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I want to obtained the file in output method.

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[code]

### Flink or Spark Version

_No respon

[2022-07-19 02:41] superzhang0929 opened #2201 "[Bug] [seatunnel-connectors-spark] The files I submitted through --files can't be obtained in the code of sink"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The files I submitted through --files can't be obtained in the code of sink output method.

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[

[2022-07-19 02:43] superzhang0929 opened #2202 "[Bug] [seatunnel-connectors-spark] The files I submitted through --files can't be obtained in the code of sink"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The files I submitted through --files can't be obtained in the code of sink output method.

### SeaTunnel Version

2.1.1

### SeaTunnel Config

[code]

### Running Command

[code]

### Error Exception

[

[2022-07-19 02:49] CalvinKirs commented on #2200
Duplicated #2202

[2022-07-19 02:49] #2200 closed, assigned to nobody

[2022-07-19 02:50] CalvinKirs commented on #2201
Duplicated #2202

[2022-07-19 02:50] #2201 closed, assigned to nobody

[2022-07-19 06:22] gaaraG opened #2206 "[Bug] [seatunnel-api-flink] Connectors dependencies repeat additions"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

I had a bug testing a task with non-1 parallelism.
And then I tested that the dependency repeats when parallelism is 1, but only when parallelism is not 1. I don't know if this is a Flink bug or if it's

[2022-07-19 08:22] lvlv-feifei opened #2208 "[Bug] [connector] start-seatunnel-flink-new-connector.sh&&start-seatunnel-spark-new-connector.sh help bug"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The help of start-seatunnel-flink-new-connector.sh doesn't have a line break
start-seatunnel-spark-new-connector.sh does not print help normally

### SeaTunnel Version

dev

### SeaTunnel Config

[code]

[2022-07-19 09:28] ic4y opened #2210 "[STIP-3] [Server design][st-engine] st new engine server design"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

As shown below

Use Hazelcast's NodeExtension to extend the implementation of the engine, relying on Hazelcast dynamic scaling, automatic master selection, and distributed memory.
The gra

[2022-07-19 09:31] Hisoka-X commented on #2206
Close by #2207

[2022-07-19 09:31] #2206 closed, assigned to nobody

[2022-07-19 09:35] #2208 closed, assigned to lvlv-feifei

[2022-07-19 09:51] CalvinKirs commented on #2210
Could the content of your pictures be modified into English?

[2022-07-19 09:54] zhangyuge1 opened #2212 "[Bug] [org.apache.seatunnel.e2e.spark.v2.fake] java.lang.ClassNotFoundException: org.apache.seatunnel.connectors.seatunnel.fake.source.FakeSource"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

In the previous version , spark used the --jars parameter to specify the path of connectors when submitting tasks.
22/07/19 17:48:23 INFO SparkContainer: Execute SeaTunnel Spark Job: ${SPARK_HOME}/bin/sp

[2022-07-19 09:59] ruanwenjun commented on #2212
@Hisoka-X Please take a look.

[2022-07-19 10:27] ruanwenjun commented on #2212
I find we will find the v2 connectors from `spark` dir
https://github.com/apache/incubator-seatunnel/blob/c61bbdd78cea0e2dc34a18a806ba07329b2254c9/seatunnel-core/seatunnel-spark-starter/src/main/java/org/apache/seatunnel/core/starter/spark/SparkStarter.java#L224-L236
But we copy the v2 connector in `seatunnel` dir,
https://github.com/apache/incubator-seatunnel/blob/c61bbdd78cea0e2dc34a18a806ba0732

[2022-07-19 10:33] Hisoka-X commented on #2212
Yep, we should find jar in `connectors/seatunnel` dir, not `connectors/spark` dir

[2022-07-19 11:28] Hisoka-X commented on #2212
If so, why our ci always pass? @CalvinKirs @ruanwenjun 😂

[2022-07-19 11:35] songjianet opened #2215 "[Feature][UI] Add dashboard default router."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add dashboard default router.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code

[2022-07-19 11:51] #2215 closed, assigned to nobody

[2022-07-19 12:31] CalvinKirs commented on #2212
I will take a look

[2022-07-19 12:37] ruanwenjun commented on #2212
We need to use Assert sink plugin to assert the data, I remember in v1 e2e, if the job failed, the linux code is not 0.

[2022-07-19 12:54] CalvinKirs commented on #2212
![image](https://user-images.githubusercontent.com/16631152/179754966-472501c0-2805-4705-976b-ab8755e3dcbb.png)
yup,

[2022-07-19 14:03] songjianet opened #2217 "[Feature][UI] Add the header component in the dashboard layout."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the header component in the dashboard layout.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to sub

[2022-07-19 14:16] #2217 closed, assigned to nobody

[2022-07-19 14:56] ruanwenjun commented on #2212
I change the submit jar logic in SparkStarter, and now the jar can submit to spark by --jars
[code]
But still get error
[code]
This is caused by we use find the plugin jar at path, and we use `URLClassloader` to load the class, so we cannot deserialize the plugin class, since the plugin class is only load by the `URLClassloader`, this can be fixed by #2193.

BTW, we need to change the `getConnecto

[2022-07-20 04:07] Hisoka-X commented on #2212
I find this bug doesn't cause by jar loading(because I tested by use code #2193, it's not work). This is problem `SerializationUtils.deserialize` can't work correctly on spark. Check this: https://www.mail-archive.com/user@commons.apache.org/msg11765.html .So I think maybe we should  create a deserialize tool by ourself or modify common.lang3 source code.

[2022-07-20 04:17] CalvinKirs commented on #2212
Thanks for your feedback, Modifying the source code isn't an ideal solution, is there any other version of ` commons-lang` that can solve this problem?  or we take the first solution.

[2022-07-20 04:19] CalvinKirs commented on #2169
hi, here #2189

[2022-07-20 06:31] lhyundeadsoul commented on #2212
I met a similar e2e error in which there is no LocalFile Sink ClassNotFoundException: https://github.com/apache/incubator-seatunnel/pull/2214#issuecomment-1189873125
This block my PR CI. So if you guys fix this, please let me know. Thx.

[2022-07-20 11:21] Hisoka-X commented on #2212
Hi @lhyundeadsoul already fixed on #2221

[2022-07-20 11:34] Hisoka-X opened #2222 "[Bug] [Doc] SeaTunnel website have deadLink"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The `concept/Intro to config file` page in seatunnel website have some link to connector. But it's not work at now. We need fix it.
![image](https://user-images.githubusercontent.com/32387433/179972056-f

[2022-07-20 11:37] songjianet opened #2224 "[Feature][UI] Add the setting dropdown in the dashboard layout."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the setting dropdown in the dashboard layout.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to sub

[2022-07-20 11:46] #2224 closed, assigned to nobody

[2022-07-20 11:52] PrajwalBorkar commented on #2222
I like to work on this issue. I think these links [source of tunnel](https://seatunnel.apache.org/docs/2.1.2/category/source) & [supported links](https://seatunnel.apache.org/docs/2.1.2/category/sink) should be replaced.

[2022-07-20 11:56] Hisoka-X commented on #2222
Great, I assgined to you

[2022-07-20 11:58] PrajwalBorkar commented on #2222
Are these links are correct so I can replace also for transform what should be replacement?

[2022-07-20 12:08] Hisoka-X commented on #2222
Maybe you can create a new page about all transform like this: https://seatunnel.apache.org/docs/2.1.2/category/source. Or just use transform common options page.

[2022-07-20 13:25] PrajwalBorkar commented on #2222
The links are correct in github just it is not pointed to specific file. Instead of that it is pointed to folder and here https://seatunnel.apache.org/docs/2.1.2/category/source  path has category folder instead of connector. But Im not able to change to category in github.

[2022-07-20 13:28] Hisoka-X commented on #2222
Hi, @CalvinKirs  Can you help for this?

[2022-07-20 14:13] songjianet opened #2227 "[Feature][UI] Add the user dropdown in the dashboard layout."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the user dropdown in the dashboard layout.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit

[2022-07-20 14:28] #2227 closed, assigned to nobody

[2022-07-20 14:45] CalvinKirs commented on #2222
I'm sorry, but I'm not familiar with it. @zhongjiajie  Do you have any suggestions

[2022-07-20 15:46] zhaomin1423 commented on #2189
we can change the project structure in seatunnel-translation-spark, because there are some common class using by different spark version. So, firstly, I want to add a seatunnel-translation-spark/seatunnel-translation-spark-common module. what do you think？ @CalvinKirs

[2022-07-20 15:47] zhaomin1423 commented on #2189
I will raise a umbrella issue about support spark-3.x.

[2022-07-20 18:35] TyrantLucifer opened #2229 "[Connector-V2] [Hive connector] text file schema error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When hive connector read text file, the schema of the records generated by the hive connector is not consistent with the defined:

the schema defined is :
![image](https://user-images.githubusercontent.c

[2022-07-20 18:40] TyrantLucifer commented on #2229
pr #2230 , please review @CalvinKirs  @Hisoka-X , thank you!

[2022-07-21 03:14] lhyundeadsoul commented on #2212
Assert Sink plugin has already been supported in v2 connector and e2e. @ruanwenjun

[2022-07-21 04:34] TyrantLucifer commented on #2229
Fixed #2230

[2022-07-21 04:34] #2229 closed, assigned to nobody

[2022-07-21 09:53] lhyundeadsoul commented on #2173
According to @ic4y advice, https://github.com/apache/incubator-seatunnel/pull/2219#issuecomment-1191099404 If TiDB connector is almost similar to JDBC connector, that will be tough to maintain. I agree with him.

 There seems no further feature in connector-v1 TiDB connector either.

Do you have any idea about TiDB connector features that are beyond JDBC connector? @Hisoka-X @EricJoy2048 @CalvinKi

[2022-07-21 10:07] Hisoka-X commented on #2173
I agree with remove it. Thanks for your contribute.

[2022-07-21 10:30] Hisoka-X commented on #2202
Can you provide your full log? I want check the file already upload to container or not.

[2022-07-21 11:48] #2212 closed, assigned to nobody

[2022-07-21 12:18] #2173 closed, assigned to lhyundeadsoul

[2022-07-21 13:09] songjianet opened #2233 "[Feature][UI] Add the table in the user manage."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the table in the user manage.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### C

[2022-07-21 16:18] TyrantLucifer opened #2235 "[Connector-V2] [Hive connector] file list should not contain '_SUCCESS' file"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

When hive connector scan hdfs dirs and put file in list, it will not filter the '_SUCCESS' file that usually generated by spark. It will lead to cause the task failed.

![image](https://user-images.githu

[2022-07-21 16:29] TyrantLucifer commented on #2235
pr #2236 , @Hisoka-X  @CalvinKirs please review, thank you!

[2022-07-21 16:43] TyrantLucifer commented on #2199
pr #2237 ,  @Hisoka-X  @CalvinKirs please review, thank you!

[2022-07-21 16:56] TyrantLucifer commented on #2171
@CalvinKirs Please assign me the sink and the source of Hive,HdfsFile,LocalFile,Http,Socket. I can do these works.

[2022-07-22 01:51] #2235 closed, assigned to nobody

[2022-07-22 01:53] TyrantLucifer commented on #2171
BTW, also sink @CalvinKirs

[2022-07-22 02:51] TyrantLucifer opened #2238 "[Feature][Hive-connector-V2] Add file type check logic"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now read strategy unified file check result is true, we should implement the check logic in different read strategy.

![image](https://user-images.githubusercontent.com/51053924/180352409

[2022-07-22 03:53] #2233 closed, assigned to nobody

[2022-07-22 04:50] #1312 closed, assigned to nobody

[2022-07-22 08:03] itcrazy0918 opened #2240 "[Source][Ftp Source] Add Ftp Source Support Feature"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

It is hoped that seatunnel can add a new plug-in to support FTP data source reading, support full reading and incremental reading of FTP files Like Flume, and support writing to the speci

[2022-07-22 08:30] itcrazy0918 opened #2241 "[jdbc][jdbc parameter] Muilt Table Sync Use same jdbc connection properties"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

The database connection information in the JDBC source table & sink table needs to be written repeatedly, and cannot be configured only once

suggest Solution: extract it into env module

[2022-07-22 08:43] itcrazy0918 commented on #2169
data quality : Synchronous data volume recording and comparison
metadata：Metadata is automatically discovered and configuration files are generated

[2022-07-22 11:14] EricJoy2048 opened #2244 "[Connector-V2] Add Sentry Sink Connector"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

https://sentry.io/welcome/

Sentry is a Application monitoring and Error Tracking software.

Here is some doc can help to add sentry sink connector.
https://docs.sentry.io/platforms/java/

[2022-07-22 11:14] EricJoy2048 commented on #2244
@CalvinKirs  @Hisoka-X  please add it to https://github.com/apache/incubator-seatunnel/issues/1946

[2022-07-22 14:26] zhangyuge1 opened #2245 "[Bug] [FakeSource Connector]java.sql.BatchUpdateException: Incorrect string value: '\xAC\xED\x00\x05sr...' for column 'name' at row 1"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

when I use jdbc sink, an error has occurred.
![image](https://user-images.githubusercontent.com/49311144/180460212-087db632-a0e8-4c93-b78c-65c580738818.png)
String sql = "CREATE TABLE test (\n" +

[2022-07-22 15:10] songjianet opened #2246 "[Feature][UI] Add the table in the data pipes."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the table in the data pipes.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Co

[2022-07-22 22:44] zhaomin1423 commented on #2245
you can add `CHARSET = 'utf8mb4'` when creating mysql table.

[2022-07-22 22:59] zhaomin1423 opened #2248 "[Feature][seatunnel-translation] Add spark-common module to implement support spark multiple version"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add spark-common module to implement support spark multiple version

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I

[2022-07-23 05:52] #2246 closed, assigned to nobody

[2022-07-23 11:30] zhangyuge1 commented on #2245
It still doesn't work.
String sql = "CREATE TABLE test (\n" +
                "  name varchar(255) NOT NULL,\n" +
                "  age int NOT NULL\n" +
                ") ENGINE=InnoDB DEFAULT CHARSET=utf8mb4";

[2022-07-24 02:59] 2013650523 commented on #2169
CDC connector ,Is there a big man doing it?  I'm kind of interested in this, implementing the CDC connector on the new connector?

[2022-07-24 09:45] 2013650523 commented on #1947
@dijiekstra I wanna join, how do I start??

[2022-07-24 09:59] CalvinKirs commented on #2169
Could you submit an issue calling on everyone to do it, you can start with a simple design.

[2022-07-24 14:23] MRYOG opened #2257 "[Feature][Connector] Add Dingtalk Sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add Dingtalk Source code ,Can consumer Dingtalk message

### Usage Scenario

User can get Dingtalk message and used

### Related issues

_No response_

### Are you willing to submit a PR?

[2022-07-25 02:11] EricJoy2048 commented on #2257
@MRYOG  Are you meaning connector-v2?

[2022-07-25 02:12] EricJoy2048 commented on #2257
cc @Hisoka-X

[2022-07-25 02:34] MRYOG opened #2258 "[Feature] [SeaTunnel] Delete .idea directory"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

.gitignore file found .idea and .idea/* , but project already have .idea directory
If the user clone project for the first time , user can not find package and  must be deleted manually to compile

### S

[2022-07-25 02:37] EricJoy2048 commented on #2240
What kink of connector do you want to implement? Flink Connector or Spark Connector or SeaTunnel Connector V2?

[2022-07-25 03:00] CalvinKirs commented on #2258
What you need to deal with is the gitingore file.

[2022-07-25 03:02] CalvinKirs commented on #2258
https://github.com/apache/incubator-seatunnel/pull/2117/files#diff-bc37d034bad564583790a46f19d807abfe519c5671395fd494d8cce506c42947R16  This PR incorrectly modifies the gitignore file, just restore it.

[2022-07-25 03:03] CalvinKirs commented on #2258
please modify your PR title.thx

[2022-07-25 03:22] Saintyang commented on #2244
I can work for this issue

[2022-07-25 03:26] Hisoka-X commented on #2244
Great, I assgined to you.

[2022-07-25 03:37] EricJoy2048 opened #2260 "[ST-Engine][engine-client] Add engine client"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

From this issue https://github.com/apache/incubator-seatunnel/issues/2210 we can know . SeaTunnel Engine will build cluster management and service communication based on hazelcast. In haz

[2022-07-25 05:56] Hisoka-X commented on #2258
![image](https://user-images.githubusercontent.com/32387433/180707765-0a34510f-3cb5-4171-8c46-cb015d76d898.png)
@CalvinKirs  also should delete `.idea` file

[2022-07-25 05:57] EricJoy2048 opened #2261 "[STIP-4] [ST-Engine][LogicalPlan] Generate LogicalPlan from JobConfig file"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

We define job pipeline by job config file, So the first thing the SeaTunnelClient need to do parse the job config file and generate the action list. `action` is similar to the `operator`

[2022-07-25 06:15] CalvinKirs commented on #2258
https://github.com/apache/incubator-seatunnel/pull/805 you can refer this.

[2022-07-25 06:36] stormrise opened #2262 "[Feature][connector] clickhousefile sink connector support non-root username for fileTransfer"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

it's common using non-root user for production server for security reason

so it is necessary support non-root user for fileTransfer scp or rsync.

### Usage Scenario

_No response_

###

[2022-07-25 10:41] MRYOG commented on #2258
I think .idea directory ,it is a local cache directory , if commit need some VCS ,  it should be in the doc/Contribution/Set Up Develop Environment . tell developer need config VCS .

[2022-07-25 11:20] #2258 closed, assigned to MRYOG

[2022-07-25 12:23] 2013650523 commented on #1946
I can work for Apache pulsar sink connector.thx.

[2022-07-25 12:33] 2013650523 commented on #1946
I can work for s3 Sink Connector. thx

[2022-07-25 12:39] CalvinKirs commented on #1946
welcome:) assigned to you.

[2022-07-25 14:50] zhangyuge1 commented on #2171
@CalvinKirs  Can you assign me the sink and source of clickhouse? I can do them.

[2022-07-26 01:15] adudu137 commented on #2245
you can add CHARSET = 'utf8mb4' when creating mysql database.

[2022-07-26 02:14] CalvinKirs commented on #2171
yup, if you have any questions. please call me.

[2022-07-26 04:19] Hisoka-X opened #2269 "[ST-Engine][Design] The Design of LogicalPlan to PhysicalPlan"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

SeaTunnel engine will receive the logical plan sent by the client, and the engine needs to convert it into a physical plan that can be directly executed. Therefore, it is necessary to pro

[2022-07-26 11:23] hezean commented on #1716
hi @mangoGoForward what’s the status of this issue? still working on it? or can i take over it

[2022-07-26 12:23] FlechazoW commented on #1622
Has this issue been finished yet? If not, I can help.

[2022-07-26 12:30] FlechazoW commented on #2171
@CalvinKirs Can you assign me the sink and source of pulsar? I can do them.

[2022-07-26 13:34] zhongjiajie commented on #1622
hi @FlechazoW , I assigned this issue to you, FYI @joshuyaaa

[2022-07-26 13:35] FlechazoW commented on #1622
Ok, i will finish it asap.

[2022-07-26 13:43] EricJoy2048 opened #2272 "[STIP-5] [Umbrella][ST-Engine] Design And Task Tracking"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Discuss: #1954

This issue can help us tracking the design of SeaTunnelEngine.

- [x] SeaTunnel Server Design https://github.com/apache/incubator-seatunnel/issues/2210
- [x] SeaTunnel Cli

[2022-07-26 15:34] #2262 closed, assigned to nobody

[2022-07-26 16:12] TyrantLucifer commented on #2196
pr #2273 , @Hisoka-X  @CalvinKirs , please review, thank you!

[2022-07-27 00:20] ashulin opened #2274 "[STIP-6] [ST-Engine][Checkpoint] The design of Checkpoint"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### SeaTunnel Checkpoint Proposal

### Backgroud & Motivation

I think the **[[Chandy-Lamport algorithm](https://en.wikipedia.org/wiki/Chandy%E2%80%93Lamport_algorithm)](https://en.wikipedia.org/wiki/Chan

[2022-07-27 00:30] ashulin commented on #2272
Job fault-tolerant(Checkpoint): https://github.com/apache/incubator-seatunnel/issues/2274

[2022-07-27 01:17] mangoGoForward commented on #1716
Still open, you can push it if you want to contribute. @HeZean

[2022-07-27 02:39] Hisoka-X commented on #2241
This function is very similar to Hocon's Substitutions. You can refer to SeaTunnel's existing Config library to see if it can be implemented directly.

[2022-07-27 02:43] #2202 closed, assigned to nobody

[2022-07-27 02:45] EricJoy2048 commented on #2274
<img width="835" alt="image" src="https://user-images.githubusercontent.com/32193458/181148775-705332e2-d997-4a50-9cd9-aa904be3af3d.png">

Can it be like this?

<img width="881" alt="image" src="https://user-images.githubusercontent.com/32193458/181149570-4180f833-d399-4ac0-88d9-7c6428aed989.png">

[2022-07-27 02:46] #2140 closed, assigned to nobody

[2022-07-27 07:10] TyrantLucifer commented on #2133
@wuxizhi777 Is there any progress in this work? If not, I can do it.

[2022-07-27 07:21] ovasty commented on #1946
Need Apache IoTDB, thanks

[2022-07-27 07:21] FlechazoW commented on #1946
I can work for pulsar sink connector. thx

[2022-07-27 07:23] FlechazoW commented on #1946
How about add TD-engine?

[2022-07-27 07:24] EricJoy2048 commented on #1946
I think it's a good idea.

[2022-07-27 07:26] EricJoy2048 commented on #1946
cc @Hisoka-X

[2022-07-27 07:26] EricJoy2048 commented on #1946
You can welcome. cc @Hisoka-X

[2022-07-27 07:42] lhyundeadsoul commented on #1946
@EricJoy2048 @Hisoka-X @CalvinKirs
I'm already in touch with TDengine guys. So please give it to me.

[2022-07-27 07:50] ashulin commented on #2274
No, it's different. The above writer has multiple input subtasks, which is to reduce the resource usage on the sink side;

[2022-07-27 08:42] #2196 closed, assigned to TyrantLucifer

[2022-07-27 08:50] songjianet opened #2276 "[Feature][UI] Add the modal in the user manage."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the modal in the user manage.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### C

[2022-07-27 09:16] #2276 closed, assigned to nobody

[2022-07-27 12:45] 2013650523 commented on #1946
i can work for Iceberg source and sink connector. can you assign it to me?

[2022-07-27 12:58] Hisoka-X commented on #1946
Great, I assgined to you

[2022-07-27 13:36] 2013650523 commented on #2261
![image](https://user-images.githubusercontent.com/81779971/181260051-cde120da-6195-459a-b250-a2a4f5c2caa1.png)
hi ,please Why does the parallelism of the parallel transformation change from 4 to 2?

[2022-07-27 17:24] ic4y opened #2279 "[STIP-7] [ST-Engine][Design] TaskExecutionService and Task related design"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

TaskExecutionServer is a service that executes Tasks and will run an instance on each node. It receives the TaskGroup from the JobMaster and runs the Task in it. And maintain TaskID->Task

[2022-07-27 17:27] ic4y commented on #2279
Chinese design pictures：

![TaskExecutionServer相关设计 drawio](https://user-images.githubusercontent.com/83933160/181310713-a01bd628-84bb-4dfd-8861-f5267f62a57d.png)

[2022-07-28 01:54] EricJoy2048 commented on #2261
In our design, Only `Source` and `PartitionTransform` Connector can set parallelism. The `PartitionTransform` Connector is used to repartition data and `parallelism` is the target partition number.

[2022-07-28 01:56] ic4y commented on #2272
TaskExecutionService and Task related design : https://github.com/apache/incubator-seatunnel/issues/2279

[2022-07-28 04:03] mosence commented on #2279
有几个问题想问下：
1、超时的task1独享的线程是否有超时设计？
如果有：那么这个 Task有永远完成不了的情况。
如果没有：如何设计整体执行执行超时失败？
2、独享的线程是从原来的线程池里分离出来的么？
如果是：那么3个线程池，有三个超时导致独享的Task也会导致任务堵塞。
如果不是：那么怎么管理这些独享线程？

[2022-07-28 04:07] ashulin opened #2283 "[Improve][UT] Upgrade junit to 5.+"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Right now, we still use junit 4.+ in our repo, I hope we can upgrade to [Junit 5.+](https://junit.org/junit5/docs/current/user-guide/#writing-tests), then we can easy to write the UT, JUn

[2022-07-28 04:18] ashulin commented on #2283
CC @Hisoka-X @CalvinKirs @ruanwenjun

[2022-07-28 04:20] ashulin commented on #1608
Completed!

[2022-07-28 04:21] ashulin commented on #1701
Completed!

[2022-07-28 04:21] #1701 closed, assigned to nobody

[2022-07-28 04:21] ashulin commented on #1704
Completed!

[2022-07-28 04:21] #1704 closed, assigned to nobody

[2022-07-28 04:22] ashulin commented on #1734
Completed!

[2022-07-28 04:22] #1734 closed, assigned to nobody

[2022-07-28 04:40] CalvinKirs commented on #2283
+1，5 have  many highlights

[2022-07-28 04:41] #1716 closed, assigned to nobody

[2022-07-28 05:28] EricJoy2048 commented on #2283
+1

[2022-07-28 06:54] ic4y commented on #2279
@mosence Thanks for your comment

1. Is there a timeout design for the thread exclusive to task1 that times out?
       Exclusive threads are designed without timeouts, and the call method can run for any length of time. Because the Task may be a real-time task or an offline task.
       `If not: how to design overall execution execution timeout failure? `I don't understand what this means, please

[2022-07-28 07:00] ruanwenjun commented on #2283
+1, it would be great if we can upgrade to junit 5+

[2022-07-28 07:00] EricJoy2048 commented on #2274
From this design https://github.com/apache/incubator-seatunnel/issues/2261 we can know. Now, we only support `Source` and `PartitionTransform` operator to set parallelism, The parallelism of other connectors is equal to the sum of the parallelism of its upstream operators. So, in this case the parallelism of the sink operator is 3(One source have 2 parallelism and another one have 1 parallelism) n

[2022-07-28 07:57] ashulin commented on #2274
@EricJoy2048 Now how do we deal with the union of multiple upstream operators? That's the same thing as the following
<img width="343" alt="image" src="https://user-images.githubusercontent.com/36807946/181452486-e150e98c-7af7-425c-8afd-e53752677c99.png">
Users need `union (all)` post-processing, and we cannot separate them

[2022-07-28 08:02] mosence commented on #2279
@ic4y
谢谢你的回答。
关于第一个问题的“If not”，可能是我对于这种设计为了解决的问题理解不够。
1、我理解中的无界数据处理，必须有最少一个进程持续进行数据摄入，而数据划分窗口由窗口线程或者逻辑划分数据。这没有线程共享的问题。
2、所以线程共享问题只存在有界数据的处理，当需要把有界数据拆分小任务，进行数据摄入时，才会有为了性能进行共享线程。使得原有的每个小任务并行线程处理拆分成固定线程的串行处理。那么为了解决有界数据，必然会有超时这种概念来快速失败以达到更早发现数据处理缓慢原因所在。

[2022-07-28 08:10] ashulin commented on #2261
<img width="814" alt="image" src="https://user-images.githubusercontent.com/36807946/181454461-68803243-9674-4868-801e-9e9afd6ede29.png">

I can't understand what `PartitionTransform` does in the diagram.
If there is a mechanism for `Transform4` to distribute data to `PartitionTransform`, then why don't we distribute to `Sink` directly?
Wouldn't it be simpler to let the user specify the parallelis

[2022-07-28 09:24] lhyundeadsoul commented on #2272
The design proposals above are detailed designs.
As a rookie, I am really interested in the following questions:
1. What's the background of the new engine? What's the primary scenario? (Running on IoT device in edge computing?  or substitute of flink in the cloud?)
2. Since the positioning of ST is Data Integration,  What's the most crucial character of the st-engine? And what is unnecessary in t

[2022-07-28 09:50] ashulin commented on #2272
@lhyundeadsoul 1: https://github.com/apache/incubator-seatunnel/issues/1954
2: Seatunnel engine will not have aggregate calculation, such as join, window and other operations that require large state

[2022-07-28 09:54] EricJoy2048 commented on #2274
@Hisoka-X

[2022-07-28 10:08] Hisoka-X commented on #2274
We should create a special transform `union`. It can union all upstream data. Then `union` will have parallelism parameter, take this picture as an example, if parallelism = 8 (4+4), just send data to next action, if parallelism != 8, we should use queue( like Partition Transform) to change parallelism.

[2022-07-28 10:16] ic4y commented on #2279
@mosence

I understand the exact opposite
      I think in the offline task scenario, the task is divided into many tasks. These tasks are executed in batches with a fixed number of threads, which is the most efficient way, because a task will be executed by one thread, and there will be no thread scheduling, switching and waiting during the execution process.

In real-time synchronization scenari

[2022-07-28 11:48] TyrantLucifer opened #2289 "[Bug] [connector-file] avro version conflicts"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

The avro version that contained in flink-avro is 1.10.0, but the avro version that contained in seatunnel main pom is 1.8.2.

![image](https://user-images.githubusercontent.com/51053924/181495842-6cbc13d

[2022-07-28 12:20] Hisoka-X commented on #2289
![image](https://user-images.githubusercontent.com/32387433/181503188-c3618d68-7640-49ee-becb-a552e9ec1799.png)
I checked root pom. The version already are 1.10.0, any thing wrong with me? Or you should update local code.

[2022-07-28 12:23] TyrantLucifer opened #2291 "[Bug] [Flink-connector-v2-e2e] Flink docker image not contains hadoop dependency"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

Because the flink official docker image didn't have hadoop dependency, so when we try to use flink run some connectors that need hadoop dependency such as `connector-file-hadoop` `connector-hive` and so

[2022-07-28 12:55] Hisoka-X commented on #2289
Sorry, I missed something.

Agree with you, the first one better.

[2022-07-28 14:54] songjianet opened #2292 "[Feature][UI] Add the delete modal in the user manage."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the delete modal in the user manage.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-07-28 16:21] TyrantLucifer commented on #2289
pr #2294 , @Hisoka-X ,please review

[2022-07-29 02:04] lhyundeadsoul commented on #2272
Thx for your answer.
No aggregate operator/ No state management, that makes sense for a data integration engine. But, Can SQL transformation plugin still be supported in st-engine?

[2022-07-29 02:07] mosence commented on #2279
@ic4y
只熟悉Java，对协程了解不够，补课了下，并且研读了下代码，大概理解了。非常感谢您的回答。

~~所以这是针对减少task调用延迟的优化？因为当task数量大于线程池现有线程数量时，没法避免线程的创建。~~
~~把延迟的线程移到额外的伸缩线程空间，来让线程池能够申请新线程来执行排队中的任务？~~
~~为啥不把线程池的最大容量调高呢？如果一定要改的话，我觉得设计支持可伸缩线程池会更简单方便。~~
~~另外，我觉得共享的内容应该是连接池而不是线程。~~

[2022-07-29 03:26] #2292 closed, assigned to nobody

[2022-07-29 04:40] EricJoy2048 opened #2296 "[Feature][Connector-V2-Hive] Add parquet file format support to Hive Sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

I found we already supported Parquet File Sink now, For `Hive Sink` we only need add some code in `HiveSinkConfig` and get the target schema from hivemetastore. Then deal with the mapping

[2022-07-29 04:47] #2133 closed, assigned to wuxizhi777

[2022-07-29 04:57] zhaomin1423 commented on #2296
I am willing to do it.

[2022-07-29 07:13] TyrantLucifer opened #2298 "[Connector-V2][File connector] Support oss file system"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

File connector now only support local and hadoop file system, oss is a famous file system and used extensively, so I think we should support this file system.

### Usage Scenario

_No res

[2022-07-29 07:18] TyrantLucifer opened #2299 "[Connector-V2][Http connector] Support user-defined schema"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Http connector v2 now only support parse http content to a single shema, we should support user-defined schema.

![image](https://user-images.githubusercontent.com/51053924/181704694-b261

[2022-07-29 08:26] Hisoka-X commented on #2291
How about add it in our kubernetes guide? Add command to download jar in dockerfile.

[2022-07-29 10:22] wzisheng opened #2300 "download backup2 which depneds on backup1 failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

node1:

node2:

2022/07/29 18:14:57.065003 error one of Download go-routine return error: one of downloadDiffParts go-routine return error:  not found on remote storage

### SeaTunnel Version

1.49

###

[2022-07-29 10:23] TyrantLucifer commented on #2291
It's a good idea, we can add the step in our own Dockfile and I can do this work. For e2e test case we can use the docker image that I had builded, what do you think about it?

[2022-07-29 10:32] TyrantLucifer commented on #2300
Sorry, I don't understand you means, it seems that not seatunnel bug... Are you sure you submitted it correctly?

[2022-07-29 10:45] wzisheng commented on #2300
sorry， my bad...

[2022-07-29 10:45] #2300 closed, assigned to nobody

[2022-07-29 11:01] Hisoka-X commented on #2291
Ok for me.

[2022-07-30 04:09] #2289 closed, assigned to TyrantLucifer

[2022-07-30 04:09] #2238 closed, assigned to TyrantLucifer

[2022-07-30 04:09] #2199 closed, assigned to TyrantLucifer

[2022-07-31 09:27] TyrantLucifer opened #2311 "[Connector-V2][Hive-connector] Add orc file format for hive sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Now hive sink only support txt and parquet, we should support orc file format in hive sink

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to su

[2022-07-31 12:21] hanwei996 opened #2313 "[Bug] contains invalid config, error: please specify [topics] as non-empty"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

source kafka to sink kafka  error  :    Plugin[org.apache.seatunnel.flink.kafka.sink.KafkaSink] contains invalid config, error: please specify [topics] as non-empty
-------------------
Sink Kafka has no

[2022-07-31 15:15] davidzollo commented on #2298
good issue, Looking forward to your PR

[2022-07-31 15:26] TyrantLucifer opened #2314 "[Improve][core] String field type in spark is not correct"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

For now, when we want to ingest a seatunnel row in spark the string field that in this row will be treated as `UTF8String`, not a normal `String`. This will lead to unexpected results. So

[2022-07-31 15:40] TyrantLucifer commented on #2313
You can change the `topic` config of kafka sink from `topic` to `topics` to solve this problem temporarily , I think there is a gap between the documentation and the code, in code this option be treated as `topics`, @CalvinKirs what we should do next? Change doc or change code, I think change code is a best solution because of kafka sink only can accept one topic, so `topics` is meaningless, what

[2022-07-31 16:06] #2314 closed, assigned to nobody

[2022-07-31 17:43] ashulin commented on #2283
Because [Testcontainers are tightly coupled with JUnit4](https://github.com/testcontainers/testcontainers-java/issues/970), we can't completely remove junit4, maybe we need a check style rule to banned the import of junit4 class.

[2022-08-01 00:13] hanwei996 commented on #2313
sink {
    kafka {
         topics = "test_sink"
         producer.bootstrap.servers = "hadoop01:9092"
    }
}
Change from topic to topics ， Serialization error

<img width="953" alt="image" src="https://user-images.githubusercontent.com/43572770/182051354-d230d14f-83f7-4391-b164-b0441e3051e8.png">

[2022-08-01 01:40] TyrantLucifer commented on #2313
In 2.1.2 release, KafkaTableStream has some bug on parse `schema` information, you can change seatunnel release to 2.1.3 to solve this problem.

- 2.1.2 release

![image](https://user-images.githubusercontent.com/51053924/182056569-6a00009e-21b4-4609-bdf9-23a53a51b2b2.png)

Schema is treated as object but it is an array.

- 2.1.3 release

![image](https://user-images.githubusercontent.com/51053924

[2022-08-01 02:07] zhongjiajie commented on #1622
looking forward your contribution

[2022-08-01 02:11] FlechazoW commented on #1622
I will finish it before Wednesday.

[2022-08-01 02:30] ic4y commented on #2279
@mosence
Thanks for your comment. The `dynamic thread share` is coding now. When finished, let's continue the discussion.

[2022-08-01 05:52] #2248 closed, assigned to zhaomin1423

[2022-08-01 07:57] songjianet opened #2318 "[Feature][UI] Add the delete modal in the data pipes."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the delete modal in the data pipes.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-08-01 09:24] #2318 closed, assigned to nobody

[2022-08-01 11:14] songjianet opened #2323 "[Feature][UI] Add monaco editor component."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add monaco editor component.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code o

[2022-08-01 11:26] #2323 closed, assigned to nobody

[2022-08-01 15:01] iture123 opened #2326 "[Connector-V2][Elasticsearch-connector] new connecotor of Elasticsearch sink"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

use Restclient to support all versions of ElastichSearch.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willin

[2022-08-01 15:28] zhaomin1423 opened #2327 "[Umbrella] Support Spark-3.3.x"
### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://www.apache.org/foundation/policies/conduct)

### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### Describe the proposal

Support Spark-3.3.x

### Task list

- [x] https://github.com/apa

[2022-08-01 15:30] zhaomin1423 opened #2328 "[Feature][seatunnel-translation-spark] Support Spark-3.3 - support batch read"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Support Spark-3.3 - support batch read

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-08-02 03:16] #2260 closed, assigned to nobody

[2022-08-02 03:20] EricJoy2048 commented on #2272
We plan support Code Transformation first. And, In the feature, we will support SQL.

[2022-08-02 04:04] songjianet opened #2331 "[Feature][UI] Add the publish modal in the data pipes."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the publish modal in the data pipes.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-08-02 04:09] #2331 closed, assigned to nobody

[2022-08-02 06:01] runzhi214 commented on #1993
我也遇到这个问题了，原来如此。
在下hadoop版本：Hadoop3.0.0 - CDH6.3.2

[2022-08-02 06:10] EricJoy2048 opened #2333 "[STIP-8] [ST-Engine][JobSubmit] Design of Job Submit"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

<img width="1059" alt="image" src="https://user-images.githubusercontent.com/32193458/182339030-542b9d01-c343-4a14-8308-2716cea05713.png">

From https://github.com/apache/incubator-seatun

[2022-08-02 06:30] songjianet opened #2334 "[Feature][UI] Add the script in the data pipes detail."
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

Add the script in the data pipes detail.

### Usage Scenario

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

[2022-08-02 06:33] #2334 closed, assigned to nobody

[2022-08-02 08:34] 2013650523 commented on #2169
Does the CDC connector here refer to the FLink CDC connector?  I don't quite understand. What does it look like?

[2022-08-02 09:18] EricJoy2048 opened #2339 "[STIP-9] [ST-Engine][Scheduler] Design of TaskGroup Scheduler"
### Search before asking

- [X] I had searched in the [feature](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22Feature%22) and found no similar feature requirement.

### Description

From https://github.com/apache/incubator-seatunnel/issues/2269 we know the `JobMaster` will create `PhysicalPlan` for Job. Then the `JobMaster` will deploy the `TaskGroup` use `Scheduler`

[2022-08-02 09:53] weichao93 opened #2340 "hdfs to clickhouse 报错:java.lang.NoSuchMethodError: org.apache.spark.sql.UDFRegistration.register"
### Search before asking

- [X] I had searched in the [issues](https://github.com/apache/incubator-seatunnel/issues?q=is%3Aissue+label%3A%22bug%22) and found no similar issues.

### What happened

将hdfs的数据同步至clickhouse时报错，找不到自定义函数：java.lang.NoSuchMethodError: org.apache.spark.sql.UDFRegistration.register

### SeaTunnel Version

waterdrop-1.5.0-with-spark

### SeaTunnel Config

[code]

### Running